.clockdate-wrapper {
    background-color: #14161B;
    padding:11px;
    max-width:200px;
    width:90%;
    text-align:center;
    border-radius:1px;
    margin:0 auto;
    margin-top:1%;
}
#clock{
    background-color:#14161B;
    font-family: sans-serif;
    font-size:20px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #14161B;
    font-size:20px;
    position:relative;
    top:-27px;
    left:-10px;
}
#date {
    letter-spacing:1px;
    font-size:10px;
    font-family:arial,sans-serif;
    color:#fff;
}