#invoice-bar {
    text-align: right;
}
.invoice {
    border: 1px solid #d3d3d3;
    margin-bottom: 30px;
    display: block;
}
.no-padding .invoice {
    margin: 0;
    border: none;
}
.invoice h3, .invoice h4, .invoice h5 {
    margin: 0;
}
.invoice-footer {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.client-info, .invoice-info, .invoice-sum-total, .payment-methods {
    margin: 0;
    display: inline-block;
    vertical-align: top;
}
.invoice-info, .invoice-sum-total {
    text-align: right;
}
.client-info, .invoice-info {
    font-size: 12px;
}
.invoice-sum-total {
    margin-top: 30px;
}
.client-info li {
    font-weight: 400;
}
.client-info li span {
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
}
.invoice-body table {
    border-top: none;
    border-bottom: none;
    margin: 0;
}
.invoice, .invoice-body table thead tr {
    background: #fff;
}
.invoice-body table thead tr {
    border-top: none;
}
.invoice-body table th, .invoice-body table tr {
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #DDD;
    font-size: 13px;
}
.invoice-body table td, .invoice-body table th {
    padding: 10px 32px!important;
}
.invoice-body table th.item {
    width: 18%}
.invoice-body table th.desc {
    width: 38%}
.invoice-body table th.price, .invoice-body table th.qtn {
    width: 15%}
.invoice-body table th.sub {
    width: 15;
}
.invoice table td.invoice-sub {
    text-align: right;
    font-weight: 700;
}
.invoice td a {
    font-weight: 700;
    color: #2D67A3;
}
.invoice-footer {
    border-bottom: none;
    border-top: 1px dotted #AAA;
}
@media print {
    #header, #left-panel, #ribbon, #shortcut, #sparks, .page-title, .panel-heading {
    display: none!important;
}
.invoice-body table th, .invoice-body table tr, table {
    border-bottom: 1px dotted #333;
    border-top: 1px dotted #333!important;
}
.invoice {
    border: none;
}
.invoice td a {
    font-weight: 400;
}
.invoice-body table td, .invoice-body table th, .invoice-client-info, .invoice-footer, .invoice-header {
    font-family: 'Segoe UI', Tahoma, sans-serif!important;
}
* {
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.demo, .page-footer, .widget-body-toolbar, header {
    display: none;
}
.pull-left {
    overflow: hidden;
    border-bottom: 1px dashed #aaa;
    padding-bottom: 30px;
    margin-bottom: 25px;
}
.pull-left img {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
}
.pull-left address {
    float: right;
    font-style: normal;
    text-align: right;
    margin-right: 15px;
}
.pull-right h1 {
    margin: 0 0 -23px;
    padding: 0;
    text-align: right;
    font-size: 25px;
    text-transform: uppercase;
    margin-right: 15px;
}
.row .col-sm-9 {
    float: left;
    margin-top: -30px;
    margin-left: 15px;
}
.row .col-sm-9 address {
    font-style: normal;
}
.row .col-sm-9 h4 {
    margin: 0;
}
.row .col-sm-3 {
    float: right;
    display: table;
    margin-right: 15px;
}
.row .col-sm-3 span, .row .col-sm-3 strong {
    display: table-cell;
}
.col-sm-3 strong {
    width: 100px;
    text-align: right;
    padding-right: 10px;
}
.well-sm {
    margin-top: -14px;
}
.fa-lg {
    font-weight: 700;
    text-transform: uppercase;
    text-indent: 23px;
    position: relative;
}
.fa-lg span {
    font-weight: 400;
    text-indent: 12px;
}
.row .col-sm-3 div div {
    display: table-row;
}
table.table-hover {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px dashed #aaa!important;
    border-bottom: 1px dashed #aaa;
}
table.table-hover th {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    text-align: left;
}
table.table-hover td {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
table.table-hover tr:last-child td {
    border-bottom: 0;
}
table.table-hover td strong {
    font-weight: 400;
}
table.table-hover td a {
    text-decoration: none;
    color: #000;
}
table.table-hover tbody tr:last-child strong {
    font-weight: 700;
}
table.table-hover tbody tr:last-child td:first-child {
    text-align: right;
    font-weight: 700;
}
table.table-hover tbody tr:nth-last-child(2) strong {
    font-weight: 700;
}
table.table-hover tbody tr:nth-last-child(2) td:first-child {
    text-align: right;
    font-weight: 700;
}
.invoice-footer {
    padding: 15px;
    border-top: 0;
}
.invoice-footer h5 {
    font-size: 14px;
    margin: 0;
}
.invoice-footer .row {
    overflow: hidden;
}
.invoice-footer .row .col-sm-7 {
    float: left;
}
.invoice-footer .row .col-sm-5 {
    float: right;
}
.invoice-footer .row .col-sm-5 .invoice-sum-total h3 {
    margin: 0;
}
.invoice-footer .row .col-sm-5 .invoice-sum-total span, .invoice-footer .row .col-sm-5 .invoice-sum-total strong {
    font-size: 25px;
}
.note {
    display: none;
}
}