<div class="show-stat-microcharts" style="height: 250px;">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
    <div id="TicketStatics"></div>
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 " style="text-align: center;">
      <p style="text-align: center;"> <span>% APROBACION</span></p>
      <div class="easy-pie-chart approval txt-color-blue easyPieChart" data-percent="0" data-pie-size="160">
        <span class="percent percent-sign txt-color-blue font-xl semi-bold">0</span>
      </div>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <p style="text-align: center;"> <span>% NO APROBADO</span></p>
    <div class="easy-pie-chart noapproval txt-color-redLight easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-redLight font-xl semi-bold">0</span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <p style="text-align: center;"> <span>% PENDIENTES</span></p>
    <div class="easy-pie-chart pending txt-color-green easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-green font-xl semi-bold">0</span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <p style="text-align: center;"> <span>% CANCELADOS</span></p>
    <div class="easy-pie-chart cancel txt-color-red easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-red font-xl semi-bold">0</span>
    </div>
  </div>

</div>