<section id="widget-grid" class="">
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-12">
            <div id="myCarousel" class="carousel fade profile-carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <img src="{{ asset('assets/img/da2.jpg') }}" alt="CountryImg" style="width: 100%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>