{% extends 'layouts/leads/index.html.twig' %}

{% block content %}
  <div id="main" role="main">
    <div id="ribbon">
      <ol class="breadcrumb">
        <li><a href="#">Dashboard</a></li><li>Tickets</li><li>Admins</li>
      </ol>
    </div>
    <div id="content">

      {% include('ticket/admins/img.html.twig') %}

      <div class="row">
        <div class="col-sm-12" style="text-align: center;">
          <label>Seleccione Rango de Busqueda:</label>
        </div>

        <form id="rangeDate">
          <div class="col-sm-6">
          
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="to" name="dateIni" type="text" placeholder="Fecha Inicial">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="from" name="dateEnd" type="text" placeholder="Fecha Final">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>      
          </div>
        </form>

      </div>

      <section id="widget-grid" class="">
        <div class="row">
          <article class="col-sm-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
              <header>
                <ul class="nav nav-tabs pull-right in" id="myTab">
                  <li ><a data-toggle="tab" id="ssRef" href="#ssRef"><i class="fa fa-refresh"></i> <span class="hidden-mobile hidden-tablet"></span></a></li>
                  <li class="active"><a data-toggle="tab" id="ss1" href="#s1"><i class="fa fa-info"></i> <span class="hidden-mobile hidden-tablet">Datos Clientes</span></a></li>
                </ul>
              </header>
              <div class="no-padding">
                <div class="widget-body">
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                      {% include('ticket/admins/db.html.twig') %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>

  {% include('ticket/admins/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
  Load();

  $('#to').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $("#from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/tickets/admins/SearchDate') }}", data: {str:str},
        // beforeSend: function(request){
        //   blockUI();
        // },
        success: function(data)
        {
          $("#TicketPending").html(data.pending);
          $('#TablePending').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          }); 
          $("#TicketProcess").html(data.process);
          $('#TableProcess').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          }); 
          $("#TicketCancel").html(data.cancel);
          $('#TableCancel').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          }); 
          $("#TicketStatics").html(data.statics);

          if(data.gensta.PApro == null){ var apro = 0; }else{ var apro = data.gensta.PApro; }
          if(data.gensta.PNApro == null){ var napro = 0; }else{ var napro = data.gensta.PNApro; }
          if(data.gensta.PCan == null){ var pcan = 0; }else{ var pcan = data.gensta.PCan; }
          if(data.gensta.PPen == null){ var ppen = 0; }else{ var ppen = data.gensta.PPen; }

          var chart = window.chart = $('.approval').data('easyPieChart');
          chart.update(apro);

          var chart2 = window.chart = $('.noapproval').data('easyPieChart');
          chart2.update(napro);

          var chart3 = window.chart = $('.cancel').data('easyPieChart');
          chart3.update(pcan);

          var chart4 = window.chart = $('.pending').data('easyPieChart');
          chart4.update(ppen);
        }
        });
      }

  });
  


});



$("#aaRef").click(function()
{
  Load();
});

function Load()
{
  $.ajax({ type: "POST", url:  "{{ url('/tickets/admins/load') }}",
  success: function(data)
  {
    $("#TicketPending").html(data.pending);
    $('#TablePending').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    }); 
    $("#TicketProcess").html(data.process);
    $('#TableProcess').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    }); 
    $("#TicketCancel").html(data.cancel);
    $('#TableCancel').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    }); 
    $("#TicketStatics").html(data.statics);

    if(data.gensta.PApro == null){ var apro = 0; }else{ var apro = data.gensta.PApro; }
    if(data.gensta.PNApro == null){ var napro = 0; }else{ var napro = data.gensta.PNApro; }
    if(data.gensta.PCan == null){ var pcan = 0; }else{ var pcan = data.gensta.PCan; }
    if(data.gensta.PPen == null){ var ppen = 0; }else{ var ppen = data.gensta.PPen; }

    var chart = window.chart = $('.approval').data('easyPieChart');
    chart.update(apro);

    var chart2 = window.chart = $('.noapproval').data('easyPieChart');
    chart2.update(napro);

    var chart3 = window.chart = $('.cancel').data('easyPieChart');
    chart3.update(pcan);

    var chart4 = window.chart = $('.pending').data('easyPieChart');
    chart4.update(ppen);        
  }
  });

}

function InfoFunctions(id)
{

  $.ajax({ type: "POST", url:  "{{ url('/tickets/admins/info') }}", data: {id:id},
  success: function(data)
  {
    $("#ContentClient").html(data.info);
    $("#ContentReferred").html(data.resp);
    $("#chat-body2").html(data.notes);
    $("#ContentPackage").html(data.log);
    

    $('#TicketLog').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    }); 
  }
  });

  $('#ti_ticket').val(id);
  $('#ti_no_id').val(id);

  $('#InfoTicket').modal('show');

}

function SaveNote()
{
  var str = $("#InfoViewBody").serialize();
  $.ajax({ type: "POST", url:  "{{ url('/tickets/admins/savenotes') }}", data: {str:str},
  success: function(data)
  {
    if(data.status == true)
    {
      $("#chat-body2").html(data.notes);
      $("#ContentPackage").html(data.log);
      $('#notes2').val('');
    }else{
      $('#alarmNote2').html(data.content);
    }
  }
  });

}

function ProcessFunctions(id)
{
  
  $('#ti_dead').datetimepicker({
    dateFormat : 'yy-mm-dd',
    prevText : '<i class="fa fa-chevron-left"></i>',
    nextText : '<i class="fa fa-chevron-right"></i>',
  });

  $('#ti_cmd_id').val(id);

  $('#ProcessTicket').modal('show');

}

$("#ti_sta").change(function()
{
  var str   =   $('#FormCommand').serialize();

  $.ajax({ type: "POST", url:  "{{ url('/tickets/admins/commands') }}", data: {str:str},
  success: function(data)
  {
    if(data.status == true)
    {
      $('#FormCommand')[0].reset();
      $('#CommandsAlert').html('');
      $('#ProcessTicket').modal('hide');
      Load();
    }else{
      $('#CommandsAlert').html(data.content);
    }
  }
  });

});

////////////////////////////// Functions Others //////////////////////////////

function blockUI()
{
  $.blockUI({ css: {
     border: 'none',
     padding: '15px',
     backgroundColor: '#000',
       '-webkit-border-radius': '10px',
       '-moz-border-radius': '10px',
     opacity: .5,
     color: '#fff'
  }});

}

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });

}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });

}

</script>
{% endblock %}