{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    

    {% if app.session.get('role') == "1" %}
  
      {% include('countrys/country.html.twig') %}
      
      {% include('countrys/town.html.twig') %}

    {% endif %}
    
    {% if app.session.get('role') == "1" %}

    <div class="row">
  
      {% include('countrys/zip.html.twig') %}
    
    </div>

    <div class="row">
  
      {% include('countrys/states.html.twig') %}

      {% include('countrys/township.html.twig') %}
    
    </div>

    <div class="row">
  
      {% include('countrys/parish.html.twig') %}

      {% include('countrys/sector.html.twig') %}
    
    </div>

    {% endif %}

    </div>
  </div>

{% include('countrys/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{

  // $('#StateModal').modal('show');  
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

    Load();

////////////////////////////// Data Country //////////////////////////////

    $('#dt_country').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_country'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formcountry').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formcountry").serialize();
          $.ajax({ type: "POST", url:  "{{ url('CountryForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertCountry").html('');
                  $('#NewCountryModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertCountry").html('');
                    $("#alertCountry").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// Data Town //////////////////////////////

    $('#dt_town').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_town'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formtown').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formtown").serialize();
          $.ajax({ type: "POST", url:  "{{ url('TownForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $('#NewTownModal').modal('hide');
                  $("#alertTown").html('');
                  $("#formtown")[0].reset();
                  window.location.href = datos.web;
                }else{
                    $("#alertTown").html('');
                    $("#alertTown").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// Data Zip //////////////////////////////
    
    $('#dt_zip').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_zip'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formzip').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formzip").serialize();
          $.ajax({ type: "POST", url:  "{{ url('ZipForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $('#NewTownModal').modal('hide');
                  $("#alertZip").html('');
                  $("#formzip")[0].reset();
                  window.location.href = datos.web;
                }else{
                    $("#alertZip").html('');
                    $("#alertZip").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// End Jquery //////////////////////////////

});

////////////////////////// Function Load ///////////////////////////////

  function Load()
  {
    blockUI();

    $.ajax({ type: "POST", url:  "{{ url('Country/Load') }}",
    success: function(datos)
    {
      if(datos.status == true)
      {
        $("#TableState").html(datos.states);
        $('#dt_states').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 5
        }); 
        $("#TableTownship").html(datos.township);
        $('#dt_township').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 5
        }); 
        $("#TableParish").html(datos.parish);
        $('#dt_parish').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 5
        }); 
        $("#TableSector").html(datos.sector);
        $('#dt_sector').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 5
        }); 
        $.unblockUI();
      }else{
          $("#alert").html('');
      }
    }
    });
  }

////////////////////////// Function Country //////////////////////////////

  function CountryEdit(id)
  {

      $.ajax({ type: "POST", url:  "{{ url('CountryEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_c").val('');
            $("#type_c").val('edit');
            $("#id_c").val(datos.country.id);
            $("#name_c").val(datos.country.name);
            $("select[name=status_id_c]").val(datos.country.status);
            $('#NewCountryModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
      });
  }

////////////////////////// Function Town //////////////////////////////

  function TownEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('TownEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_town").val('');
            $("#type_town").val('edit');
            $("#id_town").val(datos.town.id);
            $("#name_town").val(datos.town.name);
            $("select[name=status_id_town]").val(datos.town.status);
            $('#NewTownModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function Town //////////////////////////////

  function ZipEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('ZipEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_z").val('');
            $("#type_z").val('edit');
            $("#id_z").val(datos.zip.id);
            $("#code_z").val(datos.zip.code);
            $("select[name=status_id_z]").val(datos.zip.status);
            $("select[name=town_id_z]").val(datos.zip.town);
            $('#NewZipModal').modal('show');
        }else{
            $("#alertZip").html('');
        }
      }
   });
  }

////////////////////////// Estado Functions //////////////////////////////

  function ShowCreated()
  {
    $.ajax({ type: "POST", url:  "{{ url('Country/State/Show') }}",
    success: function(datos)
    {
      $("#StatesModalBody").html(datos.html);
      $("#StateModal").modal('show');
    }
    });
  }

  function StatedCreated()
  {
    var str   = $('#FormStates').serialize();
    $.ajax({ type: "POST", url:  "{{ url('Country/State/Created') }}", data: {str: str},
    success: function(datos)
    {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        $("#StateModal").modal('hide');
        Load();
      }else{
        ErrorNotified(datos)
        $("#StateModal").modal('hide');
      }
    }
    });

  }


  function StateEdit(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('Country/State/Edit') }}", data: {id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        $("#StatesModalBody").html(datos.html);
        $("#StateModal").modal('show');
      }else{
        $("#StatesModalBody").html('');
      }
    }
    });
  
  }

  function StatesUpdate(id)
  {
    var str   = $('#FormStates').serialize();
    $.ajax({ type: "POST", url:  "{{ url('Country/State/Update') }}", data: {str: str, id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        $("#StateModal").modal('hide');
        Load();
      }else{
        ErrorNotified(datos)
        $("#StateModal").modal('hide');
      }
    }
    });
  
  }

////////////////////////// TownShip Functions //////////////////////////////

  function ShowTownShipCreated()
  {
    $.ajax({ type: "POST", url:  "{{ url('Country/TownShip/Show') }}",
    success: function(datos)
    {
      $("#TownShipModalBody").html(datos.html);
      $("#TownShipModal").modal('show');
    }
    });
  }

  function TownShipCreated()
  {
    var str   = $('#FormTownShip').serialize();
    $.ajax({ type: "POST", url:  "{{ url('Country/TownShip/Created') }}", data: {str: str},
    success: function(datos)
    {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        $("#TownShipModal").modal('hide');
        Load();
      }else{
        ErrorNotified(datos)
        $("#TownShipModal").modal('hide');
      }
    }
    });

  }


  function TownShipEdit(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('Country/TownShip/Edit') }}", data: {id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        $("#TownShipModalBody").html(datos.html);
        $("#TownShipModal").modal('show');
      }else{
        $("#TownShipModalBody").html('');
      }
    }
    });
  
  }

  function TownShipUpdate(id)
  {
    var str   = $('#FormTownShip').serialize();
    $.ajax({ type: "POST", url:  "{{ url('Country/TownShip/Update') }}", data: {str: str, id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        $("#TownShipModal").modal('hide');
        Load();
      }else{
        ErrorNotified(datos)
        $("#TownShipModal").modal('hide');
      }
    }
    });
  
  }


////////////////////////// Parish Functions //////////////////////////////

  function ShowParishCreated()
  {
    $.ajax({ type: "POST", url:  "{{ url('Country/Parish/Show') }}",
    success: function(datos)
    {
      $("#ParishModalBody").html(datos.html);
      $("#ParishModal").modal('show');
    }
    });
  }

  function ParishCreated()
  {
    var str   = $('#FormParish').serialize();
    $.ajax({ type: "POST", url:  "{{ url('Country/Parish/Created') }}", data: {str: str},
    success: function(datos)
    {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        $("#ParishModal").modal('hide');
        Load();
      }else{
        ErrorNotified(datos)
        $("#ParishModal").modal('hide');
      }
    }
    });

  }


  function ParishEdit(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('Country/Parish/Edit') }}", data: {id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        $("#ParishModalBody").html(datos.html);
        $("#ParishModal").modal('show');
      }else{
        $("#ParishModalBody").html('');
      }
    }
    });
  
  }

  function ParishUpdate(id)
  {
    var str   = $('#FormParish').serialize();
    $.ajax({ type: "POST", url:  "{{ url('Country/Parish/Update') }}", data: {str: str, id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        $("#ParishModal").modal('hide');
        Load();
      }else{
        ErrorNotified(datos)
        $("#ParishModal").modal('hide');
      }
    }
    });
  
  }

////////////////////////// Sector Functions //////////////////////////////

  function ShowSectorCreated()
  {
    $.ajax({ type: "POST", url:  "{{ url('Country/Sector/Show') }}",
    success: function(datos)
    {
      $("#SectorModalBody").html(datos.html);
      $("#SectorModal").modal('show');
    }
    });
  }

  function SectorCreated()
  {
    var str   = $('#FormSector').serialize();
    $.ajax({ type: "POST", url:  "{{ url('Country/Sector/Created') }}", data: {str: str},
    success: function(datos)
    {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        $("#SectorModal").modal('hide');
        Load();
      }else{
        ErrorNotified(datos)
        $("#SectorModal").modal('hide');
      }
    }
    });

  }


  function SectorEdit(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('Country/Sector/Edit') }}", data: {id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        $("#SectorModalBody").html(datos.html);
        $("#SectorModal").modal('show');
      }else{
        $("#SectorModalBody").html('');
      }
    }
    });
  
  }

  function SectorUpdate(id)
  {
    var str   = $('#FormSector').serialize();
    $.ajax({ type: "POST", url:  "{{ url('Country/Sector/Update') }}", data: {str: str, id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        $("#SectorModal").modal('hide');
        Load();
      }else{
        ErrorNotified(datos)
        $("#SectorModal").modal('hide');
      }
    }
    });
  
  }

////////////////////////// End Function //////////////////////////////

/////////////////////////////////////////////////////////////////////////////////

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });
}

  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  }

/////////////////////////////////////////////////////////////////////////////////

</script>
{% endblock %}