<!----------------------------- Country Modal ---------------------------->

<div class="modal fade" id="NewCountryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-flag" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Pais</h4>
			</div>
			<form class="formcountry" method="post" id="formcountry" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertCountry"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_c" name="id_c" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_c" name="type_c" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_c" name="name_c" class="form-control" placeholder="Nombre" required />
							</div>					
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_c" name="status_id_c" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Town Modal ---------------------------->

<div class="modal fade" id="NewTownModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-flag" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Ciudad</h4>
			</div>
			<form class="formtown" method="post" id="formtown" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertTown"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_town" name="id_town" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_town" name="type_town" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_town" name="name_town" class="form-control" placeholder="Nombre" required />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_town" name="country_id_town" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Senal</label>
								<select class="form-control" id="signal_town" name="signal_town" required>
										<option value="NO"> NO
										<option value="YES"> YES
										<option value="DEALER"> DEALER
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_town" name="status_id_town" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Zip Modal ---------------------------->

<div class="modal fade" id="NewZipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-map-marker" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Zip Code</h4>
			</div>
			<form class="formzip" method="post" id="formzip" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertZip"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_z" name="id_z" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_z" name="type_z" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Codigo</label>
								<input type="text" id="code_z" name="code_z" class="form-control" placeholder="Codigo" required />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Ciudad</label>
								<select class="form-control" id="town_id_z" name="town_id_z" required>
									{% for town in towns %}
										{% if town['status_id'] == "1" %}
											<option value="{{ town['id'] }}"> {{ town['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_z" name="country_id_z" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_z" name="status_id_z" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- States Modal ---------------------------->

<div class="modal fade" id="StateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-flag" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Estado</h4>
			</div>
			<div id="StatesModalBody">

			</div>

		</div>
	</div>
</div>

<!----------------------------- TownShip Modal ---------------------------->

<div class="modal fade" id="TownShipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-flag" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Municipio</h4>
			</div>
			<div id="TownShipModalBody">

			</div>

		</div>
	</div>
</div>

<!----------------------------- Parish Modal ---------------------------->

<div class="modal fade" id="ParishModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-flag" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Parroquia</h4>
			</div>
			<div id="ParishModalBody">

			</div>

		</div>
	</div>
</div>

<!----------------------------- Sector Modal ---------------------------->

<div class="modal fade" id="SectorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-flag" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Sector</h4>
			</div>
			<div id="SectorModalBody">

			</div>

		</div>
	</div>
</div>