<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <a class="btn btn-primary btn-xs" onclick="ShowCreated();"><i class="fa fa-edit"></i> Nueva Estado</a>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Estado's </h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>

          <div id="TableState"></div>
          
        </div>
      </div>
    </div>
  </div>
</div>