{% extends 'layouts/index.html.twig' %}

{% block content %}

<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Calendario</li>
    </ol>
  </div>
  <div id="content">

	<div class="row">
	
		<div class="col-sm-12 col-md-12 col-lg-3">
			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-blueDark">
				<header>
					<h2> AGREAGAR EVENTOS </h2>
				</header>
	
				<!-- widget div-->
				<div>
	
					<div class="widget-body">
						<!-- content goes here -->
	
						<form class="add-event-form" method="post" id="add-event-form" data-parsley-validate="">
							<fieldset>

								<div class="form-group">
									<label>Titulo del Evento</label>
									<input class="form-control"  id="title" name="title" maxlength="255" type="text" placeholder="Titulo del Evento" required>
								</div>

								<div class="form-group">
									<label>Descricion del Evento</label>
									<textarea class="form-control" rows="3" maxlength="255" name="description" id="description" placeholder="Descripcion del Evento" required></textarea>
									<p class="note">Cantidad Maxima de Caracteres Permitidos 255</p>
								</div>

								<div class="form-group">
									<label>Fecha de Recordatorio</label>
									<input class="form-control" id="dateEvent" name="dateEvent" maxlength="40" type="text" placeholder="Fecha del Evento" required>
								</div>

								<div class="form-group">
									<label>Hora de Inicial</label>
									<div class="row">
										<div class="col-xs-6" >
											<select class="form-control" id="i_hora" name="i_hora" required>
												<option value="07" select>7</option>
												<option value="08">8</option>
												<option value="09">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
											</select>
										</div>
										<div class="col-xs-6">
											<select class="form-control" id="i_min" name="i_min" required>
												<option value="00" select>00</option>
												<option value="10">10</option>
												<option value="20">20</option>
												<option value="30">30</option>
												<option value="40">40</option>
												<option value="50">50</option>
											</select>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label>Hora de Final</label>
									<div class="row">
										<div class="col-xs-6" >
											<select class="form-control" id="f_hora" name="f_hora" required>
												<option value="07" select>7</option>
												<option value="08">8</option>
												<option value="09">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
											</select>
										</div>
										<div class="col-xs-6">
											<select class="form-control" id="f_min" name="f_min" required>
												<option value="00" select>00</option>
												<option value="10">10</option>
												<option value="20">20</option>
												<option value="30">30</option>
												<option value="40">40</option>
												<option value="50">50</option>
											</select>
										</div>
									</div>
								</div>
	
								<div class="form-group">
									<label>Color del Evento</label>
									<div class="btn-group btn-group-justified btn-select-tick" data-toggle="buttons">
										<label class="btn bg-color-darken active">
											<input type="radio" name="priority" id="option1" value="#404040" checked>
											<i class="fa fa-check txt-color-white"></i> </label>
										<label class="btn bg-color-blue">
											<input type="radio" name="priority" id="option2" value="#57889A">
											<i class="fa fa-check txt-color-white"></i> </label>
										<label class="btn bg-color-orange">
											<input type="radio" name="priority" id="option3" value="#C79121">
											<i class="fa fa-check txt-color-white"></i> </label>
										<label class="btn bg-color-greenLight">
											<input type="radio" name="priority" id="option4" value="#71843F">
											<i class="fa fa-check txt-color-white"></i> </label>
										<label class="btn bg-color-blueLight">
											<input type="radio" name="priority" id="option5" value="#92A2A8">
											<i class="fa fa-check txt-color-white"></i> </label>
										<label class="btn bg-color-red">
											<input type="radio" name="priority" id="option6" value="#A80329">
											<i class="fa fa-check txt-color-white"></i> </label>
									</div>
								</div>
	
							</fieldset>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-12">
										<button class="btn btn-default" type="submit" id="add-event" >
											Agregar
										</button>
									</div>
								</div>
							</div>
						</form>
	
						<!-- end content -->
					</div>
	
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

		</div>
		<div class="col-sm-12 col-md-12 col-lg-9">
			<div class="jarviswidget jarviswidget-color-blueDark">
				<header>
					<h2> EVENTOS </h2>
				</header>
				<div class="widget-body">
					<fieldset>
						<div class="form-group">
							<div id="calendar" style="margin-top: 10px;"></div>
						</div>
					</fieldset>
				</div>
			</div>
			
		</div>
	
	</div>

  </div>
</div>

{% include('calendar/modal.html.twig') %}


{% endblock %}

{% block js %}

<script type="text/javascript">
	
$(document).ready(function() 
{

	$('#dateEvent').datepicker({
		dateFormat : 'yy-mm-dd',
		prevText : '<i class="fa fa-chevron-left"></i>',
		nextText : '<i class="fa fa-chevron-right"></i>',
	});

 	$('#add-event-form').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#add-event-form").serialize();
          $.ajax({ type: "POST", url:  "assets/info/calendar/insert.php", data: {value: str},
            success: function()
			{
				$("#title").val('');
				$("#description").val('');
				$("#dateEvent").val('');
				$("#priority").val('');
				$("select[name=i_hora]").val('');
				$("select[name=i_min]").val('');
				$("select[name=f_hora]").val('');
				$("select[name=f_min]").val('');
				calendar.fullCalendar('refetchEvents');
			}
          });
        return false;
    }); 

	var calendar = $('#calendar').fullCalendar
	({

		editable: true,
		header:{
			left: 	'prev, next, today',
			center: 'title',
			right: 	'month, agendaWeek, agendaDay'
		},
		events: "assets/info/calendar/load.php",
		selectable: true,
		selectHelper:true,
		editable:true, 

		eventResize:function(event)
		{
			var start 	= 	moment(event.start).format('YYYY-MM-DD HH:mm:ss');
			var end 	= 	moment(event.end).format('YYYY-MM-DD HH:mm:ss');
			var id 		= 	event.id;
			$.ajax({
				url: 	"assets/info/calendar/update.php",
				type: 	"POST",
				data: 	{start:start, end:end, id:id},
				success: function()
				{
					calendar.fullCalendar('refetchEvents');
				}
			})
		}, 
		eventDrop: function(event)
		{
			var start 	= 	moment(event.start).format('YYYY-MM-DD HH:mm:ss');
			var end 	= 	moment(event.end).format('YYYY-MM-DD HH:mm:ss');
			var id 		= 	event.id;
			$.ajax({
				url: 	"assets/info/calendar/update.php",
				type: 	"POST",
				data: 	{start:start, end:end, id:id},
				success: function()
				{
					calendar.fullCalendar('refetchEvents');
				}
			})
		},
		eventClick: function(event)
		{
			$('#CalendarModal').modal('show');
			var id = event.id;
			$.ajax({
				url: 	"assets/info/calendar/find.php",
				type: 	"POST",
				data: 	{id:id},
				success: function(datos)
				{
					data = JSON.parse(datos);		

					$('#dateEvent_c').datepicker({
						dateFormat : 'yy-mm-dd',
						prevText : '<i class="fa fa-chevron-left"></i>',
						nextText : '<i class="fa fa-chevron-right"></i>',
					});

					$("#id_c_type").val(data.id);
					$("#title_c").val(data.title);
					$("#description_c").val(data.description);
					$("#dateEvent_c").val(data.date);
					$("#priority_c").val(data.color);
					$("select[name=i_hora_c]").val(data.i_hora);
					$("select[name=i_min_c]").val(data.i_min);
					$("select[name=f_hora_c]").val(data.f_hora);
					$("select[name=f_min_c]").val(data.f_min);

					$('#EditEvent').parsley().on('field:validated', function() {
			            var ok = $('.parsley-error').length === 0;
			        }).on('form:submit', function() {
			        	var id = event.id;
			            var str = $("#EditEvent").serialize();
			              $.ajax({ type: "POST", url:  "assets/info/calendar/update.php", data: {value: str, id_c:id},
			                success: function()
							{
								calendar.fullCalendar('refetchEvents');
								$('#CalendarModal').modal('hide');
								$("#title_c").val('');
								$("#description_c").val('');
								$("#dateEvent_c").val('');
								$("#priority_c").val('');
								$("select[name=i_hora_c]").val('');
								$("select[name=i_min_c]").val('');
								$("select[name=f_hora_c]").val('');
								$("select[name=f_min_c]").val('');
							}
			              });
			            return false;
			        }); 
				}
			})	
		},
	});
});

</script>

{% endblock %}