<div class="modal fade" id="CalendarModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-calendar" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Edicion de Evento</h4>
			</div>
			<form class="EditEvent" method="post" id="EditEvent" data-parsley-validate="">
				<input id="type" name="type_c" type="text" value="edit" hidden required>
				<input id="id_c_type" name="id_c_type"text" hidden required>
				<div class="modal-body">
	 				<div class="widget-body">
						<fieldset>

							<div class="form-group">
								<label>Titulo del Evento</label>
								<input class="form-control"  id="title_c" name="title_c" maxlength="255" type="text" placeholder="Titulo del Evento" required>
							</div>

							<div class="form-group">
								<label>Descricion del Evento</label>
								<textarea class="form-control" rows="3" maxlength="255" name="description_c" id="description_c" required></textarea>
								<p class="note">Cantidad Maxima de Caracteres Permitidos 255</p>
							</div>

							<div class="form-group">
								<label>Fecha de Recordatorio</label>
								<input class="form-control" id="dateEvent_c" name="dateEvent_c" maxlength="40" type="text" placeholder="Fecha del Evento" required>
							</div>

							<div class="form-group">
								<label>Hora de Inicial</label>
								<div class="row">
									<div class="col-xs-6" >
										<select class="form-control" id="i_hora_c" name="i_hora_c" required>
											<option value="07">7</option>
											<option value="08">8</option>
											<option value="09">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
										</select>
									</div>
									<div class="col-xs-6">
										<select class="form-control" id="i_min_c" name="i_min_c" required>
											<option value="00">00</option>
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
											<option value="40">40</option>
											<option value="50">50</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label>Hora de Final</label>
								<div class="row">
									<div class="col-xs-6" >
										<select class="form-control" id="f_hora_c" name="f_hora_c" required>
											<option value="07">7</option>
											<option value="08">8</option>
											<option value="09">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
										</select>
									</div>
									<div class="col-xs-6">
										<select class="form-control" id="f_min_c" name="f_min_c" required>
											<option value="00">00</option>
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
											<option value="40">40</option>
											<option value="50">50</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label>Color del Evento</label>
								<div class="btn-group btn-group-justified btn-select-tick" data-toggle="buttons">
									<label class="btn bg-color-darken">
										<input type="radio" name="priority_c" id="optionc1" value="#404040">
										<i class="fa fa-check txt-color-white"></i> </label>
									<label class="btn bg-color-blue">
										<input type="radio" name="priority_c" id="optionc2" value="#57889A">
										<i class="fa fa-check txt-color-white"></i> </label>
									<label class="btn bg-color-orange">
										<input type="radio" name="priority_c" id="optionc3" value="#C79121">
										<i class="fa fa-check txt-color-white"></i> </label>
									<label class="btn bg-color-greenLight">
										<input type="radio" name="priority_c" id="optionc4" value="#71843F">
										<i class="fa fa-check txt-color-white"></i> </label>
									<label class="btn bg-color-blueLight">
										<input type="radio" name="priority_c" id="optionc5" value="#92A2A8">
										<i class="fa fa-check txt-color-white"></i> </label>
									<label class="btn bg-color-red">
										<input type="radio" name="priority_c" id="optionc6" value="#A80329">
										<i class="fa fa-check txt-color-white"></i> </label>
								</div>
							</div>

							<div class="form-group">
								<label>Desea Borrar el Evento ?</label>
								<div class="row">
									<div class="col-xs-6" >
										<select class="form-control" id="deleted_c" name="deleted_c" required>
											<option value="0">No</option>
											<option value="1">Si</option>
										</select>
									</div>
									<div class="col-xs-6">
									</div>
								</div>
							</div>

						</fieldset>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Actualizar</button>
				</div>
			</form>
		</div>
	</div>
</div>