<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 sortable-grid ui-sortable">
  <div class="col-sm-12" style="text-align: center;">
    <label>Seleccione Rango de Busqueda:</label>
  </div>

  <form id="rangeDate">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="to" name="dateIni" type="text" placeholder="Fecha Inicial">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="from" name="dateEnd" type="text" placeholder="Fecha Final">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 sortable-grid ui-sortable">
    <div class="col-sm-12" style="text-align: center;">
    <label>Estatus del Operador</label>
  </div>
  <div class="widget-body">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-xs-12 col-sm-3 col-md-9 col-lg-9">
        <div id="btnStatus"></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-1 col-offset-sm-2 col-md-3 col-lg-3">
          <button onclick="StatusChange();" class="btn btn-default dropdown-toggle"><i class="fa fa-gear"></i> </button>
        </div>
      </div>

    </div>

                    <!-- <ul class="demo-btns">
                      <li>
                        <div class="btn-group">
                          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                          <button class="btn bg-color-red txt-color-white">No Disponible</button>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                          <button onclick="StatusChange();" class="btn btn-default dropdown-toggle"><i class="fa fa-gear"></i> </button>
                          </div>
                        </div>

                      </li>
                    </ul> -->

  </div>
</div>

<!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 sortable-grid ui-sortable">
  <div class="col-sm-12" style="text-align: center;">
    <label>Estatus del Operador</label>
  </div>

  <form id="rangeDate">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <a onclick="StatusChange();" class="btn btn-default btn-sm"><i class="fa fa-gear fa-lg"></i></a> 
      </div>
      <div class="form-group">
        <div id="btnStatus"></div>
      </div>
    </div>

  </form>
</div> -->

<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 sortable-grid ui-sortable">
  <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false" role="widget">
    <header role="heading"><div class="jarviswidget-ctrls" role="menu">   </div>
    <span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
    <h2> Leads Asignados </h2>
    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
    <div role="content">
      <div class="widget-body widget-hide-overflow no-padding">
        <div id="chat-body" class="chat-body custom-scroll" style="height: 500px;">          
            <div id="t_ope_asig"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 sortable-grid ui-sortable">
  <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false" role="widget">
    <header role="heading"><div class="jarviswidget-ctrls" role="menu">   </div>
    <span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
    <h2> Estadisticas de Leads </h2>
    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
    <div role="content">
      <div class="widget-body widget-hide-overflow no-padding">
        <div class="col-xs-12" style="margin-top: 10px;">
          <div id="t_ope_sts"></div>
          </div>
      </div>
    </div>
  </div>
</div>