{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Operador</li>
    </ol>
  </div>
  <div id="content">    

      {% include('operator/assigned.html.twig') %}

    </div>
  </div>

{% include('operator/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
  $("#from").datepicker({
      dateFormat : 'mm-dd-yy',
      changeMonth: true,
      numberOfMonths: 1,
      prevText: '<i class="fa fa-chevron-left"></i>',
      nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/Operator/SearchDate') }}", data: {str:str, ope: $('#ope_id').val()},

        success: function(datos)
        {
          $("#t_ope_asig").html(datos.html);
          $("#t_ope_sts").html(datos.sts);
        }
        });
      }

  });
  
  $("#to").datepicker({
      dateFormat : 'mm-dd-yy',
      changeMonth: true,
      numberOfMonths: 1,
      prevText: '<i class="fa fa-chevron-left"></i>',
      nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });


  $.ajax({ type: "POST", url:  "{{ url('/Operator/Assigned') }}", data: {operator: $('#ope_id').val()},

  success: function(datos)
  {
    $("#t_ope_asig").html(datos.html);
    $("#t_ope_sts").html(datos.sts);
  }
  });


setInterval(function()
{ 
  var dateFrom  = $('#from').val();
  var dateTo    = $('#to').val();
  if((dateFrom == "") && (dateTo == ""))
  {
    $.ajax({ type: "POST", url:  "{{ url('/Operator/Assigned') }}", data: {operator: $('#ope_id').val()},

    success: function(datos)
    {
      $("#t_ope_asig").html(datos.html);
      $("#t_ope_sts").html(datos.sts);
    }
    });
  }

 }, 30000);

$.ajax({ type: "POST", url:  "{{ url('/Operator/ViewStatus') }}", data: {id: $('#ope_id').val()},
  success: function(datos)
  {
    if(datos.status == 0)
    {
      $('#btnStatus').html('<button class="btn bg-color-red txt-color-white" id="OpeNoOnline"><i class="glyphicon glyphicon-remove"></i> No Disponible</button>');
    }else{
      $('#btnStatus').html('<button class="btn bg-color-green txt-color-white" id="OpeOnline"><i class="glyphicon glyphicon-ok"></i> Disponible</button>');
    }
  }
});



    var wizard = $('.wizard').wizard();
    
    wizard.on('finished', function (e, data) {

      $('#alertMedium').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-info"></i><strong>Informacion!</strong> Procesando, Por Favor Espere....</div>');

      var str = $("#FormLeadAssigOpe").serialize();

      $.ajax({ type: "POST", url:  "{{ url('/Operator/RespAssigned') }}", data: {str: str},
      success: function(datos)
      {
        $('#alertMedium').html('');
        $('#RespAssigLeads').modal('hide');
        if(datos.status == true)
        {
          $.smallBox({
            title: "Asignacion de Lead - Actualizado",
            content:"La informacion suministrada se almaceno correctamente",
            color: "#5F895F",
            iconSmall: "fa fa-check bounce animated",
            timeout: 4000
          });

        }else{
          $.smallBox({
            title: "Asignacion de Lead - Error",
            content:"Error en Actualizacion de Informacion",
            color: "#5F895F",
            iconSmall: "fa fa-check bounce animated",
            timeout: 4000
          });
        }
      }
      });     
    });


////////////////////////////// End Jquery //////////////////////////////

});

function StatusChange()
{
  $.ajax({ type: "POST", url:  "{{ url('/Operator/StatusChange') }}", data: {id: $('#ope_id').val()},
  success: function(datos)
  {
    if(datos.status == 0)
    {
      $('#btnStatus').html('');
      $('#btnStatus').html('<a href="#" class="btn btn-labeled btn-danger" id="OpeNoOnline" > <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>No Disponible </a>');
    }else{
      $('#btnStatus').html('');
      $('#btnStatus').html('<a href="#" class="btn btn-labeled btn-success" id="OpeOnline"> <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Disponible </a>');
    }
  }
  });
}

function ProAssigned(id)
{
  $("#FormLeadAssigOpe").trigger('reset');
  $("#assig_id").val(id);
  $('#RespAssigLeads').modal('show');
}

</script>
{% endblock %}