<!----------------------------- Medium Modal ---------------------------->

<div class="modal fade" id="RespAssigLeads" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-users" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Leads Asignado</h4>
			</div>
			<form class="FormLeadAssigOpe" method="post" id="FormLeadAssigOpe" data-parsley-validate="">
			
				<input type="text" name="assig_id" id="assig_id" readonly hidden>
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertMedium"></div>
					</div> 
					<div class="row">
						<div class="col-md-12">
							<div class="widget-body fuelux">
		
								<div class="wizard">
									<ul class="steps">
										<li data-target="#step1" class="active">
											<span class="badge badge-info">1</span>Paso 1<span class="chevron"></span>
										</li>
										<li data-target="#step2">
											<span class="badge">2</span>Paso 2<span class="chevron"></span>
										</li>
									</ul>
									<div class="actions">
										<button type="button" class="btn btn-sm btn-primary btn-prev">
											<i class="fa fa-arrow-left"></i>Prev
										</button>
										<button type="button" class="btn btn-sm btn-success btn-next" data-last="Finish">
											Next<i class="fa fa-arrow-right"></i>
										</button>
									</div>
								</div>
								<div class="step-content">
									<form class="form-horizontal" id="fuelux-wizard" method="post">
		
										<div class="step-pane active" id="step1">
											<h3><strong>Paso 1 </strong></h3>
											<fieldset>
												<div class="form-group">
													<label class="col-md-4 control-label" style="margin-top: 7px;">Cliente Contactado?</label>
													<div class="col-md-8">
														<select class="form-control" id="contacted" name="contacted" required>
															<option value="0">NO</option>
															<option value="1">SI</option>
														</select>
													</div>		
												</div>
											</fieldset>		
										</div>
		
										<div class="step-pane" id="step2">
											<h5><strong>Television PR</strong></h5>
											<fieldset>
												<div class="form-group">
													<div class="row">
														<div class="col-xs-4" >
															<label>Se Ofrecio Servicio ? </label>
															<select class="form-control" id="tv_pr_contacted" name="tv_pr_contacted" required>
																<option value="0">NO</option>
																<option value="1">SI</option>
															</select>
														</div>
														<div class="col-xs-8" >
															<label>Seleccion</label>
															<select class="form-control" id="tv_pr_objection" name="tv_pr_objection" required>
																{% for obj in objections %}
																	{% if 
																		(obj['status_id'] == "1") and 
																		(obj['service_id'] == "1" or obj['service_id'] == "2") and 
																		(obj['country_id'] == "1")
																	%}
																		<option value="{{ obj['id'] }}"> {{ obj['name'] }}
																	{% endif %}
																{% endfor %}
															</select>
														</div>
													</div>
												</div>
											</fieldset>
											<h5><strong>Seguridad PR</strong></h5>
											<fieldset>
												<div class="form-group">
													<div class="row">
														<div class="col-xs-4" >
															<label>Se Ofrecio Servicio ? </label>
															<select class="form-control" id="sec_pr_contacted" name="sec_pr_contacted" required>
																<option value="0">NO</option>
																<option value="1">SI</option>
															</select>
														</div>
														<div class="col-xs-8" >
															<label>Seleccion</label>
															<select class="form-control" id="sec_pr_objection" name="sec_pr_objection" required>
																{% for obj in objections %}
																	{% if 
																		(obj['status_id'] == "1") and 
																		(obj['service_id'] == "1" or obj['service_id'] == "3") and 
																		(obj['country_id'] == "1")
																	%}
																		<option value="{{ obj['id'] }}"> {{ obj['name'] }}
																	{% endif %}
																{% endfor %}
															</select>
														</div>
													</div>
												</div>
											</fieldset>
											<h5><strong>Internet PR</strong></h5>
											<fieldset>
												<div class="form-group">
													<div class="row">
														<div class="col-xs-4" >
															<label>Se Ofrecio Servicio ? </label>
															<select class="form-control" id="int_pr_contacted" name="int_pr_contacted" required>
																<option value="0">NO</option>
																<option value="1">SI</option>
															</select>
														</div>
														<div class="col-xs-8" >
															<label>Seleccion</label>
															<select class="form-control" id="int_pr_objection" name="int_pr_objection" required>
																{% for obj in objections %}
																	{% if 
																		(obj['status_id'] == "1") and 
																		(obj['service_id'] == "1" or obj['service_id'] == "4") and 
																		(obj['country_id'] == "1")
																	%}
																		<option value="{{ obj['id'] }}"> {{ obj['name'] }}
																	{% endif %}
																{% endfor %}
															</select>
														</div>
													</div>
												</div>
											</fieldset>
											<h5><strong>Modem Router PR</strong></h5>
											<fieldset>
												<div class="form-group">
													<div class="row">
														<div class="col-xs-4" >
															<label>Se Ofrecio Servicio ? </label>
															<select class="form-control" id="wrl_pr_contacted" name="wrl_pr_contacted" required>
																<option value="0">NO</option>
																<option value="1">SI</option>
															</select>
														</div>
														<div class="col-xs-8" >
															<label>Seleccion</label>
															<select class="form-control" id="wrl_pr_objection" name="wrl_pr_objection" required>
																{% for obj in objections %}
																	{% if 
																		(obj['status_id'] == "1") and 
																		(obj['service_id'] == "1" or obj['service_id'] == "5") and 
																		(obj['country_id'] == "1")
																	%}
																		<option value="{{ obj['id'] }}"> {{ obj['name'] }}
																	{% endif %}
																{% endfor %}
															</select>
														</div>
													</div>
												</div>
											</fieldset>	
										</div>	
									</form>
								</div>
		
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
				</div>
			</form>
		</div>
	</div>
</div>