{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Contratos</li>
    </ol>
  </div>
  <div id="content">    
      {% include('contracts/ve.html.twig') %}

    </div>
  </div>

{% include('contracts/modalve.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
<script type="text/javascript">

$(function() 
{

  $("#cli_ve_date").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });

  LoadVE();

$("#ve_from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/ContractSearchLoadVE') }}", data: {str:str},

        success: function(datos)
        {
          $('#TableContractVeRes').html(datos.htmlRes);
          $('#ve_contract_res').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });

          $('#TableContractVeCom').html(datos.htmlCom);
          $('#ve_contract_com').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });

          $('#TableContractVeFibRes').html(datos.htmlResFib);
          $('#ve_contract_fib_res').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });


        }
        });
      }

  });
  
  $("#ve_to").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#ve_from").datepicker("option", "minDate", selectedDate);
      }
  });

  $( "#cli_ve_type" ).change(function() 
  {
    var type = $('#cli_ve_type').val();
    
    $('#cli_ve_date').prop('readonly', true);

      if(type == 1)
      {
        var id = $('#cli_ve_id').val();
        $('#cli_ve_date').prop('readonly', true);
        $('#cli_ve_inst').prop('readonly', true);
        $('#cli_ve_sale').attr("readonly", true); 
        $('#cli_ve_price').attr("readonly", true); 

        if(id == "")
        {
          $('#AlertContractVeModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Debe Introducir un N&uacute;mero de Cliente V&aacute;lido, Por Favor Verificar.</div>');
        }else{
          $('#AlertContractVeModal').html('');
          $('#AlertContractVeModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Procesando, Por Favor Espere.!</div>');

          var str = $("#FormGeneralVE").serialize();
          $("#cli_ve_client").val($('#cli_ve_id').val());
          $.ajax({ type: "POST", url:  "{{ url('/ContractsClientVE') }}", data: {str: str},
          success: function(datos)
          {
            $('#AlertContractVeModal').html('');
            $('[name=cli_ve_type]').val(0);
            if(datos.status == true)
            {   
              $('#cli_ve_name').val(datos.iTotal.name);
              $('#cli_ve_phone').val(datos.iTotal.phone);
              $('#cli_ve_ticket').val(datos.iTotal.ticket);
              $('#cli_ve_package').val(datos.iTotal.pack);
              $('#cli_ve_type_c').val(datos.iTotal.type);
              $('#cli_ve_date').val(datos.iTotal.date);
              $('#cli_ve_price').val(datos.iTotal.price);
              $('#cli_ve_pro').val(datos.iTotal.pro);
              $('#cli_ve_month').val(datos.iTotal.month);
              $('#cli_ve_inst').val(datos.iTotal.inst);
              $('#cli_ve_sale').val(datos.iTotal.sale);
              $('#cli_ve_sale_date').val(datos.iTotal.sale_date);
              $('#cli_ve_telf').val(datos.iTotal.telf);
              $('#cli_ve_telf_type').val(datos.iTotal.teltype);
              $('#cli_ve_telf_prec').val(datos.iTotal.telprice);

            }
            else if(datos.status = "edit")
            {
              $('#AlertContractVeModal').html('<div class="alert alert-success fade in"><i class="fa-fw fa fa-success"></i> Contrato para Editar.</div>');
            }
            else{

              $('#ViewInfo').html('');
              $('#AlertContractVeModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Cliente Sin Coordinaci&oacute;n Procesada, Por Favor Verificar.</div>');
            }
          }
          });

          return false;
       
        }

        return false;
      
      }
      else if(type == 2)
      {
        $('[name=cli_ve_type]').val(0);
        $('#cli_ve_date').prop('readonly', false);
        $('#cli_ve_inst').prop('readonly', false);
        $('#cli_ve_sale').attr("readonly", false); 
        $('#cli_ve_price').attr("readonly", false); 
        $('#cli_ve_pro').attr("readonly", false); 

        var name = $('#cli_ve_name').val();
        if(name == "")
        {
          $('#AlertContractVeModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Debe Realizar Una B&uacute;squeda Previa, Por Favor Verificar.</div>');
        }else{
          $('#cli_ve_month').val($('#cli_ve_mon').val());
          $('#cli_ve_date').prop('readonly', false);
          $('#cli_ve_inst').prop('readonly', false);
          $('#cli_ve_sale').attr("readonly", false); 
          $('#cli_ve_price').attr("readonly", false); 
          $('#cli_ve_pro').attr("readonly", false); 
        }
          return false;
      
      }
      else if(type == 3)
      {
        $('[name=cli_ve_type]').val(0);
        var name = $('#cli_ve_name').val();
        if(name == "")
        {
          $('#AlertContractVeModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Debe Realizar Una B&uacute;squeda Previa, Por Favor Verificar.</div>');
        }else{
          var str = $("#FormSubmitVE").serialize();
          $.ajax({ type: "POST", url:  "{{ url('/ContractsSubmitVE') }}", data: {str: str, cli : $("#cli_ve_client").val(), ty : $("#cli_ve_form").val()},
          success: function(datos)
          {
            $('#AlertContractVeModal').html('');
            $('[name=cli_ve_type]').val(0);

            if(datos.status == true)
            {
              if(datos.ty == 1)
              {
                window.location.href = "ContractVE.php?type="+datos.type+"&contract="+datos.contract+"";
              }

              if(datos.ty == 2)
              {
                window.location.href = "ContractVEN.php?type="+datos.type+"&contract="+datos.contract+"";
            
              }

              if(datos.ty == 3)
              {
                window.location.href = "ContractVEFib.php?type="+datos.type+"&contract="+datos.contract+"";
            
              }

              if(datos.ty == 4)
              {
                window.location.href = "ContractVEPromo.php?type="+datos.type+"&contract="+datos.contract+"&promo="+datos.ty+"";
            
              }

              if(datos.ty == 5)
              {
                window.location.href = "ContractVEPromo.php?type="+datos.type+"&contract="+datos.contract+"&promo="+datos.ty+"";
            
              }

              if(datos.ty == 6)
              {
                window.location.href = "ContractVEPromo.php?type="+datos.type+"&contract="+datos.contract+"&promo="+datos.ty+"";
            
              }

              if(datos.ty == 7)
              {
                window.location.href = "ContractVEGpon.php?type="+datos.type+"&contract="+datos.contract+"";
            
              }

              if(datos.ty == 8)
              {
                window.location.href = "ContractVEstu.php?type="+datos.type+"&contract="+datos.contract+"";
            
              }


            }else{

              $('#AlertContractVeModal').html('<div class="alert alert-error fade in"><i class="fa-fw fa fa-error"></i> Error Al Intentar Crear Contacto, Intente nuevamente.</div>');
            }
          }
          });

        }
        return false;
      
      }
      else if(type == 4)
      {
        $('[name=cli_ve_type]').val(0);
        var name = $('#cli_ve_name').val();
        if(name == "")
        {
          $('#AlertContractVeModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Debe Realizar Una B&uacute;squeda Previa, Por Favor Verificar.</div>');
        }else{
          var str = $("#FormSubmitVE").serialize();
          var stri = $('#FormGeneralVE').serialize();
          $.ajax({ type: "POST", url:  "{{ url('/ContractsSubmitVETest') }}", data: {str: str, stri:stri, cli : $("#cli_ve_client").val(), ty : $("#cli_ve_form").val()},
          success: function(datos)
          {
            $('#AlertContractVeModal').html('');
            $('[name=cli_ve_type]').val(0);

            if(datos.status == true)
            {
              if(datos.ty == 1)
              {
                window.location.href = "ContractVE.php?type="+datos.type+"&contract="+datos.contract+"";
              }

              if(datos.ty == 2)
              {
                window.location.href = "ContractVEN.php?type="+datos.type+"&contract="+datos.contract+"";
            
              }

              if(datos.ty == 3)
              {
                window.location.href = "ContractVEFib.php?type="+datos.type+"&contract="+datos.contract+"";
            
              }

              if(datos.ty == 4)
              {
                window.location.href = "ContractVEPromo.php?type="+datos.type+"&contract="+datos.contract+"&promo="+datos.ty+"";
            
              }

              if(datos.ty == 5)
              {
                window.location.href = "ContractVEPromo.php?type="+datos.type+"&contract="+datos.contract+"&promo="+datos.ty+"";
            
              }

              if(datos.ty == 6)
              {
                window.location.href = "ContractVEPromo.php?type="+datos.type+"&contract="+datos.contract+"&promo="+datos.ty+"";
            
              }

              if(datos.ty == 7)
              {
                window.location.href = "ContractVEGpon.php?type="+datos.type+"&contract="+datos.contract+"";
            
              }

              if(datos.ty == 8)
              {
                window.location.href = "ContractVEstu?type="+datos.type+"&contract="+datos.contract+"";
            
              }

            }else{

              $('#AlertContractVeModal').html('<div class="alert alert-error fade in"><i class="fa-fw fa fa-error"></i> Error Al Intentar Crear Contacto, Intente nuevamente.</div>');
            }
          }
          });

        }
        return false;
      }

    return false;
  });

  $( "#cli_ve_date" ).change(function() 
  {
    var date    =   $('#cli_ve_date').val().substr(3,2);
    var price   =   $('#cli_ve_price').val();
    var dT      =   "30";
    var dR      =   dT - date;
    if(dR <= 0) { var total = "0.00"; }else{ var total  = ((price / dT) * dR).toFixed(3); }

    $('#cli_ve_pro').val(total);
  });

  return false;
});

function NewContractVE()
{
  $('#cli_ve_tipo').val('new');
  $('#ViewContractVE').modal('show');
}

function CreateContract()
{
  window.alert("funciono");
}

function LoadVE()
{
  $.ajax({ type: "POST", url:  "{{ url('/ContractsVELoad') }}",
  success: function(datos)
  {
    $('#TableContractVeRes').html(datos.htmlRes);
    $('#ve_contract_res').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    });
    $('#TableContractVeCom').html(datos.htmlCom);
    $('#ve_contract_com').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    });

    $('#TableContractVeFibRes').html(datos.htmlFibRes);
    $('#ve_contract_fib_res').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    });

    $('#TableContractVeGpon').html(datos.htmlGpon);
    $('#ve_contract_gpon').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    });


    $('#cli_ve_sale').html(datos.users);
  }
  });
}

</script>
{% endblock %}