{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Aprobaciones</li>
    </ol>
  </div>
  <div id="content">    

    {% include('contracts/pr.html.twig') %}
    
    </div>
  </div>

{% include('contracts/modal.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
<script type="text/javascript">

$(function() 
{

  $("#cli_date").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });

  $("#pr_from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/ContractSearchLoadPR') }}", data: {str:str},

        success: function(datos)
        {
          $('#TableContractPrRes').html(datos.htmlRes);
          $('#pr_contract_res').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });
          $('#TableContractPrCom').html(datos.htmlCom);
          $('#pr_contract_com').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });
        }
        });
      }

  });
  
  $("#pr_to").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#pr_from").datepicker("option", "minDate", selectedDate);
      }
  });



  Load();

  $( "#cli_type" ).change(function() 
  {
    var type = $('#cli_type').val();
    
    $('#cli_date').prop('readonly', true);
    $('#cli_inst').prop('readonly', true);
    $('#cli_sale').attr("readonly", true);
    $('#cli_pro').attr("readonly", true);

      if(type == 1)
      {
        var id = $('#cli_id').val();

        if(id == "")
        {
          $('#AlertContractModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Debe Introducir un N&uacute;mero de Cliente V&aacute;lido, Por Favor Verificar.</div>');
        }else{
          $('#AlertContractModal').html('');
          $('#AlertContractModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Procesando, Por Favor Espere.!</div>');

          var str = $("#FormGeneral").serialize();
          $("#cli_client").val($('#cli_id').val());
          $.ajax({ type: "POST", url:  "{{ url('/ContractsClientPR') }}", data: {str: str},
          success: function(datos)
          {
            $('#AlertContractModal').html('');
            $('[name=cli_type]').val(0);
            if(datos.status == true)
            {   
              $('#cli_name').val(datos.iTotal.name);
              $('#cli_phone').val(datos.iTotal.phone);
              $('#cli_ticket').val(datos.iTotal.ticket);
              $('#cli_package').val(datos.iTotal.pack);
              $('#cli_type_c').val(datos.iTotal.type);
              $('#cli_date').val(datos.iTotal.date);
              $('#cli_price').val(datos.iTotal.price);
              $('#cli_pro').val(datos.iTotal.pro);
              $('#cli_month').val(datos.iTotal.month);
              $('#cli_inst').val(datos.iTotal.inst);
              $('#cli_sale').val(datos.iTotal.sale);
              $('#cli_sale_date').val(datos.iTotal.sale_date);
              $('#cli_telf').val(datos.iTotal.telf);
              $('#cli_telf_type').val(datos.iTotal.teltype);
              $('#cli_telf_prec').val(datos.iTotal.telprice);

            }
            else if(datos.status = "edit")
            {
              $('#AlertContractModal').html('<div class="alert alert-success fade in"><i class="fa-fw fa fa-success"></i> Contrato para Editar.</div>');
            }
            else{

              $('#ViewInfo').html('');
              $('#AlertContractModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Cliente Sin Coordinaci&oacute;n Procesada, Por Favor Verificar.</div>');
            }
          }
          });

          return false;
       
        }

        return false;
      
      }
      else if(type == 2)
      {
        $('[name=cli_type]').val(0);
        $('#cli_date').prop('readonly', false);
        $('#cli_inst').prop('readonly', false);
        $('#cli_sale').attr("readonly", false);
        $('#cli_price').attr("readonly", false);
        $('#cli_pro').attr("readonly", false);

        var name = $('#cli_name').val();
        if(name == "")
        {
          $('#AlertContractModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Debe Realizar Una B&uacute;squeda Previa, Por Favor Verificar.</div>');
        }else{
          $('#cli_month').val($('#cli_mon').val());
          $('#cli_date').prop('readonly', false);
          $('#cli_inst').prop('readonly', false);
          $('#cli_sale').attr("readonly", false);
          $('#cli_price').attr("readonly", false);
          $('#cli_pro').attr("readonly", false);
        }
          return false;
      
      }
      else if(type == 3)
      {
         $('[name=cli_type]').val(0);
        var name = $('#cli_name').val();
        if(name == "")
        {
          $('#AlertContractModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Debe Realizar Una B&uacute;squeda Previa, Por Favor Verificar.</div>');
        }else{
          var str = $("#FormSubmit").serialize();
          $.ajax({ type: "POST", url:  "{{ url('/ContractsSubmitPR') }}", data: {str: str, cli : $("#cli_client").val()},
          success: function(datos)
          {
            $('#AlertContractModal').html('');
            $('[name=cli_type]').val(0);

            if(datos.status == true)
            {
              window.location.href = "ContractPR.php?type="+datos.type+"&contract="+datos.contract+"";

            }else{

              $('#AlertContractModal').html('<div class="alert alert-error fade in"><i class="fa-fw fa fa-error"></i> Error Al Intentar Crear Contacto, Intente nuevamente.</div>');
            }
          }
          });

        }
          return false;
      }
    return false;
  });

  $( "#cli_date" ).change(function() 
  {
    var date    =   $('#cli_date').val().substr(3,2);
    console.log(date);
    var price   =   $('#cli_price').val();
    var dT      =   "30";
    var dR      =   dT - date;
    if(dR <= 0) { var total = "0.00"; }else{ var total  = ((price / dT) * dR).toFixed(3); }

    $('#cli_pro').val(total);
  });

  return false;
});

function NewContract()
{
  $('#FormGeneral')[0].reset();
  $('#FormSubmit')[0].reset();
  $('#cli_tipo').val('new');
  $('#ViewContract').modal('show');
}

function CreateContract()
{
  window.alert("funciono");
}

function Load()
{
  $.ajax({ type: "POST", url:  "{{ url('/ContractsPRLoad') }}",
  success: function(datos)
  {
    $('#TableContractPrRes').html(datos.htmlRes);
    $('#pr_contract_res').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    });
    $('#TableContractPrCom').html(datos.htmlCom);
    $('#pr_contract_com').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    });
    $('#cli_sale').html(datos.users);
  }
  });
}

</script>
{% endblock %}