<!-- --------------------------- Contract Modal ---------------------------->

<!-- --------------------------- Contract Modal ---------------------------->
<div class="modal fade" id="ViewContract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Contratos</h4>
      </div>
      <input class="form-control" type="hidden" id="cli_client" name="cli_client" readonly hidden required>
      <div class="modal-body" style="text-align: center; background: aliceblue;">
        <div class="row"><div id="AlertContractModal"></div></div>
        <form id="FormGeneral">
          <div class="row" style="text-align: center;">
            <div class="form-group">
              <div class="col-md-4">
                <label><strong> Indique ID de Cliente</strong></label>
                <input class="form-control" type="number" id="cli_id" name="cli_id" placeholder="Numero de Cliente" required>
              </div>
              <div class="col-md-4">
                <label><strong> Duraci&oacute;n de Contrato</strong></label>
                <select class="form-control" id="cli_mon" name="cli_mon" required>
                  <option value="24">24 Meses</option>
                  <option value="36">36 Meses</option>
                </select>
              </div>
              <div class="col-md-4">
                <label><strong> Accion</strong></label>
                <select class="form-control" id="cli_type" name="cli_type" required>
                  <option value="0">Seleccione</option>
                  <option value="1">Buscar</option>
                  <option value="2">Editar</option>
                  <option value="3">Crear PDF</option>
                </select>
              </div>
            </div>
          </div>
        </form>

        <div id="ViewInfo2">
          <form id="FormSubmit">
            <div class="row" style="text-align: center; background: aliceblue; margin-top: 10px;">
              <label><strong> Datos del Contrato</strong></label>
              <div class="form-group">
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Nombre del Cliente</strong></label>
                  <input class="form-control" type="text" id="cli_name" name="cli_name" placeholder="Nombre de Cliente" readonly>
                </div>
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Tel&eacute;fono</strong></label>
                  <input class="form-control" type="number" id="cli_phone" name="cli_phone" placeholder="Tel&eacute;fono de Cliente" readonly>
                </div>
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Ticket</strong></label>
                  <input class="form-control" type="text" id="cli_ticket" name="cli_ticket" placeholder="Ticket de Solicitud" readonly>
                </div>
              </div>
              <div class="form-group" >

                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Paquete Contratado</strong></label>
                  <input class="form-control" type="text" id="cli_package" name="cli_package" placeholder="Paquete Contratado" readonly>
                </div>
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Tipo de Contrato</strong></label>
                  <input class="form-control" type="text" id="cli_type_c" name="cli_type_c" placeholder="Tipo de Contrato" readonly>
                </div>
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Precio Paquete</strong></label>
                  <input class="form-control" type="number" id="cli_price" name="cli_price" placeholder="Precio del Paquete Contratado" readonly>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Prorateo</strong></label>
                  <input class="form-control" type="text" id="cli_pro" name="cli_pro" placeholder="Prorateo" readonly>
                </div>
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Fecha de Instalaci&oacute;n</strong></label>
                  <input class="form-control" type="text" id="cli_date" name="cli_date" placeholder="Fecha de Instalaci&oacute;n" readonly>
                </div>
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Meses de Contrato</strong></label>
                  <input class="form-control" type="number" id="cli_month" name="cli_month" placeholder="Meses del Contrato" readonly>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Paquete Telefon&iacute;a</strong></label>
                  <input class="form-control" type="text" id="cli_telf" name="cli_telf" placeholder="Precio del Paquete Contratado" readonly>
                </div>
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Tipo de Telefon&iacute;a</strong></label>
                  <input class="form-control" type="text" id="cli_telf_type" name="cli_telf_type" placeholder="Prorateo" readonly>
                </div>
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Precio Paquete</strong></label>
                  <input class="form-control" type="number" id="cli_telf_prec" name="cli_telf_prec" placeholder="Precio del Paquete Contratado" readonly>
                </div>

              </div>
              <div class="form-group">
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Valor de Instalaci&oacute;n</strong></label>
                  <input class="form-control" type="text" id="cli_inst" name="cli_inst" placeholder="Valor de Instalaci&oacute;n" readonly>
                </div>
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Fecha de Venta</strong></label>
                  <input class="form-control" type="text" id="cli_sale_date" name="cli_sale_date" placeholder="Fecha de Venta" readonly>
                </div>
                <div class="col-md-4" style="margin-top: 10px;">
                  <label><strong> Vendedor</strong></label>
                  <select class="form-control" id="cli_sale" name="cli_sale" required readonly>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="ViewContract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Contratos</h4>
      </div>
        <input class="form-control" type="hidden" id="cli_client" name="cli_client" readonly hidden required>
        <div class="modal-body" style="text-align: center; background: aliceblue;">
          <div class="row"><div id="AlertContractModal"></div></div>
          <form id="FormGeneral">
            <div class="row" style="text-align: center;">
              <div class="form-group">
                <div class="col-md-4">
                  <label><strong> Indique ID de Cliente</strong></label>
                  <input class="form-control" type="number" id="cli_id" name="cli_id" placeholder="Numero de Cliente" required>
                </div>
                <div class="col-md-4">
                  <label><strong> Duraci&oacute;n de Contrato</strong></label>
                  <select class="form-control" id="cli_mon" name="cli_mon" required>
                    <option value="24">24 Meses</option>
                    <option value="36">36 Meses</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label><strong> Accion</strong></label>
                  <select class="form-control" id="cli_type" name="cli_type" required>
                    <option value="0">Seleccione</option>
                    <option value="1">Buscar</option>
                    <option value="2">Editar</option>
                    <option value="3">Crear PDF</option>
                  </select>
                </div>
              </div>
            </div>
          </form>

          <div id="ViewInfo2">
            <form id="FormSubmit">
              <div class="row" style="text-align: center; background: aliceblue; margin-top: 10px;">
                <label><strong> Datos del Contrato</strong></label>
                <div class="form-group">
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Nombre del Cliente</strong></label>
                    <input class="form-control" type="text" id="cli_name" name="cli_name" placeholder="Nombre de Cliente" readonly>
                  </div>
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Tel&eacute;fono</strong></label>
                    <input class="form-control" type="number" id="cli_phone" name="cli_phone" placeholder="Tel&eacute;fono de Cliente" readonly>
                  </div>
                </div>
                <div class="form-group" >
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Ticket</strong></label>
                    <input class="form-control" type="text" id="cli_ticket" name="cli_ticket" placeholder="Ticket de Solicitud" readonly>
                  </div>
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Paquete Contratado</strong></label>
                    <input class="form-control" type="text" id="cli_package" name="cli_package" placeholder="Paquete Contratado" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Tipo de Contrato</strong></label>
                    <input class="form-control" type="text" id="cli_type_c" name="cli_type_c" placeholder="Tipo de Contrato" readonly>
                  </div>
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Fecha de Instalaci&oacute;n</strong></label>
                    <input class="form-control" type="text" id="cli_date" name="cli_date" placeholder="Fecha de Instalaci&oacute;n" readonly>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Precio Paquete</strong></label>
                    <input class="form-control" type="number" id="cli_price" name="cli_price" placeholder="Precio del Paquete Contratado" readonly>
                  </div>
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Prorateo</strong></label>
                    <input class="form-control" type="text" id="cli_pro" name="cli_pro" placeholder="Prorateo" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Meses de Contrato</strong></label>
                    <input class="form-control" type="number" id="cli_month" name="cli_month" placeholder="Meses del Contrato" readonly>
                  </div>
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Valor de Instalaci&oacute;n</strong></label>
                    <input class="form-control" type="text" id="cli_inst" name="cli_inst" placeholder="Valor de Instalaci&oacute;n" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Vendedor</strong></label>
                    <input class="form-control" type="text" id="cli_sale" name="cli_sale" placeholder="Vendedor" readonly>
                  </div>
                  <div class="col-md-6" style="margin-top: 10px;">
                    <label><strong> Fecha de Venta</strong></label>
                    <input class="form-control" type="text" id="cli_sale_date" name="cli_sale_date" placeholder="Fecha de Venta" readonly>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div> -->