<!-- --------------------------- Contract Modal ---------------------------->

<div class="modal fade" id="ViewContractVE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Contratos</h4>
			</div>
			<input class="form-control" type="hidden" id="cli_ve_client" name="cli_ve_client" readonly hidden required>
			<div class="modal-body" style="text-align: center; background: aliceblue;">
				<div class="row"><div id="AlertContractVeModal"></div></div>
				<form id="FormGeneralVE">
					<div class="row" style="text-align: center;">
						<div class="form-group">
							<div class="col-md-3">
								<label><strong> Indique ID de Cliente</strong></label>
								<input class="form-control" type="number" id="cli_ve_id" name="cli_ve_id" placeholder="Numero de Cliente" required>
							</div>
							<div class="col-md-3">
								<label><strong> Duraci&oacute;n de Contrato</strong></label>
								<select class="form-control" id="cli_ve_mon" name="cli_ve_mon" required>
									<option value="24">24 Meses</option>
									<option value="36">36 Meses</option>
								</select>
							</div>
							<div class="col-md-3">
								<label><strong> Formato</strong></label>
								<select class="form-control" id="cli_ve_form" name="cli_ve_form" required>
									<option value="1">Viejo</option>
									<option value="2">Nuevo</option>
									<option value="3">Fibra</option>
									<option value="4">Promo 100</option>
									<option value="5">Promo Zona</option>
									<option value="6">Promo 3M</option>
									<option value="7">Gpon</option>
									<option value="8">Promo Estudiantil</option>
								</select>
							</div>
							<div class="col-md-3">
								<label><strong> Accion</strong></label>
								<select class="form-control" id="cli_ve_type" name="cli_ve_type" required>
									<option value="0">Seleccione</option>
									<option value="1">Buscar</option>
									<option value="2">Editar</option>
									<option value="3">Crear PDF</option>
								</select>
							</div>
						</div>
					</div>
				</form>

				<div id="ViewInfoVE">
					<form id="FormSubmitVE">
						<div class="row" style="text-align: center; background: aliceblue; margin-top: 10px;">
							<label><strong> Datos del Contrato</strong></label>
							<div class="form-group">
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Nombre del Cliente</strong></label>
									<input class="form-control" type="text" id="cli_ve_name" name="cli_ve_name" placeholder="Nombre de Cliente" readonly>
								</div>
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Tel&eacute;fono</strong></label>
									<input class="form-control" type="number" id="cli_ve_phone" name="cli_ve_phone" placeholder="Tel&eacute;fono de Cliente" readonly>
								</div>
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Ticket</strong></label>
									<input class="form-control" type="text" id="cli_ve_ticket" name="cli_ve_ticket" placeholder="Ticket de Solicitud" readonly>
								</div>
							</div>
							<div class="form-group" >
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Paquete Contratado</strong></label>
									<input class="form-control" type="text" id="cli_ve_package" name="cli_ve_package" placeholder="Paquete Contratado" readonly>
								</div>
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Tipo de Contrato</strong></label>
									<input class="form-control" type="text" id="cli_ve_type_c" name="cli_ve_type_c" placeholder="Tipo de Contrato" readonly>
								</div>
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Precio Paquete</strong></label>
									<input class="form-control" type="number" id="cli_ve_price" name="cli_ve_price" placeholder="Precio del Paquete Contratado" readonly>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Prorrateo</strong></label>
									<input class="form-control" type="number" id="cli_ve_pro" name="cli_ve_pro" placeholder="prorrateo" readonly>
								</div>
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Fecha de Instalaci&oacute;n</strong></label>
									<input class="form-control" type="text" id="cli_ve_date" name="cli_ve_date" placeholder="Fecha de Instalaci&oacute;n" readonly>
								</div>
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Meses de Contrato</strong></label>
									<input class="form-control" type="number" id="cli_ve_month" name="cli_ve_month" placeholder="Meses del Contrato" readonly>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Paquete Telefon&iacute;a</strong></label>
									<input class="form-control" type="text" id="cli_ve_telf" name="cli_ve_telf" placeholder="Precio del Paquete Contratado" readonly>
								</div>
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Tipo de Telefon&iacute;a</strong></label>
									<input class="form-control" type="text" id="cli_ve_telf_type" name="cli_ve_telf_type" placeholder="TIpo de Telefonia" readonly>
								</div>
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Precio Paquete</strong></label>
									<input class="form-control" type="number" id="cli_ve_telf_prec" name="cli_ve_telf_prec" placeholder="Precio del Paquete Contratado" readonly>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Valor de Instalaci&oacute;n</strong></label>
									<input class="form-control" type="number" id="cli_ve_inst" name="cli_ve_inst" placeholder="Valor de Instalaci&oacute;n" readonly>
								</div>
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Fecha de Venta</strong></label>
									<input class="form-control" type="text" id="cli_ve_sale_date" name="cli_ve_sale_date" placeholder="Fecha de Venta" readonly>
								</div>
								<div class="col-md-4" style="margin-top: 10px;">
									<label><strong> Vendedor</strong></label>
									<select class="form-control" id="cli_ve_sale" name="cli_ve_sale" required readonly>
									</select>
								</div>

							</div>
							<div class="form-group">

								<div class="col-md-4" style="margin-top: 10px;">
								</div>
								<div class="col-md-4" style="margin-top: 10px;">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>