<div class="row">
  <div class="col-sm-12" style="text-align: center;">
    <label>Seleccione Rango de Busqueda:</label>
  </div>

  <form id="rangeDate">
    <div class="col-sm-6">
    
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="ve_to" name="ve_dateIni" type="text" placeholder="Fecha Inicial">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="ve_from" name="ve_dateEnd" type="text" placeholder="Fecha Final">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>      
    </div>
  </form>

</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a class="btn btn-primary btn-xs" onclick="NewContractVE();"><i class="fa fa-edit"></i> Nuevo Contrato</a>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <article class="col-sm-12">
    <!-- new widget -->
    <div class="jarviswidget" id="wid-id-0"  data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
      <header>
        <h2>CONTRATOS VENEZUELA  </h2>
        <ul class="nav nav-tabs pull-right in" id="myTab">
          <li class="active"><a data-toggle="tab" href="#ve1"><i class="fa fa-lg fa-warning"></i> <span class="hidden-mobile hidden-tablet"> Residencial </span></a></li>
          <li><a data-toggle="tab" href="#ve2"><i class="fa fa-lg fa-check-square"></i> <span class="hidden-mobile hidden-tablet"> Comercial </span></a></li>
          <li><a data-toggle="tab" href="#ve3"><i class="fa fa-lg fa-check-square"></i> <span class="hidden-mobile hidden-tablet"> Fibra </span></a></li>
          <li><a data-toggle="tab" href="#ve4"><i class="fa fa-lg fa-check-square"></i> <span class="hidden-mobile hidden-tablet"> Gpon </span></a></li>
        </ul>
      </header>
      <div class="no-padding">        
        <div class="widget-body">

          <div class="tab-content ">
           
            <div class="tab-pane active" id="ve1">
              <div class="table-responsive">
                <div id="TableContractVeRes" style="font-size: 11px;">
                </div>
              </div>
            </div>
            
            <div class="tab-pane" id="ve2">
              <div class="table-responsive">
                <div id="TableContractVeCom" style="font-size: 11px;"></div>
              </div>
            </div>

            <div class="tab-pane" id="ve3">
              <div class="table-responsive">
                <div id="TableContractVeFibRes" style="font-size: 11px;"></div>
              </div>
            </div>

            <div class="tab-pane" id="ve4">
              <div class="table-responsive">
                <div id="TableContractVeGpon" style="font-size: 11px;"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </article>
</div>  