{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Dashboard - TICKET ISP</li>
    </ol>
  </div>
  <div id="content">    

      {% include('ISP/panel.html.twig') %}

    </div>
  </div>

{% include('ISP/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{

  Load();
      
});

  $("#FormsCategories").on('submit', function(e){
    e.preventDefault();
    var str = $("#FormsCategories").serialize();

    $.ajax({ type: "POST", url:  "{{ url('/isp/Dashboard/NewCategories') }}", data: {str:str },
    beforeSend: function(request){
      $('#CategoriesAlert').html('');
      $('#CategoriesAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> POrocessing, Please Wait.!</div>');
    },
    success: function(datos)
    {
      $.unblockUI();
      $('#CategoriesAlert').html('');
      if(datos.status == true)
      {
        $('#FormsCategories')[0].reset();
        $('#CategoriesAlert').val('')
        $('#NewCategoriesModal').modal('hide');
        Load();
      }
      else{ 
        $('#CategoriesAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  });

  $("#FormsLables").on('submit', function(e){
    e.preventDefault();
    var str = $("#FormsLables").serialize();

    $.ajax({ type: "POST", url:  "{{ url('/isp/Dashboard/NewLables') }}", data: {str:str },
    beforeSend: function(request){
      $('#LablesAlert').html('');
      $('#LablesAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> POrocessing, Please Wait.!</div>');
    },
    success: function(datos)
    {
      $.unblockUI();
      $('#LablesAlert').html('');
      if(datos.status == true)
      {
        $('#FormsLables')[0].reset();
        $('#LablesAlert').val('')
        $('#NewLablesModal').modal('hide');
        Load();
      }
      else{ 
        $('#CategoriesAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  });

  $("#FormsEmails").on('submit', function(e){
    e.preventDefault();
    var str = $("#FormsEmails").serialize();

    $.ajax({ type: "POST", url:  "{{ url('/isp/Dashboard/NewEmails') }}", data: {str:str },
    beforeSend: function(request){
      $('#EmailsAlert').html('');
      $('#EmailsAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> POrocessing, Please Wait.!</div>');
    },
    success: function(datos)
    {
      $.unblockUI();
      $('#EmailsAlert').html('');
      if(datos.status == true)
      {
        $('#FormsEmails')[0].reset();
        $('#EmailsAlert').val('')
        $('#NewEmailsModal').modal('hide');
        Load();
      }
      else{ 
        $('#EmailsAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  });

  $("#FormsEditCategories").on('submit', function(e){
    e.preventDefault();
    var str = $("#FormsEditCategories").serialize();

    $.ajax({ type: "POST", url:  "{{ url('/isp/Dashboard/UpdateCategories') }}", data: {str:str },
    beforeSend: function(request){
      $('#CategoriesEditAlert').html('');
      $('#CategoriesEditAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> POrocessing, Please Wait.!</div>');
    },
    success: function(datos)
    {
      $.unblockUI();
      $('#CategoriesEditAlert').html('');
      if(datos.status == true)
      {
        $('#FormsEditCategories')[0].reset();
        $('#CategoriesEditAlert').val('')
        $('#EditCategoriesModal').modal('hide');
        Load();
      }
      else{ 
        $('#CategoriesEditAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  });

  $("#FormsEditLables").on('submit', function(e){
    e.preventDefault();
    var str = $("#FormsEditLables").serialize();

    $.ajax({ type: "POST", url:  "{{ url('/isp/Dashboard/UpdateLables') }}", data: {str:str },
    beforeSend: function(request){
      $('#LablesEditAlert').html('');
      $('#LablesEditAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> POrocessing, Please Wait.!</div>');
    },
    success: function(datos)
    {
      $.unblockUI();
      $('#LablesEditAlert').html('');
      if(datos.status == true)
      {
        $('#FormsEditLables')[0].reset();
        $('#LablesEditAlert').val('')
        $('#EditLablesModal').modal('hide');
        Load();
      }
      else{ 
        $('#LablesEditAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  });

  $("#FormsEditEmails").on('submit', function(e){
    e.preventDefault();
    var str = $("#FormsEditEmails").serialize();

    $.ajax({ type: "POST", url:  "{{ url('/isp/Dashboard/UpdateEmails') }}", data: {str:str },
    beforeSend: function(request){
      $('#EmailsEditAlert').html('');
      $('#EmailsEditAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> POrocessing, Please Wait.!</div>');
    },
    success: function(datos)
    {
      $.unblockUI();
      $('#EmailsEditAlert').html('');
      if(datos.status == true)
      {
        $('#FormsEditEmails')[0].reset();
        $('#EmailsEditAlert').val('')
        $('#EditEmailsModal').modal('hide');
        Load();
      }
      else{ 
        $('#EmailsEditAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  });

  function Load()
  {
    $.ajax({ type: "POST", url:  "{{ url('/isp/dashboard/load') }}", data: { },
    success: function(datos)
    {
      if(datos.status == true)
      {
        $('#TableCategories').html('');
        $('#TableCategories').html(datos.categories);    
        $('#dt_Categories').DataTable({
          retrieve: true,
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
        });

        $('#TableLabels').html('');
        $('#TableLabels').html(datos.labels);
        $('#dt_Labels').DataTable({
          retrieve: true,
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
        });

        $('#TableEmails').html('');
        $('#TableEmails').html(datos.emails);
        $('#dt_Emails').DataTable({
          retrieve: true,
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
        });

      }
      else{ 
        $('#TableCategories').html('');
        $('#TableLabels').html('');
        $('#TableEmails').html('');

      }
    }
    });
  
  }

  function EditCat(id)
  {
    
    $.ajax({ type: "POST", url:  "{{ url('/isp/Dashboard/ShowCategories') }}", data: {id:id},
    success: function(datos)
    {
        if(datos.status == true)
        {
          $('#FormsEditCategories')[0].reset();
          $('#cat_e_name').val(datos.name);
          $('#cat_e_id').val(datos.id);
        }
        else{ 
          $('#CategoriesEditAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
        }
    }
    });
    $('#cat_e_id').val(id);
    $('#EditCategoriesModal').modal('show');
  
  }

  function EditLab(id)
  {
    
    $.ajax({ type: "POST", url:  "{{ url('/isp/Dashboard/ShowLables') }}", data: {id:id},
    success: function(datos)
    {
        if(datos.status == true)
        {
          $('#FormsEditLables')[0].reset();
          $('#lab_e_name').val(datos.name);
          $('#lab_e_id').val(datos.id);
        }
        else{ 
          $('#LablesEditAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
        }
    }
    });
    $('#lab_e_id').val(id);
    $('#EditLablesModal').modal('show');
  
  }

  function EditEma(id)
  {
    
    $.ajax({ type: "POST", url:  "{{ url('/isp/Dashboard/ShowEmails') }}", data: {id:id},
    success: function(datos)
    {
        if(datos.status == true)
        {
          $('#FormsEditEmails')[0].reset();
          $('#email_e_name').val(datos.email);
          $('#email_e_id').val(datos.id);
        }
        else{ 
          $('#EmailsEditAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
        }
    }
    });
    $('#email_e_id').val(id);
    $('#EditEmailsModal').modal('show');
  
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}