{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Tickets - Clientes ISP</li>
    </ol>
  </div>
  <div id="content">    

      {% include('ISP/tickets.html.twig') %}

    </div>
  </div>

{% include('ISP/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{

  Load();

  $("#from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/isp/LoadByDate') }}", data: {str:str},
        beforeSend: function(request){
          blockUI();
        },
        success: function(datos)
        {
          $.unblockUI();

          if(datos.status == true)
          {
            $('#TableActive').html('');
            $('#TableProcess').html('');
            $('#TableSuspended').html('');
            $('#TableCancel').html('');

            $('#TableActive').html('');
            $('#TableActive').html(datos.actives);    
            $('#tbl-Active').DataTable({
              retrieve: true,
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
            });

            $('#TableProcess').html('');
            $('#TableProcess').html(datos.process);
            $('#tbl-Process').DataTable({
              retrieve: true,
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
            });

            $('#TableSuspended').html('');
            $('#TableSuspended').html(datos.suspend);
            $('#tbl-Suspended').DataTable({
              retrieve: true,
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
            });

            $('#TableCancel').html('');
            $('#TableCancel').html(datos.cancel); 
            $('#tbl-Cancel').DataTable({
              retrieve: true,
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
            });

          }
          else{ 
            $('#TableActive').html('');
            $('#TableProcess').html('');
            $('#TableSuspended').html('');
            $('#TableCancel').html('');
          }
        }
        });
      }

  });
  
  $("#to").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });

      
});

  $("#csv").change(function() {
    var file = this.files[0];
    var imagefile = file.type;

    var match= ["image/jpeg","image/png","image/jpg"];

    if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]) ))
    {
        alert('Please select a valid image file (JPEG/JPG/PNG).');
        $("#csv").val('');
        return false;
    }
  });

  $("#NewAdjService").on('submit', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{{ url('/isp/TmpFiles') }}", 
        data: new FormData(this),
        contentType: false,
        cache: false,
        processData:false,
        beforeSend: function(request)
        {
          $('#AlertAdjTmp').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> Updating, please wait</div>');
        },
        success: function(datos){
          $.unblockUI();
          if(datos.status == true)
          {
            $('#AlertAdjTmp').html('');

            if(datos.forms == 'forms')
            {
              $('#TableServiceAdj').html('');
              $('#TableServiceAdj').html(datos.html);
            }
            else if(datos.forms == 'edit')
            {
              $('#EditTableServiceAdj').html('');
              $('#EditTableServiceAdj').html(datos.html);
            }

          }else{
              $("#AlertAdjTmp").html('');
              $('#AlertAdjTmp').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
          }
        }
    });
    return false;
  });

  $("#EditAdjService").on('submit', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{{ url('/isp/TmpFiles') }}", 
        data: new FormData(this),
        contentType: false,
        cache: false,
        processData:false,
        beforeSend: function(request){
          blockUI();
        },
        success: function(datos){
          $.unblockUI();
          if(datos.status == true)
          {
            $('#NewAdjService')[0].reset();

            if(datos.forms == 'forms')
            {
              $('#TableServiceAdj').html('');
              $('#TableServiceAdj').html(datos.html);
            }
            else if(datos.forms == 'edit')
            {
              $('#EditTableServiceAdj').html('');
              $('#EditTableServiceAdj').html(datos.html);
            }

          }else{
              $("#csvAlert").html('');
              $("#csvAlert").html("Error");
          }
        }
    });
    return false;
  });

  $("#ViewNoteForms").on('submit', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{{ url('/isp/Notes') }}",
        data: new FormData(this),
        contentType: false,
        cache: false,
        processData:false,
        beforeSend: function(request){
          $('#alarmNoteISP').html('');
          $('#alarmNoteISP').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> Creating Notes, Please Wait.!</div>');
        },
        success: function(datos){
          $.unblockUI();
          if(datos.status == true)
          {
            $('#alarmNoteISP').html('');
            $("#file").html('');
            $("#file").val('');
            $("#notes").val('');
            $("#chat-body_isp").html('');
            $("#chat-body_isp").html(datos.notes);            

          }else{
              $("#alarmNoteISP").html('');
              $("#alarmNoteISP").html(datos.html);
          }
        }
    });
  });

  $("#ProcessService").on('submit', function(e){
    e.preventDefault();

    $.ajax({ type: "POST", url:  "{{ url('/isp/ProcessService') }}", data: {id: $('#pro_id').val(), type:'2'},
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      {
        $('#pro_id').val('')
        $('#ProcessModal').modal('hide');
        Load();
      }
      else{ 
        $('#ProcessAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  });

  $("#SuspendedServices").on('submit', function(e){
    e.preventDefault();

    $.ajax({ type: "POST", url:  "{{ url('/isp/ProcessService') }}", data: {id: $('#sus_id').val(), type:'3'},
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      {
        $('#sus_id').val('')
        $('#SuspendedModal').modal('hide');
        Load();
      }
      else{ 
        $('#ProcessAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  });

  $("#CancelService").on('submit', function(e){
    e.preventDefault();

    $.ajax({ type: "POST", url:  "{{ url('/isp/ProcessService') }}", data: {id: $('#can_id').val(), type:'4'},
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      {
        $('#can_id').val('')
        $('#CancelModal').modal('hide');
        Load();
      }
      else{ 
        $('#ProcessAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  });

  $("#OpenService").on('submit', function(e){
    e.preventDefault();

    $.ajax({ type: "POST", url:  "{{ url('/isp/OpenService') }}", data: {id: $('#open_id').val(), type:'1'},
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      {
        $('#open_id').val('')
        $('#OpenModal').modal('hide');
        Load();
      }
      else{ 
        $('#OpenAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  });

  $("#EmailService").on('submit', function(e){
    e.preventDefault();

    $.ajax({ type: "POST", url:  "{{ url('/isp/EmailService') }}", data: {id: $('#email_id').val(), type: $('#email_type').val()},
    beforeSend: function(request){
      $('#EmailAlert').html('');
      $('#EmailAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> Sending Emails, Please Wait.!</div>');
    },
    success: function(datos)
    {
      $.unblockUI();
      $('#EmailAlert').html('');
      if(datos.status == true)
      {
        $('#email_id').val('')
        $('#EmailModal').modal('hide');
        Load();
      }
      else{ 
        $('#EmailAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  });

  $("#ReportService").on('submit', function(e){
    e.preventDefault();

    var init  = $('#to').val();
    var end   = $('#from').val();

    if( (init == '') || (end == "") )
    {
      $('#ReportsAlert').html('');
      $('#ReportsAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> You must select a valid date range.!</div>');      
    }else{
      var range = $("#rangeDate").serialize();

      window.location.href = "{{ url('/isp/Reports') }}/?dateIni="+init+'&dateEnd='+end+'"'; 
      $('#ReportsModal').modal('hide');

    }
  });

  $('#NewService').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    
    $('#NewServiceAlert').html('<div class="alert alert-info fade in"><strong>Info!</strong> In Process. Wait.!</div>');
    $('#ListServices').attr("hidden", true);
    $('#TableClient').html('');
    
    var str = $("#NewService").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/isp/getinfo') }}", data: {str: str},
    beforeSend: function(request){
      $('#TableClient').html('');
      $('#tbl-Client').DataTable({
        retrieve: true,
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });
    },
    success: function(datos)
    {
        if(datos.status == true)
        {
          
          if(datos.count == 1)
          {
            $('#NewServiceAlert').html('');
            $('#NewService')[0].reset();
            $('#NewServiceModal').modal('hide');

            $('#ListInfoClient').html('<li><strong>ID:</strong> '+datos.data.id+'</li> <li><strong>Cliente:</strong> '+datos.data.nombre+'</li><li><strong>Direccion:</strong> '+datos.data.direccion+'</li><li><strong>Telefonos:</strong> '+datos.data.telefono+'</li><li><strong>Emails:</strong> '+datos.data.correo+'</li><li><strong>Servicio:</strong> '+datos.data.plan+'</li><li><strong>IP:</strong> '+datos.data.ip+'</li><li><strong>Router:</strong> '+datos.data.nodo+'</li><li><strong>Estatus:</strong> '+datos.data.estado+'</li><li><strong>Instalacion:</strong> '+datos.data.instalacion+'</li>');
              $('#id_serv').val(datos.data.id);
              var ale = makeid(10);
              $('#id_form').val(ale);
              $('#id_forms').val(ale);

            $('#ServiceModal').modal('show');
          }else{

              $('#NewServiceAlert').html('');
              $('#ListServices').attr("hidden", false);
              $('#TableBodyListService').html('');

              // $('#TableClient').html('');
              // $('#TableClient').html(datos.htmlClient);    

              $.each(datos.data, function(key, item)
              {
                $('#TableBodyListService').append('<tr>');
                $('#TableBodyListService').append('<td style="padding: 10px;">' + item['id'] + '</td>');
                $('#TableBodyListService').append('<td>' + item['nombre'] + '</td>');
                $('#TableBodyListService').append('<td><a href="javascript:void(0);" onclick="SelectService(' + item['id'] + ')"><i class="fa fa-check"></i></a></td>');
                $('#TableBodyListService').append('</tr">');
              });
              $('#tbl-client').DataTable({
                retrieve: true,
                aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                pageLength: 10
              });
          }
        }
        else{ 
          $('#NewServiceAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
        }
    }
    });
    return false;
  });

  $("#file").change(function() {
    var file = this.files[0];
    var imagefile = file.type;
 
    var match= ["application/vnd.ms-excel", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/pdf", "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/msword", "image/jpeg","image/png","image/jpg"];


    if(!((imagefile==match[0]) || (imagefile==match[1]) || 
        (imagefile==match[2]) || (imagefile==match[3])  ||
        (imagefile==match[4]) || (imagefile==match[5])  ||
        (imagefile==match[6]) || (imagefile==match[7])
        ))
    {
        alert('Please select a valid image file (EXCEL/PDF/WORD/JPEG/JPG/PNG).');
        $("#file").val('');
        return false;
    }
  });

  function Load()
  {
    $.ajax({ type: "POST", url:  "{{ url('/isp/load') }}", data: { },
    success: function(datos)
    {
      if(datos.status == true)
      {
        $('#TableActive').html('');
        $('#TableActive').html(datos.actives);    
        $('#tbl-Active').DataTable({
          retrieve: true,
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
        });

        $('#TableProcess').html('');
        $('#TableProcess').html(datos.process);
        $('#tbl-Process').DataTable({
          retrieve: true,
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
        });

        $('#TableSuspended').html('');
        $('#TableSuspended').html(datos.suspend);
        $('#tbl-Suspended').DataTable({
          retrieve: true,
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
        });

        $('#TableCancel').html('');
        $('#TableCancel').html(datos.cancel); 
        $('#tbl-Cancel').DataTable({
          retrieve: true,
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
        });

      }
      else{ 
        $('#TableActive').html('');
        $('#TableProcess').html('');
        $('#TableSuspended').html('');
        $('#TableCancel').html('');
      }
    }
    });
  
  }

  function NewService()
  {
    $('#NewService')[0].reset();
    // $('#ListServices').attr("hidden", true);
    $('#NewServAlert').html('');
    $('#NewServiceAlert').html('');

    $('#NewServiceModal').modal('show');
  
  }

  function SendNewService()
  {
    var title = $("#NewTitleService").serialize();
    var text  = $("#NewTextService").serialize();
    var label = $("#NewLabelService").serialize();

    $.ajax({ type: "POST", url:  "{{ url('/isp/SaveService') }}", data: {title:title, text:text, label:label},
    success: function(datos)
    {
        if(datos.status == true)
        {
          $('#NewTitleService')[0].reset();
          $('#NewTextService')[0].reset();
          $('#NewLabelService')[0].reset();
          $('#ListInfoClient').html('');
          $('#TableServiceAdj').html('');
          $('#ServiceModal').modal('hide');

          Load()
        }
        else{ 
          $('#NewServAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
        }
    }
    });

  }

  function ViewOpenService(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('/isp/ViewInfoId') }}", data: {id: id},
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      {
        $('#view_id_serv').val(datos.info.ticket);
        $('#view_note_serv').val(datos.info.ticket);
        $('#view_nam_serv').val(datos.info.title);
        $('#ViewListCatClient').html(datos.cat);
        $('#view_tex_serv').html(datos.info.message);
        $('#chat-body_isp').html(datos.notes);

        $('#ViewListInfoClient').html('<li><strong>ID:</strong> '+datos.data.id+'</li> <li><strong>Cliente:</strong> '+datos.data.nombre+'</li><li><strong>Direccion:</strong> '+datos.data.direccion+'</li><li><strong>Telefonos:</strong> '+datos.data.telefono+'</li><li><strong>Emails:</strong> '+datos.data.correo+'</li><li><strong>Servicio:</strong> '+datos.data.plan+'</li><li><strong>IP:</strong> '+datos.data.ip+'</li><li><strong>Router:</strong> '+datos.data.nodo+'</li><li><strong>Estatus:</strong> '+datos.data.estado+'</li><li><strong>Instalacion:</strong> '+datos.data.instalacion+'</li>');

        $('#ViewLabelsInfoClient').html(datos.lab);
        $('#ViewTableServiceAdj').html(datos.adj);

        $('#ViewModal').modal('show');
      }
      else{ 
        $('#csvAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  
  }

  function EditServices(id)
  {
    
    $.ajax({ type: "POST", url:  "{{ url('/isp/GetEditInfo') }}", data: {id: id},
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      {
        $('#Edit_id_serv').val(datos.info.ticket);
        $('#Edit_id_forms').val(datos.info.forms);
        $('#Edit_note_serv').val(datos.info.ticket);
        $('#Edit_nam_serv').val(datos.info.title);
        $('#EditListCatClient').html(datos.cat);
        $('#Edit_tex_serv').html(datos.info.message);

        $('#EditListInfoClient').html('<li><strong>ID:</strong> '+datos.data.id+'</li> <li><strong>Cliente:</strong> '+datos.data.nombre+'</li><li><strong>Direccion:</strong> '+datos.data.direccion+'</li><li><strong>Telefonos:</strong> '+datos.data.telefono+'</li><li><strong>Emails:</strong> '+datos.data.correo+'</li><li><strong>Servicio:</strong> '+datos.data.plan+'</li><li><strong>IP:</strong> '+datos.data.ip+'</li><li><strong>Router:</strong> '+datos.data.nodo+'</li><li><strong>Estatus:</strong> '+datos.data.estado+'</li><li><strong>Instalacion:</strong> '+datos.data.instalacion+'</li>');

        $('#EditLabelsInfoClient').html('');
        $('#EditLabelsInfoClient').html(datos.lab);
        $('#EditTableServiceAdj').html(datos.adj);
        // $('#editbtn').html('<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button><a href="javascript:void(0);" class="btn btn-primary" onclick="UpdateService('+datos.info.ticket+');">Actualizar</a>');

        $('#EditServiceModal').modal('show');
      }
      else{ 
        $('#csvAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  
  }
  
  function ProcessService(id)
  {
    $('#pro_id').val(id);
    $('#ProcessService')[0].reset();
    $('#ProcessModal').modal('show');
  
  }

  function SuspendedServices(id)
  {
    $('#sus_id').val(id);
    $('#SuspendedServices')[0].reset();
    $('#SuspendedModal').modal('show');
  
  }
  
  function CancelServices(id)
  {
    $('#can_id').val(id);
    $('#CancelService')[0].reset();
    $('#CancelModal').modal('show');    
  
  }

  function SelectService(id)
  {

    $('#new_id').val(id)

    $('#NewServiceAlert').html('<div class="alert alert-info fade in"><strong>Info!</strong> In Process. Wait.!</div>');
    $('#ListServices').attr("hidden", true);

    $.ajax({ type: "POST", url:  "{{ url('/isp/getinfoid') }}", data: {id: id},
    success: function(datos)
    {
        if(datos.status == true)
        {
          
          $('#csvAlert').html('');
          $('#NewService')[0].reset();
          $('#NewServiceModal').modal('hide');

          $('#ListInfoClient').html('<li><strong>ID:</strong> '+datos.data.id+'</li> <li><strong>Cliente:</strong> '+datos.data.nombre+'</li><li><strong>Direccion:</strong> '+datos.data.direccion+'</li><li><strong>Telefonos:</strong> '+datos.data.telefono+'</li><li><strong>Emails:</strong> '+datos.data.correo+'</li><li><strong>Servicio:</strong> '+datos.data.plan+'</li><li><strong>IP:</strong> '+datos.data.ip+'</li><li><strong>Router:</strong> '+datos.data.nodo+'</li><li><strong>Estatus:</strong> '+datos.data.estado+'</li><li><strong>Instalacion:</strong> '+datos.data.instalacion+'</li>');

          var random =  makeid(10);
          $('#NewServAlert').html('');
          $('#id_serv').val(id);
          $('#id_form').val(random);
          $('#id_forms').val(random);

          $('#ServiceModal').modal('show');
        }
        else{ 
          $('#csvAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
        }
    }
    });
  
  }

  function UpdateService(id)
  {
    var title = $("#EditTitleService").serialize();
    var text  = $("#EditTextService").serialize();
    var label = $("#EditLabelService").serialize();

    $.ajax({ type: "POST", url:  "{{ url('/isp/UpdateServices') }}", data: {title:title, text:text, label:label},
    success: function(datos)
    {
        if(datos.status == true)
        {

          $("#EditTitleService")[0].reset();
          $("#EditTextService")[0].reset();
          $("#EditLabelService")[0].reset();
          $('#EditTableServiceAdj').html('');
          $('#EditListInfoClient').html('');
          Load();
          $('#EditServiceModal').modal('hide'); 
        } 
        else{   
          $('#EditAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
        }
    }
    });

  }

  function ReOpen(id)
  {
    $('#open_id').val(id);
    $('#OpenService')[0].reset();
    $('#OpenModal').modal('show');
    
  }

  function SendEmail(id)
  {
    $('#EmailAlert').html('');
    $('#email_id').val(id);
    $('#email_type').val('1');
    $('#EmailService')[0].reset();
    $('#EmailModal').modal('show');

  }

  function SendEmailPro(id)
  {
    $('#EmailAlert').html('');
    $('#email_id').val(id);
    $('#email_type').val('2');
    $('#EmailService')[0].reset();
    $('#EmailModal').modal('show');

  }

  function SendEmailSus(id)
  {
    $('#EmailAlert').html('');
    $('#email_id').val(id);
    $('#email_type').val('3');
    $('#EmailService')[0].reset();
    $('#EmailModal').modal('show');

  }

  function SendEmailCan(id)
  {
    $('#EmailAlert').html('');
    $('#email_id').val(id);
    $('#email_type').val('4');
    $('#EmailService')[0].reset();
    $('#EmailModal').modal('show');

  }  

  function DelEditAdj(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('/isp/DeteleAdj') }}", data: {id: id},
    beforeSend: function(request){
      $('#EditFileAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> Updating, please wait</div>');
    },
    success: function(datos)
    {
      $.unblockUI();
      $('#EditFileAlert').html('');
      if(datos.status == true)
      {
        $('#EditTableServiceAdj').html(datos.adj);
      }
      else{ 
        $('#EditFileAlert').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });

  }

  function DelTmpAdj(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/isp/DeteleTmpAdj') }}", data: {id: id, form: $('#id_form').val()},
    beforeSend: function(request){
      $('#AlertAdjTmp').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-times"></i><strong>Info!</strong> Updating, please wait</div>');
    },
    success: function(datos)
    {
      $.unblockUI();
      $('#AlertAdjTmp').html('');
      if(datos.status == true)
      {
        $('#TableServiceAdj').html(datos.adj);
      }
      else{ 
        $('#AlertAdjTmp').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-times"></i><strong>Error!</strong> '+datos.message+'</div>');
      }
    }
    });
  
  }

  function makeid(length) 
  {
      var result           = '';
      var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      var charactersLength = characters.length;
      for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
     }
     return result;
  
  }

  function Reports()
  {
    $('#ReportsAlert').html('');
    $('#ReportsModal').modal('show');

  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}