<div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Vista de Ticket</h4>
			</div>
			<form class="ViewInfo" id="ViewInfo">
				
				<div class="modal-body">
					<div class="widget-body">
						<ul id="myTab1" class="nav nav-tabs bordered">
							<li class="active"><a href="#s1" data-toggle="tab">Informaci&oacute;n</a></li>
							<li><a href="#s2" data-toggle="tab"> Notas</a></li>
						</ul>
						
						<div id="myTabContent1" class="tab-content padding-10">
							<form id="ViewFormsClients">
								<div class="tab-pane fade in active" id="s1">
									<div class="row">
										<div class="col-md-9">
											<div class="form-group">
												<label for="category"> T&iacute;tulo</label>
												<input type="text" id="view_nam_serv" name="view_nam_serv" class="form-control" placeholder="Nombre" readonly/>
												<input type="text" id="view_id_serv" name="view_id_serv" class="form-control hidden" readonly/>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label for="category"> Categor&iacute;a</label>
												<div id="ViewListCatClient"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="category"> Descripci&oacute;n</label>
												<textarea class="form-control" id="view_tex_serv" name="view_tex_serv" rows="10" readonly>
												</textarea>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<div class="col-md-8">
													<div class="form-group" style="text-align: center;">
														<label for="category"> <h5><strong>Informaci&oacute;n de Cliente</strong></h5></label>
														<ul class="list-unstyled text-left">
															<div id="ViewListInfoClient"></div>
														</ul>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group" style="text-align: center;">
														<label for="category"> <h5><strong>Adjuntos</strong></h5></label>
														<table class="table table-bordered">
															<thead>
																<tr>
																	<th style="width:100%; text-align: left;">Nombre</th>
																</tr>
															</thead>
															<tbody id="ViewTableServiceAdj" style="text-align: center;">
															</tbody>
														</table>
													</div>
												</div>
											</div>

											<div class="form-group">

											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label for="category"> Etiquetas</label>
												<div class="row">
													<div class="col-md-12">
														<ul class="list-unstyled">
															<div id="ViewLabelsInfoClient"></div>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
											</div>
										</div>
									</div>
								</div>
							</form>
							<div class="tab-pane fade" id="s2">
								<div class="widget-body">
									<div class="widget-body">
										<form enctype="multipart/form-data" id="ViewNoteForms" data-parsley-validate="">
											<div class="chat-footer">
												<div class="textarea-div">
													<div class="typearea" style="text-align: center;" id="alarmNoteISP"></div>
													<div class="typearea">
														<input type="text" id="view_note_serv" name="view_note_serv" class="form-control hidden" readonly/>
														<textarea placeholder="Notes" id="notes" name="notes" class="custom-scroll"></textarea>
													</div>
												</div>
												<span class="textarea-controls">
													<div class="row">
														<div class="col-lg-3">
															<input type="file" class="form-control" id="file" name="file" />
														</div>
														<div class="col-lg-9">
															<button class="btn btn-sm btn-primary pull-right" type="submit" >Enviar</button>
															<span class="pull-right smart-form" style="margin-top: 3px; margin-right: 10px;">
																<label class="checkbox pull-right"></label>
															</span>
														</div>
													</div>
												</span>
											</div>
										</form>
										<div id="chat-body_isp" class="chat-body custom-scroll" style="height: 350px;">
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="NewServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Nuevo Ticket ISP</h4>
			</div>
			<form class="NewService" method="post" id="NewService" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row">
						<div id="NewServiceAlert"></div>
					</div>
					<div class="row">
						<div class="col-md-9">
							<div class="form-group">
								<label for="category"> Dato para realizar busqueda</label>
								<input type="text" id="new_id" name="new_id" class="form-control" placeholder="Introduzca los datos a buscar" required />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="category"> Opciones</label>
								<select class="form-control" id="new_option" name="new_option" required>
									<option value="1"> ID </option>
									<option value="2"> C&eacute;dula </option>
									<option value="3"> Tel&eacute;fono </option>
									<option value="4"> Email </option>
									<option value="5"> Nombre </option>

								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="ListServices" hidden>
							<div class="col-md-12">
								<div class="table-responsive">
									<table id="tbl-client" class="table table-bordered "border="1" style="border-collapse: collapse; text-align: center;">
										<thead >
											<tr>
												<th style="text-align: center;"><strong>ID</strong></th>
												<th style="text-align: center;"><strong>Nombre</strong></th>
												<th style="text-align: center;"><strong>Acccion</strong></th>
											</tr>
										</thead>
										<tbody id="TableBodyListService" style="text-align: center;">
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Buscar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="ServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Ticket ISP</h4>
			</div>
		
				
				<div class="modal-body">
					<div class="col-ms-12" id="NewServAlert"></div>
					<form name= "NewTitleService" id="NewTitleService">
						<div class="row">
							<div class="col-md-9">
								<div class="form-group">
									<label for="category"> T&iacute;tulo</label>
									<input type="text" id="name_serv" name="name_serv" class="form-control" placeholder="Nombre" required />
									<input type="hidden" id="id_form" name="id_form" class="form-control" readonly required  />
									<input type="hidden" id="id_serv" name="id_serv" class="form-control" readonly required  />
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="category"> Categor&iacute;a</label>
									<select class="form-control" id="category_serv" name="category_serv" required>
			                        {% for cou in type %}
			                          {% if cou['status_id'] == "1" %}
			                            <option value="{{ cou['id'] }}"> {{ cou['name'] }}</option>
			                          {% endif %}
			                        {% endfor %}
			                        </select>
								</div>
							</div>
						</div>
					</form>

					<form name= "NewTextService" id="NewTextService">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="category"> Informaci&oacute;n del Servicio</label>
									<textarea class="form-control" id="text_serv" name="text_serv" rows="5" required></textarea>
								</div>
							</div>
						</div>
					</form>

					<form enctype="multipart/form-data" id="NewAdjService" data-parsley-validate="">
						<div class="row">
							<div class="col-ms-12" id="csvAlert"></div>
							<div class="col-md-9">
								<div class="form-group">
									<input accept="image/png, image/gif, image/jpeg" type="file" name="csv" id='csv' onchange="this.parentNode.nextSibling.value = this.value" class="form-control"/>
									<input type="hidden" id="id_forms" name="id_forms" class="form-control" readonly required  />
								</div>
							</div>
							<div class="col-md-3">
								<button type="submit" class="btn btn-default btn-sm btn-block btn-primary">Subir Archivo</button>
							</div>
						</div>
					</form>

					<div class="row">
						<div class="col-md-12">
							<div id="AlertAdjTmp"></div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-8">
									<div class="form-group">
										<label for="category"> <h5><strong>Informaci&oacute;n de Cliente</strong></h5></label>
										<ul class="list-unstyled text-left">
											<div id="ListInfoClient"></div>
										</ul>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="category"> <h5><strong>Adjuntos</strong></h5></label>
										<table class="table table-bordered">
											<thead>
												<tr>
													<th style="width:90%; text-align: left;">Nombre</th>
													<th style="width:10%; text-align: center;">Acci&oacute;n</th>
												</tr>
											</thead>
											<tbody id="TableServiceAdj" style="text-align: center;">
											</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="form-group">

							</div>
						</div>
					</div>

					<form name= "NewLabelService" id="NewLabelService">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="category"> Etiquetas</label>
									<select multiple class="form-control custom-scroll" name="labels_serv[]" title="Seleccione algunas cateogiras">
			                        {% for cou in label %}
			                          {% if cou['status_id'] == "1" %}
			                            <option value="{{ cou['id'] }}"> {{ cou['name'] }}</option>
			                          {% endif %}
			                        {% endfor %}
									</select>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" onclick="SendNewService();">Almacenar</button>
				</div>
		</div>
	</div>
</div>

<div class="modal fade" id="EditServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Ticket ISP</h4>
			</div>
				
			<div class="modal-body">
				<div class="row">
					<div id="EditAlert"></div>
				</div>
				<form name= "EditTitleService" id="EditTitleService">
					<div class="row">
						<div class="col-md-9">
							<div class="form-group">
								<label for="category"> T&iacute;tulo</label>
								<input type="text" id="Edit_nam_serv" 	name="Edit_nam_serv" class="form-control" placeholder="Nombre" />
								<input type="text" id="Edit_id_serv" 	name="Edit_id_serv" class="form-control hidden" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="category"> Categor&iacute;a</label>
								<div id="EditListCatClient"></div>
							</div>
						</div>
					</div>
				</form>
				
				<form name= "EditTextService" id="EditTextService">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="category"> Descripci&oacute;n</label>
								<textarea class="form-control" id="Edit_tex_serv" name="Edit_tex_serv" rows="10" >
								</textarea>
							</div>
						</div>
					</div>
				</form>

				<form enctype="multipart/form-data" id="EditAdjService" data-parsley-validate="">
					<div class="row">
						<div class="col-ms-12" id="csvAlert"></div>
						<div class="col-md-9">
							<div class="form-group">
								<input accept="image/png, image/gif, image/jpeg" type="file" name="csv" id='csv' onchange="this.parentNode.nextSibling.value = this.value" class="form-control"/>
								<input type="hidden" id="Edit_id_forms" name="Edit_id_forms" class="form-control" readonly required  />
							</div>
						</div>
						<div class="col-md-3">
							<button type="submit" class="btn btn-default btn-sm btn-block btn-primary">Almacenar</button>
						</div>
					</div>
				</form>

				<div class="row">
					<div class="col-md-12">
						<div id="EditFileAlert"></div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-8">
								<div class="form-group" style="text-align: center;">
									<label for="category"> <h5><strong>Informaci&oacute;n de Cliente</strong></h5></label>
									<ul class="list-unstyled text-left">
										<div id="EditListInfoClient"></div>
									</ul>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group" style="text-align: center;">
									<label for="category"> <h5><strong>Adjuntos</strong></h5></label>
									<table class="table table-bordered">
										<thead>
											<tr>
												<th style="width:90%; text-align: left;">Nombre</th>
												<th style="width:10%; text-align: left;">Acci&oacute;n</th>
											</tr>
										</thead>
										<tbody id="EditTableServiceAdj" style="text-align: center;">
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="form-group">

						</div>
					</div>
				</div>

				<form name= "EditLabelService" id="EditLabelService">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="category"> Etiquetas</label>
								<div class="row">
									<div class="col-md-12">
										<ul class="list-unstyled">
											<div id="EditLabelsInfoClient"></div>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<a class="btn btn-primary" onclick="UpdateService('afasdfasd');"> Nuevo Servicio</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ProcessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Ticket ISP</h4>
			</div>
			<form class="ProcessService" method="post" id="ProcessService" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row">
						<div class="col-ms-12" id="ProcessAlert"></div>
					</div>
					<div class="row" style="text-align: center;">
						<h5><strong>Desea confirmar el procesamiento de la Solicitud ?</strong></h5>
						<input type="hidden" id="pro_id" name="pro_id" class="form-control" readonly required  />
						<input type="hidden" id="type_id" name="type_id" value="2" class="form-control" readonly required  />

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="SuspendedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Ticket ISP</h4>
			</div>
			<form class="SuspendedServices" method="post" id="SuspendedServices" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row" style="text-align: center;">
						<h5><strong>Desea confirmar la suspenci&oacute;n de la Solicitud ?</strong></h5>
						<input type="hidden" id="sus_id" name="sus_id" class="form-control" readonly required  />
						<input type="hidden" id="type_id" name="type_id" value="3" class="form-control" readonly required  />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Ticket ISP</h4>
			</div>
			<form class="CancelService" method="post" id="CancelService" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row" style="text-align: center;">
						<h5><strong>Desea confirmar la cancelaci&oacute;n de la Solicitud ?</strong></h5>
						<input type="hidden" id="can_id" name="can_id" class="form-control" readonly required  />
						<input type="hidden" id="type_id" name="type_id" value="4" class="form-control" readonly required  />

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="OpenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Ticket ISP</h4>
			</div>
			<form class="OpenService" method="post" id="OpenService" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row">
						<div class="col-ms-12" id="ProcessAlert"></div>
					</div>
					<div class="row" style="text-align: center;">
						<h5><strong>Desea abrir nuevamente el Ticket?</strong></h5>
						<input type="hidden" id="open_id" name="open_id" class="form-control" readonly required  />
						<input type="hidden" id="type_id" name="type_id" value="1" class="form-control" readonly required  />

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="EmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Ticket ISP</h4>
			</div>
			<form class="EmailService" method="post" id="EmailService" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row">
						<div class="col-ms-12" id="EmailAlert"></div>
					</div>
					<div class="row" style="text-align: center;">
						<h5><strong>Desea confirmar envio de Email a cliente ?</strong></h5>
						<input type="hidden" id="email_id" name="email_id" class="form-control" readonly required  />
						<input type="hidden" id="email_type" name="email_type" class="form-control" readonly required  />

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary" id="btnSendEmail">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="ReportsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Ticket ISP</h4>
			</div>
			<form class="ReportService" method="post" id="ReportService" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row">
						<div class="col-ms-12" id="ReportsAlert"></div>
					</div>
					<div class="row" style="text-align: center;">
						<h5><strong>Desea confirmar la realizaci&oacute;n del reporte ?</strong></h5>
						<input type="hidden" id="email_id" name="email_id" class="form-control" readonly required  />
						<input type="hidden" id="email_type" name="email_type" class="form-control" readonly required  />

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary" id="btnSendEmail">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="NewCategoriesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Categor&iacute;a ISP</h4>
			</div>
			<form class="FormsCategories" method="post" id="FormsCategories" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row">
						<div class="col-ms-12" id="CategoriesAlert"></div>
					</div>
					<div class="row" style="text-align: center;">
						<div class="col-md-8">
							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="cat_name" name="cat_name" class="form-control" placeholder="Nombre de la Categoria" required />
							</div>
						</div>
						<div class="col-md-4">
							<label for="category"> Status</label>
							<select class="form-control" id="cat_status" name="cat_status" required>
								{% for sta in status %}
									<option value="{{ sta['id'] }}"> {{ sta['name'] }}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary" id="btnSendEmail">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="NewLablesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Etiquetas ISP</h4>
			</div>
			<form class="FormsLables" method="post" id="FormsLables" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row">
						<div class="col-ms-12" id="LablesAlert"></div>
					</div>
					<div class="row" style="text-align: center;">
						<div class="col-md-8">
							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="lab_name" name="lab_name" class="form-control" placeholder="Nombre de la Etiqueta" required />
							</div>
						</div>
						<div class="col-md-4">
							<label for="category"> Status</label>
							<select class="form-control" id="lab_status" name="lab_status" required>
								{% for sta in status %}
									<option value="{{ sta['id'] }}"> {{ sta['name'] }}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary" id="btnSendEmail">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="NewEmailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Emails ISP</h4>
			</div>
			<form class="FormsEmails" method="post" id="FormsEmails" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row">
						<div class="col-ms-12" id="EmailsAlert"></div>
					</div>
					<div class="row" style="text-align: center;">
						<div class="col-md-8">
							<div class="form-group">
								<label for="category"> Email</label>
								<input type="email" id="email_name" name="email_name" class="form-control" placeholder="Emails" required />
							</div>
						</div>
						<div class="col-md-4">
							<label for="category"> Status</label>
							<select class="form-control" id="email_status" name="email_status" required>
								{% for sta in status %}
									<option value="{{ sta['id'] }}"> {{ sta['name'] }}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary" id="btnSendEmail">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="EditCategoriesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Categor&iacute;a ISP</h4>
			</div>
			<form class="FormsEditCategories" method="post" id="FormsEditCategories" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row">
						<div class="col-ms-12" id="CategoriesEditAlert"></div>
					</div>
					<div class="row" style="text-align: center;">
						<div class="col-md-8">
							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="cat_e_name" name="cat_e_name" class="form-control" placeholder="Nombre de la Categoria" required />
								<input type="text" id="cat_e_id" name="cat_e_id" class="form-control hidden" required />
							</div>
						</div>
						<div class="col-md-4">
							<label for="category"> Status</label>
							<select class="form-control" id="cat_e_status" name="cat_e_status" required>
								{% for sta in status %}
									<option value="{{ sta['id'] }}"> {{ sta['name'] }}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary" id="btnSendEmail">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="EditLablesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Etiquetas ISP</h4>
			</div>
			<form class="FormsEditLables" method="post" id="FormsEditLables" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row">
						<div class="col-ms-12" id="LablesEditAlert"></div>
					</div>
					<div class="row" style="text-align: center;">
						<div class="col-md-8">
							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="lab_e_name" name="lab_e_name" class="form-control" placeholder="Nombre de la Etiqueta" required />
								<input type="text" id="lab_e_id" name="lab_e_id" class="form-control hidden" required />
							</div>
						</div>
						<div class="col-md-4">
							<label for="category"> Status</label>
							<select class="form-control" id="lab_e_status" name="lab_e_status" required>
								{% for sta in status %}
									<option value="{{ sta['id'] }}"> {{ sta['name'] }}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary" id="btnSendEmail">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="EditEmailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Emails ISP</h4>
			</div>
			<form class="FormsEditEmails" method="post" id="FormsEditEmails" data-parsley-validate="">
				
				<div class="modal-body">
					<div class="row">
						<div class="col-ms-12" id="EmailsEditAlert"></div>
					</div>
					<div class="row" style="text-align: center;">
						<div class="col-md-8">
							<div class="form-group">
								<label for="category"> Email</label>
								<input type="email" id="email_e_name" name="email_e_name" class="form-control" placeholder="Emails" required />
								<input type="text"  id="email_e_id" name="email_e_id" class="form-control hidden" required />
							</div>
						</div>
						<div class="col-md-4">
							<label for="category"> Status</label>
							<select class="form-control" id="email_e_status" name="email_e_status" required>
								{% for sta in status %}
									<option value="{{ sta['id'] }}"> {{ sta['name'] }}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary" id="btnSendEmail">Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>