<div class="row">
  <div class="col-sm-12" style="text-align: center;">
    <label>Seleccione Rango de Busqueda:</label>
  </div>
  <form id="rangeDate">
    <div class="col-sm-6">
      
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="to" name="dateIni" type="text" placeholder="Fecha Inicial">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="from" name="dateEnd" type="text" placeholder="Fecha Final">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <input class="form-control hidden" id="dateStreet" name="dateStreet" type="text" hidden readonly>
        <a class="btn btn-primary btn-xs" onclick="Reports();"><i class="fa fa-download"></i> Reporte</a>
        <a class="btn btn-primary btn-xs" onclick="NewService();"><i class="fa fa-edit"></i> Nuevo Ticket</a>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
          <header>
            <h2>Clientes ISP - Venezuela </h2>
            <ul class="nav nav-tabs pull-right in" id="myTab">
              <li class="active"><a data-toggle="tab" href="#pr1"><i class="fa fa-lg fa-folder-open"></i> <span class="hidden-mobile hidden-tablet"> Activos </span></a></li>
              <li><a data-toggle="tab" href="#pr2"><i class="fa fa-lg fa-check-square"></i> <span class="hidden-mobile hidden-tablet"> Solucionados </span></a></li>
              <li><a data-toggle="tab" href="#pr3"><i class="fa fa-lg fa-warning"></i> <span class="hidden-mobile hidden-tablet"> Inactividad</span></a></li>
              <li><a data-toggle="tab" href="#pr4"><i class="fa fa-lg fa-times"></i> <span class="hidden-mobile hidden-tablet"> Cancelados</span></a></li>
            </ul>
          </header>
          <div class="no-padding">
            <div class="widget-body">
              <div class="tab-content ">
                
                <div class="tab-pane active" id="pr1">
                  <!-- <div class="table-responsive"> -->
                    <div id="tblActive" style="font-size: 12px; text-align: center;">
                      <table id="tbl-Active" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>                     
                          <tr>
                            <th style="text-align: center;" data-class="expand" width="5%">Mikrowisp</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Ticket</th>
                            <th style="text-align: center;" data-class="expand" width="35%">Titulo</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Tipo</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Estado</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Operador</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Fecha</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Accion</th>
                          </tr>
                        </thead>
                        <tbody id="TableActive">
                        </tbody>
                      </table>
                    </div>
                  <!-- </div> -->
                </div>
                
                <div class="tab-pane" id="pr2">
                  <!-- <div class="table-responsive"> -->
                    <div id="tblProcess" style="font-size: 12px; text-align: center;">
                      <table id="tbl-Process" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>                     
                          <tr>
                            <th style="text-align: center;" data-class="expand" width="5%">Mikrowisp</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Ticket</th>
                            <th style="text-align: center;" data-class="expand" width="35%">Titulo</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Tipo</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Operador</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Creaci&oacute;n</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Finalizaci&oacute;n</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Accion</th>
                          </tr>
                        </thead>
                        <tbody id="TableProcess">
                        </tbody>
                      </table>
                    </div>
                  <!-- </div> -->
                </div>
                
                <div class="tab-pane" id="pr3">
                  <!-- <div class="table-responsive"> -->
                    <div id="tblSuspended" style="font-size: 12px; text-align: center;">
                      <table id="tbl-Suspended" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>                     
                          <tr>
                            <th style="text-align: center;" data-class="expand" width="5%">Mikrowisp</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Ticket</th>
                            <th style="text-align: center;" data-class="expand" width="35%">Titulo</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Tipo</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Operador</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Creaci&oacute;n</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Finalizaci&oacute;n</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Accion</th>
                          </tr>
                        </thead>
                        <tbody id="TableSuspended">
                        </tbody>
                      </table>
                    </div>
                  <!-- </div> -->
                </div>
                <div class="tab-pane" id="pr4">
                  <!-- <div class="table-responsive"> -->
                    <div id="tblCancel" style="font-size: 12px; text-align: center;">
                      <table id="tbl-Cancel" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>                     
                          <tr>
                            <th style="text-align: center;" data-class="expand" width="5%">Mikrowisp</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Ticket</th>
                            <th style="text-align: center;" data-class="expand" width="35%">Titulo</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Tipo</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Operador</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Creaci&oacute;n</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Finalizaci&oacute;n</th>
                            <th style="text-align: center;" data-class="expand" width="10%">Accion</th>
                          </tr>
                        </thead>
                        <tbody id="TableCancel">
                        </tbody>
                      </table>
                    </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>