{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    

    {% if app.session.get('role') == "1" %}
  
      {% include('internet/internet.html.twig') %}

      {% include('internet/phone.html.twig') %}

    {% endif %}

    {% if app.session.get('role') == "1" %}
    <div class="row">

      {% include('internet/type.html.twig') %}

      {% include('internet/provider.html.twig') %}
      
    </div>
    {% endif %}

    </div>
  </div>

{% include('internet/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

////////////////////////////// Data Internet //////////////////////////////

    $('#dt_internet').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_internet'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#forminternet').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#forminternet").serialize();
          $.ajax({ type: "POST", url:  "{{ url('InternetForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertInternet").html('');
                  $('#NewInternetModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertInternet").html('');
                    $("#alertInternet").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// Data Phone //////////////////////////////

    $('#dt_phone').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_phone'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formphone').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formphone").serialize();
          $.ajax({ type: "POST", url:  "{{ url('PhoneForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertPhone").html('');
                  $('#NewPhoneModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertPhone").html('');
                    $("#alertPhone").html(datos.html);
                }
            }
          });
        return false;
    });
 
 ////////////////////////////// Data Type //////////////////////////////

    $('#dt_interenettype').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_interenettype'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#forminternettype').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#forminternettype").serialize();
          $.ajax({ type: "POST", url:  "{{ url('InternetTypeForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertInternetType").html('');
                  $('#NewInternetTypeModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertInternetType").html('');
                    $("#alertInternetType").html(datos.html);
                }
            }
          });
        return false;
    });

 ////////////////////////////// Data Provider //////////////////////////////

    $('#dt_provider').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_provider'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formprovider').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formprovider").serialize();
          $.ajax({ type: "POST", url:  "{{ url('/Phone/Provider') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertProvider").html('');
                  $('#NewProviderModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertProvider").html('');
                    $("#alertProvider").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// End Jquery //////////////////////////////

});

////////////////////////// Function Internet //////////////////////////////

  function InternetEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('InternetEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_int").val('');
            $("#type_int").val('edit');
            $("#id_int").val(datos.internet.id);
            $("#name_int").val(datos.internet.name);
            $("select[name=status_id_int]").val(datos.internet.status);
            $("select[name=country_id_int]").val(datos.internet.country);
            $('#NewInternetModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function Phone //////////////////////////////

  function PhoneEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('PhoneEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_pho").val('');
            $("#type_pho").val('edit');
            $("#id_pho").val(datos.phone.id);
            $("#name_pho").val(datos.phone.name);
            $("select[name=status_id_pho]").val(datos.phone.status);
            $("select[name=country_id_pho]").val(datos.phone.country);
            $('#NewPhoneModal').modal('show');
        }else{
            $("#alertPhone").html('');
        }
      }
   });
  }

////////////////////////// Function Type //////////////////////////////

  function InternetTypeEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('InternetTypeEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_int_t").val('');
            $("#type_int_t").val('edit');
            $("#id_int_t").val(datos.internettype.id);
            $("#name_int_t").val(datos.internettype.name);
            $("select[name=status_id_int_t]").val(datos.internettype.status);
            $("select[name=country_id_int_t]").val(datos.internettype.country);
            $('#NewInternetTypeModal').modal('show');
        }else{
            $("#alertPhone").html('');
        }
      }
   });
  }

////////////////////////// Function Type //////////////////////////////

  function ProviderEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('/Phone/EditProvider') }}", data: {id: id},
      success: function(datos)
      {
        console.log(datos.provider);
        if(datos.status == true){
            $("#type_prov_t").val('');
            $("#type_prov_t").val('edit');
            $("#id_prov_t").val(datos.provider.id);
            $("#name_prov_t").val(datos.provider.name);
            $("select[name=status_id_prov_t]").val(datos.provider.status_id);
            $("select[name=country_id_prov_t]").val(datos.provider.country_id);
            $('#NewProviderModal').modal('show');
        }else{
            $("#alertPhone").html('');
        }
      }
   });
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}