<!----------------------------- Internet Modal ---------------------------->

<div class="modal fade" id="NewInternetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Internet</h4>
			</div>
			<form class="forminternet" method="post" id="forminternet" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertInternet"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_int" name="id_int" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_int" name="type_int" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_int" name="name_int" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Tipo</label>
								<select class="form-control" id="type_id_int" name="type_id_int" required>
									{% for typ in inttypes %}
										{% if typ['status_id'] == "1" %}
											<option value="{{ typ['id'] }}"> {{ typ['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_int" name="country_id_int" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_int" name="status_id_int" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Phone Modal ---------------------------->

<div class="modal fade" id="NewPhoneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-phone" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Telefonia</h4>
			</div>
			<form class="forminternet" method="post" id="formphone" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertPhone"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_pho" name="id_pho" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_pho" name="type_pho" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_pho" name="name_pho" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Tipo</label>
								<select class="form-control" id="type_id_pho" name="type_id_pho" required>
									{% for typ in inttypes %}
										{% if typ['status_id'] == "1" %}
											<option value="{{ typ['id'] }}"> {{ typ['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_pho" name="country_id_pho" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>

							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_pho" name="status_id_pho" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Type Modal ---------------------------->

<div class="modal fade" id="NewInternetTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Tipo de Internet</h4>
			</div>
			<form class="forminternettype" method="post" id="forminternettype" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertInternetType"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_int_t" name="id_int_t" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_int_t" name="type_int_t" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-4">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_int_t" name="name_int_t" class="form-control" placeholder="Nombre" required />
							</div>
						</div>

						<div class="col-md-4">

							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_int_t" name="country_id_int_t" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>							
							
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_int_t" name="status_id_int_t" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						
						</div>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Provider Modal ---------------------------->

<div class="modal fade" id="NewProviderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-phone" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Proveedor de Telefonia</h4>
			</div>
			<form class="formprovider" method="post" id="formprovider" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertProvider"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_prov_t" name="id_prov_t" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_prov_t" name="type_prov_t" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-4">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_prov_t" name="name_prov_t" class="form-control" placeholder="Nombre" required />
							</div>
						</div>

						<div class="col-md-4">

							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_prov_t" name="country_id_prov_t" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>							
							
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_prov_t" name="status_id_prov_t" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						
						</div>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>