{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    
  
    {% include('marketing/medium.html.twig') %}

    {% include('marketing/objetive.html.twig') %}
    
    <div class="row">

      {% include('marketing/post.html.twig') %}
      
      {% include('marketing/service.html.twig') %}

    </div>
    
    <div class="row">

      {% include('marketing/origen.html.twig') %}
      {% include('marketing/forms.html.twig') %}
      
    </div>
  </div>

{% include('marketing/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

////////////////////////////// Data Medium //////////////////////////////

    $('#dt_medium').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_medium'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formmedium').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formmedium").serialize();
          $.ajax({ type: "POST", url:  "{{ url('MediumForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertMedium").html('');
                  $('#NewMediumModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertMedium").html('');
                    $("#alertMedium").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// Data Objetive //////////////////////////////

    $('#dt_objetive').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_objetive'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formobjetive').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formobjetive").serialize();
          $.ajax({ type: "POST", url:  "{{ url('ObjetiveForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertObjetive").html('');
                  $('#NewObjetiveModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertObjetive").html('');
                    $("#alertObjetive").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// Data Post //////////////////////////////

    $('#dt_post').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_post'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formpost').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formpost").serialize();
          $.ajax({ type: "POST", url:  "{{ url('PostForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertPost").html('');
                  $('#NewPostModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertPost").html('');
                    $("#alertPost").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// Data ServiceM //////////////////////////////

    $('#dt_serviceM').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_serviceM'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formserviceM').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formserviceM").serialize();
          $.ajax({ type: "POST", url:  "{{ url('ServiceMForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertServiceM").html('');
                  $('#NewServiceModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertServiceM").html('');
                    $("#alertServiceM").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// Data Origen //////////////////////////////

    $('#dt_origen').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_origen'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formorigen').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formorigen").serialize();
          $.ajax({ type: "POST", url:  "{{ url('OrigenForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertOrigen").html('');
                  $('#NewOrigenModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertOrigen").html('');
                    $("#alertOrigen").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// Data Origen //////////////////////////////

    $('#dt_forms').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_forms'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formforms').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formforms").serialize();
          $.ajax({ type: "POST", url:  "{{ url('FormsForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertForms").html('');
                  $('#NewFormsModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertForms").html('');
                    $("#alertForms").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// End Jquery //////////////////////////////

});

////////////////////////// Function Medium //////////////////////////////

  function MediumEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('MediumEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_me").val('');
            $("#type_me").val('edit');
            $("#id_me").val(datos.medium.id);
            $("#name_me").val(datos.medium.name);
            $("select[name=service_id_me]").val(datos.medium.service);
            $("select[name=status_id_me]").val(datos.medium.status);
            $("select[name=country_id_me]").val(datos.medium.country);
            $('#NewMediumModal').modal('show');
        }else{
            $("#alertMedium").html('');
        }
      }
   });
  }

////////////////////////// Function Objetive //////////////////////////////

  function ObjetiveEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('ObjetiveEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_ob").val('');
            $("#type_ob").val('edit');
            $("#id_ob").val(datos.objetive.id);
            $("#name_ob").val(datos.objetive.name);
            $("select[name=service_id_ob]").val(datos.objetive.service);
            $("select[name=status_id_ob]").val(datos.objetive.status);
            $("select[name=country_id_ob]").val(datos.objetive.country);
            $('#NewObjetiveModal').modal('show');
        }else{
            $("#alertObjetive").html('');
        }
      }
   });
  }

////////////////////////// Function origen //////////////////////////////

  function OrigenEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('OrigenEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_org").val('');
            $("#type_org").val('edit');
            $("#id_org").val(datos.origen.id);
            $("#name_org").val(datos.origen.name);
            $("select[name=service_id_org]").val(datos.origen.service);
            $("select[name=status_id_org]").val(datos.origen.status);
            $("select[name=country_id_org]").val(datos.origen.country);
            $('#NewOrigenModal').modal('show');
        }else{
            $("#alertOrigen").html('');
        }
      }
   });
  }

////////////////////////// Function Forms //////////////////////////////
  
  function FormsEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('FormsEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_forms").val('');
            $("#type_forms").val('edit');
            $("#id_forms").val(datos.formss.id);
            $("#name_forms").val(datos.formss.name);
            $("select[name=service_id_forms]").val(datos.formss.service);
            $("select[name=status_id_forms]").val(datos.formss.status);
            $("select[name=country_id_forms]").val(datos.formss.country);
            $('#NewFormsModal').modal('show');
        }else{
            $("#alertForms").html('');
        }
      }
   });
  }

////////////////////////// Function Post //////////////////////////////

  function PostEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('PostEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_po").val('');
            $("#type_po").val('edit');
            $("#id_po").val(datos.post.id);
            $("#name_po").val(datos.post.name);
            $("select[name=service_id_po]").val(datos.post.service);
            $("select[name=status_id_po]").val(datos.post.status);
            $("select[name=country_id_po]").val(datos.post.country);
            $('#NewPostModal').modal('show');
        }else{
            $("#alertPost").html('');
        }
      }
   });
  }

////////////////////////// Function Service //////////////////////////////

  function ServiceEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('ServiceMEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_se").val('');
            $("#type_se").val('edit');
            $("#id_se").val(datos.service.id);
            $("#name_se").val(datos.service.name);
            $("select[name=service_id_se]").val(datos.service.service);
            $("select[name=status_id_se]").val(datos.service.status);
            $("select[name=country_id_se]").val(datos.service.country);
            $('#NewServiceMModal').modal('show');
        }else{
            $("#alertServiceM").html('');
        }
      }
   });
  }
////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}