{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Marketing</li>
    </ol>
  </div>
  <div id="content">    

      {% include('marketing/leads.html.twig') %}

    </div>
  </div>

{% include('marketing/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{

$('#TestModal').modal('show');

////////////////////////////// Load Info ///////////////////////////////

  Load();

////////////////////////////// Date Search //////////////////////////////

  $("#from").datepicker({
      dateFormat : 'mm-dd-yy',
      changeMonth: true,
      numberOfMonths: 1,
      prevText: '<i class="fa fa-chevron-left"></i>',
      nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/Marketing/SearchDate') }}", data: {str:str},

        success: function(datos)
        {
          $("#t_ope_asig").html('');
          $("#t_ope_asig").html(datos.html);
        }
        });
      }
  });

  $("#to").datepicker({
      dateFormat : 'mm-dd-yy',
      changeMonth: true,
      numberOfMonths: 1,
      prevText: '<i class="fa fa-chevron-left"></i>',
      nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });
    
////////////////////////////// SubmitForm //////////////////////////////
  
  $('#LeadsNewFormMKT').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var type  = $('#LeadType').val();
        var url   = "";
        var str   = $("#LeadsNewFormMKT").serialize();

        if(type == "phone")   { url = "{{ url('/Marketing/SearchMKT') }}"}
        if(type == "new")     { url = "{{ url('/Marketing/NewMKT') }}"}
        if(type == "update")  { url = "{{ url('/Marketing/UpdateMKT') }}"}

        $.ajax({ type: "POST", url: url, data: {str: str},
        beforeSend: function(request){
          $('#AlertMKTLeads').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i><strong> Sistema </strong> Procesando Informacion, Por favor espere.</div>');
        },
        success: function(datos)
        {
          $("#bodyNewLeads").html('');
          $("#bodyNewLeads").html(datos.html);
          $('#campaign_id').change(function()
          {

            $.ajax({ type: "POST", url:  "{{ url('Leads/LoadImg') }}", data: {id: $("#campaign_id").val() },
            success: function(datos)
            {
              $('#AlertMKTLeads').html('');
              $.unblockUI();
              $("#imgMKT").html('<img src="../../'+datos.campaign.imgC+'" alt="SmartAdmin" style="width: 265px;"></td>');
            }
            });
          });

          if(datos.status == 'process')
          {
            $('#AlertMKTLeads').html('');
            $('#NewLeadsMKT').modal('hide');
            Notified(datos);
          }
          $('#AlertMKTLeads').html('');
          $.unblockUI();
        }
    });
      return false;
  
  });

///////////////////////////// Load Info ////////////////////////////////

setInterval(function()
{ 
  var dateFrom  = $('#from').val();
  var dateTo    = $('#to').val();
  if((dateFrom == "") && (dateTo == ""))
  {
    $.ajax({ type: "POST", url:  "{{ url('/Marketing/Load') }}",

    success: function(datos)
    {
      $("#t_ope_asig").html(datos.html);
      $("#t_ope_sts").html(datos.sts);
    }
    });
  }

 }, 60000);

////////////////////////////// End Jquery //////////////////////////////

});


//////////////////////////// Load Function ////////////////////////////

function Load()
{
  $.ajax({ type: "POST", url: "{{ url('/Marketing/Load') }}",
  success: function(datos)
    {
      $("#t_ope_asig").html('');
      $("#t_ope_asig").html(datos.html);
    }
  });

}

////////////////////////// Load Basic Html ///////////////////////////

function NewLeads()
{
  $.ajax({ type: "POST", url: "{{ url('/Marketing/BasicMKT') }}",
  success: function(datos)
  {
    $("#bodyNewLeads").html(datos.html);
    $('#NewLeadsMKT').modal('show');
  }
  });

}

//////////////////////// Function Select /////////////////////////////

function SelectLead(id)
{
  $.ajax({ type: "POST", url: "{{ url('/Marketing/ViewClient') }}", data: {id: id},
  success: function(datos)
  {
    $("#bodyNewLeads").html(datos.html);
    $('#NewLeadsMKT').modal('show');
      
    $('#campaign_id').change(function()
    {

      $.ajax({ type: "POST", url:  "{{ url('Leads/LoadImg') }}", data: {id: $("#campaign_id").val() },
      success: function(datos)
      {

        $("#imgMKT").html('<img src="data:img/jpeg ;base64,  '+datos.campaign.imgC+'" alt="text" width="265px;">');
      }
      });
    });
  }
  });

}

////////////////////// Function Notified /////////////////////////////

function Notified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : $info.color,
    iconSmall : "fa fa-notified shake animated",
    timeout : 4000
  });
}

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });
}

function blockUI()
{
    $.blockUI({ css: {
     border: 'none',
     padding: '15px',
     backgroundColor: '#000',
       '-webkit-border-radius': '10px',
       '-moz-border-radius': '10px',
     opacity: .5,
     color: '#fff'
  }});
}

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}