<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 sortable-grid ui-sortable">
  <div class="col-sm-12" style="text-align: center;">
    <label>Seleccione Rango de Busqueda:</label>
  </div>

  <form id="rangeDate">
    <div class="col-sm-6">
    
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="to" name="dateIni" type="text" placeholder="Fecha Inicial">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="from" name="dateEnd" type="text" placeholder="Fecha Final">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>      
    </div>
  </form>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
  <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false" role="widget">
    <header role="heading"><div class="jarviswidget-ctrls" role="menu">   </div>
    <span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
    <h2> Leads Asignados </h2>
    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
    <div role="content">
      <div class="widget-body widget-hide-overflow no-padding">
        <div>
          <div class="alert alert-info no-margin fade in" style="text-align: right;">
            <a onclick="NewLeads();" class="btn btn-danger">Crear leads <i class="fa fa-check"></i></a>
          </div>
            <div id="t_ope_asig"></div>

        </div>
      </div>
    </div>
  </div>
</div>