<!----------------------------- Medium Modal ---------------------------->

<div class="modal fade" id="NewMediumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Medios</h4>
			</div>
			<form class="formmedium" method="post" id="formmedium" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertMedium"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_me" name="id_me" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_me" name="type_me" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_me" name="name_me" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Servicios</label>
								<select class="form-control" id="service_id_me" name="service_id_me" required>
									{% for ser in services %}
										{% if ser['status_id'] == "1" or ser['status_id'] == "3" %}
											<option value="{{ ser['id'] }}"> {{ ser['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_me" name="country_id_me" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_me" name="status_id_me" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Objetive Modal ---------------------------->

<div class="modal fade" id="NewObjetiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Objetivos</h4>
			</div>
			<form class="formobjetive" method="post" id="formobjetive" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertObjetive"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_ob" name="id_ob" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_ob" name="type_ob" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_ob" name="name_ob" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Servicios</label>
								<select class="form-control" id="service_id_ob" name="service_id_ob" required>
									{% for ser in services %}
										{% if ser['status_id'] == "1" or ser['status_id'] == "3" %}
											<option value="{{ ser['id'] }}"> {{ ser['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_ob" name="country_id_ob" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_ob" name="status_id_ob" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Origen Modal ---------------------------->

<div class="modal fade" id="NewOrigenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Origen</h4>
			</div>
			<form class="formorigen" method="post" id="formorigen" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertOrigen"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_org" name="id_org" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_org" name="type_org" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_org" name="name_org" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Servicios</label>
								<select class="form-control" id="service_id_org" name="service_id_org" required>
									{% for ser in services %}
										{% if ser['status_id'] == "1" or ser['status_id'] == "3" %}
											<option value="{{ ser['id'] }}"> {{ ser['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_org" name="country_id_org" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_org" name="status_id_org" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Origen Forms ---------------------------->

<div class="modal fade" id="NewFormsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Forms</h4>
			</div>
			<form class="formforms" method="post" id="formforms" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertForms"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_forms" name="id_forms" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_forms" name="type_forms" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_forms" name="name_forms" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Servicios</label>
								<select class="form-control" id="service_id_forms" name="service_id_forms" required>
									{% for ser in services %}
										{% if ser['status_id'] == "1" or ser['status_id'] == "3" %}
											<option value="{{ ser['id'] }}"> {{ ser['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_forms" name="country_id_forms" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_forms" name="status_id_forms" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Post Modal ---------------------------->

<div class="modal fade" id="NewPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Post</h4>
			</div>
			<form class="formpost" method="post" id="formpost" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertPost"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_po" name="id_po" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_po" name="type_po" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_po" name="name_po" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Servicios</label>
								<select class="form-control" id="service_id_po" name="service_id_po" required>
									{% for ser in services %}
										{% if ser['status_id'] == "1" or ser['status_id'] == "3" %}
											<option value="{{ ser['id'] }}"> {{ ser['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_po" name="country_id_po" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_po" name="status_id_po" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- ServiceM Modal ---------------------------->

<div class="modal fade" id="NewServiceMModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Servicios</h4>
			</div>
			<form class="formserviceM" method="post" id="formserviceM" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertServiceM"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_se" name="id_se" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_se" name="type_se" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_se" name="name_se" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Servicios</label>
								<select class="form-control" id="service_id_se" name="service_id_se" required>
									{% for ser in services %}
										{% if ser['status_id'] == "1" or ser['status_id'] == "3" %}
											<option value="{{ ser['id'] }}"> {{ ser['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_se" name="country_id_se" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_se" name="status_id_se" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Camapign Modal ---------------------------->

<div class="modal fade" id="NewCampaignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">CAMPA&Ntilde;A</h4>
			</div>
			<form class="formcampaign" method="post" id="formcampaign" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertCampaign"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_camp" name="id_camp" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_camp" name="type_camp" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_camp" name="name_camp" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Servicios</label>
								<select class="form-control" id="service_id_camp" name="service_id_camp" required>
									{% for ser in services %}
										{% if ser['status_id'] == "1" or ser['status_id'] == "3" %}
											<option value="{{ ser['id'] }}"> {{ ser['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Imagen</label>
								<select class="form-control"  id="img_id_camp" name="img_id_camp" required>
									{% for cre in creatives %}
										{% if cre['status_id'] == "1" %}
											<option value="{{ cre['id'] }}"> {{ cre['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_camp" name="country_id_camp" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Objectivos</label>
								<select class="form-control" id="objectivos_id_camp" name="objectivos_id_camp" required>
									{% for obj in objetives %}
										{% if obj['status_id'] == "1" %}
											<option value="{{ obj['id'] }}"> {{ obj['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_camp" name="status_id_camp" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group" style="text-align: center;">
								<div id="campImg">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Create Leads Modal ---------------------------->

<div class="modal fade" id="NewLeadsMKT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-users" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Leads</h4>
			</div>
			<form class="LeadsNewFormMKT" method="post" id="LeadsNewFormMKT" data-parsley-validate="">
				<div id="AlertMKTLeads"></div>
				<div id="bodyNewLeads">
				</div>
			</form>
		</div>
	</div>
</div>