{% extends 'layouts/leads/index.html.twig' %}

{% block content %}
  <div id="main" role="main">
    <div id="ribbon">
      <ol class="breadcrumb">
        <li><a href="#">Dashboard</a></li><li>Tickets</li><li>Dashboard</li>
      </ol>
    </div>
    <div id="content">

      {% include('ticket/dashboard/img.html.twig') %}

      <div class="row">
        <div class="col-sm-12" style="text-align: center;">
          <label>Seleccione Rango de Busqueda:</label>
        </div>

        <form id="rangeDate">
          <div class="col-sm-6">
          
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="to" name="dateIni" type="text" placeholder="Fecha Inicial">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="from" name="dateEnd" type="text" placeholder="Fecha Final">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>      
          </div>
        </form>

      </div>

      <section id="widget-grid" class="">
        <div class="row">
          <article class="col-sm-12">
            {% include('ticket/dashboard/db.html.twig') %}
          </article>
        </div>
      </section>
    </div>
  </div>

  {% include('ticket/dashboard/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">
////////////////////////////// Functions Others //////////////////////////////

$(function() 
{
  Load();
});

$("#aaRef").click(function()
{
  Load();

});

function Load()
{
  $.ajax({ type: "POST", url:  "{{ url('/tickets/dashboard/load') }}",
  success: function(data)
  {
    $("#TicketPending").html(data.pending);
    $('#TablePending').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    }); 
    $("#TicketProcess").html(data.process);
    $('#TableProcess').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    }); 
    $("#TicketCancel").html(data.cancel);
    $('#TableCancel').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    }); 
  }
  });
}

function InfoFunctions(id)
{

  $.ajax({ type: "POST", url:  "{{ url('/tickets/admins/info') }}", data: {id:id},
  success: function(data)
  {
    $("#ContentClient").html(data.info);
    $("#ContentReferred").html(data.resp);
    $("#chat-body2").html(data.notes);
    $("#ContentPackage").html(data.log);
    $('#TicketLog').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    }); 
  }
  });

  $('#ti_ticket').val(id);
  $('#ti_no_id').val(id);

  $('#InfoTicket').modal('show');

}


function ProcessFunctions(id)
{
  
  $('#ti_dead').datetimepicker({
    dateFormat : 'yy-mm-dd',
    prevText : '<i class="fa fa-chevron-left"></i>',
    nextText : '<i class="fa fa-chevron-right"></i>',
  });

  $('#ti_cmd_id').val(id);

  $('#ProcessTicket').modal('show');

}

function SaveNote()
{
  var str = $("#InfoViewBody").serialize();
  $.ajax({ type: "POST", url:  "{{ url('/tickets/admins/savenotes') }}", data: {str:str},
  success: function(data)
  {
    if(data.status == true)
    {
      $("#chat-body2").html(data.notes);
      $("#ContentPackage").html(data.log);
      $('#notes2').val('');
    }else{
      $('#alarmNote2').html(data.content);
    }
  }
  });

}

$("#ti_sta").change(function()
{
  var str   =   $('#FormCommand').serialize();

  $.ajax({ type: "POST", url:  "{{ url('/tickets/dashboard/commands') }}", data: {str:str},
  success: function(data)
  {
    if(data.status == true)
    {
      $('#FormCommand')[0].reset();
      $('#CommandsAlert').html('');
      $('#ProcessTicket').modal('hide');
      Load();
    }else{
      $('#CommandsAlert').html(data.content);
    }
  }
  });

});

function blockUI()
{
  $.blockUI({ css: {
     border: 'none',
     padding: '15px',
     backgroundColor: '#000',
       '-webkit-border-radius': '10px',
       '-moz-border-radius': '10px',
     opacity: .5,
     color: '#fff'
  }});

}

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });

}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });

}

</script>
{% endblock %}