<div class="modal fade" id="ProcessTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-spinner" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<form class="smart-form" id="FormCommand" data-parsley-validate="">
					<input type="text" class="form-control hidden" id="ti_cmd_id" name="ti_cmd_id" readonly />
					<div class="row">
						<div id="CommandsAlert">
						</div>

						<div class="form-group">
							<div class="textarea-div">
								<div class="typearea">
									<textarea placeholder="Notes" rows="6" id="ti_cmd_text" name="ti_cmd_text" class="custom-scroll"></textarea>
								</div>
							</div>
						</div>

						<br>

						<div class="form-group">
							<select class="form-control" id="ti_sta" name="ti_sta" required>
								<option value="">SELECCI&Oacute;N</option>
								<option value="1"> NO PROCEDE </option>
								<option value="2"> PROCESADO </option>
								<option value="5"> CANCELAR </option>
							</select>
						</div>

					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="InfoTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">INFORMACI&Oacute;N DE TICKET</h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
					<div class="row">
				
						<!-- NEW COL START -->
						<article class="col-sm-12 col-md-12 col-lg-12">
				
							<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

								<header>
									<ul class="nav nav-tabs pull-right in">	
										<li class="active"><a data-toggle="tab" href="#hb1"> <i class="fa fa-info"></i> <span class="hidden-mobile hidden-tablet"> Informaci&oacute;n </span> </a></li>
										<li><a data-toggle="tab" href="#hb2"> <i class="fa fa-info"></i> <span class="hidden-mobile hidden-tablet"> Respuesta </a></li>
										<li><a data-toggle="tab" href="#hb3"> <i class="fa fa-comments-o"></i> <span class="hidden-mobile hidden-tablet"> Notas </a></li>
										<li><a data-toggle="tab" href="#hb4"> <i class="fa fa-file-archive-o"></i> <span class="hidden-mobile hidden-tablet"> Log </a></li>
				
									</ul>
								</header>
				
								<div>
									<div class="jarviswidget-editbox"></div>

									<div class="widget-body">
										<form class="smart-form" id="InfoViewBody">
										<div class="tab-content">
											<div class="tab-pane active" id="hb1">
												<div id="ContentClient" style="font-size: 12px; text-align: justify;">
													
												</div>
											</div>
											<div class="tab-pane" id="hb2">
												<div id="ContentReferred" style="font-size: 12px; text-align: justify;">

													<H1>TICKET SIN RESPUESTA</H1>

												</div>
											</div>
											<div class="tab-pane" id="hb3">
												<div id="ContentService" style="font-size: 11px;">
													<div class="widget-body">
											        <div class="widget-body">
											          <form id="TickesNotes">
											            <div class="chat-footer">
											              <div class="textarea-div">
											                <div class="typearea" style="text-align: center;" id="alarmNote2"></div>
											                <div class="typearea">
											                  <input name="ti_no_id" id="ti_no_id" readonly hidden>
											                  <textarea placeholder="Notes" id="notes2" name="notes2" class="custom-scroll"></textarea>
											                </div>
											              </div>
											              <span class="textarea-controls">
											                <div class="row" style="margin-bottom: 10px;">
											                	<a class="btn btn-primary btn-sm btn-block" onclick="SaveNote()">Enviar</a>
											                    <span class="pull-right smart-form" style="margin-top: 3px; margin-right: 10px;">
											                      <label class="checkbox pull-right"></label>
											                    </span>    
											                </div>
											              </span>
											            </div>
											            </div>
											          </form>
											          <div id="chat-body2" class="chat-body custom-scroll" style="height: 500px;">
											          </div>
											        </div>

												</div>
											</div>
											<div class="tab-pane" id="hb4">
												<div id="ContentPackage" style="font-size: 11px;">

												</div>
											</div>
											
											</form>
										</div>
				
									</div>			
								</div>
							</div>				
						</article>				
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>