{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    

    {% if app.session.get('role') == "1" %}
  
      {% include('service/service.html.twig') %}
      {% include('service/emails.html.twig') %}

    {% endif %}

    </div>
  </div>

{% include('service/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

////////////////////////////// Data Service //////////////////////////////

    $('#dt_service').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_service'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formservice').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formservice").serialize();
          $.ajax({ type: "POST", url:  "{{ url('ServiceForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertService").html('');
                  $('#NewServiceModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertService").html('');
                    $("#alertService").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// Data Emails //////////////////////////////

    $('#dt_emails').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_service'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formemails').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formemails").serialize();
          $.ajax({ type: "POST", url:  "{{ url('/Service/Email') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertService").html('');
                  $('#NewServiceModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertService").html('');
                    $("#alertService").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// End Jquery //////////////////////////////

});

////////////////////////// Function Service //////////////////////////////

  function ServiceEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('ServiceEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type").val('');
            $("#type").val('edit');
            $("#id").val(datos.service.id);
            $("#name").val(datos.service.name);
            $("select[name=status_id]").val(datos.service.status);
            $("select[name=country_id]").val(datos.service.country);
            $('#NewServiceModal').modal('show');
        }else{
            $("#alertService").html('');
        }
      }
   });
  }

////////////////////////// Function Email //////////////////////////////

  function EmailsEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('/Service/EmailEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_e").val('');
            $("#type_e").val('edit');
            $("#id_e").val(datos.service.id);
            $("#email_e").val(datos.service.email);
            $("#name_e").val(datos.service.name);
            $("select[name=depart_id_e]").val(datos.service.departament);
            $("select[name=status_id_e]").val(datos.service.status);
            $("select[name=country_id_e]").val(datos.service.country);
            $('#NewEmailModal').modal('show');
        }else{
            $("#alertEmail").html('');
        }
      }
   });
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}