<div class="modal fade" id="NewServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Service</h4>
			</div>
			<form class="formservice" method="post" id="formservice" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertService"></div>
					</div> 
					<div class="row">
							<input type="text" id="id" name="id" class="form-control hidden" placeholder="id" />
							<input type="text" id="type" name="type" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-4">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name" name="name" class="form-control" placeholder="Nombre" required />
							</div>			
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id" name="country_id" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>							
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id" name="status_id" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>					
						</div>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="NewEmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-envelope" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Emails</h4>
			</div>
			<form class="formemails" method="post" id="formemails" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertEmails"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_e" name="id_e" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_e" name="type_e" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Email</label>
								<input type="email" id="email_e" name="email_e" class="form-control" placeholder="Email" required />
							</div>			
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Name</label>
								<input type="text" id="name_e" name="name_e" class="form-control" placeholder="Nombre" required />
							</div>							
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Departament</label>
								<select class="form-control" id="depart_id_e" name="depart_id_e" required>
									{% for cou in departs %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>							
						</div>
						
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_e" name="country_id_e" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>					
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_e" name="status_id_e" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>					
						</div>						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

