<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#NewServiceModal"><i class="fa fa-edit"></i> Nuevo Servicio</a>
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Servicios's </h2>
          </header>
          <div>
            <div class="jarviswidget-editbox"></div>
            
            <div class="widget-body no-padding">
              <table id="dt_service" class="table table-striped table-bordered table-hover" width="100%">
                <thead>                     
                  <tr>
                    <th data-hide="user">ID</th>
                    <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Nombre</th>
                    <th data-hide="user"><i class="fa fa-fw fa-flag text-muted hidden-md hidden-sm hidden-xs"></i> Pais</th>
                    <th data-hide="user"><i class="fa fa-fw fa-check text-muted hidden-md hidden-sm hidden-xs"></i> Status</th>
                    <th data-hide="user"><i class="fa fa-fw fa-edit text-muted hidden-md hidden-sm hidden-xs"></i> Accion</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ser in services %}
                  <tr>
                    <td>{{ ser.id      }}</td>
                    <td>{{ ser.name    }}</td>
                    <td>{{ ser.country }}</td>
                    <td>{{ ser.status  }}</td>
                    <td>
                      <div class='btn-group'>
                         <a class="btn btn-primary btn-xs" onclick="ServiceEdit({{ ser.id }});"><i class="fa fa-edit"></i> Editar </a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>