<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">BoomSolutions <span class="hidden-xs"> - Web Application</span> © {{ app.year }}</span>
        </div>
        <div class="col-xs-6 col-sm-6 text-right hidden-xs">
            <div class="txt-color-white inline-block">
                <i class="txt-color-blueLight hidden-mobile">Ing. Luis Campos</i>
            </div>
        </div>
    </div>
</div>

<script data-pace-options='{ "restartOnRequestAfter": true }' src="{{ asset('assets/js/plugin/pace/pace.min.js') }}"></script>
<!-- <script src="{{ asset('assets/js/libs/jquery-2.1.1.min.js') }}"></script> -->
<script src="{{ asset('assets/js/libs/jquery-3.5.1.min.js') }}"></script>
<script src="{{ asset('assets/js/libs/jquery-ui-1.10.3.min.js') }}"></script>
<script src="{{ asset('assets/js/app.config.js') }}"></script>
<!-- <script src="{{asset('assets/js/plugin/chartjs/chart.min.js')}}"></script> -->
<script src="{{ asset('assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/notification/SmartNotification.min.js') }}"></script>
<script src="{{ asset('assets/js/smartwidgets/jarvis.widget.min.js') }}"></script>
<!-- <script src="{{ asset('assets/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js') }}"></script> -->
<script src="{{ asset('assets/js/plugin/easy-pie-chart/easy-pie-chart.js') }}"></script>
<script src="{{ asset('assets/js/plugin/sparkline/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/jquery-validate/jquery.validate.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/masked-input/jquery.maskedinput.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/select2/select2.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/msie-fix/jquery.mb.browser.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/fastclick/fastclick.min.js') }}"></script>
<script src="{{ asset('assets/js/app.min.js') }}"></script>
<!-- <script src="{{ asset('assets/js/demo.min.js') }}"></script> -->
<script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
<script src="{{ asset('assets/js/chosen.proto.js') }}"></script>

<script src="{{ asset('assets/js/speech/voicecommand.min.js') }}"></script>
<script src="{{ asset('assets/js/smart-chat-ui/smart.chat.ui.min.js') }}"></script>
<script src="{{ asset('assets/js/smart-chat-ui/smart.chat.manager.min.js') }}"></script>

<script src="{{ asset('assets/js/plugin/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/datatables/dataTables.colVis.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/datatables/dataTables.tableTools.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/datatables/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/datatable-responsive/datatables.responsive.min.js') }}"></script>
<script src="{{ asset('assets/js/parsley/dist/parsley.js') }}"></script>
<script src="{{ asset('assets/js/plugin/moment/moment.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.blockUI.js') }}"></script>
<script src="{{ asset('assets/js/plugin/jqgrid/jquery.jqGrid.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/jqgrid/grid.locale-en.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/fuelux/wizard/wizard.min.js') }}"></script>
<script src="{{ asset('assets/js/fireworks/jquery.fireworks.js') }}"></script>
<script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
<script src="{{ asset('assets/js/jquery.datetimepicker.full.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="{{ asset('assets/js/general.js') }}"></script>