<header id="header">
    <div id="logo-group">
        <span id="logo"> <img src="{{ asset('assets/img/logicon.png') }}" alt="SmartAdmin" style="margin-top: -10px;"> </span>
    </div>
    <div class="pull-right">  
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
    </div>
    <div class="pull-right" id="closuresClock">
        <div class="clockdate-wrapper" style="margin-top: 10px;">
            <div id="clock"></div>
            <div id="date" style="margin-top: 10px;"></div>
        </div>
    </div>
</header>