<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/font-awesome.min.css') }}">

<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/smartadmin-production-plugins.min.css') }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/smartadmin-production.min.css') }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/smartadmin-skins.min.css') }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/smartadmin-rtl.min.css') }}"> 
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/jquery.datetimepicker.min.css')}} "> 

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<link rel="stylesheet" href="{{ asset('assets/css/open_sans.css') }}">

<link rel="stylesheet" href="{{ asset('assets/css/demo.min.css') }}">

<link rel="stylesheet" href="{{ asset('assets/css/chosen.css') }}">

<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/js/parsley/src/parsley.css') }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/clock.css') }}">

<link rel="apple-touch-icon" href="{{ asset('assets/img/splash/sptouch-icon-iphone.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/splash/touch-icon-ipad.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/splash/touch-icon-iphone-retina.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/splash/touch-icon-ipad-retina.png') }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-startup-image" href="{{ asset('assets/img/splash/ipad-landscape.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
<link rel="apple-touch-startup-image" href="{{ asset('assets/img/splash/ipad-portrait.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
<link rel="apple-touch-startup-image" href="{{ asset('assets/img/splash/iphone.png') }}" media="screen and (max-device-width: 320px)">
<link rel="shortcut icon" href="{{ asset('assets/img/favicon.png') }}" type="image/x-icon">
<link rel="icon"          href="{{ asset('assets/img/favicon.png') }}" type="image/x-icon">