<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title> Boom Solutions </title>
    <meta name="description" content="BoomSolutions CRM">
    <meta name="Ing. Luis Campos" content="">
      
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	{% block head %}
    	{% include('layouts/head.html.twig') %}
    {% endblock %}

  </head>

    <body class="desktop-detected fixed-page-footer menu-on-top pace-done fixed-header fixed-navigation smart-style-1">
    	{% include('layouts/header.html.twig') %}

    	{% include('layouts/sidebar.html.twig') %}

			{% block content %}

			{% endblock %}
		
	    {% include('layouts/modal_general.html.twig') %}

      {% include('layouts/footer.html.twig') %}

      {% block js %}

      {% endblock %}

 	</body>

</html>