<div class="modal fade" id="SearchGeneralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-users" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Test </h4>
			</div>
			<form class="formeditreferred" method="post" id="formeditreferred" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="form-lead-body"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="TicketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Solicitud de Ticket </h4>
			</div>
			<form class="FormTicketSubmit" id="FormTicketSubmit" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> LISTADO DE OPERADORES</label>
								<div id="ticket_ope_html"></div>			
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> LISTADO DE DEPARTAMENTO</label>
								<div id="ticket_dep_html"></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> LISTADO DE SERVICIO</label>
								<div id="ticket_serv_html">
									<select class="form-control" id="tic_serv" name="tic_serv" required>
										<option value="0" selected="" disabled="">SELECTED</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> CODIGO DE PUESTO</label>
								<input type="text" id="tic_pues" name="tic_pues" class="form-control" placeholder="CODIGO DE PUESTO" required />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">  
                  			<textarea rows="5" class="custom-scroll col-md-12" id="tic_desc" name="tic_desc"></textarea> 
							<div class="note">
								<strong>Nota:</strong> Area de descripcion de solicitud de Ticket.
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<a onclick="SaveTicket();" class="btn btn-primary">Generar Ticket</a>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="TicketModalResp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Solicitud de Ticket </h4>
			</div>
			<form class="FormTicketModalShow" id="FormTicketModalShow" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="TicketContent">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="TicketSelect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Seleccione Departamento </h4>
			</div>
			<form class="FormTicketSubmit" id="FormTicketSubmit" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div class="form-group" style="text-align: center;">
							<label for="category"> LISTADO DE DEPARTAMENTO</label>
							<div id="ticket_dep_new"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="TicketSupport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">TICKET SOPORTE </h4>
			</div>
			<form class="FormTicketSupportSubmit" id="FormTicketSupportSubmit" data-parsley-validate="">
				<input type="text" id="tic_type" name="tic_type" value="1" class="form-control hidden" required />
				<div id="AlertTicketSupport"></div>
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> LISTADO DE OPERADORES</label>
								<div id="ticket_ope_sup"></div>			
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> LISTADO DE SERVICIO</label>
								<div id="ticket_serv_html">
									<select class="form-control" id="ticS_serv" name="ticS_serv" required>
										<option value="0" selected="" disabled="">SELECTED</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> NOMBRE COMPLETO</label>
								<input type="text" id="ticS_name" name="ticS_name" class="form-control" placeholder="Nombre del Cliente" required />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> EMAIL</label>
								<input type="email" id="ticS_email" name="ticS_email" class="form-control" placeholder="Email del Cliente"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> TEL&Eacute;FONO PRINCIPAL</label>
								<input type="number" id="ticS_phone" name="ticS_phone" class="form-control" placeholder="Telefono del Cliente" required />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> TEL&Eacute;FONO ALTERNO</label>
								<input type="number" id="ticS_alter" name="ticS_alter" class="form-control" placeholder="Telefono Alterno del Cliente"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">  
                  			<textarea rows="5" class="custom-scroll col-md-12" id="ticS_desc" name="ticS_desc" required></textarea> 
							<div class="note">
								<strong>Nota:</strong> Area de descripcion de solicitud de Ticket.
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<a onclick="SaveTicketSupport();" class="btn btn-primary">Generar Ticket</a>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="TicketData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Solicitud de Ticket </h4>
			</div>
			<form class="FormTicketDataSubmit" id="FormTicketDataSubmit" data-parsley-validate="">
				<input type="text" id="tic_type" name="tic_type" value="4" class="form-control hidden" required />
				<div id="AlertTicketData"></div>
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> LISTADO DE OPERADORES</label>
								<div id="ticket_ope_dat"></div>			
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> LISTADO DE SERVICIO</label>
								<div id="ticket_serv_html">
									<select class="form-control" id="ticD_serv" name="ticD_serv" required>
										<option value="0" selected="" disabled="">SELECTED</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">  
                  			<textarea rows="5" class="custom-scroll col-md-12" id="tic_desc" name="tic_desc"></textarea> 
							<div class="note">
								<strong>Nota:</strong> Area de descripcion de solicitud de Ticket.
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<a onclick="SaveTicketData();" class="btn btn-primary">Generar Ticket</a>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="TicketPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">TICKET COBRO </h4>
			</div>
			<form class="FormTicketPaymentSubmit" id="FormTicketPaymentSubmit" data-parsley-validate="">
				<input type="text" id="tic_type" name="tic_type" value="11" class="form-control hidden" required />
				<div id="AlertTicketPayment"></div>
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> LISTADO DE OPERADORES</label>
								<div id="ticket_ope_pay"></div>			
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> LISTADO DE SERVICIO</label>
								<div id="ticket_serv_html">
									<select class="form-control" id="ticP_serv" name="ticP_serv" required>
										<option value="0" selected="" disabled="">SELECTED</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> NOMBRE COMPLETO</label>
								<input type="text" id="ticP_name" name="ticP_name" class="form-control" placeholder="Nombre del Cliente" required />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> EMAIL</label>
								<input type="email" id="ticP_email" name="ticP_email" class="form-control" placeholder="Email del Cliente"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> TEL&Eacute;FONO PRINCIPAL</label>
								<input type="number" id="ticP_phone" name="ticP_phone" class="form-control" placeholder="Telefono del Cliente" required />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> TEL&Eacute;FONO ALTERNO</label>
								<input type="number" id="ticP_alter" name="ticP_alter" class="form-control" placeholder="Telefono Alterno del Cliente"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">  
                  			<textarea rows="5" class="custom-scroll col-md-12" id="ticP_desc" name="ticP_desc" required></textarea> 
							<div class="note">
								<strong>Nota:</strong> Area de descripcion de solicitud de Ticket.
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<a onclick="SaveTicketPayment();" class="btn btn-primary">Generar Ticket</a>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="CalcIvuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-superscript" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Calculo de IVU y Prorrateo</h4>
			</div>
		  <form class="smart-form" method="post" data-parsley-validate="">
		    <fieldset style="background: aliceblue;">
		      <div class="row">
		        <div class="col col-4">
		            <label class="label">Monto</label>
		            <label class="input">
		              <input type="number" style="text-align: center;" name="ivu_in" id="ivu_in" placeholder="Sin Ivu">
		            </label>
		        </div>
		        <div class="col col-4">
		            <label class="label">IVU</label>
		            <label class="input">
		              <input type="hidden" style="text-align: center;" name="ivu_porc" id="ivu_porc" placeholder="IVU Porc" value="11.5"  hidden>
		              <input type="number" style="text-align: center;" name="ivu_view_porc" id="ivu_view_porc" placeholder="IVU Porc" readonly>
		            </label>
		        </div>
		        <div class="col col-4">
		            <label class="label">CON IVU</label>
		            <label class="input">
		              <input type="number" style="text-align: center;" name="ivu_out" id="ivu_out" placeholder="Con Ivu" readonly>
		            </label>
		        </div>
		      </div>
		    </fieldset>
		    <fieldset style="background: aliceblue;">
		    	<div class="row" style="text-align: center;">
		    		<h3>Calculo del Prorrateo</h3>
		    	</div>
		      <div class="row" style="margin-top: 10px;">
		        <div class="col col-4">
		            <label class="label">Fecha</label>
		            <label class="input">
		              <input type="text" style="text-align: center;" name="pro_date" id="pro_date" placeholder="Seleccione Fecha">
		            </label>
		        </div>

		        <div class="col col-4">
		            <label class="label">Monto</label>
		            <label class="input">
		              <input type="number" style="text-align: center;" name="pro_in" id="pro_in" placeholder="Monto a Calcular">
		            </label>
		        </div>
		       
		        <div class="col col-4">
		            <label class="label">Total Prorrateo</label>
		            <label class="input">
		              <input type="number" style="text-align: center;" name="pro_out" id="pro_out" placeholder="Total a Pagar" readonly>
		            </label>
		        </div>
		      </div>
		    </fieldset>
		    <footer>
		    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </footer>
		  </form>
		</div>
	</div>
</div>

<div class="modal fade" id="CypherDataClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-lock" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Datos Cifrados de Cliente </h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<div class="row">
					<div class="col-lg-6">
						<form class="SearchCypherClient" id="SearchCypherClient" >
							<div class="input-group">
								<input class="form-control" type="number" id="search-cypher" name="search-cypher" placeholder="Busqueda por Telefono">
								<div class="input-group-btn">
									<button type="text" class="btn btn-default">
									<i class="fa fa-fw fa-search fa-lg"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-6">
						<form class="SearchCypherCl" id="SearchCypherCl">
							<div class="col-lg-9">
								<div class="input-group">
									<input class="form-control" type="number" id="search-client" name="search-client" placeholder="Busqueda por Cliente">
									<div class="input-group-btn">
										<button type="text" class="btn btn-default">
										<i class="fa fa-fw fa-search fa-lg"></i>
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3">
								<div class="input-group">
								<label class="select">
									<select class="form-control" id="search-type" name="search-type">
										<option value="SS">SS</option>
										<option value="ID">ID</option>
										<option value="CC">CC</option>
										<option value="AB">AB</option>
									</select> <i></i> 
								</label>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div id="InfoCypherClient"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-lock" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Modificar Password </h4>
			</div>
			<form class="ChangePasswordSub" id="ChangePasswordSub" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="PasswordAlert"></div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<input class="form-control" type="password" id="pass1" name="pass1" placeholder="Password">
						</div>
						<div class="col-lg-6">
							<input class="form-control" type="password" id="pass2" name="pass2" placeholder="Rep-Password">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<a onclick="ChangePasswordID()" class="btn btn-primary">Salvar</a>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="InfoVe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-lock" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Informacion de Cliente </h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<div class="row">
					<div id="PasswordAlert"></div>
				</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="input-group">
							<input class="form-control" type="number" id="ced_numb" name="ced_numb" placeholder="Cedula de Identidad">
						</div>
					</div>

					<div class="col-lg-4">
						<div class="input-group">
						<label class="select">
							<select class="form-control" id="ced_type" name="ced_type">
								<option value="V">V</option>
								<option value="E">E</option>
							</select> <i></i> 
						</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div id="ResultInfoVe"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="DollarModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-dollar" style="font-size: 50px;"></i>
			</div>
			<form class="DollarForms" method="post" id="DollarForms" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
	 				<div class="widget-body">
	 					<div class="widget-body">
							<div class="row" style="text-align: center;">
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<h3><strong> Fecha </strong></h3>
									<fieldset>
										<div class="form-group">
											<input type="text" id="dolar_date" name="dolar_date" class="form-control" placeholder="Fecha" required />
										</div>
									</fieldset>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<h3><strong> Base </strong></h3>
									<fieldset>
										<div class="form-group">
											<input type="number" step="any" id="dolar_base" name="dolar_base" class="form-control" placeholder="Base de Dolar" required />
										</div>
									</fieldset>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<h3><strong> Agregado </strong></h3>
									<fieldset>
										<div class="form-group">
											<input type="number" step="any" id="dolar_agregado" name="dolar_agregado" class="form-control" placeholder="Valor Agregado" required />
										</div>
									</fieldset>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<h3><strong> Tipo </strong></h3>
									<fieldset>
										<div class="form-group">
											<select class="form-control" id="dolar_tipo" name="dolar_tipo" required>
							                    <option value="AM">AM</option>
							                    <option value="PM">PM</option>
											</select>
										</div>
									</fieldset>
								</div>
							</div>
	 					</div>
				        <div class="widget-body">
				        	<div id="DolarTable"></div>
				        </div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Salvar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Terminar</button>
				</div>
			</form>
		</div>
	</div>
</div>