<aside id="left-panel">
    <div class="login-info">
        <span>
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="{{ asset('assets/img/avatars/sunny.png') }}" alt="me" class="online" />
                <span>{{ app.session.get('name') }}</span><i class="fa fa-angle-down"></i>
                <input id="UserIdSession" value="{{ app.session.get('id') }}" hidden readonly>
            </a>
        </span>
    </div>
    <nav>
        <ul>
            {% for roles in app.session.get('roles') %}
                <li>
                    <a href="{{ url('dashboard') }}" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
                </li>

                {% if roles['calendar'] == "on" %}
                <li>
                    <a href="{{ url('calendar') }}"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">Calendario</span></a>
                </li>
                {% endif %}

                {% if roles['operator'] == "on" %}
                <li>
                    <a href="{{ url('operator') }}"><i class="fa fa-lg fa-fw fa-headphones"></i> <span class="menu-item-parent">Operador</span></a>
                </li>
                {% endif %}

                {% if roles['leads'] == "on" %}
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-filter"></i> <span class="menu-item-parent">Leads</span></a>
                    <ul>
                        <li><a style="font-size: 12px;" href="{{ url('Leads/New') }}">Nuevo Lead</a></li>
                        {% if app.session.get('role') != "17" %}
                        <li><a style="font-size: 12px;" href="{{ url('/Search') }}">Busqueda Simple</a></li>
                        <li><a style="font-size: 12px;" href="{{ url('/Search/Advanced') }}">Busqueda Avanzada</a></li>
                        {% endif %}
                        {% if app.session.get('role') == "1" %}
                            <li><a style="font-size: 12px;" href="{{ url('/Search/SugarPhone') }}">Sugar Phone</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}

                {% if roles['leaders'] == "on" %}
                <li>
                    <a href="{{ url('/Leaders') }}"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Leaders</span></a>
                </li>
                {% endif %}

                {% if roles['marketing'] == "on" %}
                <li>
                    <a href="{{ url('marketing') }}"><i class="fa fa-lg fa-fw fa-bullhorn"></i> <span class="menu-item-parent">Marketing</span></a>
                </li>
                {% endif %}

                {% if roles['creative'] == "on" %}
                <li>
                    <a href="{{ url('creative') }}"><i class="fa fa-lg fa-fw fa-lightbulb-o"></i> <span class="menu-item-parent">Creative</span></a>
                </li>
                {% endif %}

                {% if roles['data_entry'] == "on" %}
                <li>
                    <a style="font-size: 12px;" href="#"><i class="fa fa-lg fa-fw fa-check-square-o"></i> <span class="menu-item-parent">Data Entry</span></a>
                    <ul>
                        {% if roles['approvals'] == "on" %}
                            <li><a style="font-size: 12px;" href="{{ url('/approvals') }}">Aprobaciones</a></li>
                        {% endif %}
                        {% if roles['coordinations'] == "on" %}
                            <li><a style="font-size: 12px;" href="{{ url('/Coordinations') }}">Coordinaciones</a></li>
                        {% endif %}

                        <li><a style="font-size: 12px;" href="{{ url('/statics/dataentry') }}">Estadisticas</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if roles['support'] == "on" %}
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-support"></i> <span class="menu-item-parent">Support</span></a>
                    <ul>
                        <li>
                            <a href="#">Hoja de Servicio</a>
                            <ul>
                                <li><a href="{{ url('/SheetPR') }}">Puerto Rico</a></li>
                                <li><a href="{{ url('/SheetVE') }}">Venezuela</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ ('/Support/Mikrowisp/Pre') }}">Pre Instalacion</a></li>
                        <li><a href="{{ ('/tickets/support') }}">Tickets</a></li>
                        <li>
                            <a href="#">Ticket ISP</a>
                            <ul>
                                <li><a href="{{ url('/isp/dashboard') }}">Dashboard</a></li>
                                <li><a href="{{ url('/isp') }}">Ticket</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% if roles['collection'] == "on" %}

                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-bank"></i> <span class="menu-item-parent">Collection</span></a>
                    <ul>
                        <li>
                            <a href="#">Venezuela</a>
                            <ul>
                                <li><a href="{{ url('/CollectionVE') }}">Zelle</a></li>
                                <li><a href="{{ url('/collection/ve') }}">Bolivares</a></li>
                                <li><a href="{{ url('/collection/ve/transactions') }}">Reportes de Pago</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ ('/Support/Mikrowisp/Pre') }}">Puerto Rico</a></li>
                        <li><a href="{{ ('/tickets/payment') }}">Tickets</a></li>
                    </ul>
                </li>

                {% endif %}

                {% if roles['reporting'] == "on" %}
                <li>
                    <a style="font-size: 12px;" href="{{ url('/Reporting') }}"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i>Reportes</a>
                </li>
                {% endif %}

                {% if roles['ticket'] == "on" %}
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-ticket"></i> <span class="menu-item-parent">Tickets</span></a>
                    <ul>
                        <li><a style="font-size: 12px;" href="{{ url('/Ticket') }}">Ticket</a></li>
                        {% if app.session.get('role') == "12" %}
                            <li><a style="font-size: 12px;" href="{{ url('/tickets/dashboard') }}">Dashboard</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                
                {% if roles['data_entry'] == "on" %}
                <li>
                    <a style="font-size: 12px;" href="#"><i class="glyphicon glyphicon-floppy-save"></i> <span class="menu-item-parent">Contratos</span></a>
                    <ul>
                        <li><a style="font-size: 12px;" href="{{ url('/ContractsPR') }}">Puerto Rico</a></li>
                        <li><a style="font-size: 12px;" href="{{ url('/ContractsVE') }}">Venezuela</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if roles['config'] == "on" %}
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Config</span></a>
                        <ul>
                            <li><a style="font-size: 12px;" href="{{ url('users') }}">Usuarios, Teams & Departamentos</a></li>
                            <li><a style="font-size: 12px;" href="{{ url('roles') }}">Rols & Dids</a></li>
                            <li><a style="font-size: 12px;" href="{{ url('country') }}">Pais, Ciudad & ZipCodes</a></li>
                            <li><a style="font-size: 12px;" href="{{ url('house') }}">Casa, Techo & Niveles</a></li>
                            <li><a style="font-size: 12px;" href="{{ url('banks') }}">Bancos & Metodos de Pago</a></li>
                            <li><a style="font-size: 12px;" href="{{ url('packages') }}">TV Paquetes, Proveedores & Objeciones</a></li>
                            <li><a style="font-size: 12px;" href="{{ url('cameras') }}">Carmas & DVR</a></li>
                            <li><a style="font-size: 12px;" href="{{ url('internet') }}">Internet, Tipo & Telefonos</a></li>
                            <li><a style="font-size: 12px;" href="{{ url('medium') }}">Marketing</a></li>
                            <li><a style="font-size: 12px;" href="{{ url('/Config/Approvals') }}">Data Entry</a></li>
                            <li><a style="font-size: 12px;" href="{{ url('/Ticket/Config') }}">Ticket</a></li>
                            <li><a style="font-size: 12px;" href="{{ url('service') }}">Servicios Generales</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li class="pull-right">
                    <div class="clockdate-wrapper" style="margin-top: 10px;">
                        <div id="clock"></div>
                        <div id="date" style="margin-top: 10px;"></div>
                    </div>
                </li>

            {% endfor %}

            
        </ul>
    </nav>
<!--     <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span> -->
</aside>