<aside id="left-panel">
    <div class="login-info">
        <span>
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="{{ asset('assets/img/avatars/sunny.png') }}" alt="me" class="online" />
                <span>{{ app.session.get('name') }}</span><i class="fa fa-angle-down"></i>
            </a>
        </span>
    </div>
    <nav>
        <ul>
            <li class="pull-right">
                <div class="clockdate-wrapper" style="margin-top: 10px;">
                    <div id="clock"></div>
                    <div id="date" style="margin-top: 10px;"></div>
                </div>
            </li>
        </ul>
    </nav>
</aside>