{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    

    {% if app.session.get('role') == "1" %}
  
      {% include('config/score.html.twig') %}
      
      {% include('config/cancel_score.html.twig') %}

    {% endif %}

    </div>
  </div>

{% include('config/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

////////////////////////////// Data Bank //////////////////////////////

    $('#dt_score').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_score'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#FormScore').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#FormScore").serialize();
          $.ajax({ type: "POST", url:  "{{ url('/Config/ScoreForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertScore").html('');
                  $('#NewScoreModal').modal('hide');
                  location.reload();
                }else{
                    $("#alertScore").html('');
                    $("#alertScore").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// Data Payment //////////////////////////////

    $('#dt_cancel_score').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_cancel_score'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#FormCancelScore').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#FormCancelScore").serialize();
          $.ajax({ type: "POST", url:  "{{ url('/Config/CancelForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertCancel").html('');
                  $('#NewCancelModal').modal('hide');
                  location.reload();
                }else{
                    $("#alertCancel").html('');
                    $("#alertCancel").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// End Jquery //////////////////////////////

});

////////////////////////// Function Banks //////////////////////////////

  function ScoreEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('/Config/ScoreEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_sc").val('');
            $("#type_sc").val('edit');
            $("#id_sc").val(datos.score.id);
            $("#name_sc").val(datos.score.name);
            $("select[name=service_id_sc]").val(datos.score.service_id);
            $("select[name=country_id_sc]").val(datos.score.country_id);
            $("select[name=status_id_sc]").val(datos.score.status_id);
            $('#NewScoreModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function Payment //////////////////////////////

  function CancelEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('/Config/CancelEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_can").val('');
            $("#type_can").val('edit');
            $("#id_can").val(datos.cancel.id);
            $("#name_can").val(datos.cancel.name);
            $("select[name=service_id_can]").val(datos.cancel.service_id);
            $("select[name=country_id_can]").val(datos.cancel.country_id);
            $("select[name=status_id_can]").val(datos.cancel.status_id);
            $('#NewCancelScoreModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}