<!----------------------------- Score Modal ---------------------------->

<div class="modal fade" id="NewScoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-edit" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">EDICION DE SCORE</h4>
			</div>
			<form class="FormScore" method="post" id="FormScore" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertScore"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_sc" name="id_sc" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_sc" name="type_sc" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_sc" name="name_sc" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Servicio</label>
								<select class="form-control" id="service_id_sc" name="service_id_sc" required>
									{% for serv in services %}
										{% if (serv['status_id'] == "1") and (serv['service_id'] != "1") %}
											<option value="{{ serv['id'] }}"> {{ serv['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_sc" name="country_id_sc" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>

							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_sc" name="status_id_sc" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>

						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Cancel Score Modal ---------------------------->

<div class="modal fade" id="NewCancelScoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-times" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">EDICION DE OBJECION</h4>
			</div>
			<form class="FormCancelScore" method="post" id="FormCancelScore" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertScore"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_can" name="id_can" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_can" name="type_can" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_can" name="name_can" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Servicio</label>
								<select class="form-control" id="service_id_can" name="service_id_can" required>
									{% for serv in services %}
										{% if (serv['status_id'] == "1") and (serv['service_id'] != "1") %}
											<option value="{{ serv['id'] }}"> {{ serv['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_can" name="country_id_can" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>

							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_can" name="status_id_can" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>

						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>
