<header id="header">
    <div id="logo-group">

        <span id="logo"> <img src="{{ asset('assets/img/boom.png') }}" alt="SmartAdmin" style="margin-top: -17px;"> </span>
        <span id="activity" onclick="HideActivity();" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> <div id="numb2"></div> </b> </span>

        <div class="ajax-dropdown">
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="activity" ><div id="numb"></div>
                </label>
            </div>
            <div class="ajax-notifications custom-scroll">
                <div id="NotBody">
                </div>                
            </div>
        </div>
    </div>
    <div class="pull-right">
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
            <li class="">
                <a href="#" class="dropdown-toggle no-margin userdropdown" title="{{ app.session.get('username') }}" data-toggle="dropdown">
                    <img src="{{ asset('assets/img/avatars/male.png') }}" alt="John Doe" class="online" />
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a data-toggle="modal" data-target="#ChangePassword" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>assword</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a data-toggle="modal" data-target="#InfoVe" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>I</u>nfo VE</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ url('logout') }}" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                    </li>
                </ul>
            </li>
        </ul>
        
        <div id="logout" class="btn-header transparent pull-right">
            <span> <a href="{{ url('logout') }}" title="Sign Out" data-action="userLogout" data-logout-msg="Esta seguro que desea cerrar su sesión de usuario ?"><i class="fa fa-sign-out"></i></a> </span>
        </div>

        {% if (app.session.get('role') != "17") %}
            <input value="{{ app.session.get('base') }}" id="basePath" hidden>
            <form action="/Search" method="POST" class="header-search pull-right">
                <input name="search-type" id="search-type" value="simpled" readonly hidden>
                <input type="text" id="search-fld" name="search-fld" placeholder="Search Leads">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        {% endif %}

        {% if (app.session.get('role') == "17") %}
            <input value="{{ app.session.get('base') }}" id="basePath" hidden>
            <form action="/SearchExterno" method="POST" class="header-search pull-right">
                <input name="search-type" id="search-type" value="externo" readonly hidden>
                <input type="text" id="search-fld" name="search-fld" placeholder="Search Leads Externo">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        {% endif %}

        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
<!--         <div class="btn-header transparent pull-right">
            <span> <a onclick="NewTicket();" title="Ticket"><i class="fa fa-ticket"></i></a> </span>
        </div> -->

        <div class="btn-header transparent pull-right">
            <span> <a onclick="NewTicketGen();" title="Ticket"><i class="fa fa-ticket"></i></a> </span>
        </div>

        
        <div class="btn-header transparent pull-right">
            <span> <a onclick="CalcIvu();" title="Calculo IVU"><i class="fa fa-superscript"></i></a> </span>
        </div>
        {% if (app.session.get('role') == "1" or app.session.get('role') == "2" or app.session.get('role') == "3" or app.session.get('role') == "9" or app.session.get('role') == "14" or app.session.get('role') == "10") or app.session.get('id') == "192" %}
            <div class="btn-header transparent pull-right">
                <span> <a onclick="CypherInfoClient();" title="Calculo IVU"><i class="fa fa-lock"></i></a> </span>
            </div>
        {% endif %}
        {% if (app.session.get('role') == "1" or app.session.get('role') == "2" or app.session.get('role') == "3" or app.session.get('role') == "9" or app.session.get('role') == "14" or app.session.get('role') == "10" or app.session.get('role') == "18") %}
            <div class="btn-header transparent pull-right">
                <span> <a onclick="InfoDollar();" title="Referencia Dolar"><i class="fa fa-dollar"></i></a> </span>
            </div>
        {% endif %}
    </div>
</header>