<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('assets/css/bootstrap.min.css')}} ">
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('assets/css/font-awesome.min.css')}} ">
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('assets/css/smartadmin-production-plugins.min.css')}} ">
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('assets/css/smartadmin.css')}} ">
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('assets/css/smartadmin-skins.min.css')}} ">
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('assets/css/smartadmin-rtl.min.css')}} "> 
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('assets/css/jquery.datetimepicker.min.css')}} "> 

<link rel="stylesheet"    href="{{ asset('assets/css/demo.min.css') }}" type="text/css" media="screen" >
<link rel="shortcut icon" href="{{ asset('assets/img/favicon.png') }}"  type="image/x-icon">
<link rel="icon"          href="{{ asset('assets/img/favicon.png') }}"  type="image/x-icon">
<link rel="stylesheet"    href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">