<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title> Boom Solutions </title>
		<meta name="description" content="BoomSolutions CRM">
		<meta name="Ing. Luis Campos" content="campos.luis19@gmail.com">
		{% include('layouts/leads/head.html.twig') %}
	</head>
	<body class="desktop-detected fixed-page-footer menu-on-top pace-done fixed-header fixed-navigation smart-style-1">
		{% include('layouts/leads/header.html.twig') %}

		{% include('layouts/leads/sidebar.html.twig') %}

		{% block content %}

		{% endblock %}

		{% include('layouts/modal_general.html.twig') %}
		
		{% include('layouts/leads/footer.html.twig') %}

        {% block js %}
            <script type="text/javascript">
                $(document).ready(function() {
                    pageSetUp();
                });
            </script>
        {% endblock %}

 	</body>
</html>
