{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Hoja de Servicio Puerto Rico</li>
    </ol>
  </div>
  <div id="content">    

      {% include('Support/sheetservice.html.twig') %}

    </div>
  </div>

{% include('Support/modal.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
<script type="text/javascript">

$(function() 
{

  Load();

  $("#from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/SheetPR/SheetLoadDate') }}", data: {str:str},

        success: function(data)
        {
          $('#dateStreet').val(data.dateStreet);
          $("#TableSheetDay").html(data.html);
          $('#ServTable').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
          });       
            
        }
        });
      }
  });
  
  $("#to").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });

  $("#serv_date").datepicker({
    dateFormat : 'mm-dd-yy',
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>'
  });

  $("#s_04").datepicker({
    dateFormat : 'mm-dd-yy',
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>'
  });

////////////////////////////// End Jquery //////////////////////////////
});


function Load()
{
  $.ajax({ type: "POST", url:  "{{ url('/SheetPR/Load') }}",
  success: function(data)
  {
    if(data.status = true)
    {
      $('#dateStreet').val(data.date);
      $("#TableSheetDay").html(data.html);
      $('#ServTable').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });        
    }
  }    
  });
}

function NewSheet()
{
  $('#ServiceInternet')[0].reset();
  $("#AlertSheetModal").html('');
  $('#NewFormsModal').modal('show');  
}

function SubmitSheetPrev()
{
   var date    = $('#serv_date').val();
   var id      = $('#mikro_id').val();

    if($('#serv_date').val() == "" || $('#mikro_id').val() == "")
    {
      $('#AlertSheetModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Existen datos faltantes, Verificar.</div>');
    }else{

      $('#AlertSheetModal').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, por favor espere.</div>');
      $.ajax({ type: "POST", url:  "{{ url('/SheetPR/SheetCreation') }}", data: {id: id, date: date},
      success: function(datos)
      {
        if(datos.status == true)
        {
          
          $('#NewFormsModal').modal('hide');  
          $('#ServiceInternet')[0].reset();
          $("#SheedBody").html('');
          $("#SheedBody").html(datos.html);
          $("#s_04").datepicker({
            dateFormat : 'mm-dd-yy',
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>'
          });
          $('#EditFormsModal').modal('show');  

          $('#s_08').change(function(event) 
          {
            var plan = $('#s_08').val(); 
            $.ajax({ type: "POST", url:  "{{ url('/SheetPR/ChangePlan') }}", data: {plan: plan},
            beforeSend: function(request){
              $('#AlertPlan').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, Por Favor Espere</div>');
            },
            success: function(datos)
            {
                $('#AlertPlan').html('');
                if(datos.status == true)
                {

                  $('#s_09').val(datos.info.plan);
                  $('#s_10').val(datos.info.ip);
                  $('#s_16').val(datos.info.ap);

                }else{
                  
                  ErrorNotified(datos);
                }
                  $('#PrevServiceInternet')[0].reset();
                  $('#PrevFormsModal').modal('hide');
            }
            });
          });

        }else{
          ErrorNotified(datos);
          $('#ServiceInternet')[0].reset();
          $('#alarmPrevNot').html(datos.html);
          $('#NewFormsModal').modal('hide');
          $('#EditFormsModal').modal('hide');
        }
      }
    });
  }

}

function SubmitSheetService()
{
  var sheet = $('#BodySubSheet').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/SheetPR/SheetSave') }}", data: {str: sheet},
  success: function(datos)
  {
      if(datos.status == true)
      {
      
        $('#BodySubSheet')[0].reset();
        $('#EditFormsModal').modal('hide');  
        var   url    = "SheetDownload.php?datos="+datos.dataID+"";
        window.open(url, '_blank');
        Load();
      }else{
        ErrorNotified(datos);
        $('#EditFormsModal')[0].reset();
        $('#NewFormsModal').modal('hide');
      }
  }
  });
}

function CancelSheet(id)
{
  $('#mikro_id_can').val(id);
  $('#CancelFormsModal').modal('show');
}

function SubmitCancelSheet()
{
  var str = $('#CanServiceInternet').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/SheetPR/CancelSheet') }}", data: {str: str},
  success: function(datos)
  {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        Load();
      }else{

        ErrorNotified(datos);
      }
        $('#CanServiceInternet')[0].reset();
        $('#CancelFormsModal').modal('hide');
  }
  });
}

function CheckSheet(id)
{
  $('#mikro_id_prev').val(id);
  $('#PrevFormsModal').modal('show');
}

function SubmitPrevSheet()
{
  var str = $('#PrevServiceInternet').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/SheetPR/PrevSheet') }}", data: {str: str},
  success: function(datos)
  {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        Load();

      }else{
        
        ErrorNotified(datos);
      }
        $('#PrevServiceInternet')[0].reset();
        $('#PrevFormsModal').modal('hide');
  }
  });
}

function ViewSheet(id)
{
    window.location.href = "SheetView.php?datos="+id+"";
}

function EditSheet(id)
{

  $.ajax({ type: "POST", url:  "{{ url('/SheetPR/EditSheet') }}", data: {id: id},
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {
    $.unblockUI();
    if(datos.status == true)
    {
      $('#id_mikro').val(id);
      $('#SheetBody').html(datos.html);
      $("#s_04").datepicker({
        dateFormat : 'mm-dd-yy',
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1,
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>'
      });
      $('#EditSheetModal').modal('show');


      $('#s_08').change(function(event) 
      {
        var plan = $('#s_08').val(); 
        $.ajax({ type: "POST", url:  "{{ url('/SheetPR/ChangePlan') }}", data: {plan: plan},
        beforeSend: function(request){
          $('#AlertPlan').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, Por Favor Espere</div>');
        },
        success: function(datos)
        {
            $('#AlertPlan').html('');
            if(datos.status == true)
            {

              $('#s_09').val(datos.info.plan);
              $('#s_10').val(datos.info.ip);
              $('#s_16').val(datos.info.ap);

            }else{
              
              ErrorNotified(datos);
            }
              $('#PrevServiceInternet')[0].reset();
              $('#PrevFormsModal').modal('hide');
        }
        });
      });

    }else{
      
      ErrorNotified(datos);
    }
  }
  });


}


function SubmitEditSheet()
{ 
  var str = $('#BodyEditSheet').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/SheetPR/SubmitEditSheet') }}", data: {str: str},
  beforeSend: function(request){
    $('#AlertSubmit').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando Actualizacion, Por Favor Espere</div>');
  },
  success: function(datos)
  {
    $('#AlertSubmit').html('');
    if(datos.status == true)
    {
      var   url    = "SheetDownload.php?datos="+datos.dataID+"";
      window.open(url, '_blank');
      $('#BodyEditSheet')[0].reset();
      $('#EditSheetModal').modal('hide');
      Load();
    }else{
      
      ErrorNotified(datos);
    }
    $('#BodyEditSheet')[0].reset();
    $('#EditSheetModal').modal('hide');
  }
  });
}

function StreetSmart()
{
  var  date =  $('#dateStreet').val();

  window.location.href = "StreetSmart.php?datos="+date+"";
}

/////////////////////////////////////////////////////////////////////////////////

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });
}

  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  }

/////////////////////////////////////////////////////////////////////////////////

</script>
{% endblock %}