  <div class="modal fade" id="NewFormsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Servicio de Internet</h4>
      </div>
      <form class="ServiceInternet" method="post" id="ServiceInternet" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModal"></div></div>
          <div class="row" style="text-align: center;">
            <div class="form-group">
              <div class="col-md-12">
                <label><strong> Indique N&uacute;mero de Cliente Mikrowisp </strong></label>
                <input class="form-control" type="number" id="mikro_id" name="mikro_id" placeholder="Numero de Cliente" required>
              </div>
              <div class="col-md-12" style="margin-top: 10px;">
                <label><strong> Fecha de Servicio </strong></label>
                <input class="form-control" type="text" id="serv_date" name="serv_date" placeholder="Fecha de Servicio" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="SubmitSheetPrev();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="EditFormsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa fa-edit" style="font-size: 50px;"></i>
        <h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Servicio de Internet</h4>
      </div>
        <div class="modal-body" style="background: aliceblue;">
          <div class="widget-body no-padding">
            <form class="smart-form" method="post" id="BodySubSheet" data-parsley-validate="">
            <div id="SheedBody"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <a onclick="SubmitSheetService();" class="btn btn-success">PROCESAR</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="EditSheetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa fa-edit" style="font-size: 50px;"></i>
        <h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Servicio de Internet</h4>
      </div>
        <div class="modal-body" style="background: aliceblue;">
          <div class="widget-body no-padding">
            <form class="smart-form" method="post" id="BodyEditSheet" data-parsley-validate="">
            <input class="form-control hidden" type="number" id="id_mikro" name="id_mikro">
            <div id="SheetBody"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <a onclick="SubmitEditSheet();" class="btn btn-success">PROCESAR</a>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="CancelFormsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-times" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Cancelar Servicio de Internet</h4>
      </div>
      <form class="CanServiceInternet" method="post" id="CanServiceInternet" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModalCancel"></div></div>
          <div class="row" style="text-align: center;">
            <input class="form-control hidden" type="number" id="mikro_id_can" name="mikro_id_can">
            <div class="form-group">
              <div class="col-md-12">
                <label><strong> Desea Cancelar Hoja de Servicio ? </strong></label>
                <fieldset>
                  <div class="form-group">
                    <div class="col-md-12">
                      <SELECT class="form-control" id="res_can" name="res_can" required>
                        <option value="0">NO</option>
                        <option value="1">SI</option>
                      </SELECT>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="SubmitCancelSheet();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="PrevFormsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-check" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Prevista de Servicio</h4>
      </div>
      <form class="PrevServiceInternet" method="post" id="PrevServiceInternet" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModalCancel"></div></div>
          <div class="row" style="text-align: center;">
            <input class="form-control hidden" type="number" id="mikro_id_prev" name="mikro_id_prev">
            <div class="form-group">
              <div class="col-md-12">
                <label><strong> Desea Incluir el Servicio en la Prevista ?</strong></label>
                <fieldset>
                  <div class="form-group">
                    <div class="col-md-12">
                      <SELECT class="form-control" id="res_prev" name="res_prev" required>
                        <option value="0">NO</option>
                        <option value="1">SI</option>
                      </SELECT>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="SubmitPrevSheet();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="ViewPreCord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">INFORMACI&Oacute;N DE COORDINACI&Oacute;N</h4>
      </div>
      <form class="InfoFormCoordination" id="InfoFormCoordination" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div id="coordInfoDCI"></div>
          <br/>
          <div id="coordInfoDRI"></div>
          <br/>
          <div id="coordInfoSVI"></div>
          <br/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>