{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Pre Coordinaciones</li>
    </ol>
  </div>
  <div id="content">    

      {% include('Support/PreCola.html.twig') %}

    </div>
  </div>

{% include('Support/modal.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
<script type="text/javascript">

$(function() 
{

  Load();

  $("#from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/Support/Mikrowisp/SearchDate') }}", data: {str:str},

        success: function(data)
        {
          $("#TablePreCoord").html(data.html);
          $('#dt_precord').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
          });
        }
        });
      }

  });
  
  $("#to").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });


////////////////////////////////// End Jquery ///////////////////////////////////
});


/////////////////////////////////////////////////////////////////////////////////

  function Load()
  {
  $.ajax({ type: "POST", url:  "{{ url('/Support/Mikrowisp/Load') }}",
  success: function(data)
  {
    if(data.status = true)
    {
      $("#TablePreCoord").html(data.html);
      $('#dt_precord').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });        
    }
  }    
  });
  }


  function PreCordView(id)
  {
    // blockUI(); 
    $.ajax({ type: "POST", url:  "{{ url('/Support/Mikrowisp/ViewPreCord') }}",data: {id: id},
    success: function(data)
    {
      $.unblockUI();
      if(data.status = true)
      {
        $('#coordInfoDCI').html(data.client);
        $('#coordInfoDRI').html(data.referred);
        $('#coordInfoSVI').html(data.service);
        $('#ViewPreCord').modal('show');        
      }
    }    
    });
  }

  function PreCordProc(id)
  {
    blockUI(); 
    $.ajax({ type: "POST", url:  "{{ url('/Support/Mikrowisp/ProcPreCord') }}",data: {id: id},
    success: function(data)
    {
      $.unblockUI();

      if(data.status = true)
      {
        SuccessNotified(data);
      }else{
        SuccessNotified(data);
      }
      Load();       
    }    
    });
  }

/////////////////////////////////////////////////////////////////////////////////

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });
}

  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  }

/////////////////////////////////////////////////////////////////////////////////

</script>
{% endblock %}