<div class="row">
  <div class="col-sm-12" style="text-align: center;">
    <label>Seleccione Rango de Busqueda:</label>
  </div>

  <form id="rangeDate">
    <div class="col-sm-6">
    
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="to" name="dateIni" type="text" placeholder="Fecha Inicial">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="from" name="dateEnd" type="text" placeholder="Fecha Final">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>      
    </div>
  </form>

</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row" style="margin-top: 10px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>LISTADO </h2>
          </header>
          <div>
            <div class="jarviswidget-editbox"></div>
            
            <div class="widget-body no-padding">
              <div id="TablePreCoord">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>