{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Hoja de Servicio Venezuela</li>
    </ol>
  </div>
  <div id="content">    

      {% include('Support/VeSheetService.html.twig') %}

    </div>
  </div>

{% include('Support/VeModal.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
<script type="text/javascript">

$(function() 
{

  Load()

  $("#from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/SheetVE/SheetLoadDate') }}", data: {str:str},

        success: function(data)
        {
          $('#dateStreetVe').val(data.dateStreet);
          $("#TableSheetDayVe").html(data.html);
          $('#ServTableVe').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
          });         
            
        }
        });
      }
  });

  $("#to").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });

  $("#serv_date").datepicker({
    dateFormat : 'mm-dd-yy',
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>'
  });

  $("#s_04").datepicker({
    dateFormat : 'mm-dd-yy',
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>'
  });

  $("#send_date").datepicker({
    dateFormat : 'mm-dd-yy',
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>'
  });

  
////////////////////////////// End Jquery //////////////////////////////
});

function Load()
{
  $.ajax({ type: "POST", url:  "{{ url('/SheetVE/Load') }}",
  success: function(data)
  {
    if(data.status = true)
    {
      $('#dateStreetVe').val(data.date);
      $("#TableSheetDayVe").html(data.html);
      $('#ServTableVe').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $.each(data.items, function(key, val)
      {
        $('#mw_type').append($("<option></option>").attr("VALUE", val.id).text(val.content));
      })   

    }
  }    
  });
}

function NewSheetVe()
{
  $('#ServiceInternetVe')[0].reset(); 
  $("#AlertSheetModalVe").html('');
  $('#NewFormsModalVe').modal('show');

}

function PaymentVe(id)
{
  $('#BodyPaymentVe')[0].reset();
  for (var i = 1; i < 100; i++) 
  {
      $('#items-'+i+'').remove();
  } 
  $("#AlertPaymentVE").html('');
  $('#PaymentModalVe').modal('show');  
  $('#mikro_id_items').val(id);
}

function AddItemsPay()
{

  $.ajax({ type: "POST", url:  "{{ url('/SheetVE/addItems') }}", data: {id: $('#mw_type').val()}, 
  success: function(data)
  {
    if(data.status = true)
    {
      let total = 0.00;
      if( $('#iva_'+data.items.id+'').val() == 0 )
      {
        total   =   data.items.cost * data.items.cantidad;
      }else{
        total   =   data.items.cost * data.items.cantidad;
        total   =   (total * ( data.items.iva / 100 )) + total;
      }

      $('#fItemsTable').append('<table>');
      $('#fItemsTable').append('<tr id="items-'+data.items.id+'"><td>'+data.items.content+'</td><td><input type="text" name="cost_'+data.items.id+'" id="cost_'+data.items.id+'" placeholder="1.00" value="'+data.items.cost+'" style="width: 50px; text-align: center;" readonly></td><td><input type="number" onkeypress="keyItemsCant('+data.items.id+')" name="cant_'+data.items.id+'" id="cant_'+data.items.id+'" placeholder="1.00" value="'+data.items.cantidad+'" style="width: 50px; text-align: center;"></td><td><input type="text" name="iva_'+data.items.id+'" id="iva_'+data.items.id+'" placeholder="16" value="'+data.items.iva+'" style="width: 50px; text-align: center;" onkeypress="keyItemsIva('+data.items.id+')"></td><td><input type="text" name="total_'+data.items.id+'" id="total_'+data.items.id+'" placeholder="1.00" value="'+total+'" style="width: 75px; text-align: center;" readonly></td><td><a href="javascript:;" onclick="removeItems('+data.items.id+')" class="btn btn-primary btn-xs">X</a></td></tr>');
      $('#fItemsTable').append('</table>');
    }else{
      $('#AlertPaymentModalVe').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Error, intente nuevamente</div>');
    }
  }    
  });

}

function keyItemsCant(id)
{
  setTimeout(
    function() 
    {
      let iva   = '';
      let total = 0.00;
      total   =   $('#cost_'+id+'').val() * $('#cant_'+id+'').val();

      if( $('#iva_'+id+'').val() == 0 )
      {
        total   =   $('#cost_'+id+'').val() * $('#cant_'+id+'').val();
        $('#total_'+id+'').val(total);
      }else{
        total   =   $('#cost_'+id+'').val() * $('#cant_'+id+'').val();
        total   =   (total * ( $('#iva_'+id+'').val() / 100 )) + total;
        $('#total_'+id+'').val(total);
      }
    }, 

1000);

}

function keyItemsIva(id)
{
  setTimeout(
    function() 
    {
      let iva   = '';
      let total = 0.00;
      total   =   $('#cost_'+id+'').val() * $('#cant_'+id+'').val();
      total   =   (total * ( $('#iva_'+id+'').val() / 100 )) + total;
      $('#total_'+id+'').val(total)
    }, 

1000);

}

function removeItems(id) 
{
  $('#items-'+id+'').remove();
}

function submitItemsPay()
{
  var sheet = $('#BodyPaymentVe').serialize();

  var nFilas = $("#fItemsTable tr").length;

  if(nFilas == 1)
  {
    $('#AlertPaymentModalVe').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Error, debe ingresar al menos un dato para la factura</div>');
  }else{

    $('#AlertPaymentModalVe').html('');
    $.ajax({ type: "POST", url:  "{{ url('/SheetVE/createBill') }}", data: {str: sheet}, 
    beforeSend: function(request){
      $('#AlertPaymentModalVe').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, Por Favor Espere</div>');
    },
    success: function(data)
    {
      if(data.status = true)
      {
        $('#AlertPaymentModalVe').html('');
        $('#AlertPaymentModalVe').html('<div class="alert alert-success fade in"><i class="fa-fw fa fa-success"></i> Factura creada exitosamente</div>');
        $('#PaymentModalVe').modal('hide');
      }else{
        $('#AlertPaymentModalVe').html('');
        $('#AlertPaymentModalVe').html('<div class="alert alert-dange fade in"><i class="fa-fw fa fa-dange"></i> Error, intente nuevamente</div>');
      }
    }    
    });
  }


}


function SubmitSheetPrevVe()
{
    var date    = $('#serv_date').val();
    var id      = $('#mikro_id').val();

    if($('#serv_date').val() == "" || $('#mikro_id').val() == "")
    {
      $('#AlertSheetModalVe').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Existen datos faltantes, Verificar.</div>');
    }else{

      $('#AlertSheetModalVe').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, por favor espere.</div>');
      $.ajax({ type: "POST", url:  "{{ url('/SheetVE/SheetCreation') }}", data: {id: id, date: date},
      success: function(datos)
      {
        if(datos.status == true)
        {
          
          $('#NewFormsModalVe').modal('hide');  
          $('#BodySubSheetVe')[0].reset();
          $("#SheedBodyVE").html('');
          $("#SheedBodyVE").html(datos.html);
          $("#s_04").datepicker({
            dateFormat : 'mm-dd-yy',
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>'
          });
          $('#EditFormsModalVe').modal('show');  

          $('#s_08').change(function(event) 
          {
            var plan = $('#s_08').val(); 
            $.ajax({ type: "POST", url:  "{{ url('/SheetVE/ChangePlan') }}", data: {plan: plan},
            beforeSend: function(request){
              $('#AlertPlanVe').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, Por Favor Espere</div>');
            },
            success: function(datos)
            {
                $('#AlertPlan').html('');
                if(datos.status == true)
                {

                  $('#s_09').val(datos.info.plan);
                  $('#s_10').val(datos.info.ip);
                  $('#s_16').val(datos.info.ap);

                }else{
                  
                  ErrorNotified(datos);
                }
            }
            });
          });

        }else{
          ErrorNotified(datos);
          $('#PrevServiceInternetVe')[0].reset();
          $('#alarmPrevNot').html(datos.html);
          $('#NewFormsModalVe').modal('hide');
          $('#EditFormsModalVe').modal('hide');
        }
      }
      });
  }
}

function SubmitSheetServiceVe()
{
  var sheet = $('#BodySubSheetVe').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/SheetVE/SheetSave') }}", data: {str: sheet},
  success: function(datos)
  {
    if(datos.status == true)
    {
    
      $('#BodySubSheetVe')[0].reset();
      $('#EditFormsModalVe').modal('hide');  
      var   url    = "SheetDownloadVe.php?datos="+datos.dataID+"";
      window.open(url, '_blank');
      Load();
    }else{
      ErrorNotified(datos);
      $('#BodySubSheetVe')[0].reset();
      $('#EditFormsModalVe').modal('hide');
    }
  }
  });

}


function ViewSheetVe(id)
{
  window.location.href = "SheetViewVe.php?datos="+id+"";

}

function EditSheetVe(id)
{

  $.ajax({ type: "POST", url:  "{{ url('/SheetVE/EditSheet') }}", data: {id: id},
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {
    $.unblockUI();
    if(datos.status == true)
    {
      $('#id_mikro').val(id);
      $('#SheetBodyVe').html(datos.html);
      $("#s_04").datepicker({
        dateFormat : 'mm-dd-yy',
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1,
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>'
      });
      $('#EditSheetModalVe').modal('show');


      $('#s_08').change(function(event) 
      {
        var plan = $('#s_08').val(); 
        $.ajax({ type: "POST", url:  "{{ url('/SheetVE/ChangePlan') }}", data: {plan: plan},
        beforeSend: function(request){
          $('#AlertPlan').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, Por Favor Espere</div>');
        },
        success: function(datos)
        {
            $('#AlertPlan').html('');
            if(datos.status == true)
            {

              $('#s_09').val(datos.info.plan);
              $('#s_10').val(datos.info.ip);
              $('#s_16').val(datos.info.ap);

            }else{
              
              ErrorNotified(datos);
            }
        }
        });
      });

    }else{
      
      ErrorNotified(datos);
    }
  }
  });

}

function SubmitEditSheetVe()
{ 
  var str = $('#BodyEditSheetVe').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/SheetVE/SubmitEditSheet') }}", data: {str: str},
  beforeSend: function(request){
    $('#AlertSubmit').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando Actualizacion, Por Favor Espere</div>');
  },
  success: function(datos)
  {
    $('#AlertSubmit').html('');
    if(datos.status == true)
    {
      $('#BodyEditSheetVe')[0].reset();
      $('#EditSheetModalVe').modal('hide');
      var   url    = "SheetDownloadVe.php?datos="+datos.dataID+"";
      window.open(url, '_blank');
      Load();
    }else{
      
      ErrorNotified(datos);
    }
    $('#BodyEditSheetVe')[0].reset();
    $('#EditSheetModalVe').modal('hide');
  }
  });

}

function SubmitPrevSheetVe()
{
  var str = $('#PrevServiceInternetVe').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/SheetVE/PrevSheet') }}", data: {str: str},
  success: function(datos)
  {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        Load();

      }else{
        
        ErrorNotified(datos);
      }
        $('#PrevServiceInternetVe')[0].reset();
        $('#PrevFormsModalVe').modal('hide');
  }
  });

}

function CheckSheetVe(id)
{
  $('#mikro_id_prev').val(id);
  $('#PrevFormsModalVe').modal('show');

}

function CancelSheetVe(id)
{
  $('#mikro_id_can').val(id);
  $('#CancelFormsModalVe').modal('show');

}

function SubmitCancelSheetVe()
{
  var str = $('#CanServiceInternetVe').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/SheetVE/CancelSheet') }}", data: {str: str},
  success: function(datos)
  {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        Load();
      }else{

        ErrorNotified(datos);
      }
        $('#CanServiceInternetVe')[0].reset();
        $('#CancelFormsModalVe').modal('hide');
  }
  });
}

function StreetSmartVe()
{
  var  date =  $('#dateStreetVe').val();

  window.location.href = "StreetSmartVe.php?datos="+date+"";
}

function ViewSheetEmailVe()
{
  $('#FormSendSheetEmail')[0].reset();
  $('#AlertSheetModalEmailVe').html('');

  $('#SendSheetEmail').modal('show');
}

function SubmitSendSheetVe()
{
  var str = $('#FormSendSheetEmail').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/SheetVE/SendEmailDay') }}", data: {str: str},
  beforeSend: function(request){
    $("#AlertSheetModalEmailVe").html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i><strong> Procesando </strong> Por Favor Espere...</div>');
  },
  success: function(datos)
  {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        $('#FormSendSheetEmail')[0].reset();
        $('#SendSheetEmail').modal('hide');
      }else{
        $('#FormSendSheetEmail')[0].reset();
        $("#AlertSheetModalEmailVe").html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i><strong> Error </strong> '+datos.content+'</div>');    
      }
  }
  });
}

/////////////////////////////////////////////////////////////////////////////////

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });
}

  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  }

/////////////////////////////////////////////////////////////////////////////////


</script>
{% endblock %}