<div class="modal fade" id="NewFormsModalVe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Servicio de Internet</h4>
      </div>
      <form class="ServiceInternetVe" method="post" id="ServiceInternetVe" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModalVe"></div></div>
          <div class="row" style="text-align: center;">
            <div class="form-group">
              <div class="col-md-12">
                <label><strong> Indique N&uacute;mero de Cliente Mikrowisp </strong></label>
                <input class="form-control" type="number" id="mikro_id" name="mikro_id" placeholder="Numero de Cliente" required>
              </div>
              <div class="col-md-12" style="margin-top: 10px;">
                <label><strong> Fecha de Servicio </strong></label>
                <input class="form-control" type="text" id="serv_date" name="serv_date" placeholder="Fecha de Servicio" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="SubmitSheetPrevVe();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="EditFormsModalVe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa fa-edit" style="font-size: 50px;"></i>
        <h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Servicio de Internet VE</h4>
      </div>
        <div class="modal-body" style="background: aliceblue;">
          <div class="widget-body no-padding">
            <form class="smart-form" method="post" id="BodySubSheetVe" data-parsley-validate="">
            <div id="SheedBodyVE"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <a onclick="SubmitSheetServiceVe();" class="btn btn-success">PROCESAR</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="EditSheetModalVe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa fa-edit" style="font-size: 50px;"></i>
        <h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Servicio de Internet VE Edit</h4>
      </div>
        <div class="modal-body" style="background: aliceblue;">
          <div class="widget-body no-padding">
            <form class="smart-form" method="post" id="BodyEditSheetVe" data-parsley-validate="">
            <input class="form-control hidden" type="number" id="id_mikro" name="id_mikro">
            <div id="SheetBodyVe"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <a onclick="SubmitEditSheetVe();" class="btn btn-success">PROCESAR</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="CancelFormsModalVe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-times" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Cancelar Servicio de Internet</h4>
      </div>
      <form class="CanServiceInternetVe" method="post" id="CanServiceInternetVe" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModalCancelVe"></div></div>
          <div class="row" style="text-align: center;">
            <input class="form-control hidden" type="number" id="mikro_id_can" name="mikro_id_can">
            <div class="form-group">
              <div class="col-md-12">
                <label><strong> Desea Cancelar Hoja de Servicio ? </strong></label>
                <fieldset>
                  <div class="form-group">
                    <div class="col-md-12">
                      <SELECT class="form-control" id="res_can" name="res_can" required>
                        <option value="0">NO</option>
                        <option value="1">SI</option>
                      </SELECT>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="SubmitCancelSheetVe();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="PrevFormsModalVe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-check" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Prevista de Servicio</h4>
      </div>
      <form class="PrevServiceInternetVe" method="post" id="PrevServiceInternetVe" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModalCancel"></div></div>
          <div class="row" style="text-align: center;">
            <input class="form-control hidden" type="number" id="mikro_id_prev" name="mikro_id_prev">
            <div class="form-group">
              <div class="col-md-12">
                <label><strong> Desea Incluir el Servicio en la Prevista ?</strong></label>
                <fieldset>
                  <div class="form-group">
                    <div class="col-md-12">
                      <SELECT class="form-control" id="res_prev" name="res_prev" required>
                        <option value="0">NO</option>
                        <option value="1">SI</option>
                      </SELECT>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="SubmitPrevSheetVe();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="SendSheetEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-send" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Envio de Hojas de Servicio</h4>
      </div>
      <form class="FormSendSheetEmail" method="post" id="FormSendSheetEmail" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModalEmailVe"></div></div>
          <div class="row" style="text-align: center;">
            <div class="form-group">
              <div class="col-md-12">
                <label><strong> Seleccione Fecha de Hojas de Servicio </strong></label>
                <fieldset>
                  <div class="form-group">
                    <div class="col-md-12">
                      <input class="form-control" type="text" id="send_date" name="send_date" placeholder="Fecha de Servicio" required>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="SubmitSendSheetVe();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="PaymentModalVe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
        <h4 class="modal-title" id="myModalLabel">Banco's</h4>
      </div>
      <form class="BodyPaymentVe" method="post" id="BodyPaymentVe" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertPaymentModalVe"></div></div>
          <input class="form-control hidden" type="number" id="mikro_id_items" name="mikro_id_items">
          <div class="row">
            <div class="col-md-6" style="margin-top: 30px;">

              <div class="form-group" style="text-align: center;">
                <label for="category"> SELECCIONE EL TIPO DE SERVICIO</label>
              </div>

            </div>
            <div class="col-md-5">
              <div class="form-group" style="text-align: center;">
                <label for="category"> Tipo</label>
                <select class="form-control" id="mw_type" name="mw_type" required>
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="category">ADD</label><br>
                <a href="javascript:;" onclick="AddItemsPay();" class="btn btn-primary">+</a>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12">
              <table id="fItemsTable" class="table table-striped table-bordered table-hover">
                <thead style="text-align: center;">
                  <tr>
                    <th style="width: 55%; text-align: center;">Items</th>
                    <th style="width: 10%; text-align: center;">Costo</th>
                    <th style="width: 10%; text-align: center;">Cantidad</th>
                    <th style="width: 10%; text-align: center;">IVA</th>
                    <th style="width: 15%; text-align: center;">Total</th>
                    <th style="width: 5%; text-align: center;">Edit</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                </tbody>
              </table>            
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a onclick="submitItemsPay();" class="btn btn-success">PROCESAR</a>
        </div>
      </form>
    </div>
  </div>
</div>