{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">

	<div class="row">
      
      {% include('leaders/inforecorduser.html.twig') %}
      
      {% include('leaders/showrecorduser.html.twig') %}

	</div>
	

  </div>
</div>

{% include('leaders/modal.html.twig') %}


{% endblock %}

{% block js %}
{{ parent() }}

<script type="text/javascript">
$(function() {
	$('#dateTime_in').datepicker({
		dateFormat : 'yy-mm-dd',
		prevText : '<i class="fa fa-chevron-left"></i>',
		nextText : '<i class="fa fa-chevron-right"></i>',
	});
	$('#dateTime_out').datepicker({
		dateFormat : 'yy-mm-dd',
		prevText : '<i class="fa fa-chevron-left"></i>',
		nextText : '<i class="fa fa-chevron-right"></i>',
	});
	Load();
});



	$('#crit_calls').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
		var str = $("#crit_calls").serialize();
		// blockUI();
			$.ajax({ type: "POST", url:  "{{ url('/Leaders/FormLoad') }}", data: {str: str},
		success: function(datos)
		{
			$("#tableStatics").html('');
			$("#tableCalls").html('');
			$("#tableStatics").html(datos.hsta);
			$("#tableCalls").html(datos.html);
			$.unblockUI();
		}

		});
		return false;
    });

	$('#formuserLeaders').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
		var str = $("#formuserLeaders").serialize();
		blockUI();
			$.ajax({ type: "POST", url:  "{{ url('/Leaders/FormEditUser') }}", data: {str: str},
		success: function(datos)
		{
			$.unblockUI();

			if(datos.status == true)
			{
				$('#EditUserLeaderModal').modal('hide');
			}else{
				  $.smallBox({
				    title : "Error",
				    content : "Error al intentar actualizar el operador, si el error persiste contacte a su administrador de sistemas.",
				    color : "#C46A69",
				    iconSmall : "fa fa-warning shake animated",
				    timeout : 4000
				  });
			}
		}

		});
		return false;
    });


    function Load()
    {
    	blockUI(); 
		$.ajax({ type: "POST", url:  "{{ url('/Leaders/Load') }}",
	    success: function(datos)
	    {
	    	$("#tableCalls").html('');
	        $("#tableCalls").html(datos.html);
	        $('#leaderUsertable').DataTable({

	            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
	            pageLength: 10
	        });
	        $.unblockUI();
	    }

	  });
    }

	function EditUser(id)
	{

		$.ajax({ type: "POST", url:  "{{ url('/Leaders/EditUser') }}",data: {id: id}, 
	    success: function(datos)
	    {
	    	$("#type").val('');
		    $("#type").val('edit');
		    $("#id").val(datos.user.id);
		    $("#name").val(datos.user.name);
		    $("#username").val(datos.user.username);
			$("select[name=hours_in]").val(datos.user.hours_in);
			$("select[name=hours_out]").val(datos.user.hours_out);
			if(datos.user.tv_pr  =='on'){$('#tv_pr').prop('checked',true);}else{$('#tv_pr').prop('checked', false);}
			if(datos.user.sec_pr =='on'){$('#sec_pr').prop('checked',true);}else{$('#sec_pr').prop('checked', false);}
			if(datos.user.net_pr =='on'){$('#net_pr').prop('checked',true);}else{$('#net_pr').prop('checked', false);}
			if(datos.user.wrl_pr =='on'){$('#wrl_pr').prop('checked',true);}else{$('#wrl_pr').prop('checked', false);}
	        $.unblockUI();

			$('#EditUserLeaderModal').modal('show');
	    }

		});
	}



	function blockUI()
	{
	    $.blockUI({ css: {
	     border: 'none',
	     padding: '15px',
	     backgroundColor: '#000',
	       '-webkit-border-radius': '10px',
	       '-moz-border-radius': '10px',
	     opacity: .5,
	     color: '#fff'
	  }});
	}

</script>
{% endblock %}