<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Criterios de Llamadas </h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">

            <form id="crit_calls" class="smart-form" novalidate="novalidate">

              <fieldset>

                <div class="row">
                  <section class="col col-6">
                    <label class="select">
                      <select name="operator" id="operator">
                        <option value="0" selected="" disabled="">Seleccione Operador</option>
                          {% for user in users %}
                            <option value="{{ user['id'] }}"> {{ user['username'] }}
                          {% endfor %}
                      </select> <i></i> 
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="select">
                      <select name="country" id="country">
                        <option value="0" selected="" disabled="">Seleccione Pais</option>
                            <option value="1"> PUERTO RICO</option>
                            <option value="2"> ESTADOS UNIDOS</option>
                            <option value="4"> VENEZUELA</option>
                      </select> <i></i> 
                    </label>
                  </section>
                </div>    

                <div class="row">
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="dateTime_in" id="dateTime_in" required placeholder="Fecha Inicial">
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="dateTime_out" id="dateTime_out" required placeholder="Fecha Fin">
                    </label>
                  </section>
                </div>               
              </fieldset>
              
              <footer>
                <button type="submit" class="btn btn-primary">Validar</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

