<div class="modal fade" id="EditUserLeaderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-user" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Edit User</h4>
			</div>
			<form class="formuserLeaders" method="post" id="formuserLeaders" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertUser"></div>
						<input type="text" id="id" name="id" class="form-control hidden" placeholder="id" />
						<input type="text" id="type" name="type" class="form-control hidden" placeholder="type" value="new" />
					</div> 
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Nombre</label>
								<input readonly type="text" id="name" name="name" class="form-control" placeholder="Nombre" required />
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Username</label>
								<input readonly type="text" id="username" name="username" class="form-control" placeholder="Username" required />
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Hora de Entrada</label>
								<select class="form-control" id="hours_in" name="hours_in" required>
									<option value="7">7 am</option>
									<option value="8">8 am</option>
									<option value="9">9 am</option>
									<option value="10">10 am</option>
									<option value="11">11 am</option>
									<option value="12">12 pm</option>
									<option value="13">1 pm</option>
									<option value="14">2 pm</option>
									<option value="15">3 pm</option>
									<option value="16">4 pm</option>
									<option value="17">5 pm</option>
									<option value="18">6 pm</option>
									<option value="19">7 pm</option>
									<option value="10">8 pm</option>
									<option value="21">9 pm</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<label for="category"> Hora de Salida</label>
							<select class="form-control" id="hours_out" name="hours_out" required>
								<option value="7">7 am</option>
								<option value="8">8 am</option>
								<option value="9">9 am</option>
								<option value="10">10 am</option>
								<option value="11">11 am</option>
								<option value="12">12 pm</option>
								<option value="13">1 pm</option>
								<option value="14">2 pm</option>
								<option value="15">3 pm</option>
								<option value="16">4 pm</option>
								<option value="17">5 pm</option>
								<option value="18">6 pm</option>
								<option value="19">7 pm</option>
								<option value="10">8 pm</option>
								<option value="21">9 pm</option>
							</select>
						</div>
					</div>

					<div class="row" style="font-size: 11px;">
						<div class="col-md-3">
							<div class="form-group">
								
								<label for="category"> DirecTV PR</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="tv_pr" id="tv_pr">
									<label class="onoffswitch-label" for="tv_pr">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="category"> Security PR</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="sec_pr" id="sec_pr">
									<label class="onoffswitch-label" for="sec_pr">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="category"> Internet PR</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="net_pr" id="net_pr">
									<label class="onoffswitch-label" for="net_pr">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="category"> Wireless PR</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="wrl_pr" id="wrl_pr">
									<label class="onoffswitch-label" for="wrl_pr">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>