<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Resultados </h2>
        </header>
        <div>
          <div class="table-responsive">
            <div id="tableStatics" style="text-align: center;"></div>
            <div id="tableCalls"></div>
          </div>            
        </div>
      </div>
    </div>
  </div>
</div>

