<div class="row" style="margin-top: 10px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
      <header>
      	<span class="widget-icon"> <i class="fa fa-table"></i> </span>
      	<h2>Operadores del Team </h2>
      </header>
      <div>
				<div class="jarviswidget-editbox"></div>
				
        <div class="widget-body no-padding">
  				<table id="dt_team" class="table table-striped table-bordered table-hover" width="100%">
  					<thead>			                
  						<tr>
  							<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Nomhre</th>
  							<th data-hide="phone"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Usuario</th>
  							<th data-hide="user"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Email</th>
                <th data-hide="user"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Team</th>
  							<th data-hide="user"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Status</th>
  							<th data-hide="user"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Accion</th>
  						</tr>
  					</thead>
  					<tbody>
  						{% for user in users %}
  	            		<tr>
  	            			<td>{{ user.name 		 }}</td>
  	            			<td>{{ user.username }}</td>
  	            			<td>{{ user.email 	 }}</td>
                      <td>{{ user.team     }}</td>
  	            			<td>{{ user.status 	 }}</td>
  	            			<td>
  								      <div class='btn-group'>
  									       <a class="btn btn-primary btn-xs" onclick="ShowInfo({{ user.id }});"><i class="fa fa-edit"></i> Editar</a>
  				              </div>
  	            			</td>
  	            		</tr>
  						{% endfor %}
  					</tbody>
  				</table>
				</div>
      </div>
    </div>
  </div>
</div>