{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Aprobaciones</li>
    </ol>
  </div>
  <div id="content">    

    {% include('approvals/general.html.twig') %}
    
    </div>
  </div>

{% include('approvals/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">
$(document).ready(function() 
{
  Load();

  $("#from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/Appro/SearchDate') }}", data: {str:str},
        beforeSend: function(request){
          blockUI();
        },
        success: function(data)
        {
          $.unblockUI();
          // $("#TableApprovalsPending").html('');
          // $("#TableApprovalsProcessed").html('');
          $("#TableApprovalsPending").html(data.pending);
          $('#TablePendingAprovHtml').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
          });        
          $("#TableApprovalsProcessed").html(data.processed);
          $('#TableProcessAprovHtml').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });
        }
        });
      }

  });
  
  $("#to").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });

  $("#noteClientForm2").on('submit', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{{ url('/Appro/NotesSave') }}",
        data: new FormData(this),
        contentType: false,
        cache: false,
        processData:false,
        beforeSend: function(request){
          blockUI();
        },
        success: function(datos){
          $.unblockUI();
          if(datos.status == true)
          {
            $('#noteClientForm2')[0].reset();
            $("#chat-body2").html('');
            $('#ViewNotesAprovals').modal('hide');          

          }else{
              $("#alarmNote2").html('');
              $("#alarmNote2").html(datos.html);
          }
        }
    });
  });

  $("#file2").change(function() {
    var file = this.files[0];
    var imagefile = file.type;

    var match= ["application/vnd.ms-excel", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/pdf", "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/msword", "image/jpeg","image/png","image/jpg"];

    if(!((imagefile==match[0]) || (imagefile==match[1]) || 
        (imagefile==match[2]) || (imagefile==match[3])  ||
        (imagefile==match[4]) || (imagefile==match[5])  ||
        (imagefile==match[6]) || (imagefile==match[7])
        ))
    {
        alert('Please select a valid image file (EXCEL/PDF/WORD/JPEG/JPG/PNG).');
        $("#file2").val('');
        return false;
    }
  });

// setInterval(function()
// { 
//   var dateFrom  = $('#from').val();
//   var dateTo    = $('#to').val();
//   if((dateFrom == "") && (dateTo == ""))
//   {
//     Load();
//   }

// }, 60000);


});

/////////////////////////// Views Load ///////////////////////////
  
  function Load()
  {
    $.ajax({ type: "POST", url:  "{{ url('/Appro/Load') }}",
    success: function(data)
    {
      if(data.status = true)
      {
        $("#TableApprovalsPending").html(data.pending);
        $('#TablePendingAprovHtml').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
        });        
        $("#TableApprovalsProcessed").html(data.processed);
        $('#TableProcessAprovHtml').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
        });
      $("#TableApprovalsCancel").html(data.cancel);
        $('#TableCancelprovHtml').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
        });
      }
      $("#TableApprovalsErrorTV").html(data.errorTV);
        $('#TableErrorTVAprovHtml').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
        });
      }
    });
  }

/////////////////////////// View Pending ///////////////////////////

  function SaveCancelQual()
  {

    
    var str = $("#SubCancelQual").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Appro/ProcCancel') }}", data: {str: str},
    beforeSend: function(request){
      $('#AlertBodyCancel').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i><strong> Procesando </strong> Por Favor Espere...</div>');
    },
    success: function(datos)
    {
      if(datos.status == true){ 
        SuccessNotified(datos); 
        $("#alertReferred").html('');
        $('#AlertBodyCancel').html('');
        $('#SubCancelQual')[0].reset();
        $('#ViewCancelAprovals').modal('hide');
      }
      else{ 
        ErrorNotified(datos);
        $("#alertReferred").html('');
        // $("#alertReferred").html(datos.html); 
      }
      $('#AlertBodyCancel').html('');
    }
    });
  return false;
  }

/////////////////////////// View Pending ///////////////////////////
  
  function ViewAproPend(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/Appro/ViewAproPend') }}", data: {id: id},
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      if(datos.status == true){
          $('#ApproInfoDC').html(datos.client);
          $('#ApproInfoDR').html(datos.referred);
          $('#ApproInfoSV').html(datos.service);

          $('#InfoViewApprovals').modal('show');
      }else{
          $("#alert").html('');
      }
      $.unblockUI();
    }
   });
  }

/////////////////////////// View Qualifications ///////////////////////////

  function QualAproPend(id)
  {
    $("#BodyViewQualData").html('');
    $.ajax({ type: "POST", url:  "{{ url('/Appro/QualAproPend') }}", data: {id: id},
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      $("#BodyViewQualData").html(datos.qual);
      $('#ViewQualificationsAprovals').modal('show');
      $.unblockUI();
    }
   });
  
  }

/////////////////////////// Process Qualifications ///////////////////////////

  function QualAproProc(id)
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Appro/QualAproProc') }}", data: {id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        $.unblockUI();
        SuccessNotified(datos);

      }else{  ErrorNotified(datos); }

    }
   });
  
  }

/////////////////////////// View Notes ///////////////////////////

  function NotesAproPend(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/Appro/Notes') }}", data: {id: id},
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      if(datos.status == true)
      {
        $('#noteClientForm2')[0].reset();
        $("#client_id_n").val(datos.client);
        $("#chat-body2").html('');
        $("#chat-body2").html(datos.notes);
        $('#ViewNotesAprovals').modal('show');

      }else{
        $('#noteClientForm2')[0].reset();
        $('#alarmNote2').html(datos.html);
      }
      $.unblockUI();
    }
    });
  }

//////////////////////// Copy Last Score ///////////////////////////

  function CopyScore(id)
  {
    var cl = $('#qual_id').val();

    $.ajax({ type: "POST", url:  "{{ url('/Appro/CopyScore') }}", data: {id: id, cl: cl},
      success: function(datos)
      {
        if(datos.status == true){
            $('#ViewQualificationsAprovals').modal('hide');
            SuccessNotified(datos);
        }else{
            ErrorNotified(datos);
        }
      }
   });
  
  }

/////////////////////////// View Cancel ///////////////////////////
  
  function CancAproPend(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/Appro/ViewCancel') }}", data: {id: id},
      beforeSend: function(request){
        blockUI();
      },
      success: function(datos)
      {
        if(datos.status == true){
          $("#BodyViewCancelData").html('');
          $("#BodyViewCancelData").html(datos.html);
          $('#ViewCancelAprovals').modal('show');
        }else{
            $("#alert").html('');
        }
        $.unblockUI();
      }
   });
  
  }

/////////////////////////// Save Qualifications ///////////////////////////

  function SaveQualApro()
  {
    window.alert("Save");

  }

///////////////////////// Save Qualifications Tmp /////////////////////////

  function SaveQualAproTmp()
  {
        var str = $("#SubAproQual").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/Appro/SaveQualTmp') }}", data: {str: str},
        beforeSend: function(request){
          blockUI();
        },
        success: function(datos)
        {
          if(datos.status == true)
          {
            $('#ViewQualificationsAprovals').modal('hide');
            SuccessNotified(datos);
          }else{
            ErrorNotified(datos);
          }
          $.unblockUI();
        }
      });

  }

  
/////////////////////////////////////////////////////////////////////////////////

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });
}

  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  }

/////////////////////////////////////////////////////////////////////////////////

</script>
{% endblock %}