<!-- --------------------------- Client Modal ---------------------------->

<div class="modal fade" id="ViewClientAprovals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
			</div>
			<form data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="BodyViewAproData"></div>
					<div id="BodyViewAproServ"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Qualifications Modal ---------------------------->

<div class="modal fade" id="ViewQualificationsAprovals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-check" style="font-size: 50px;"></i>
			</div>
			<form class="QualAproInfo" method="post" id="SubAproQual" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="BodyViewQualData"></div>
				</div>
				<div class="modal-footer">
					<button type="button" onclick="SaveQualAproTmp();" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Notes Modal ---------------------------->

<div class="modal fade" id="ViewNotesAprovals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-comments" style="font-size: 50px;"></i>
			</div>
				<div class="modal-body" style="background: aliceblue;">
	 				<div class="widget-body">
				        <div class="widget-body">
				          <form enctype="multipart/form-data" id="noteClientForm2" data-parsley-validate="">
				            <div class="chat-footer">
				              <div class="textarea-div">
				                <div class="typearea" style="text-align: center;" id="alarmNote2"></div>
				                <div class="typearea">
				                  <input name="client_id_n" id="client_id_n" readonly hidden>
				                  <textarea placeholder="Notes" id="notes2" name="notes" class="custom-scroll"></textarea>
				                </div>
				              </div>
				              <span class="textarea-controls">
				                <div class="row">
				                  <div class="col-lg-3">
				                    <input type="file" class="form-control" id="file2" name="file" />
				                  </div>
				                  <div class="col-lg-9">
				                    <button class="btn btn-sm btn-primary pull-right" type="submit" >Enviar</button>
				                    <span class="pull-right smart-form" style="margin-top: 3px; margin-right: 10px;">
				                      <label class="checkbox pull-right"></label>
				                    </span>    
				                  </div>
				                </div>
				              </span>
				            </div>
				          </form>
				          <div id="chat-body2" class="chat-body custom-scroll" style="height: 500px;">
				            <ul>
				             
				            </ul>
				          </div>
				        </div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Terminar</button>
				</div>
		</div>
	</div>
</div>

<!----------------------------- Cancel Modal ---------------------------->

<div class="modal fade" id="ViewCancelAprovals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-times" style="font-size: 50px;"></i>
			</div>
				<div class="modal-body" style="background: aliceblue;">
				<form class="smart-form" data-parsley-validate="" method="post" id="SubCancelQual"" style="background: aliceblue;">
					<div id="AlertBodyCancel"></div>
					<div id="BodyViewCancelData"></div>
				</div>
				<div class="modal-footer">
					<button type="button" onclick="SaveCancelQual();" class="btn btn-default">Terminar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Notes Modal ---------------------------->

<div class="modal fade" id="ViewLastAprovals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-user" style="font-size: 50px;"></i>
			</div>
			<form class="EditEvent" method="post" id="EditEvent" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
	 				<div class="widget-body">
						<fieldset>
							<div class="form-group">
								<div class="row">
					                <table class="table table-bordered" style="background: #ecf8ff; margin-top: 10px; font-size: 11px;">
					                  <tbody>
					                    <tr>
					                      <td><strong>Operador</strong></td>
					                      <td>ROSELIT.LEAD</td>
					                      <td><strong>Fecha</strong></td>
					                      <td>2019-09-31 16:59:59</td>
					                    </tr>
					                  </tbody>
					                </table>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="InfoViewApprovals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">INFORMACI&Oacute;N DE COORDINACI&Oacute;N</h4>
			</div>
			<form data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="ApproInfoDC"></div>
					<br/>
					<div id="ApproInfoDR"></div>
					<br/>
					<div id="ApproInfoSV"></div>
					<br/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</form>
		</div>
	</div>
</div>

