{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    

    {% if app.session.get('role') == "1" %}
  
      {% include('cameras/cameras.html.twig') %}
      
      {% include('cameras/dvr.html.twig') %}

    {% endif %}

    </div>
  </div>

{% include('cameras/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

////////////////////////////// Data Cameras //////////////////////////////

    $('#dt_camera').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_camera'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formcamera').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formcamera").serialize();
          $.ajax({ type: "POST", url:  "{{ url('CameraForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertCamera").html('');
                  $('#NewCameraModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertCamera").html('');
                    $("#alertCamera").html(datos.html);
                }
            }
          });
        return false;
    }); 
 

////////////////////////////// Data DVR //////////////////////////////

    $('#dt_dvr').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_dvr'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formdvr').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formdvr").serialize();
          $.ajax({ type: "POST", url:  "{{ url('DvrForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertDvr").html('');
                  $('#NewDvrModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertDvr").html('');
                    $("#alertDvr").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// End Jquery //////////////////////////////

});

////////////////////////// Function Cameras //////////////////////////////

  function CamerasEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('CameraEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_cam").val('');
            $("#type_cam").val('edit');
            $("#id_cam").val(datos.camera.id);
            $("#name_cam").val(datos.camera.name);
            $("select[name=status_id_cam]").val(datos.camera.status);
            $("select[name=country_id_cam]").val(datos.camera.country);
            $('#NewCameraModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function DVR //////////////////////////////

  function DvrEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('DvrEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_dvr").val('');
            $("#type_dvr").val('edit');
            $("#id_dvr").val(datos.dvr.id);
            $("#name_dvr").val(datos.dvr.name);
            $("select[name=status_id_dvr]").val(datos.dvr.status);
            $("select[name=country_id_dvr]").val(datos.dvr.country);
            $('#NewDvrModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}