<!----------------------------- Cameras Modal ---------------------------->

<div class="modal fade" id="NewCameraModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-video-camera" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Camaras</h4>
			</div>
			<form class="formcamera" method="post" id="formcamera" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertCamera"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_cam" name="id_cam" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_cam" name="type_cam" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_cam" name="name_cam" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_cam" name="country_id_cam" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_cam" name="status_id_cam" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- DVR Modal ---------------------------->

<div class="modal fade" id="NewDvrModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-video-camera" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">DVR</h4>
			</div>
			<form class="formdvr" method="post" id="formdvr" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertDvr"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_dvr" name="id_dvr" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_dvr" name="type_dvr" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_dvr" name="name_dvr" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_dvr" name="country_id_dvr" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_dvr" name="status_id_dvr" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>
