{% include('ticket/support/charts.html.twig') %}

<div class="row no-space">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<section id="widget-grid" class="">
			<div class="row">
				<article class="col-sm-12">
					<div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
						<header>
							<ul class="nav nav-tabs pull-right in" id="myTab">
								<li><a data-toggle="tab" id="aaRef" href="#aaRef"><i class="fa fa-refresh"></i> <span class="hidden-mobile hidden-tablet"></span></a></li>
								<li class="active"><a data-toggle="tab" id="aa1" href="#sape"><i class="fa fa-check"></i> <span class="hidden-mobile hidden-tablet">Pendientes</span></a></li>
								<li><a data-toggle="tab" id="aa2" href="#satv"><i class="fa fa-dashboard"></i> <span class="hidden-mobile hidden-tablet">Procesadas</span></a></li>
								<li><a data-toggle="tab" id="aa3" href="#sain"><i class="fa fa-times"></i> <span class="hidden-mobile hidden-tablet">Canceladas</span></a></li>
							</ul>
						</header>
						<div class="no-padding">
							<div class="widget-body">
								<div id="myTabContent" class="tab-content">
									<div class="tab-pane active" id="sape">
										<div class="tab-pane fade in padding-10 no-padding-bottom" id="aa1">
											<div class="table-responsive">
												<div id="TicketSupPending" style="font-size: 11px;">
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="satv">
										<div class="tab-pane fade in padding-10 no-padding-bottom" id="aa2">
											<div class="table-responsive">
												<div id="TicketSupProcess" style="font-size: 11px;">
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="sain">
										<div class="tab-pane fade in padding-10 no-padding-bottom" id="aa3">
											<div class="table-responsive">
												<div id="TicketSupCancel" style="font-size: 11px;">

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</section>
	</div>
</div>