<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>CUENTA DE BANCO</h2>
    </header>
    <div>
      <div class="widget-body">
        
        <div class="row">
          <fieldset style="text-align: center;">
            <span class="widget-icon"> <i class="fa fa-bank" style="font-size: 50px;"></i> </span> <h5>Cuenta de Banco</h5>
          </fieldset>
        </div>

        <fieldset>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <form class="smart-form" method="post" id="FormLeadsAB" data-parsley-validate="">
            <input name="ab_client" id="ab_client" value="{{ client }}" readonly hidden>
              <fieldset>
                <section>
                  <div class="inline-group">
                    <label class="radio">
                      <input type="radio" name="ab_type" id="SAVING" value="SAVING" checked="">
                    <i></i>AHORRO</label>
                    <label class="radio">
                      <input type="radio" name="ab_type" id="CHECKING" value="CHECKING">
                    <i></i>CHEQUE</label>
                    <label class="radio">
                      <input type="radio" name="ab_type" id="OTHER" value="OTHER">
                    <i></i>OTRO</label>
                  </div>
                </section>
                <div class="row">
                  <section class="col col-6">
                    <label class="label">NOMBRE</label>
                    <label class="input"> <i class="icon-prepend fa fa-bank"></i><input type="text" name="ab_holder" id="ab_01" placeholder="Nombre de Cuenta de Banco"></label>
                  </section>
                  <section class="col col-6">
                    <label class="label">PAIS</label>
                    <label class="select"class="input">
                      <div class="icon-addon addon-md">
                        <select class="form-control" name="ab_country" id="ab_02">
                        {% for cou in countrys %}
                          {% if cou['status_id'] == "1" %}
                            <option value="{{ cou['id'] }}"> {{ cou['name'] }}
                          {% endif %}
                        {% endfor %}
                        </select>
                        <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                      </div>
                    </label>
                  </section>
                </div>
                <div class="row">
                  <section class="col col-6">
                   <label class="input">
                    <label class="label">NUMERO DE CUENTA</label>
                    <label class="input"> <i class="icon-prepend fa fa-bank"></i><input type="text" name="ab_number" id="ab_03" placeholder="Numero de Cuenta de Banco"></label>
                  </label>
                  </section>
                  <section class="col col-6">
                    <label class="label">BANCO</label>
                    <label class="select"class="input">
                      <div class="icon-addon addon-md">
                        <select class="form-control" name="ab_bank" id="ab_04">
                        {% for ban in banks %}
                          {% if ban['status_id'] == "1" %}
                            <option value="{{ ban['id'] }}"> {{ ban['name'] }}
                          {% endif %}
                        {% endfor %}

                        </select>
                        <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                      </div>
                    </label>
                  </section>
                </div>
                </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">SALVAR</button>
              </footer>
            </form>
          </div>
        </fieldset>

      </div>
    </div>
  </div>
</div>