<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>Lista de Actividades</h2>
    </header>
    <div>
      <div class="widget-body" style="height: 200px:">

        <div class="table-responsive">
        
        <table id="dt_events" class="table table-striped table-bordered table-hover" width="100%">
          <thead>                     
            <tr>
              <th data-hide="user"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Titulo</th>
              <th data-hide="user" style="width: 80px;"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Operador</th>
              <th data-hide="user" style="width: 120px;"><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i> Fin de Evento</th>
              <th data-hide="user" style="width: 50px;"><i class="fa fa-fw fa-check text-muted hidden-md hidden-sm hidden-xs"></i> Tipo</th>
            </tr>
          </thead>
          <tbody>
            {% for eve in events %}
            <tr>
              <td style="font-size: 10px;">{{ eve.title     }}</td>
              <td style="font-size: 10px;">{{ eve.operator  }}</td>
              <td style="font-size: 10px;">{{ eve.end       }}</td>
              <td style="font-size: 14px;">
                {% if eve.status == "Pending" %}<span class="label label-warning">{{ eve.status }}</span></td>{% endif %}
                {% if eve.status == "Finalized" %}<span class="label label-success">{{ eve.status }}</span></td>{% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
          
        </div>

        <div class="widget-footer">
            <div class="label">
              <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#NewActivityModal"><i class="fa fa-edit"></i> Nueva Actividad</a>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>