{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Lead</li><li>BUSQUEDA AVANZADA</li>
    </ol>
  </div>
  <div id="content">    
  
      {% include('countrys/country.html.twig') %}
      
      {% include('countrys/town.html.twig') %}  

    <div class="row">
  
      {% include('countrys/zip.html.twig') %}
    
    </div>


    </div>
  </div>

{% include('countrys/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
   
})
////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}