<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>TARJETA DE CREDITO</h2>
    </header>
    <div>
      <div class="widget-body">
        
        <div class="row">
          <fieldset style="text-align: center;">
            <span class="widget-icon"> <i class="fa fa-credit-card" style="font-size: 50px;"></i> </span> <h5>TARJETA DE CREDITO</h5>
          </fieldset>
        </div>

        <fieldset>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <form class="smart-form" method="post" id="FormLeadsCC" data-parsley-validate="">
            <input name="cc_client" id="cc_client" value="{{ client }}" readonly hidden>
              <fieldset>
                <section>
                  <div class="inline-group">
                    <label class="radio">
                      <input type="radio" name="cc_type" id="VISA" value="VISA" checked="">
                    <i></i>Visa</label>
                    <label class="radio">
                      <input type="radio" name="cc_type" id="MSCR" value="MSCR">
                    <i></i>MasterCard</label>
                    <label class="radio">
                      <input type="radio" name="cc_type" id="AMEX" value="AMEX">
                    <i></i>American Express</label>
                    <label class="radio">
                      <input type="radio" name="cc_type" id="ATH" value="ATH">
                    <i></i>ATH Movil Logo</label>
                  </div>
                </section>
                <div class="row">
                  <section class="col col-6">
                    <label class="label">NOMBRE</label>
                    <label class="input"> <i class="icon-prepend fa fa-credit-card"></i><input type="text" name="cc_holder" id="cc_01" placeholder="Credit Card Name"></label>
                  </section>
                  <section class="col col-6">
                    <label class="label">PAIS</label>
                    <label class="select"class="input">
                      <div class="icon-addon addon-md">
                        <select class="form-control" name="cc_country" id="cc_02">
                        {% for cou in countrys %}
                          {% if cou['status_id'] == "1" %}
                            <option value="{{ cou['id'] }}"> {{ cou['name'] }}
                          {% endif %}
                        {% endfor %}
                        </select>
                        <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                      </div>
                    </label>
                  </section>
                </div>
                <div class="row">
                  <section class="col col-6">
                   <label class="input">
                    <label class="label">NUMERO DE TARJETA</label>
                    <label class="input"> <i class="icon-prepend fa fa-credit-card"></i><input type="text" name="cc_number" id="cc_03" maxlength="16" placeholder="Credit Card Numer"></label>
                  </label>
                  </section>
                  <section class="col col-6">
                    <label class="input">
                      <label class="label">CVV</label>
                      <label class="input"> <i class="icon-prepend fa fa-credit-card"></i><input type="text" name="cc_cvv" id="cc_04" placeholder="CVV" value="000"></label>
                    </label>
                  </section>
                </div>

                <div class="row">
                  <section class="col col-6">
                   <label class="label">MES EXPIRACION</label>
                    <label class="select"class="input">
                      <div class="icon-addon addon-md">
                        <select class="form-control" name="cc_month" id="cc_05">
                          <option value="01">Enero</option>
                          <option value="02">Febrero</option>
                          <option value="03">Marzo</option>
                          <option value="04">Abril</option>
                          <option value="05">Mayo</option>
                          <option value="06">Junio</option>
                          <option value="07">Julio</option>
                          <option value="08">Agosto</option>
                          <option value="09">Septiembre</option>
                          <option value="10">Octubre</option>
                          <option value="11">Noviembre</option>
                          <option value="12">Diciembre</option>
                        </select>
                        <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                      </div>
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="input">
                      <label class="label">ANO EXPIRACION</label>
                      <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="number" name="cc_exp" id="cc_06" placeholder="Expiration Date"></label>
                    </label>
                  </section>
                </div>
                </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">SALVAR</button>
              </footer>
            </form>
          </div>
        </fieldset>

      </div>
    </div>
  </div>
</div>