<div class="row" id="COServ">
  <article class="col-sm-12">
    <!-- new widget -->
    <div class="jarviswidget" id="wid-id-0"  data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
      <header>
        <span class="widget-icon"> <img class="flag flag-pr" src="{{ asset('assets/img/blank.gif') }}" alt="Puerto Rico"> </span>
        <h2>COLOMBIE SERVICES </h2>

        <ul class="nav nav-tabs pull-right in" id="myTab">
          <li class="active">
            <a data-toggle="tab" href="#co1"><i class="fa fa-lg fa-desktop"></i> <span class="hidden-mobile hidden-tablet"> Television </span></a>
          </li>

          <li>
            <a data-toggle="tab" href="co2"><i class="fa fa-lg fa-lock"></i> <span class="hidden-mobile hidden-tablet"> Security </span></a>
          </li>

          <li>
            <a data-toggle="tab" href="#co3"><i class="fa fa-lg fa-globe"></i> <span class="hidden-mobile hidden-tablet"> Internet</span></a>
          </li>
          <li>
            <a data-toggle="tab" data-toggle="modal" id="SubmitServiceCO" href="#"><i class="fa fa-lg fa-send"></i> <span class="hidden-mobile hidden-tablet"> Submit Services</span></a>
          </li>
        </ul>

      </header>

      <!-- widget div-->
      <div class="no-padding">
        <!-- widget edit box -->
        <div class="widget-body">
          <!-- content -->
          <div id="myTabContent" class="tab-content">

            <!-- Television Tab Pane -->
              <div class="tab-pane fade active in padding-10 no-padding-bottom" id="co1">
                <div class="row no-space">

<!--                   {% include('leads/pr_television.html.twig') %} -->

                </div>

              </div>
            <!-- End Television Tab Pane -->

            <!-- Security Tab Pane -->
              <div class="tab-pane fade in padding-10 no-padding-bottom" id=co2">
                <div class="row no-space">
                    
                <!-- {% include('leads/pr_security.html.twig') %} -->

                </div>

              </div>
            <!-- End Security Tab Pane -->

            <!-- Internet Tab Pane -->
            <div class="tab-pane fade in padding-10 no-padding-bottom" id="co3">

              <div class="row no-space">
                
                <!-- {% include('leads/pr_internet.html.twig') %} -->

              </div>

            </div>
            <!-- End Internet Tab Pane -->

          </div>

          <!-- end content -->
        </div>

      </div>
      <!-- end widget div -->
    </div>
    <!-- end widget -->

  </article>

</div>