<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>DATOS BASICOS</h2>
      </header>
      <div>
        <div class="widget-body">
          <form class="smart-form" method="post" id="FormLeadsDB" data-parsley-validate="">
            <fieldset>
              <input name="c_client" id="c_client" value="{{ client }}" readonly hidden>
              <div class="row" style="margin-top: -20px;">
                <section class="col col-4">
                    <label class="label">NOMBRE COMPLETO</label>
                    <label class="input"> <i class="icon-prepend fa fa-user"></i><input type="text" name="c_name" id="c_01" placeholder="Nombre Completo" required></label>
                </section>
                <section class="col col-4">
                  <label class="label">CUMPLEA&Ntilde;OS</label>
                    <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="c_birthday" id="c_02" placeholder="Cumplea&ntilde;os"></label>
                </section>
                  <section class="col col-4">
                    <label class="label">TIPO DE CUENTA</label>
                    <label class="select"class="input">
                    <div class="icon-addon addon-md">
                      <select class="form-control" name="c_type_acc" id="c_27" required>
                        <option value="1">PRIMERA</option>
                        <option value="2">SEGUNDA</option>
                        <option value="3">TERCERA</option>
                        <option value="4">CUARTA</option>
                        <option value="5">QUINTA</option>
                      </select>
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>
                <section class="col col-4">
                    <label class="label">GENERO</label>
                    <label class="select"class="input">
                    <div class="icon-addon addon-md">
                      <select class="form-control" name="c_gender" id="c_23" required>
                        <option value="M">MASCULINO</option>
                        <option value="F">FEMENINO</option>
                      </select>
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>
                <section class="col col-4">
                    <label class="label">EDAD</label>
                    <label class="input"> <i class="icon-prepend fa fa-user"></i><input type="text" name="c_age" id="c_25" placeholder="Edad del Cliente" maxlength="2"></label>
                </section>
                <section class="col col-4">
                    <label class="label">REPRESENTANTE LEGAL</label>
                    <label class="input"> <i class="icon-prepend fa fa-user"></i><input type="text" name="c_rep_legal" id="c_26" placeholder="Representante Legal"></label>
                </section>
              </div>
            </fieldset>

            <fieldset>
              <div class="row">
                <section class="col col-4">
                    <label class="label">TELEFONO PRINCIPAL</label>
                    <label class="input"> <i class="icon-prepend fa fa-phone"></i><input type="number" name="c_phone" id="c_03" placeholder="Telefono Principal" required></label>
                </section>
                <section class="col col-4">
                    <label class="label">PROPIETARIO</label>
                    <label class="input"> <i class="icon-prepend fa fa-user"></i><input type="text" name="c_phone_ow" id="c_04" placeholder="Propietario" required></label>
                </section>
                <section class="col col-4">
                  <label class="label">PROVEEDOR</label>
                  <label class="select"class="input"> 
                    <div class="icon-addon addon-md">
                      <select class="form-control" name="c_phone_pro" id="c_22" required>
                        {% for phpro in phonepro %}
                          {% if phpro['status_id'] == "1" %}
                            <option value="{{ phpro['id'] }}"> {{ phpro['name'] }}
                          {% endif %}
                        {% endfor %}
                      </select>
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>
                <section class="col col-4">
                    <label class="label">TELEFONO ALTERNATIVO</label>
                    <label class="input"> <i class="icon-prepend fa fa-phone"></i><input type="number" name="c_phone_a" id="c_05" placeholder="Telefono Alternativo"></label>
                </section>     
                <section class="col col-4">
                    <label class="label">PROPIETARIO</label>
                    <label class="input"> <i class="icon-prepend fa fa-user"></i><input type="text" name="c_phone_a_ow" id="c_06" placeholder="Propietario"></label>
                </section>
                <section class="col col-4">
                  <label class="label">PROVEEDOR</label>
                  <label class="select"class="input"> 
                    <div class="icon-addon addon-md">
                      <select class="form-control" name="c_phone_a_pro" id="c_23">
                        {% for phpro in phonepro %}
                          {% if phpro['status_id'] == "1" %}
                            <option value="{{ phpro['id'] }}"> {{ phpro['name'] }}
                          {% endif %}
                        {% endfor %}
                      </select>
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>
                <section class="col col-4">
                    <label class="label">TELEFONO OTRO</label>
                    <label class="input"> <i class="icon-prepend fa fa-phone"></i><input type="number" name="c_phone_o" id="c_07" placeholder="Telefono Otro"></label>
                </section>     
                <section class="col col-4">
                    <label class="label">PROPIETARIO</label>
                    <label class="input"> <i class="icon-prepend fa fa-user"></i><input type="text" name="c_phone_o_ow" id="c_08" placeholder="Propietario"></label>
                </section>
                <section class="col col-4">
                                      <label class="label">PROVEEDOR</label>
                  <label class="select"class="input"> 
                    <div class="icon-addon addon-md">
                      <select class="form-control" name="c_phone_o_pro" id="c_24">
                        {% for phpro in phonepro %}
                          {% if phpro['status_id'] == "1" %}
                            <option value="{{ phpro['id'] }}"> {{ phpro['name'] }}
                          {% endif %}
                        {% endfor %}
                      </select>
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>
              </div>       
            </fieldset>
              
            <fieldset>
              <div class="row">
                <section class="col col-6">
                    <label class="label">EMAIL PRINCIPAL</label>
                    <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i><input type="email" name="c_email" id="c_09" placeholder="Email Principal"></label>
                </section>
                <section class="col col-6">
                    <label class="label">EMAIL ALTERNATIVO</label>
                    <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i><input type="email" name="c_email_o" id="c_10" placeholder="Email Alternativo"></label>
                </section>

                <section class="col col-6">
                    <label class="label">COORDENADAS LATITUD</label>
                    <label class="input"> <i class="icon-prepend fa fa-map-marker"></i><input type="text" name="c_lati" id="c_11" placeholder="Coordenadas Latitud"></label>
                </section>

                <section class="col col-6">
                    <label class="label">COORDENADAS LONGITUD</label>
                    <label class="input"> <i class="icon-prepend fa fa-map-marker"></i><input type="text" name="c_long" id="c_12" placeholder="Coordenadas Longitud"></label>
                </section>
              </div>
            </fieldset>

            <fieldset>
              <section>
                <div class="input input-file">
                  <label class="label">DIRECCI&Oacute;N PRINCIPAL</label>
                  <label class="input"> <i class="icon-prepend fa fa-list-alt"></i><input type="text" name="c_address" id="c_13" placeholder="Direcci&oacute;n Principal"></label>
                </div>
              </section>
              <section>
                <div class="input input-file">
                  <label class="label">DIRECCION POSTAL</label>
                  <label class="input"> <i class="icon-prepend fa fa-list-alt"></i><input type="text" name="c_postal" id="c_14" placeholder="Direccion Postal"></label>
                </div>
              </section>

              <div class="row">
                <section class="col col-6">
                  <label class="label">PAIS</label>
                  <label class="select"class="input"> 
                    <div class="icon-addon addon-md">
                      <select class="form-control" name="c_country" id="c_15">
                        {% for cou in countrys %}
                          {% if cou['status_id'] == "1" %}
                            <option value="{{ cou['id'] }}"> {{ cou['name'] }}
                          {% endif %}
                        {% endfor %}
                      </select>
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>

                <section class="col col-6">
                  <label class="label">CIUDAD</label>
                  <label class="select"class="input"> 
                    <div class="icon-addon addon-md">
                      <select class="form-control" name="c_town" id="c_16">
                      </select>
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>

                <section class="col col-6">
                  <label class="label">CODIGO ZIP</label>
                  <label class="select"class="input"> 
                    <div class="icon-addon addon-md">
                      <select class="form-control" name="c_zip" id="c_17">
                      </select>
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>

                <section class="col col-6">
                  <label class="label">TIPO DE CASA</label>
                  <label class="select"class="input"> 
                    <div class="icon-addon addon-md">
                      <select class="form-control" name="c_type_house" id="c_18">
                      </select>
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>

                <section class="col col-6">
                  <label class="label">TIPO DE TECHO</label>
                  <label class="select"class="input"> 
                    <div class="icon-addon addon-md">
                      <select class="form-control" name="c_roof" id="c_19">
                      </select>
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>

                <section class="col col-6">
                  <label class="label">NIVELES DE CASA</label>
                  <label class="select"class="input"> 
                    <div class="icon-addon addon-md">
                      <select class="form-control" name="c_number_level" id="c_20">
                      </select>
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>

              </div>
            </fieldset>

            <fieldset>
              <section>
                <label class="label">Campo Adicional</label>
                <label class="textarea">                    
                  <textarea rows="3" class="custom-scroll" id="c_21" name="additional"></textarea> 
                </label>
              </section>              
            </fieldset>

            <footer>
              <button type="submit" class="btn btn-primary">SALVAR</button>
            </footer>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>