<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>DATOS GEOGRAFICOS</h2>
    </header>
    <div>
      <div class="widget-body">
        <form class="smart-form" method="post" id="FormLeadsGeograficent" data-parsley-validate="">
          <fieldset>
            <div class="row" style="margin-top: -20px;">
              <section class="col col-6">
                <label class="label">ESTADO</label>
                <div id="BodyGeoState">
                  <select class="form-control" name="c_state" id="c_state">
                    <option value=""> SELECCIONE</option>
                    {% for sta in states %}
                      {% if sta['status_id'] == "1" %}
                        <option value="{{ sta['id'] }}"> {{ sta['name'] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </section>
              <section class="col col-6">
                <label class="label">MUNICIPIO</label>
                <div id="BodyGeoTownship">
                  <select class="form-control" name="c_township" id="c_township">
                    <option value=""> SELECCIONE</option>
                    {% for ts in township %}
                      {% if ts['status_id'] == "1" %}
                        <option value="{{ ts['id'] }}"> {{ ts['name'] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </section>
            </div>
            <div class="row">
              <section class="col col-6">
                <label class="label">PARROQUIA</label>
                <div id="BodyGeoParish">
                  <select class="form-control" name="c_parish" id="c_parish">
                    <option value=""> SELECCIONE</option>
                    {% for par in parish %}
                      {% if par['status_id'] == "1" %}
                        <option value="{{ par['id'] }}"> {{ par['name'] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </section>
              <section class="col col-6">
                <label class="label">SECTOR</label>
                <div id="BodyGeoSector">
                  <select class="form-control" name="c_sector" id="c_sector">
                    <option value=""> SELECCIONE</option>
                    {% for sec in sector %}
                      {% if sec['status_id'] == "1" %}
                        <option value="{{ sec['id'] }}"> {{ sec['name'] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </section>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>