<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>DATOS DE IDENTIFICACION</h2>
    </header>
    <div>
      <div class="widget-body">
        <form class="smart-form" method="post" id="FormLeadsIdent" data-parsley-validate="">
          <input name="client_ident" id="mkt_client" value="{{ client }}" readonly hidden>
          <fieldset>
            <div class="row" style="margin-top: -20px;">
              <section class="col col-6">
                  <label class="label">ID CLIENTE</label>
                  <label class="input"> <i class="icon-prepend fa fa-user"></i><input type="text" name="ident_client" id="ident_01" placeholder="ID Cliente"></label>
              </section>
              <section class="col col-6">
                  <label class="label">FECHA EXPIRACION</label>
                  <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="ident_exp" id="ident_02" placeholder="Fecha de Expiracion"></label>
              </section>
            </div>
            <div class="row">
              <section class="col col-6">
                <label class="label">PAIS</label>
                <select class="form-control" name="ident_country" id="ident_03">
                  {% for cou in countrys %}
                    {% if cou['status_id'] == "1" %}
                      <option value="{{ cou['id'] }}"> {{ cou['name'] }}
                    {% endif %}
                  {% endfor %}
                </select>
              </section>
              <section class="col col-6">
                <label class="label">TIPO DE DOCUMENTO</label>
                <select class="form-control" name="ident_type" id="ident_04">
                  {% for idt in idType %}
                    {% if idt['status_id'] == "1" %}
                      <option value="{{ idt['id'] }}"> {{ idt['name'] }}
                    {% endif %}
                  {% endfor %}
                </select>
              </section>
            </div>


          </fieldset>
          <footer>
            <button type="submit" class="btn btn-primary">SALVAR</button>
          </footer>
        </form>
      </div>
    </div>
  </div>
</div>