{% extends 'layouts/index.html.twig' %}

{% block content %}

<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="client_id" id="client_id" value="{{ client }}" readonly hidden>
      <input name="ope_id" id="ope_id" value="{{ ope }}" readonly hidden>
      <li>Home</li><li>Leads</li><li>{{ lead.name }}</li>
    </ol>
  </div>
  <div id="content">
    <!-- Row -->
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="onoffswitch-container">
          <div class="form-group" style="text-align: center;">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Leads <span>> {{ lead.nameClient }}</span></h1>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        
        <div class="onoffswitch-container">
          <div id="btnStatus" style="text-align: center;">
            <img src="{{ asset('assets/img/icons/offline.png') }}" id="onlineImgTrue"  alt="status"  style="width: 200px;"><p></p>
          </div>
        </div>
        
        <div class="onoffswitch-container">
          <a onclick="StatusChange();" class="btn btn-default btn-sm"><i class="fa fa-gear fa-lg"></i></a> 
        </div>
      </div>
    
    </div>  
    <!-- End Row -->

    {% for permit in app.session.get('permits') %}

      <!-- DATA BASIC & DATA HOUSE -->
      {% if permit['db'] == "on" %}
    
        {% include('leads/databasic.html.twig') %}

      {% endif %}
      <!-- End DATA BASIC & DATA HOUSE -->

      <div class="row" id="DataGeographic">

        {% include('leads/geographic.html.twig') %}

      </div>


      <!-- IDENTIFICATION DATA -->
      <div class="row">

        {% if permit['ident'] == "on" %}

          {% include('leads/ident.html.twig') %}
        
        {% endif %}

        {% if permit['ss'] == "on" %}
        
          {% include('leads/socialsecurity.html.twig') %}
        
        {% endif %}

      </div>

      <!-- End IDENTIFICATION DATA -->

      <!-- MARKETING DATA -->
      <div class="row">
        {% if permit['mkt'] == "on" %}
      
          {% include('leads/marketing.html.twig') %}

        {% endif %}
      </div>
      <!-- End MARKETING DATA -->
    
      <!-- CRETIDT CARD & ACCOUNT BANK -->

      <div class="row">
        <!-- CRETIDT CARD -->
        {% if permit['cc'] == "on" %}
      
          {% include('leads/cc.html.twig') %}

        {% endif %}
        <!-- END ROW -->

        <!-- ACCOUNT BANK -->
        {% if permit['ab'] == "on" %}
      
          {% include('leads/ab.html.twig') %}

        {% endif %}
        <!-- ROW -->
      </div>
      <!-- End Row -->

      <!-- Services Puerto Rico -->  
        
      {% if permit['pr'] == "on" %}
        {% if (app.session.get('role') != "17") %}

          {% include('leads/pr_service.html.twig') %}
        
        {% endif %}
      {% endif %}

      <!-- End Services Puerto Rico -->

      <!-- Services Venezuela -->  
        
      {% if permit['vz'] == "on" %}

        {% include('leads/vzla_service.html.twig') %}

      {% endif %}

      <!-- End Services Venezuela -->

      <!-- Referred & Activity -->

      <div class="row">
        {% if permit['rf'] == "on" %}
      
          {% include('leads/referred.html.twig') %}

        {% endif %}    

        {% if permit['ac'] == "on" %}
      
          {% include('leads/activity.html.twig') %}

        {% endif %}    
      </div>

      <!-- End Referred & Activity -->

      <!-- Notes -->
      <div class="row">
        {% if permit['nt'] == "on" %}
      
          {% include('leads/notes.html.twig') %}

        {% endif %}
      </div>
      <!-- End Notes -->
    
    {% endfor %}
  </div>
</div>

{% include('leads/modal.html.twig') %}


{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
   // $('#ServiceObjectionsModal').modal('show');

  $("#DataGeographic").hide();
  $("#PRServ").hide();
  $("#USAServ").hide();
  $("#COServ").hide();

  // $("#VzlaServ").hide();

  $("#chosen").chosen();

  blockUI(); 

  window.onload = function() 
  {

    DataLeads();
    DataStatus();
    DataID();
    DataMarketing();
    DataCC();
    DataAB();
    DataNotes();
    ServiceTvPr();
    ServiceSecPr();
    ServiceIntPr();
    ServiceMRouterPr();
    ServiceIntVZ();

    setTimeout($.unblockUI(), 5000);
  }

  $("#c_15").change(function(event) 
  {
    if($('#c_15').val() == "4")
    {
      $('#GeographicModal').modal('show');
      $("#DataGeographic").show();
    }else{
      $('#GeographicModal').modal('hide');
      $("#DataGeographic").hide();
    }


    $.ajax({ type: "POST", url:  "{{ url('Leads/ChangeOptions') }}", data: {country: $("#c_15").val() },
    success: function(datos)
    {
      if(datos.status == true){ 

        $("#c_16").html(datos.town);
        $("#c_17").html(datos.zip);
        $("#c_18").html(datos.house);
        $("#c_19").html(datos.roof);
        $("#c_20").html(datos.level);
        $("#mkt_03").html(datos.medium);
        $("#mkt_04").html(datos.objective);
        $("#mkt_05").html(datos.post);
        $("#mkt_06").html(datos.service);
        $("#mkt_07").html(datos.campaign);
        $("#mkt_08").html(datos.origen);
        
      }else{
        $("#alertReferred").html('');
        $("#alertReferred").html(datos.html);
      }
    }
    });
  
  });

  $('#FormModalGeographic').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/SearchSector') }}", data: {sector: $("#sect_geo").val() },
    success: function(datos)
    {
      if(datos.status = true)
      {
        $('#HtmlModalGeographic').html(datos.html);
        $('#dt_SectorSearch').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
        });
      }
    }
    });
    return false;
  });


  $("#c_16").change(function(event)
  {
    $.ajax({ type: "POST", url:  "{{ url('Leads/ZipChange') }}", data: {zip: $("#c_16").val() },
    success: function(datos)
    {
        if(datos.status == true)
        { 
          $("#c_17").html(datos.zip);
          
        }else{
            $("#c_17").html('');
        }
    }
    });
  
  });

  $("#pr_tv_12").change(function(event) {

    if($("#pr_tv_12").val() == "2")
    {
      var id  = $("#c_client").val();
      $.ajax({ type: "POST", url:  "{{ url('/Leads/ServObjections') }}", data: {serv: "tv", 'id': id},
        success: function(datos)
        {
          $("#ObjectionModalBody").html('');
          $("#ObjectionModalBody").html(datos.html);
          $('#ServiceObjectionsModal').modal('show');
        }
      });
    }

  });

  $("#pr_sec_18").change(function(event) {

    if($("#pr_sec_18").val() == "2")
    {
      var id  = $("#c_client").val();
      $.ajax({ type: "POST", url:  "{{ url('/Leads/ServObjections') }}", data: {serv: "sec", 'id': id},
        success: function(datos)
        {
          $("#ObjectionModalBody").html('');
          $("#ObjectionModalBody").html(datos.html);
          $('#ServiceObjectionsModal').modal('show');
        }
      });
    }

  });

  $("#pr_int_12").change(function(event) {

    if($("#pr_int_12").val() == "2")
    {
      blockUI(); 
      var id  = $("#c_client").val();
      $.ajax({ type: "POST", url:  "{{ url('/Leads/ServObjections') }}", data: {serv: "int", 'id': id},
        success: function(datos)
        {
          $("#ObjectionModalBody").html('');
          $("#ObjectionModalBody").html(datos.html);
          $('#ServiceObjectionsModal').modal('show');
        }
      });
      $.unblockUI();
    }

  });

    $("#pr_mr_10").change(function(event) 
    {

      if($("#pr_mr_10").val() == "2")
      {
        var id  = $("#c_client").val();
        $.ajax({ type: "POST", url:  "{{ url('/Leads/ServObjections') }}", data: {serv: "wrl", 'id': id},
          success: function(datos)
          {
            $("#ObjectionModalBody").html('');
            $("#ObjectionModalBody").html(datos.html);
            $('#ServiceObjectionsModal').modal('show');
          }
        });
      }
    });


    $("#vzla_int_16").change(function(event) {

    if($("#vzla_int_16").val() == "2")
    {
      var id  = $("#c_client").val();
      $.ajax({ type: "POST", url:  "{{ url('/Leads/ServObjections') }}", data: {serv: "ive", 'id': id},
        success: function(datos)
        {
          $("#ObjectionModalBody").html('');
          $("#ObjectionModalBody").html(datos.html);
          $('#ServiceObjectionsModal').modal('show');
        }
      });
    }

  });

  $("#pr_tv_04").change(function(event) 
  {
    var id  = $("#client_id").val();
    var ref = $("#pr_tv_04").val();

    if(ref == 1)
    {
      $.ajax({ type: "POST", url:  "{{ url('Leads/ReferredList') }}", data: {id: id, 'type': 'tv', code:'27'},
      success: function(datos)
      {
        if(datos.html.status == true)
        {
          $("select[name=pr_tv_referred]").val(1);  
          $('#RefListTvField').html(datos.html.html);
        }else{
          $("select[name=pr_tv_referred]").val(0);  
          $('#RefListTvField').html('<select class="form-control" name="pr_tv_ref_list" id="pr_tv_27" disabled><option value="0" selected="">NINGUNO</option></select>');
        }
      }
      });  
    }else{
        $('#RefListTvField').html('<select class="form-control" name="pr_tv_ref_list" id="pr_tv_27" disabled><option value="0" selected="">NINGUNO</option></select>');
        $("select[name=pr_tv_referred]").val(0);
    }
  });

  $("#pr_tv_05").change(function(event) 
  {
    var ref = $("#pr_tv_05").val();

    if(ref == 1)
    {
      $('#pr_tv_10').removeAttr('disabled');  
    }else{
      $("select[name=pr_tv_ope_list]").val(1);
      $('#pr_tv_10').attr('disabled', 'true');
    }
  });

  $("#pr_sec_04").change(function(event) 
  {
    var id  = $("#client_id").val();
    var ref = $("#pr_sec_04") .val();

    if(ref == 1)
    {
      $.ajax({ type: "POST", url:  "{{ url('Leads/ReferredList') }}", data: {id: id,'type': 'sec', code:'19' },
      success: function(datos)
      {
        if(datos.html.status == true)
        {
          $("select[name=pr_sec_referred]").val(1);  
          $('#RefListSecField').html(datos.html.html);
        }else{
          $("select[name=pr_sec_referred]").val(0);  
          $('#RefListSecField').html('<select class="form-control" name="pr_sec_ref_list" id="pr_sec_19" disabled><option value="0" selected="">NINGUNO</option></select>');
        }
      }
      });  
    }else{
        $('#RefListSecField').html('<select class="form-control" name="pr_sec_ref_list" id="pr_sec_19" disabled><option value="0" selected="">NINGUNO</option></select>');
    }
  });

  $("#pr_sec_05").change(function(event) 
  {
    var ref = $("#pr_sec_05").val();

    if(ref == 1)
    {
      $('#pr_sec_11').removeAttr('disabled');  
    }else{
      $("select[name=pr_sec_ope_list]").val(1);
      $('#pr_sec_11').attr('disabled', 'true');
    }
  });

  $("#pr_int_04").change(function(event) 
  {
    var id  = $("#client_id").val();
    var ref = $("#pr_int_04") .val();

    if(ref == 1)
    {
      $.ajax({ type: "POST", url:  "{{ url('Leads/ReferredList') }}", data: {id: id,'type': 'int', code:'14' },
      success: function(datos)
      {
        if(datos.html.status == true)
        {
          $("select[name=pr_int_referred]").val(1);  
          $('#RefListIntField').html(datos.html.html);
        }else{
          $("select[name=pr_int_referred]").val(0);  
          $('#RefListIntField').html('<select class="form-control" name="pr_int_ref_list" id="pr_int_14" disabled><option value="0" selected="">NINGUNO</option></select>');
        }
      }
      });  
    }else{
        $('#RefListIntField').html('<select class="form-control" name="pr_int_ref_list" id="pr_int_14" disabled><option value="0" selected="">NINGUNO</option></select>');
    }
  });

  $("#pr_int_05").change(function(event) 
  {
    var ref = $("#pr_int_05").val();

    if(ref == 1)
    {
      $('#pr_int_11').removeAttr('disabled');  
    }else{
      $("select[name=pr_int_ope]").val(1);
      $('#pr_int_11').attr('disabled', 'true');
    }
  });

  $("#pr_mr_04").change(function(event) 
  {
    var id  = $("#client_id").val();
    var ref = $("#pr_mr_04") .val();

    if(ref == 1)
    {
      $.ajax({ type: "POST", url:  "{{ url('Leads/ReferredList') }}", data: {id: id,'type': 'mr', code:'09' },
      success: function(datos)
      {
        if(datos.html.status == true)
        {
          $("select[name=pr_mr_referred]").val(1);  
          $('#RefListMRField').html(datos.html.html);
        }else{
          $("select[name=pr_mr_referred]").val(0);  
          $('#RefListMRField').html('<select class="form-control" name="pr_mr_ref_list" id="pr_mr_09" disabled><option value="0" selected="">NINGUNO</option></select>');
        }
      }
      });  
    }else{
        $('#RefListMRField').html('<select class="form-control" name="pr_mr_ref_list" id="pr_mr_09" disabled><option value="0" selected="">NINGUNO</option></select>');
    }
  });

  $("#pr_mr_03").change(function(event) 
  {
    var ref = $("#pr_mr_03").val();

    if(ref == 1)
    {
      $('#pr_mr_08').removeAttr('disabled');  
    }else{
      $("select[name=pr_mr_ope_list]").val(1);
      $('#pr_mr_08').attr('disabled', 'true');
    }
  });

  $("#vzla_int_11").change(function(event) 
  {
    var id  = $("#client_id").val();
    var ref = $("#vzla_int_11") .val();

    if(ref == 1)
    {
      $.ajax({ type: "POST", url:  "{{ url('Leads/ReferredListVZ') }}", data: {id: id,'type': 'int', code:'12' },
      success: function(datos)
      {
        if(datos.html.status == true)
        {
          $("select[name=vzla_int_referred]").val(1);  
          $('#RefListIntVZField').html(datos.html.html);
        }else{
          $("select[name=vzla_int_referred]").val(0);  
          $('#RefListIntVZField').html('<select class="form-control" name="vzla_int_referred" id="vzla_int_12" disabled><option value="0" selected="">NINGUNO</option></select>');
        }
      }
      });  
    }else{
        $('#RefListIntVZField').html('<select class="form-control" name="vzla_int_referred" id="vzla_int_12" disabled><option value="0" selected="">NINGUNO</option></select>');
    }
  });

  $("#vzla_int_13").change(function(event) 
  {
    var ref = $("#vzla_int_13").val();

    if(ref == 1)
    {
      $('#vzla_int_14').removeAttr('disabled');  
    }else{
      $("select[name=vzla_int_ope]").val(1);
      $('#vzla_int_14').attr('disabled', 'true');
    }
  });

  //////////////////////////////////////////////////////////////////////

  $("#c_state").change(function(event) 
  {
    var   id = $("#c_state").val();

    $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Township') }}", data: {id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        $('#BodyGeoTownship').html(datos.township);
        $('#BodyGeoParish').html(datos.parish);
        $('#BodyGeoSector').html(datos.sector);
      }else{
        $('#BodyGeoTownship').html(datos.township);
        $('#BodyGeoParish').html(datos.parish);
        $('#BodyGeoSector').html(datos.sector);
      }

      $("#c_township").change(function(event) 
      {
        var   id = $("#c_township").val();

        $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Parish') }}", data: {id: id},
        success: function(datos)
        {
          if(datos.status == true)
          {
            $('#BodyGeoParish').html(datos.parish);
          }else{
            $('#BodyGeoParish').html(datos.parish);
          }   

          $("#c_parish").change(function(event) 
          {
            var   id = $("#c_parish").val();

            $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Sector') }}", data: {id: id},
            success: function(datos)
            {
              if(datos.status == true)
              {
                $('#BodyGeoSector').html(datos.sector);
              }else{
                $('#BodyGeoSector').html(datos.sector);
              }
            }
            }); 
          });

        }
        });  
      });
    }
    });
  });

  $("#c_township").change(function(event) 
  {
    var   id = $("#c_township").val();

    $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Parish') }}", data: {id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        $('#BodyGeoParish').html(datos.parish);
      }else{
        $('#BodyGeoParish').html(datos.parish);
      }

    $("#c_parish").change(function(event) 
      {
        var   id = $("#c_parish").val();

        $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Sector') }}", data: {id: id},
        success: function(datos)
        {
          if(datos.status == true)
          {
            $('#BodyGeoSector').html(datos.sector);
          }else{
            $('#BodyGeoSector').html(datos.sector);
          }
        }
        }); 

      });
    }
    });  
  });

  $("#c_parish").change(function(event) 
  {
    var   id = $("#c_parish").val();

    $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Sector') }}", data: {id: id},
    success: function(datos)
    {
      if(datos.status == true)
      {
        $('#BodyGeoSector').html(datos.sector);
      }else{
        $('#BodyGeoSector').html(datos.sector);
      }
    }
    }); 

  });

  $("#c_sector").change(function(event) 
  {
    $('#GeographicModal').modal('show');

    var   id = $("#c_sector").val();

    $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/SectorG') }}", data: {id: id},
    success: function(datos)
    {
      $('#BodyGeoState').html(datos.estado);
      $('#BodyGeoTownship').html(datos.municipio);
      $('#BodyGeoParish').html(datos.parroquia);
      $('#BodyGeoSector').html(datos.sector);

      $("#c_state").change(function(event) 
      {
        var   id = $("#c_state").val();

        $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Township') }}", data: {id: id},
        success: function(datos)
        {
          if(datos.status == true)
          {
            $('#BodyGeoTownship').html(datos.township);
            $('#BodyGeoParish').html(datos.parish);
            $('#BodyGeoSector').html(datos.sector);
          }else{
            $('#BodyGeoTownship').html(datos.township);
            $('#BodyGeoParish').html(datos.parish);
            $('#BodyGeoSector').html(datos.sector);
          }

          $("#c_township").change(function(event) 
          {
            var   id = $("#c_township").val();

            $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Parish') }}", data: {id: id},
            success: function(datos)
            {
              if(datos.status == true)
              {
                $('#BodyGeoParish').html(datos.parish);
              }else{
                $('#BodyGeoParish').html(datos.parish);
              }   

              $("#c_parish").change(function(event) 
              {
                var   id = $("#c_parish").val();

                $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Sector') }}", data: {id: id},
                success: function(datos)
                {
                  if(datos.status == true)
                  {
                    $('#BodyGeoSector').html(datos.sector);
                  }else{
                    $('#BodyGeoSector').html(datos.sector);
                  }
                }
                }); 
              });

            }
            });  
          });
        }
        });
      });

      $("#c_township").change(function(event) 
      {
        var   id = $("#c_township").val();

        $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Parish') }}", data: {id: id},
        success: function(datos)
        {
          if(datos.status == true)
          {
            $('#BodyGeoParish').html(datos.parish);
          }else{
            $('#BodyGeoParish').html(datos.parish);
          }

        $("#c_parish").change(function(event) 
          {
            var   id = $("#c_parish").val();

            $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Sector') }}", data: {id: id},
            success: function(datos)
            {
              if(datos.status == true)
              {
                $('#BodyGeoSector').html(datos.sector);
              }else{
                $('#BodyGeoSector').html(datos.sector);
              }
            }
            }); 

          });
        }
        });  
      });

      $("#c_parish").change(function(event) 
      {
        var   id = $("#c_parish").val();

        $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Sector') }}", data: {id: id},
        success: function(datos)
        {
          if(datos.status == true)
          {
            $('#BodyGeoSector').html(datos.sector);
          }else{
            $('#BodyGeoSector').html(datos.sector);
          }
        }
        }); 

      });

    }
    }); 

  });

//////////////////////////////////////////////////////////////////////

  var responsiveHelper_dt_basic = undefined;
  var responsiveHelper_datatable_fixed_column = undefined;
  var responsiveHelper_datatable_col_reorder = undefined;
  var responsiveHelper_datatable_tabletools = undefined;
    
  var breakpointDefinition = {
    tablet : 1024,
    phone : 480
  };

  $('#c_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',

  });

  $('#c_02').change(function(event) {
    var str    = $('#c_02').val();
    var date   = str.substr(6,4)+'-'+str.substr(0,2)+'-'+str.substr(3,2);

    $.ajax({ type: "POST", url:  "{{ url('Leads/Age') }}", data: {date: date},
    success: function(datos)
    {
      $('#c_25').val(datos);
    }
    });

  });

  $('#id_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#ss_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#re_birthday').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#re_ss_exp').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#re_ident_exp').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#ident_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#dateEvent').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });
  

  $('#vzla_int_10').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });


  // $.unblockUI();

////////////////////////////// Data Referred //////////////////////////////

  $('#dt_referred').dataTable({
    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
      "t"+
      "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
    "autoWidth" : true,
    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    "preDrawCallback" : function() {

      if (!responsiveHelper_dt_basic) {
        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_referred'), breakpointDefinition);
      }
    },
    "rowCallback" : function(nRow) {
      responsiveHelper_dt_basic.createExpandIcon(nRow);
    },
    "drawCallback" : function(oSettings) {
      responsiveHelper_dt_basic.respond();
    }
  });

////////////////////////////// Data Events //////////////////////////////

  $('#dt_events').dataTable({
    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
      "t"+
      "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
    "autoWidth" : true,
    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    "preDrawCallback" : function() {

      if (!responsiveHelper_dt_basic) {
        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_events'), breakpointDefinition);
      }
    },
    "rowCallback" : function(nRow) {
      responsiveHelper_dt_basic.createExpandIcon(nRow);
    },
    "drawCallback" : function(oSettings) {
      responsiveHelper_dt_basic.respond();
    }
  });

////////////////////////////// Referred Form //////////////////////////////
  
$('#FormLeadsRef').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#FormLeadsRef").serialize();
        $.ajax({ type: "POST", url:  "{{ url('ReferredForm') }}", data: {value: str},
          success: function(datos)
          {
              if(datos.status == true){ 
                SuccessNotified(datos); 
                $("#alertReferred").html('');
                $('#NewReferredModal').modal('hide');
                location.reload();
              }
              else{ 
                ErrorNotified(datos);
                $("#alertReferred").html('');
                // $("#alertReferred").html(datos.html); 
              }
          }
        });
      return false;
  });

$('#FormLeadsInc').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#FormLeadsInc").serialize();
        $.ajax({ type: "POST", url:  "{{ url('ReferredFormInc') }}", data: {value: str},
          success: function(datos)
          {
              if(datos.status == true){ 
                SuccessNotified(datos); 
                $("#alertReferred").html('');
                $('#IncReferredModal').modal('hide');
                location.reload();
              }
              else{ 
                ErrorNotified(datos);
                $("#alertReferred").html('');
                // $("#alertReferred").html(datos.html); 
              }
          }
        });
      return false;
  });

////////////////////////////// Data Basic //////////////////////////////
  
  $('#formeditreferred').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#formeditreferred").serialize();
        $.ajax({ type: "POST", url:  "{{ url('ReferredEditForm') }}", data: {value: str},
          success: function(datos)
          {
              if(datos.status == true){ 

                $("#alertReferred").html('');
                $('#EditReferredModal').modal('hide');

                 location.reload();
              }
          }
        });
      return false;
  });

////////////////////////////// Data Basic //////////////////////////////
  
$('#FormLeadsDB').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#FormLeadsDB").serialize();
      var str = $("#FormLeadsDB").serialize();
      var geo = $("#FormLeadsGeograficent").serialize();
      var ctr = $("#c_15").val();
      var sta = $("#c_state").val();
      var mun = $("#c_township").val();
      var par = $("#c_parish").val();
      var sec = $("#c_sector").val();

      if(ctr == 4)
      {
        if( (sta == "") || (mun == "") || (par == "") || (sec == "") )
        {
          $.smallBox({
            title : "Error",
            content : "Faltan datos geograficos por completa.",
            color : "#C46A69",
            iconSmall : "fa fa-warning shake animated",
            timeout : 4000
          });

        }else{

          $.ajax({ type: "POST", url:  "{{ url('Leads/SaveDB') }}", data: {value: str, geo:geo},
            success: function(datos)
            {
                if(datos.status == true){ SuccessNotified(datos); DataLeads(); }
                else{ ErrorNotified(datos); }
            }
          });
        }
      }else{
        $.ajax({ type: "POST", url:  "{{ url('Leads/SaveDB') }}", data: {value: str},
          success: function(datos)
          {
              if(datos.status == true){ SuccessNotified(datos); DataLeads(); }
              else{ ErrorNotified(datos); }
          }
        });
      }

      return false;
  });

////////////////////////////// Data Marketing //////////////////////////////
  
$('#FormLeadsMKT').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#FormLeadsMKT").serialize();
        $.ajax({ type: "POST", url:  "{{ url('Leads/SaveMkt') }}", data: {value: str},
          success: function(datos)
          {
              if(datos.status == true){ SuccessNotified(datos); DataMarketing(); }
              else{ ErrorNotified(datos); }
          }
        });
      return false;
  });

/////////////////////////// Data Identification ////////////////////////////
  
$('#FormLeadsIdent').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#FormLeadsIdent").serialize();
        $.ajax({ type: "POST", url:  "{{ url('Leads/SaveCypherID') }}", data: {value: str},
          success: function(datos)
          {
            if(datos.status == "license")
            {
              window.location.href = datos.web;
            }
            if(datos.status == true)
            { 
              SuccessNotified(datos);
              DataID();
            }
            else{ ErrorNotified(datos); }
          }
        });
      return false;
  });
  
/////////////////////////// Data Social security ////////////////////////////
  
$('#FormLeadsSS').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#FormLeadsSS").serialize();
        $.ajax({ type: "POST", url:  "{{ url('Leads/SaveCypherSS') }}", data: {value: str},
          success: function(datos)
          {
            if(datos.status == "license")
            {
              window.location.href = datos.web;
            }

            if(datos.status == true)
            { 
              SuccessNotified(datos);
              DataID();
            }
            else{ ErrorNotified(datos); }
          }
        });
      return false;
  });

/////////////////////////// Data Credit Card ////////////////////////////
  
$('#FormLeadsCC').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#FormLeadsCC").serialize();
        $.ajax({ type: "POST", url:  "{{ url('Leads/SaveCypherCC') }}", data: {value: str},
          success: function(datos)
          {
            if(datos.status == "license")
            {
              window.location.href = datos.web;
            }

            if(datos.status == true)
            { 
              SuccessNotified(datos);
              DataCC();
            }
            else{ ErrorNotified(datos); }
          }
        });
      return false;
  });

/////////////////////////// Data Account Bank ////////////////////////////
  
$('#FormLeadsAB').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#FormLeadsAB").serialize();
        $.ajax({ type: "POST", url:  "{{ url('Leads/SaveCypherAB') }}", data: {value: str},
          success: function(datos)
          {
            if(datos.status == "license")
            {
              window.location.href = datos.web;
            }

            if(datos.status == true)
            { 
              SuccessNotified(datos);
              DataAB();
            }
            else{ ErrorNotified(datos); }
          }
        });
      return false;
  });

////////////////////////////// End Data //////////////////////////////

  $("#noteClientForm").on('submit', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{{ url('Leads/Notes') }}",
        data: new FormData(this),
        contentType: false,
        cache: false,
        processData:false,
        // beforeSend: function(request){
        //   blockUI();
        // },
        success: function(datos){
          $.unblockUI();
          if(datos.status == true)
          {
            $('#noteClientForm')[0].reset();
            $("#chat-body").html('');
            $("#chat-body").html(datos.notes);            

          }else{
              $("#alarmNote").html('');
              $("#alarmNote").html(datos.html);
          }
        }
    });
  });

  $("#file").change(function() {
    var file = this.files[0];
    var imagefile = file.type;
 
    var match= ["application/vnd.ms-excel", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/pdf", "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/msword", "image/jpeg","image/png","image/jpg"];


    if(!((imagefile==match[0]) || (imagefile==match[1]) || 
        (imagefile==match[2]) || (imagefile==match[3])  ||
        (imagefile==match[4]) || (imagefile==match[5])  ||
        (imagefile==match[6]) || (imagefile==match[7])
        ))
    {
        alert('Please select a valid image file (EXCEL/PDF/WORD/JPEG/JPG/PNG).');
        $("#file").val('');
        return false;
    }
  });

  $('#SubmitServicePR').click(function(event) {
    $('#SubmitModalPR').modal('show');
  });

  $('#mkt_07').change(function(){
    $.ajax({ type: "POST", url:  "{{ url('Leads/LoadImg') }}", data: {id: $("#mkt_07").val() },
    success: function(datos)
    {

      $("#imgMKT").html('<img src="../../'+datos.campaign.imgC+'" alt="SmartAdmin" style="width: 265px;"></td>');
    }
    });
  })

/////////////////////////// Data Account Bank ////////////////////////////
  
$('#FormLeadsCalendar').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#FormLeadsCalendar").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/Calendar/Save') }}", data: {value: str},
          success: function(datos)
          {
            if(datos == true)
            {
              location.reload();
            }else{
              $.smallBox({
                title : "Error Assigning Event",
                content : "Error Assigning Event, Please Try Again",
                color : "#C46A69",
                iconSmall : "fa fa-warning shake animated",
                timeout : 4000
              });
            }
          }
        });
      return false;
  });


/////////////////////////// Data Objection Service ////////////////////////////
  
$('#FormObjectionsService').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#FormObjectionsService").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/Leads/SubmitObjService') }}", data: {value: str},
          success: function(datos)
          {
            if(datos == true)
            {
              $.smallBox({
                title: datos.title,
                content: datos.content,
                color: "#739E73",
                iconSmall: "fa fa-check",
                timeout: 4000
              });

            }else{
              ErrorNotified(datos);
            }
            $('#ServiceObjectionsModal').modal('hide');
          }
        });
      return false;
  });


 
});

////////////////////////////// Data Status //////////////////////////////

function StatusChange()
{

  $.ajax({ type: "POST", url:  "{{ url('Leads/ChangeStatus') }}", data: {id: $('#ope_id').val(), client: $("#client_id").val()},
  success: function(datos)
  {
    if(datos.status == false)
    {
      $('#btnStatus').html('');
      $('#btnStatus').html('<img src="{{ asset("assets/img/icons/offline.png") }}" id="onlineImgFalse" alt="status" style="width: 200px;"><p></p>');
    }
    if(datos.status == 'error')
    {
      ErrorNotified(datos);
    }

    if(datos.status == true)
    {
      $('#btnStatus').html('');
      $('#btnStatus').html('<img src="{{ asset("assets/img/icons/online.png") }}" id="onlineImgFalse" alt="status" style="width: 200px;"><p>Operador - '+datos.username+'</p><p style="margin-top: -10px; font-size: 10px;">'+datos.online+'</p>');
    }
  }
  });
}

function DataStatus()
{
  var id = $("#client_id").val();
  $.ajax({ type: "POST", url:  "/Leads/Status", data: {id: id},
    success: function(datos)
    {
      if(datos.status == false)
      {
        $('#btnStatus').html('');
        $('#btnStatus').html('<img src="{{ asset("assets/img/icons/offline.png") }}" id="onlineImgFalse" alt="status" style="width: 200px;"><p></p>');
      }else{
        $('#btnStatus').html('');
        $('#btnStatus').html('<img src="{{ asset("assets/img/icons/online.png") }}" id="onlineImgFalse" alt="status" style="width: 200px;"><p>Operador - '+datos.username+'</p><p style="margin-top: -10px; font-size: 10px;">'+datos.online+'</p>');
      }
    }
  });  
}

////////////////////////////// Data Note //////////////////////////////

function ReferredEdit(id)
{
  $.ajax({ type: "POST", url:  "{{ url('ReferredEdit') }}", data: {id: id},
    success: function(datos)
    {

      if(datos.status == true){
          $("#id2_ref").val('');
          $("#id2_ref").val(datos.referred.info.id);
          $("#type_ref2").val('edit');
          $("#editInfoR").html(datos.referred.html);
          $("select[name=type_id_ref2]").val(datos.referred.info.type);
          $('#EditReferredModal').modal('show');
      }else{
          $("#alertReferredEdit").html('');
      }
    }
  });  
}

function DataLeads()
{

  var client = $("#client_id").val();

  $.ajax({ type: "POST", url:  "{{ url('Leads/Search') }}", data: {client: client},

  success: function(datos)
  {

      if(datos.status == true){   
        $("#c_01").val(datos.lead.name);
        $("#c_02").val(datos.lead.birthday);
        $("#c_03").val(datos.lead.phone_main);
        $("#c_04").val(datos.lead.phone_main_owner);
        $("#c_05").val(datos.lead.phone_alt);
        $("#c_06").val(datos.lead.phone_alt_owner);
        $("#c_07").val(datos.lead.phone_other);
        $("#c_08").val(datos.lead.phone_other_owner);
        $("#c_09").val(datos.lead.email_main);
        $("#c_10").val(datos.lead.email_other);
        $("#c_11").val(datos.lead.coor_lati);
        $("#c_12").val(datos.lead.coor_long);
        $("#c_13").val(datos.lead.add_main);
        $("#c_14").val(datos.lead.add_postal);
        $("#c_16").html(datos.town);
        $("#c_17").html(datos.zip);
        $("#c_18").html(datos.house);
        $("#c_19").html(datos.roof);
        $("#c_20").html(datos.level);
        $("#c_21").val(datos.lead.additional);
        $("#c_25").val(datos.lead.age);
        $("#c_26").val(datos.lead.repre);
        
        if(datos.lead.country != '')              { $("select[name=c_country]").val(datos.lead.country) };
        if(datos.lead.town != '')                 { $("select[name=c_town]").val(datos.lead.town) };
        if(datos.lead.zip != '')                  { $("select[name=c_zip]").val(datos.lead.zip) };
        if(datos.lead.h_type != '')               { $("select[name=c_type_house]").val(datos.lead.h_type) };
        if(datos.lead.h_roof != '')               { $("select[name=c_roof]").val(datos.lead.h_roof) };
        if(datos.lead.h_level != '')              { $("select[name=c_number_level]").val(datos.lead.h_level) };

        if(datos.lead.phone_main_provider != '')  { $("select[name=c_phone_pro]").val(datos.lead.phone_main_provider) };
        if(datos.lead.phone_alt_provider != '')   { $("select[name=c_phone_a_pro]").val(datos.lead.phone_alt_provider) };
        if(datos.lead.phone_other_provider != '') { $("select[name=c_phone_o_pro]").val(datos.lead.phone_other_provider) };
        if(datos.lead.gender != '')               { $("select[name=c_gender]").val(datos.lead.gender) };

        if(datos.lead.type_acc != '')             { $("select[name=c_type_acc]").val(datos.lead.type_acc) };

        if(datos.lead.country == "4")
        {
          if(datos.geographic.parish_id != '')    { $("select[name=c_parish]").val(datos.geographic.parish_id) };
          if(datos.geographic.sector_id != '')    { $("select[name=c_sector]").val(datos.geographic.sector_id) };
          if(datos.geographic.state_id != '')     { $("select[name=c_state]").val(datos.geographic.state_id) };
          if(datos.geographic.township_id != '')  { $("select[name=c_township]").val(datos.geographic.township_id) };
          $("#DataGeographic").show();

        }else{
          $("#DataGeographic").hide();
        }


      }else{

          window.location.href = datos.web;
      }
  }
  });
 
}

function DataID()
{

  var   client = $("#client_id").val();

  $.ajax({ type: "POST", url:  "{{ url('Leads/SearchID') }}", data: {client: client},

  success: function(datos)
  {
      if(datos.status == true){   
        $("#ident_01").val(datos.ID.ID);
        $("#ident_02").val(datos.ID.ID_exp);
        $("#ss_01").val(datos.SS.SS);
        $("#ss_02").val(datos.SS.SS_exp); 
        if(datos.ID.country != '')               { $("select[name=ident_country]").val(datos.ID.country) };
        if(datos.SS.country != '')               { $("select[name=ss_country]").val(datos.SS.country) };
        if(datos.ID.type_d != '')                { $("select[name=ident_type]").val(datos.ID.type_d) };
        if(datos.SS.type_d != '')                { $("select[name=ss_type]").val(datos.SS.type_d) };
      }
  }
  });

}

function DataMarketing()
{

  var   client = $("#client_id").val();

  $.ajax({ type: "POST", url:  "{{ url('Leads/Marketing') }}", data: {client: client},
  success: function(datos)
  {
      if(datos.status == true){   
        $("#mkt_03").html(datos.medium);
        $("#mkt_04").html(datos.forms);
        $("#mkt_05").html(datos.post);
        $("#mkt_06").html(datos.service);      
        $("#mkt_07").html(datos.campaign);
        $("#mkt_08").html(datos.origen);

        if(datos.lead.mkt_medium != '')       { $("select[name=mkt_medium]").val(datos.lead.mkt_medium) };
        if(datos.lead.mkt_objective != '')    { $("select[name=mkt_objective]").val(datos.lead.mkt_objective) };
        if(datos.lead.mkt_origen != '')       { $("select[name=mkt_origen]").val(datos.lead.mkt_origen) };
        if(datos.lead.mkt_form != '')         { $("select[name=mkt_form]").val(datos.lead.mkt_form) };
        if(datos.lead.mkt_conv != '')         { $("select[name=mkt_conv]").val(datos.lead.mkt_conv) };
        if(datos.lead.mkt_service != '')      { $("select[name=mkt_service]").val(datos.lead.mkt_service) };
        if(datos.lead.mkt_campaign != '')     { $("select[name=mkt_campaign]").val(datos.lead.mkt_campaign) };
        if(datos.lead.mkt_user != '')         { $("select[name=mkt_user]").val(datos.lead.mkt_user) };
        if(datos.lead.mkt_user_asigned != '') { $("select[name=mkt_user_assigned]").val(datos.lead.mkt_user_asigned) };

      }
  }
  });

}

function DataCC()
{
  var client = $("#client_id").val();

  $.ajax({ type: "POST", url:  "{{ url('Leads/CreditCard') }}", data: {client: client},

  success: function(datos)
  {
      if(datos.status == true)
      {   
        $("#cc_01").val(datos.card.name);
        $("#cc_03").val(datos.card.CC);
        $("#cc_04").val(datos.card.cvv);
        $("#cc_06").val(datos.card.year);

        if(datos.card.country !='') { $("select[name=cc_country]").val(datos.card.country) };
        if(datos.card.month !='')   { $("select[name=cc_month]").val(datos.card.month) };

        if(datos.card.type == "VISA"){ $("#VISA").prop("checked", true);  }else { $("#VISA").prop("checked", false);}
        if(datos.card.type == "MSCR"){ $("#MSCR").prop("checked", true);  }else { $("#MSCR").prop("checked", false);}
        if(datos.card.type == "AMEX"){ $("#AMEX").prop("checked", true);  }else { $("#AMEX").prop("checked", false);}
        if(datos.card.type == "THM"){ $("#THM").prop("checked", true);    }else { $("#THM").prop("checked", false);}
      }
  }
  });

}

function DataAB()
{
  var client = $("#client_id").val();
  $.ajax({ type: "POST", url:  "{{ url('Leads/AccountBank') }}", data: {client: client},

  success: function(datos)
  {
      if(datos.status == true){   
        $("#ab_01").val(datos.account.name);
        $("#ab_03").val(datos.account.account);
        
        if(datos.account.country != '') { $("select[name=ab_country]").val(datos.account.country) };
        if(datos.account.bank != '')    { $("select[name=ab_bank]").val(datos.account.bank)       };

        if(datos.account.type == "SAVING"){ $("#SAVING").prop("checked", true); }else { $("#SAVING").prop("checked", false);}
        if(datos.account.type == "CHECKING"){ $("#CHECKING").prop("checked", true); }else { $("#CHECKING").prop("checked", false);}
        if(datos.account.type == "OTHER"){ $("#OTHER").prop("checked", true); }else { $("#OTHER").prop("checked", false);}      
      }
  }
  });
}

function DataReferred()
{
  var client = $("#client_id").val();

  $.ajax({ type: "POST", url:  "{{ url('Leads/GetReferred') }}", data: {client: client},

  success: function(datos)
  {

    $("#tableReferred").append('<tr>');

    $.each(datos.referred, function( index, data ) {
      $("#tableReferred").append('<td data-hide="user">'+data.id+'</td>');
      $("#tableReferred").append('<td data-hide="user">'+data.id+'</td>');
      $("#tableReferred").append('<td data-hide="user">'+data.id+'</td>');
      $("#tableReferred").append('<td data-hide="user">'+data.id+'</td>');
      $("#tableReferred").append('<td data-hide="user">'+data.id+'</td>');
      $("#tableReferred").append('<td data-hide="user">'+data.id+'</td>');
    });

    $("#tableReferred").append('</tr>');
  }
  });
}

function DataNotes()
{
  var client = $("#client_id").val();

  $.ajax({ type: "POST", url:  "{{ url('Leads/GetNotes') }}", data: {client: client},

  success: function(datos)
  {
      $('#noteClientForm')[0].reset();
      $("#chat-body").html('');
      $("#chat-body").html(datos.notes);   
  }
  });
}

function blockUI()
{
    $.blockUI({ css: {
     border: 'none',
     padding: '15px',
     backgroundColor: '#000',
       '-webkit-border-radius': '10px',
       '-moz-border-radius': '10px',
     opacity: .5,
     color: '#fff'
  }});
}

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });
}

/////////////////////////////////////////////////////////////////////////////////
/////////////////////////// Service Television //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

function PrSaveTv()
{
  blockUI(); 
  var str = $("#lead_pr_television_form").serialize();

  $.ajax({ type: "POST", url:  "{{ url('Leads/SaveTelevision') }}", data: {value: str},
    success: function(datos)
    {
      if(datos.status == true)
      { 
        $.unblockUI();
        SuccessNotified(datos);
        ServiceTvPr();
      }
      else{ $.unblockUI(); ErrorNotified(datos); }
    }
  });

}

function PrSubmitTv()
{
  blockUI(); 
  var str = $("#lead_pr_television_form").serialize();

  $.ajax({ type: "POST", url:  "{{ url('Leads/SubmitTelevision') }}", data: {value: str},
    success: function(datos)
    {
      if(datos.status == true)
      { 
        $.unblockUI();
        $("#ticketModalBody").html(datos.html);
        $('#TicketserviceModal').modal('show');
        ServiceTvPr();
      }
      else{$.unblockUI();  ErrorNotified(datos); }
    }
  });

}

function ServiceTvPr()
{

  var id = $("#client_id").val();

  $.ajax({ type: "POST", url:  "{{ url('Leads/ViewTelevision') }}", data: {id: id},
    success: function(datos)
    {
      if(datos.status == true){
        $("#pr_tv_01").val(datos.tv.tv);
        $("select[name=pr_tv_packages]").val(datos.tv.packages);
        $("select[name=pr_tv_providers]").val(datos.tv.providers);
        $("select[name=pr_tv_decoder]").val(datos.tv.decoders);
        $("select[name=pr_tv_dvrs]").val(datos.tv.dvrs);
        $("select[name=pr_tv_payment]").val(datos.tv.payment);
        // $("select[name=pr_tv_referred]").val(datos.tv.referred);
        // $("select[name=pr_tv_ref_list]").val(datos.tv.ref_list);
        $("select[name=pr_tv_support]").val(datos.tv.sup);
        $("select[name=pr_tv_origen]").val(datos.tv.origen);
        
        if(datos.tv.sup_list != '0')  { $("select[name=pr_tv_ope_list]").val(datos.tv.sup_list) };

        $("select[name=pr_tv_status]").val(datos.tv.service);
        if(datos.tv.order_type !='') { $("select[name=pr_tv_type_order]").val(datos.tv.order_type)  };

        $("#pr_tv_view_01").val(datos.inf.trans);
        $("#pr_tv_view_03").val(datos.inf.status);
        $("#pr_tv_view_07").val(datos.inf.sale);
        $("#pr_tv_ticket_08").val(datos.inf.ticket);
        $("#pr_tv_view_09").val(datos.inf.score);
        $("#pr_tv_view_10").val(datos.inf.f_fin);
        $("#pr_tv_view_11").val(datos.inf.f_ope);
        $("#pr_tv_view_14").val(datos.inf.package);
        $("#pr_tv_view_16").val(datos.tv.adv);
        
        $("#pr_tv_view_17").val(datos.coor.c_pre_fecha);
        $("#pr_tv_view_12").val(datos.coor.c_pre_fecha_coord);
        $("#pr_tv_view_13").val(datos.coor.c_pre_operador);

        // $("#pr_tv_view_02").val(datos.comp.sign_d);
        // $("#pr_tv_view_04").val(datos.comp.suscrp);
        // $("#pr_tv_view_05").val(datos.comp.signat);
        // $("#pr_tv_view_06").val(datos.comp.contra);
        // $("#pr_tv_view_15").val(datos.comp.inst_d);


        if(datos.tv.hd =='on'){$('#pr_tv_hd').prop('checked',true);}else{$('#pr_tv_hd').prop('checked', false);}
        if(datos.tv.dvr=='on'){$('#pr_tv_dvr').prop('checked',true);}else{$('#pr_tv_dvr').prop('checked', false);}
        if(datos.tv.hbo=='on'){$('#pr_tv_hbo').prop('checked',true);}else{$('#pr_tv_hbo').prop('checked', false);}

        if(datos.tv.cinemax =='on'){$('#pr_tv_cinemax').prop('checked',true);}else{$('#pr_tv_cinemax').prop('checked', false);}
        if(datos.tv.starz   =='on'){$('#pr_tv_startz').prop('checked',true);}else{$('#pr_tv_startz').prop('checked', false);}
        if(datos.tv.showtime=='on'){$('#pr_tv_showtime').prop('checked',true);}else{$('#pr_tv_showtime').prop('checked', false);}

        if(datos.tv.gif_ent =='on'){$('#pr_tv_gif_ent').prop('checked',true);}else{$('#pr_tv_gif_ent').prop('checked', false);}
        if(datos.tv.gif_cho =='on'){$('#pr_tv_gif_cho').prop('checked',true);}else{$('#pr_tv_gif_cho').prop('checked', false);}
        if(datos.tv.gif_xtra=='on'){$('#pr_tv_gif_ext').prop('checked',true);}else{$('#pr_tv_gif_ext').prop('checked', false);}

      }
    }
  });

}

function ViewServiceTvPr()
{
    var id = $("#client_id").val();
}

/////////////////////////////////////////////////////////////////////////////////
///////////////////////////// Service Security //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

function PrSaveSec()
{
  blockUI(); 
  var str = $("#lead_pr_Security_form").serialize();
  $.ajax({ type: "POST", url:  "{{ url('Leads/SaveSecurity') }}", data: {value: str},
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      { 
        SuccessNotified(datos);
        ServiceSecPr();
      }
      else{ $.unblockUI(); ErrorNotified(datos); }
    }
  });

}

function ServiceSecPr()
{
  var id = $("#client_id").val();

  $.ajax({ type: "POST", url:  "{{ url('Leads/ViewSecurity') }}", data: {id: id},
    success: function(datos)
    {

      if(datos.status == true){
        $("select[name=pr_sec_previously]").val(datos.sec.previosly)
        $("#pr_sec_06").val(datos.sec.equipment);
        $("select[name=pr_sec_cameras]").val(datos.sec.cameras);
        $("#pr_sec_07").val(datos.sec.comp_equip);
        $("select[name=pr_sec_dvr]").val(datos.sec.dvr);
        $("#pr_sec_08").val(datos.sec.add_equip);
        $("#pr_sec_03").val(datos.sec.pass_alarm);
        $("select[name=pr_sec_payment]").val(datos.sec.payment);
        $("select[name=pr_sec_referred]").val(datos.sec.ref_id);
        $("select[name=pr_sec_ref_list]").val(datos.sec.ref_list);
        $("select[name=pr_sec_sup]").val(datos.sec.sup);
        $("select[name=pr_sec_ope_list]").val(datos.sec.sup_list);
        $("select[name=pr_sec_status]").val(datos.sec.service);
        $("select[name=pr_sec_type_order]").val(datos.sec.order_type);
        $("select[name=pr_sec_origen]").val(datos.sec.origen);
        $("#pr_sec_12").val(datos.sec.cont1);
        $("#pr_sec_15").val(datos.sec.cont1desc);
        $("#pr_sec_13").val(datos.sec.cont2);
        $("#pr_sec_16").val(datos.sec.cont2desc);
        $("#pr_sec_14").val(datos.sec.cont2);
        $("#pr_sec_17").val(datos.sec.cont3desc);

        $("#pr_sec_view_02").val(datos.inf.status);
        $("#pr_sec_view_04").val(datos.inf.sale);
        $("#pr_sec_view_05").val(datos.inf.score);
        $("#pr_sec_view_06").val(datos.inf.fico);
        $("#pr_sec_view_07").val(datos.inf.f_fin);
        $("#pr_sec_view_08").val(datos.inf.f_ope);
        $("#pr_sec_view_15").val(datos.inf.ticket);
        $("#pr_sec_view_11").val(datos.inf.package);


        // $("#pr_sec_view_01").val(datos.comp.order);
        // $("#pr_sec_view_03").val(datos.comp.client);
        // $("#pr_sec_view_12").val(datos.comp.inst_d);
        // $("#pr_sec_view_13").val(datos.comp.instal);
        // $("#pr_sec_view_14").val(datos.comp.company);

        $("#pr_sec_view_09").val(datos.coo.c_pre_fecha);
        $("#pr_sec_view_16").val(datos.coo.c_pre_fecha_coord);
        $("#pr_sec_view_10").val(datos.coo.c_pre_operador);

      }
    }
  });

}

function PrSubmitSec()
{
  blockUI(); 
  var str = $("#lead_pr_Security_form").serialize();

  $.ajax({ type: "POST", url:  "{{ url('Leads/SubmitSecurity') }}", data: {value: str},
    success: function(datos)
    {
      if(datos.status == true)
      { 
        $("#ticketModalBody").html(datos.html);
        $.unblockUI();
        $('#TicketserviceModal').modal('show');
        ServiceSecPr();
      }
      else{ $.unblockUI(); ErrorNotified(datos); }
    }
  });
}

function ViewServiceSecPr()
{
    var id = $("#client_id").val();
}

/////////////////////////////////////////////////////////////////////////////////
///////////////////////////// Service Internet //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

function PrSaveInt()
{
  blockUI(); 
  var str = $("#lead_pr_internet_form").serialize();

  $.ajax({ type: "POST", url:  "{{ url('Leads/SaveInternet') }}", data: {value: str},
    success: function(datos)
    {
      if(datos.status == true)
      { 
        SuccessNotified(datos);
        ServiceIntPr();
        $.unblockUI();
      }
      else{ $.unblockUI(); ErrorNotified(datos); }
    }
  });
  
}

function PrSubmitInt()
{
  blockUI(); 
  var str = $("#lead_pr_internet_form").serialize();

  $.ajax({ type: "POST", url:  "{{ url('Leads/SubmitInternet') }}", data: {value: str},
    success: function(datos)
    {
      if(datos.status == true)
      { 
        $("#ticketModalBody").html(datos.html);
        $.unblockUI();
        $('#TicketserviceModal').modal('show');
        ServiceIntPr();
      }
      else{ $.unblockUI(); ErrorNotified(datos); }
    }
  });
}

function ServiceIntPr()
{
  var id = $("#client_id").val();

  $.ajax({ type: "POST", url:  "{{ url('Leads/ViewInternet') }}", data: {id: id},
    success: function(datos)
    {

      if(datos.status == true){
        $("select[name=pr_int_res]").val(datos.int.int_res);
        $("select[name=pr_int_res_pho]").val(datos.int.pho_res);
        $("select[name=pr_int_trade]").val(datos.int.int_com);
        $("select[name=pr_int_trade_pho]").val(datos.int.pho_com);
        $("#pr_int_03").val(datos.int.coor_lat);
        $("#pr_int_09").val(datos.int.coor_len);        
        $("select[name=pr_int_referred]").val(datos.int.ref);
        $("select[name=pr_int_ref_list]").val(datos.int.ref_list);
        $("select[name=pr_int_support]").val(datos.int.sup);
        $("select[name=pr_int_origen]").val(datos.int.origen);
        if(datos.int.sup_list != '')  { $("select[name=pr_int_ope]").val(datos.int.sup_list); }
        $("select[name=pr_int_payment]").val(datos.int.payment);
        $("select[name=pr_int_status]").val(datos.int.service);


        $("#pr_int_view_01").val(datos.inf.ticket);
        $("#pr_int_view_02").val(datos.inf.status);
        $("#pr_int_view_03").val(datos.inf.sale);
        $("#pr_int_view_05").val(datos.inf.score);
        $("#pr_int_view_06").val(datos.inf.f_fin);
        $("#pr_int_view_07").val(datos.inf.f_ope);
        $("#pr_int_view_10").val(datos.inf.package.res);
        $("#pr_int_view_15").val(datos.inf.package.com);
        if(datos.inf.score == 'POSIBILIDADES'){ $("#pr_int_view_04").val(datos.inf.score);  }else{$( "#pr_int_view_04").val(''); }

        // $("#pr_int_view_11").val(datos.comp.inst_d);
        // $("#pr_int_view_12").val(datos.comp.instal);
        // $("#pr_int_view_14").val(datos.comp.contra);

        $("#pr_int_view_08").val(datos.coo.c_pre_fecha);
        $("#pr_int_view_13").val(datos.coo.c_pre_fecha_coord);
        $("#pr_int_view_09").val(datos.coo.c_pre_operador);
        
      }
    }
  });

}

function ViewServiceIntPr()
{
    var id = $("#client_id").val();
}

/////////////////////////////////////////////////////////////////////////////////
///////////////////////////// Service Wireless //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

function PrSaveMRouter()
{
  blockUI(); 
  var str = $("#lead_pr_mrouter_form").serialize();

  $.ajax({ type: "POST", url:  "{{ url('Leads/SaveMRouter') }}", data: {value: str},
    success: function(datos)
    {
      if(datos.status == true)
      { 
        SuccessNotified(datos);
        ServiceMRouterPr();
        $.unblockUI();
      }
      else{ $.unblockUI(); ErrorNotified(datos); }
    }
  });
  
}

function PrSubmitMRouter()
{
  blockUI(); 
  var str = $("#lead_pr_mrouter_form").serialize();

  $.ajax({ type: "POST", url:  "{{ url('Leads/SubmitMRouter') }}", data: {value: str},
    success: function(datos)
    {
      if(datos.status == true)
      { 
        $("#ticketModalBody").html(datos.html);
        $.unblockUI();
        $('#TicketserviceModal').modal('show');
        ServiceMRouterPr();
      }
      else{ $.unblockUI(); ErrorNotified(datos); }
    }
  });
  

}

function ServiceMRouterPr()
{
  var id = $("#client_id").val();
  blockUI();
  $.ajax({ type: "POST", url:  "{{ url('Leads/ViewMRouter') }}", data: {id: id},
    success: function(datos)
    {

      if(datos.status == true){
        $("#pr_mr_01").val(datos.mr.cant);
        $("select[name=pr_mr_red]").val(datos.mr.red);
        $("#pr_mr_02").val(datos.mr.ssid);
        $("#pr_mr_07").val(datos.mr.password);
        $("select[name=pr_mr_support]").val(datos.mr.sup);
        if(datos.mr.sup_list != '')  { $("select[name=pr_mr_ope_list]").val(datos.mr.sup_list); }
        $("select[name=pr_mr_referred]").val(datos.mr.ref);
        $("select[name=pr_mr_ref_list]").val(datos.mr.ref_list);
        $("select[name=pr_mr_status]").val(datos.mr.service);
        $("select[name=pr_mr_payment]").val(datos.mr.payment);
        $("select[name=pr_mr_origen]").val(datos.mr.origen);
        $.unblockUI();
      }else{
        $.unblockUI();
      }
    }
  });

}

function ViewServiceMRouterPr()
{
    var id = $("#client_id").val();
}


/////////////////////////////////////////////////////////////////////////////////
///////////////////////////// Service Internet //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

function VZSaveInt()
{
  blockUI(); 
  var str = $("#lead_vzla_internet_form").serialize();

  $.ajax({ type: "POST", url:  "{{ url('Leads/SaveInternetVZ') }}", data: {value: str},
    success: function(datos)
    {
      if(datos.status == true)
      { 
        SuccessNotified(datos);
        ServiceIntVZ();
        $.unblockUI();
      }
      else{ $.unblockUI(); ErrorNotified(datos); }
    }
  });
  
}

function VZSubmitInt()
{
  blockUI(); 
  var str = $("#lead_vzla_internet_form").serialize();

  $.ajax({ type: "POST", url:  "{{ url('Leads/SubmitInternetVZ') }}", data: {value: str},
    success: function(datos)
    {
      if(datos.status == true)
      { 
        $("#ticketModalBody").html(datos.html);
        $.unblockUI();
        $('#TicketserviceModal').modal('show');
        ServiceIntVZ();
      }
      else{ $.unblockUI(); ErrorNotified(datos); }
    }
  });
  

}

function ServiceIntVZ()
{
  var id = $("#client_id").val();

  $.ajax({ type: "POST", url:  "{{ url('Leads/ViewInternetVZ') }}", data: {id: id},
    success: function(datos)
    {
      if(datos.status == true){
        if(datos.int.int_res != "0") { $("select[name=vzla_int_res]").val(datos.int.int_res) };
        if(datos.int.pho_res != "0") { $("select[name=vzla_int_res_pho]").val(datos.int.pho_res) };
        if(datos.int.int_com != "0") { $("select[name=vzla_int_trade]").val(datos.int.int_com) };
        if(datos.int.pho_com != "0") { $("select[name=vzla_int_trade_pho]").val(datos.int.pho_com) };
        

        $("#vzla_int_07").val(datos.int.amount);
        $("#vzla_int_08").val(datos.int.trans);
        $("#vzla_int_09").val(datos.int.email);
        $("#vzla_int_10").val(datos.int.trans_date);

        $("select[name=vz_int_referred]").val(datos.int.ref);
        $("select[name=vz_int_ref_list]").val(datos.int.ref_list);
        $("select[name=vzla_int_support]").val(datos.int.sup);
        $("select[name=vzla_int_origen]").val(datos.int.origen);
        $("select[name=vzla_int_type_order]").val(datos.int.order_type);

        if(datos.int.payment != "0")  { $("select[name=vzla_int_payment]").val(datos.int.payment) };
        if(datos.int.service != "0")  { $("select[name=vzla_int_status]").val(datos.int.service) };
        if(datos.int.bank != "0")     { $("select[name=vzla_int_bank]").val(datos.int.bank) };
        if(datos.int.sup_list != "0") { $("select[name=vzla_int_ope]").val(datos.int.sup_list) };
        
        $("#vz_int_view_01").val(datos.inf.ticket);
        $("#vz_int_view_02").val(datos.inf.status);
        $("#vz_int_view_03").val(datos.inf.sale);
        $("#vz_int_view_05").val(datos.inf.score);
        $("#vz_int_view_06").val(datos.inf.f_fin);
        $("#vz_int_view_07").val(datos.inf.f_ope);
        $("#vz_int_view_10").val(datos.inf.package.res);
        $("#vz_int_view_15").val(datos.inf.package.com);

        // $("#vz_int_view_11").val(datos.comp.inst_d);
        // $("#vz_int_view_12").val(datos.comp.instal);
        // $("#vz_int_view_14").val(datos.comp.contra);
        
        $("#vz_int_view_08").val(datos.coo.c_pre_fecha);
        $("#vz_int_view_13").val(datos.coo.c_pre_fecha_coord);
        $("#vz_int_view_09").val(datos.coo.c_pre_operador);  

        $("#vzla_int_18").val(datos.int.additional);

        if(datos.int.origen != "10")
        {
          $("#vzla_int_17").prop("disabled", false);
        }else{
          $("#vzla_int_17").prop('disabled', true);
        }        

      }
    }
  });

}

function ViewServiceIntVZ()
{
    var id = $("#client_id").val();
}

function SectorSelect(id)
{
  $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/SectorG') }}", data: {id: id},
  success: function(datos)
  {
    $('#BodyGeoState').html(datos.estado);
    $('#BodyGeoTownship').html(datos.municipio);
    $('#BodyGeoParish').html(datos.parroquia);
    $('#BodyGeoSector').html(datos.sector);

    $("#c_state").change(function(event) 
    {
      var   id = $("#c_state").val();

      $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Township') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true)
        {
          $('#BodyGeoTownship').html(datos.township);
          $('#BodyGeoParish').html(datos.parish);
          $('#BodyGeoSector').html(datos.sector);
        }else{
          $('#BodyGeoTownship').html(datos.township);
          $('#BodyGeoParish').html(datos.parish);
          $('#BodyGeoSector').html(datos.sector);
        }

        $("#c_township").change(function(event) 
        {
          var   id = $("#c_township").val();

          $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Parish') }}", data: {id: id},
          success: function(datos)
          {
            if(datos.status == true)
            {
              $('#BodyGeoParish').html(datos.parish);
            }else{
              $('#BodyGeoParish').html(datos.parish);
            }   

            $("#c_parish").change(function(event) 
            {
              var   id = $("#c_parish").val();

              $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Sector') }}", data: {id: id},
              success: function(datos)
              {
                if(datos.status == true)
                {
                  $('#BodyGeoSector').html(datos.sector);
                }else{
                  $('#BodyGeoSector').html(datos.sector);
                }
              }
              }); 
            });

          }
          });  
        });
      }
      });
    });

    $("#c_township").change(function(event) 
    {
      var   id = $("#c_township").val();

      $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Parish') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true)
        {
          $('#BodyGeoParish').html(datos.parish);
        }else{
          $('#BodyGeoParish').html(datos.parish);
        }

      $("#c_parish").change(function(event) 
        {
          var   id = $("#c_parish").val();

          $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Sector') }}", data: {id: id},
          success: function(datos)
          {
            if(datos.status == true)
            {
              $('#BodyGeoSector').html(datos.sector);
            }else{
              $('#BodyGeoSector').html(datos.sector);
            }
          }
          }); 

        });
      }
      });  
    });

    $("#c_parish").change(function(event) 
    {
      var   id = $("#c_parish").val();

      $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/Sector') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true)
        {
          $('#BodyGeoSector').html(datos.sector);
        }else{
          $('#BodyGeoSector').html(datos.sector);
        }
      }
      }); 

    });

    $('#c_sector').change(function(event)
    {
      $('#GeographicModal').modal('show');
    });

    $('#GeographicModal').modal('hide');
    $('#FormModalGeographic')[0].reset();

  }
  }); 
}

</script>
{% endblock %}