<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>DATOS DE MARKETING</h2>
    </header>
    <div>
      <div class="widget-body">
        <form class="smart-form" method="post" id="FormLeadsMKT" data-parsley-validate="">
          <input name="mkt_client" id="mkt_client" value="{{ client }}" readonly hidden>
          <fieldset>
            <div class="row" style="margin-top: -20px;">
              <section class="col col-6">
                <label class="label">ORIGEN</label>
                <label class="select"class="input">
                  <div class="icon-addon addon-md">
                    <select class="form-control" name="mkt_origen" id="mkt_08">
                    </select>
                    <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                  </div>
                </label>
              </section>

              <section class="col col-6">
                <label class="label">MEDIO</label>
                <label class="select"class="input">
                  <div class="icon-addon addon-md">
                    <select class="form-control" name="mkt_medium" id="mkt_03">
                    </select>
                    <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                  </div>
                </label>
              </section>

              <section class="col col-6">
                <label class="label">FORMULARIO</label>
                <label class="select"class="input">
                  <div class="icon-addon addon-md">
                    <select class="form-control" name="mkt_form" id="mkt_04">
                    </select>
                    <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                  </div>
                </label>
              </section>

              <input type="text" name="mkt_objective" id="mkt_08" value="1" hidden>

              <section class="col col-6">
                <label class="label">CONVERSACIONES</label>
                <label class="select"class="input">
                  <div class="icon-addon addon-md">
                    <select class="form-control" name="mkt_conv" id="mkt_05">
                    </select>
                    <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                  </div>
                </label>
              </section>
              <section class="col col-6">
                <label class="label">SERVICIO</label>
                <label class="select"class="input">
                  <div class="icon-addon addon-md">
                    <select class="form-control" name="mkt_service" id="mkt_06">
                    </select>
                    <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                  </div>
                </label>
              </section>

              <section class="col col-6">
              </section>
            </div>

            <div class="row">
              <section class="col col-6">
                <label class="label">CAMPA&Ntilde;A</label>
                <label class="select"class="input">
                  <div class="icon-addon addon-md">
                    <select class="form-control" name="mkt_campaign" id="mkt_07">
                    </select>
                    <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                  </div>
                </label>
              </section>
              <section class="col col-6" style="text-align: center;">
                  <div id="imgMKT"></div>
              </section>
            </div>
          </fieldset>
          <footer>
            <button type="submit" class="btn btn-primary">SALVAR</button>
          </footer>
        </form>
      </div>
    </div>
  </div>
</div>