<!----------------------------- Referred Modal ---------------------------->

<div class="modal fade" id="NewReferredModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-users" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">REFERIDOS </h4>
			</div>
			<form class="FormLeadsRef" method="post" id="FormLeadsRef" data-parsley-validate="">
				<input name="re_client" id="re_client" value="{{ client }}" readonly hidden>
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div style="text-align: center;" id="alertReferred"></div>
					</div> 
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> NOMBRE COMPLETO</label>
								<input type="text" id="re_name" name="re_name" class="form-control" placeholder="Nombre Completo" required />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> TELEFONO </label>
								<input type="number" id="re_phone" name="re_phone" class="form-control" placeholder="Telefono" required />
							</div>				
						</div>


					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> CUMPLEANOS</label>
								<input type="text" id="re_birthday" name="re_birthday" class="form-control" placeholder="Cumpleanos"/>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> PAIS</label>
								<select class="form-control" id="re_country" name="re_country" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> TIPO</label>
								<select class="form-control" id="re_type" name="re_type" required>
									{% for reft in dataRefs %}
										{% if reft['status_id'] == "1" %}
											<option value="{{ reft['id'] }}"> {{ reft['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> SEGURO SOCIAL</label>
								<input type="text" id="re_ss" name="re_ss" class="form-control" placeholder="Seguro Social" />
							</div>

						</div>

						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> FECHA EXPIRACION</label>
								<input type="text" id="re_ss_exp" name="re_ss_exp" class="form-control" placeholder="Fecha Expiracion" />
							</div>
						
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> PAIS</label>
								<select class="form-control" id="re_country_ss" name="re_country_ss">
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> TIPO</label>
								<select class="form-control" id="re_type_ss" name="re_type_ss">
					                {% for sst in ssType %}
					                  {% if sst['status_id'] == "1" %}
					                    <option value="{{ sst['id'] }}"> {{ sst['name'] }}
					                  {% endif %}
					                {% endfor %}
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> IDENTIFICADOR</label>
								<input type="text" id="re_ident" name="re_ident" class="form-control" placeholder="Identificador" />
							</div>

						</div>

						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> FECHA EXPIRACION</label>
								<input type="text" id="re_ident_exp" name="re_ident_exp" class="form-control" placeholder="Fecha Expiracion" />
							</div>
						
						</div>

					</div>
					<div class="row">
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> PAIS</label>
								<select class="form-control" id="re_country_ident" name="re_country_ident">
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> TIPO</label>
								<select class="form-control" id="re_type_ident" name="re_type_ident">
					                {% for idt in idType %}
					                  {% if idt['status_id'] == "1" %}
					                    <option value="{{ idt['id'] }}"> {{ idt['name'] }}
					                  {% endif %}
					                {% endfor %}
								</select>
							</div>
						
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
					<button type="submit" class="btn btn-primary">SALVAR</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="IncReferredModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-users" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">REFERIDOS </h4>
			</div>
			<form class="FormLeadsInc" method="post" id="FormLeadsInc" data-parsley-validate="">
				<input name="re_cl" id="re_cl" value="{{ client }}" readonly hidden>
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div style="text-align: center;" id="alertReferred"></div>
					</div> 
					<div class="row">
						<div class="form-group">
							<input type="number" id="re_cl_in" name="re_cl_in" class="form-control" placeholder="ID de Cliente" required />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
					<button type="submit" class="btn btn-primary">SALVAR</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="EditReferredModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-users" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">REFERRED </h4>
			</div>
			<form class="formeditreferred" method="post" id="formeditreferred" data-parsley-validate="">
				<input name="re_client" id="re_client" value="{{ client }}" readonly hidden>
				<input name="id2_ref" id="id2_ref" readonly hidden>
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div style="text-align: center;" id="alertReferredEdit"></div>
					</div> 
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div id="editInfoR"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3">
							<div class="form-group">
								<label for="category"> TIPO</label>
								<select class="form-control" id="type_id_ref2" name="type_id_ref2" required>
									{% for reft in dataRefs %}
										{% if reft['status_id'] == "1" %}
											<option value="{{ reft['id'] }}"> {{ reft['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
					<button type="submit" class="btn btn-primary">SALVAR</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Activity Modal ---------------------------->

<div class="modal fade" id="NewActivityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-calendar" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">ACTIVIDAD </h4>
			</div>
			<form class="FormLeadsCalendar" method="post" id="FormLeadsCalendar" data-parsley-validate="">
				<input name="re_client" id="re_client" value="{{ client }}" readonly hidden>
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div style="text-align: center;" id="activityReferred"></div>
					</div> 
					<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="category"> APOYO ?</label>
									<select class="form-control" id="s_support" name="s_support" required>
										<option value="0" select>NO</option>
										<option value="1">YES</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="category"> OPERADOR</label>
									<select class="form-control" id="o_support" name="o_support" required>
									{% for use in users %}
										{% if use['status_id'] == "1" %}
											<option value="{{ use['id'] }}"> {{ use['username'] }}
										{% endif %}
									{% endfor %}
									</select>
								</div>
							</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="category"> TITULO DE EVENTO</label>
								<input class="form-control" id="title" name="title" maxlength="255" type="text" placeholder="Titulo de Evento" required>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="category"> DESCRIPCION DE EVENTO</label>
								<textarea class="form-control" rows="3" maxlength="255" name="description" id="description" placeholder="Descripcion de Evento" required></textarea>
									<p class="note">Maxima cantidad de caracteres permitidos 255</p>
							</div>	
						</div>	

						<div class="col-md-12">
							<div class="form-group">
								<label>FECHA DE EVENTO</label>
								<input class="form-control" id="dateEvent" name="dateEvent" maxlength="40" type="text" placeholder="Fecha de Evento" required>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label>TIEMPO INICIAL</label>
								<div class="row">
									<div class="col-xs-6" >
										<select class="form-control" id="i_hora" name="i_hora" required>
											<option value="07" select>7</option>
											<option value="08">8</option>
											<option value="09">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
										</select>
									</div>
									<div class="col-xs-6">
										<select class="form-control" id="i_min" name="i_min" required>
											<option value="00" select>00</option>
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
											<option value="40">40</option>
											<option value="50">50</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label>TIEMPO FINAL</label>
								<div class="row">
									<div class="col-xs-6" >
										<select class="form-control" id="f_hora" name="f_hora" required>
											<option value="07" select>7</option>
											<option value="08">8</option>
											<option value="09">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
										</select>
									</div>
									<div class="col-xs-6">
										<select class="form-control" id="f_min" name="f_min" required>
											<option value="00" select>00</option>
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
											<option value="40">40</option>
											<option value="50">50</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label>COLOR DEL EVENTO</label>
								<div class="btn-group btn-group-justified btn-select-tick" data-toggle="buttons">
									<label class="btn bg-color-darken active">
										<input type="radio" name="priority" id="option1" value="#404040" checked>
										<i class="fa fa-check txt-color-white"></i> </label>
									<label class="btn bg-color-blue">
										<input type="radio" name="priority" id="option2" value="#57889A">
										<i class="fa fa-check txt-color-white"></i> </label>
									<label class="btn bg-color-orange">
										<input type="radio" name="priority" id="option3" value="#C79121">
										<i class="fa fa-check txt-color-white"></i> </label>
									<label class="btn bg-color-greenLight">
										<input type="radio" name="priority" id="option4" value="#71843F">
										<i class="fa fa-check txt-color-white"></i> </label>
									<label class="btn bg-color-blueLight">
										<input type="radio" name="priority" id="option5" value="#92A2A8">
										<i class="fa fa-check txt-color-white"></i> </label>
									<label class="btn bg-color-red">
										<input type="radio" name="priority" id="option6" value="#A80329">
										<i class="fa fa-check txt-color-white"></i> </label>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
					<button type="submit" class="btn btn-primary">SALVAR</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Ticket Service Modal ---------------------------->

<div class="modal fade" id="TicketserviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 100px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">TICKET DEL SERVICIO </h4>
			</div>
			<form class="FormTicketService" method="post" id="FormTicketService" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="ticketModalBody"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!----------------------------- Objections Service Modal ---------------------------->

<div class="modal fade" id="ServiceObjectionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa fa-times" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">LISTADO DE OBJECIONES </h4>
			</div>
				<div class="modal-body" style="background: aliceblue;">
					<div class="widget-body no-padding">
						<form class="smart-form" method="post" id="FormObjectionsService" data-parsley-validate="">
						<div id="ObjectionModalBody">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
					<button type="submit" class="btn btn-primary">SALVAR</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="GeographicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa fa-globe" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">DATOS GEOGRAFICOS </h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<div class="widget-body no-padding">
					<form class="smart-form" id="FormModalGeographic">
						<section style="text-align: center;">
							<label for="category"> INTRODUZCA SECTOR A UBICAR</label>
							<input type="text" id="sect_geo" name="sect_geo" class="form-control" placeholder="Sector Geografico a Ubicar" required  style="text-align: center;" />
						</section>
					</form>
					<section>
						<div id="HtmlModalGeographic">
						</div>
					</section>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
				</div>
			</div>
		</div>
	</div>
</div>