{% extends 'layouts/index.html.twig' %}

{% block content %}

<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="client_id" id="client_id" value="{{ client }}" readonly hidden>
      <li>Home</li><li>Leads</li><li>{{ lead.name }}</li>
    </ol>
  </div>
  <div id="content">
    <!-- Row -->
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title txt-color-blueDark">
        <i class="fa fa-pencil-square-o fa-fw "></i>
        Leads
        </h1>
      </div>   
    </div>
    <!-- End Row -->

      <!-- New Leads -->
        
        {% include('leads/new_lead.html.twig') %}

      <!-- End New Leads -->

  </div>
</div>

{% include('leads/new_modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
    $('#FormNewLeads').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#FormNewLeads").serialize();
        $.ajax({ type: "POST", url:  "{{ url('Leads/NewCreate') }}", data: {str: str},
        beforeSend: function(request){
          blockUI();
        },
        success: function(datos)
        {
          $.unblockUI();
          if(datos.status == true)
          {
            $('#alertNewSearch').html('');
            $('#HtmlSearch').html('');
            $('#alertNewSearch').html('<div class="alert alert-danger alert-block"><h4 class="alert-heading">Informaci&oacute;n!</h4><strong> N&uacute;mero Telef&oacute;nico Registrado, </strong> desea crearlo de todas formas?.</div>');
            $('#HtmlSearch').html(datos.html);
            $('#NewSearchModal').modal('show');
            
          }else{

              $('#alertNewSearch').html('');
              $('#HtmlSearch').html('');
              $('#NewSearchModal').modal('hide');

              var str = $("#FormNewLeads").serialize();
              $.ajax({ type: "POST", url:  "{{ url('Leads/CreateLeadNew') }}", data: {str: str},
              beforeSend: function(request){
                blockUI();
              },
              success: function(datos)
              {
                if(datos.status == true)
                {
                  $.unblockUI();

                  SuccessNotified(datos);

                  setTimeout(window.location.href = datos.web, 3000);

                }else{
                  ErrorNotified(datos);
                }

              }
              });
          }
        }
        });
        return false;
    });

});

function CreateLeadNew() 
{
    $('#alertNewSearch').html('');
    $('#HtmlSearch').html('');
    $('#NewSearchModal').modal('hide');

    var str = $("#FormNewLeads").serialize();
    $.ajax({ type: "POST", url:  "{{ url('Leads/CreateLeadNew') }}", data: {str: str},
    // beforeSend: function(request){
    //   blockUI();
    // },
    success: function(datos)
    {
      if(datos.status == true)
      {
        $.unblockUI();

        SuccessNotified(datos);

        setTimeout(window.location.href = datos.web, 3000);

      }else{
        ErrorNotified(datos);
      }

    }
    });

}

function blockUI()
{
    $.blockUI({ css: {
     border: 'none',
     padding: '15px',
     backgroundColor: '#000',
       '-webkit-border-radius': '10px',
       '-moz-border-radius': '10px',
     opacity: .5,
     color: '#fff'
  }});
}

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 2000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 2000
  });
}

</script>
{% endblock %}