<div class="modal fade" id="NewSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-users" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Resultados de Busqueda </h4>
			</div>
			<form class="FormLeadsRef" method="post" id="FormLeadsRef" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div style="text-align: center;" id="alertNewSearch">
							<div class="alert alert-danger alert-block">
								<h4 class="alert-heading">Informaci&oacute;n!</h4>
								<strong> N&uacute;mero Telef&oacute;nico Registrado, </strong> desea crearlo de todas formas?.
							</div>
						</div>
					</div> 
					<div class="row">
						<div id="HtmlSearch"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
					<button type="button" onclick="CreateLeadNew();" class="btn btn-primary">SI</button>
				</div>
			</form>
		</div>
	</div>
</div>