<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>DATOS BASICOS</h2>
      </header>
      <div>
        <div class="widget-body">
          <form class="smart-form" method="post" id="FormNewLeads" data-parsley-validate="">
            <fieldset>
              <div class="row" style="margin-top: -20px;">
                <section class="col col-4">
                    <label class="label">NOMBRE COMPLETO</label>
                    <label class="input"> <i class="icon-prepend fa fa-user"></i><input type="text" name="c_name" id="c_01" placeholder="Nombre Completo" required></label>
                </section>
                <section class="col col-4">
                    <label class="label">TELEFONO PRINCIPAL</label>
                    <label class="input"> <i class="icon-prepend fa fa-phone"></i><input type="number" name="search-fld" id="c_02" placeholder="Telefono Principal" required></label>
                </section>
                <section class="col col-4">
                  <label class="label">PAIS</label>
                  <label class="select"class="input"> 
                    <div class="icon-addon addon-md">
                      {% if (app.session.get('role') != "17") %}

                      <select class="form-control" name="c_country" id="c_03" required>
                        {% for cou in countrys %}
                          {% if cou['status_id'] == "1" %}
                            <option value="{{ cou['id'] }}"> {{ cou['name'] }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      {% endif %}
                      
                      {% if (app.session.get('role') == "17") %}
                        <select class="form-control" name="c_country" id="c_03" required>
                          <option value="4"> VENEZUELA</option>
                        </select>
                      {% endif %}
                      <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
                    </div>
                  </label>
                </section>
              </div>
            </fieldset>
            <footer>
              <button type="submit" class="btn btn-primary">SALVAR</button>
            </footer>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>