<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
  <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false" role="widget">
    <header role="heading"><div class="jarviswidget-ctrls" role="menu">   </div>
    <span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
    <h2> NOTAS DEL CLIENTE </h2>
    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
    <div role="content">
      <div class="widget-body widget-hide-overflow no-padding">
        <form enctype="multipart/form-data" id="noteClientForm" data-parsley-validate="">
          <div class="chat-footer">
            <div class="textarea-div">
              <div class="typearea" style="text-align: center;" id="alarmNote"></div>
              <div class="typearea">
                <input name="client_id_n" id="client_id_n" value="{{ client }}" readonly hidden>
                <textarea placeholder="Notas" id="notes" name="notes" class="custom-scroll"></textarea>
              </div>
            </div>
            <span class="textarea-controls">
              <div class="row" style="margin-bottom: 10px;">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <input type="file" class="form-control" id="file" name="file" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
                  <button class="btn btn-sm btn-primary pull-right" type="submit" >Enviar</button>
                  <span class="pull-right smart-form" style="margin-top: 3px; margin-right: 10px;">
                    <label class="checkbox pull-right"></label>
                  </span>    
                </div>
              </div>
            </span>
          </div>
        </form>
        <div id="chat-body" class="chat-body custom-scroll" style="height: 500px;">
          <ul>
            {% for nota in notes %}
              <li class="message">
              <div class="message-text" style="text-align: justify;">
                <time>{{ nota['create']}}</time>
                <a class="username">{{ nota['user']}}</a>
                {{ nota['note'] }}
                
                {% if nota['conttype'] != "" %}
                  <p class="chat-file row">
                    <b class="pull-left col-sm-6"> <i class="fa fa-file"></i> {{ nota['name']}} </b>
                    <span class="col-sm-6 pull-right"> <a href="/assets/info/notes/download.php?down={{ nota['id']}}" class="btn btn-xs btn-success">Descargar</a></span>
                  </p>
                {% endif %}
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>