<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form id="lead_pr_internet_form" class="smart-form" data-parsley-validate="">
    <fieldset>

    <div class="row">

      <div class="col col-6">

        <input name="pr_int_client" ïd="pr_int_client" value="{{ client }}" readonly hidden>

        <label class="label">INTERNET RESIDENCIAL</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="pr_int_res" id="pr_int_01">
                {% for res in intres %}
                  {% if res['status_id'] == "1" %}
                    <option value="{{ res['id'] }}"> {{ res['name'] }}
                  {% endif %}
                {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">INTERNET COMERCIAL</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="pr_int_trade" id="pr_int_02">
                {% for com in intcom %}
                  {% if com['status_id'] == "1" %}
                    <option value="{{ com['id'] }}"> {{ com['name'] }}
                  {% endif %}
                {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">APOYO ?</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="pr_int_support" id="pr_int_05">
              <option value="0">NO</option>
              <option value="1">SI</option>
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>   

        <label class="label" style="margin-top: 10px;">METODO DE PAGO</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="pr_int_payment" id="pr_int_06">
                {% for pay in payments %}
                  {% if pay['status_id'] == "1" and (pay['service_id'] == "1"  or pay['service_id'] == "4") %}                 
                    <option value="{{ pay['id'] }}"> {{ pay['name'] }}
                  {% endif %}
                {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">TIPO DE ORDER</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="pr_int_type_order" id="pr_int_13">
                {% for ordtyp in ordertypes %}
                  {% if ordtyp['status_id'] == "1" %}
                    <option value="{{ ordtyp['id'] }}"> {{ ordtyp['name'] }}
                  {% endif %}
                {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

      </div>
       
      <div class="col col-6">

        <label class="label">TELEFONO RESIDENCIAL</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="pr_int_res_pho" id="pr_int_07">
                {% for pres in phoneres %}
                  {% if pres['status_id'] == "1" %}
                    <option value="{{ pres['id'] }}"> {{ pres['name'] }}
                  {% endif %}
                {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">TELEFONO COMERCIAL</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="pr_int_trade_pho" id="pr_int_08">
                {% for pcom in phonecom %}
                  {% if pcom['status_id'] == "1" %}
                    <option value="{{ pcom['id'] }}"> {{ pcom['name'] }}
                  {% endif %}
                {% endfor %}
              </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

          <label class="label" style="margin-top: 10px;">OPERADORES</label>
          <label class="select"class="input">
            <div class="icon-addon addon-md">
              <select class="form-control" name="pr_int_ope" id="pr_int_11">
                {% for user in users %}
                  {% if user['status_id'] == "1" %}
                    <option value="{{ user['id'] }}"> {{ user['username'] }}
                  {% endif %}
                {% endfor %}
              </select>
              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
            </div>
          </label>




        <label class="label" style="margin-top: 10px;">STATUS DEL SERVICIO</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="pr_int_status" id="pr_int_12">
              {% for sserv in statusserv %}
                {% if sserv['status_id'] == "1" %}
                  <option value="{{ sserv['id'] }}"> {{ sserv['name'] }}
                {% endif %}
              {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">ORIGEN DE VENTA</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="pr_int_origen" id="pr_int_14">
              {% for orig in leadpro %}
                {% if orig['status_id'] == "1" %}
                  <option value="{{ orig['id'] }}"> {{ orig['name'] }}</option>
                {% endif %}
              {% endfor %}
              </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

      </div>

    </div>

    </fieldset>
    <footer>
      <a onclick="PrSaveInt();" class="btn btn-primary">ACTUALIZAR</a>
      <a onclick="PrSubmitInt();"class="btn btn-success">PROCESAR</a>
    </footer>
  </form>
</div>