<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form class="smart-form" method="post" id="lead_pr_mrouter_form" data-parsley-validate="">
    <fieldset>
      <div class="row">
        <div class="col col-6">
          
            <input name="pr_mr_client" id="pr_mr_client" value="{{ client }}" readonly hidden>
            <label class="label">CANTIDAD</label>
            <label class="input">
              <input type="number" name="pr_mr_cant" id="pr_mr_01" placeholder="Cantidad" value="1" required>
            </label>
 
            <label class="label" style="margin-top: 10px;">SSID</label>
            <label class="input">
              <input type="text" name="pr_mr_ssid" id="pr_mr_02" placeholder="SSID" required>
            </label>

            <label class="label" style="margin-top: 10px;">APOYO ?</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_mr_support" id="pr_mr_03">
                  <option value="0">NO</option>
                  <option value="1">SI</option>
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

            <label class="label" style="margin-top: 10px;">METODO DE PAGO</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_mr_payment" id="pr_mr_05">
                  {% for pay in payments %}
                    {% if pay['status_id'] == "1" and (pay['service_id'] == "1"  or pay['service_id'] == "5") %}
                      <option value="{{ pay['id'] }}"> {{ pay['name'] }}
                    {% endif %}
                  {% endfor %}
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

          <label class="label" style="margin-top: 10px;">TIPO DE ORDER</label>
          <label class="select"class="input">
            <div class="icon-addon addon-md">
              <select class="form-control" name="pr_mr_type_order" id="pr_mr_11">
                  {% for ordtyp in ordertypes %}
                    {% if ordtyp['status_id'] == "1" %}
                      <option value="{{ ordtyp['id'] }}"> {{ ordtyp['name'] }}
                    {% endif %}
                  {% endfor %}
              </select>
              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
            </div>
          </label>

        </div>
       
        <div class="col col-6">
            <label class="label">TIPO DE RED</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_mr_red" id="pr_mr_06" required>
                  <option value="0" selected="">SELECCION</option>
                  <option value="1">T Mobile - $80</option>
                  <option value="2">AT&T - $100</option>
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

            <label class="label" style="margin-top: 10px;">PASSWORD</label>
            <label class="input">
              <input type="text" name="pr_mr_pass" id="pr_mr_07" placeholder="Password" required>
            </label>

            <label class="label" style="margin-top: 10px;">LISTADO DE OPERADORES</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_mr_ope_list" id="pr_mr_08">
                  {% for user in users %}
                    {% if user['status_id'] == "1" %}
                      <option value="{{ user['id'] }}"> {{ user['username'] }}
                    {% endif %}
                  {% endfor %}
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

            <label class="label" style="margin-top: 10px;">STATUS DEL SERVICIO</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_mr_status" id="pr_mr_10" required>
                  <option value="0" selected="">SELECCION</option>
                    {% for sserv in statusserv %}
                      {% if sserv['status_id'] == "1" %}
                        <option value="{{ sserv['id'] }}"> {{ sserv['name'] }}
                      {% endif %}
                    {% endfor %}
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label> 
            <label class="label" style="margin-top: 10px;">ORIGEN DE VENTA</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_mr_origen" id="pr_mr_12">
                  {% for orig in leadpro %}
                    {% if orig['status_id'] == "1" %}
                      <option value="{{ orig['id'] }}"> {{ orig['name'] }}</option>
                    {% endif %}
                  {% endfor %}
                  </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>
        </div>
      </div>
    </fieldset>
    <footer>
      <a onclick="PrSaveMRouter();" class="btn btn-primary">ACTUALIZAR</a>
      <a onclick="PrSubmitMRouter();" class="btn btn-success">PROCESAR</a>
    </footer>
  </form>
</div>