<article class="col-sm-12">
  <!-- new widget -->
  <div class="jarviswidget" id="wid-id-0"  data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
    <header>
      <span class="widget-icon"> <img class="flag flag-pr" src="{{ asset('assets/img/blank.gif') }}" alt="Puerto Rico"> </span>
      <h2>SERVICIOS DE PUERTO RICO </h2>
      <ul class="nav nav-tabs pull-right in" id="myTab">

          {% if permit['tvpr'] == "on" %}
            <li class="active">
                <a data-toggle="tab" href="#pr1"><i class="fa fa-lg fa-desktop"></i> <span class="hidden-mobile hidden-tablet"> Television </span></a>
            </li>
          {% endif %}

          {% if permit['sepr'] == "on" %}
            <li>
                <a data-toggle="tab" href="#pr2"><i class="fa fa-lg fa-lock"></i> <span class="hidden-mobile hidden-tablet"> Seguridad </span></a>
            </li>
          {% endif %}

          {% if permit['inpr'] == "on" %}
            <li>
                <a data-toggle="tab" href="#pr3"><i class="fa fa-lg fa-globe"></i> <span class="hidden-mobile hidden-tablet"> Internet</span></a>
            </li>
          {% endif %}

          {% if permit['mrpr'] == "on" %}
            <li>
                <a data-toggle="tab" href="#pr4"><i class="fa fa-lg fa-signal"></i> <span class="hidden-mobile hidden-tablet"> Modem Router</span></a>
            </li>
          {% endif %}

      </ul>
    </header>
    <div class="no-padding">        
      <div class="widget-body">

        <div class="tab-content">
          <div class="tab-pane active" id="pr1">

            <div class="tabbable tabs-below">
              <div class="tab-content padding-10">
                <div class="tab-pane active" id="Tv1">
                  {% include('leads/pr_television_view.html.twig') %}
                </div>
                <div class="tab-pane" id="Tv2">
                  {% include('leads/pr_television.html.twig') %}
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="active pull-right">
                  <a data-toggle="tab" href="#Tv1">VISTA</a>
                </li>
                <li class="pull-right">
                  <a data-toggle="tab" href="#Tv2">SOMETER</a>
                </li>
              </ul>
            </div>

          </div>
          <div class="tab-pane" id="pr2">

            <div class="tabbable tabs-below">
              <div class="tab-content padding-10">
                <div class="tab-pane active" id="Sec1">
                  {% include('leads/pr_security_view.html.twig') %}
                </div>
                <div class="tab-pane" id="Sec2">
                  {% include('leads/pr_security.html.twig') %}
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="active pull-right">
                  <a data-toggle="tab" href="#Sec1">VISTA</a>
                </li>
                <li class="pull-right">
                  <a data-toggle="tab" href="#Sec2">SOMETER</a>
                </li>
              </ul>
            </div>

          </div>
          <div class="tab-pane" id="pr3">

            <div class="tabbable tabs-below">
              <div class="tab-content padding-10">
                <div class="tab-pane active" id="Int1">
                  {% include('leads/pr_internet_view.html.twig') %}
                </div>
                <div class="tab-pane" id="Int2">
                  {% include('leads/pr_internet.html.twig') %}
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="active pull-right">
                  <a data-toggle="tab" href="#Int1">VISTA</a>
                </li>
                <li class="pull-right">
                  <a data-toggle="tab" href="#Int2">SOMETER</a>
                </li>
              </ul>
            </div>

          </div>

          <div class="tab-pane" id="pr4">
            {% include('leads/pr_m_router.html.twig') %}
          </div>
        </div>

      </div>
    </div>
  </div>
</article>