<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form id="lead_pr_Security_form" class="smart-form" data-parsley-validate="">
    <fieldset>

    <div class="row">
      <div class="col col-4">
        <input name="pr_sec_client" ïd="pr_sec_client" value="{{ client }}" readonly hidden>

          <label class="label">TIENE SISTEMA DE SEGURIDAD PREVIAMENTE ?</label>
          <label class="select"class="input">
            <div class="icon-addon addon-md">
              <select class="form-control" name="pr_sec_previously" id="pr_sec_01">
                <option value="0">NO</option>
                <option value="1">SI</option>
              </select>
              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
            </div>
          </label>
        
          <label class="label" style="margin-top: 10px;">CAMARAS</label>
          <label class="select"class="input">
            <div class="icon-addon addon-md">
              <select class="form-control" name="pr_sec_cameras" id="pr_sec_02">
                {% for cam in cameras %}
                  {% if cam['status_id'] == "1" %}
                    <option value="{{ cam['id'] }}"> {{ cam['name'] }}
                  {% endif %}
                {% endfor %}
              </select>
              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
            </div>
          </label>

          <label class="label" style="margin-top: 10px;">DVR</label>
          <label class="select"class="input">
            <div class="icon-addon addon-md">
              <select class="form-control" name="pr_sec_dvr" id="pr_sec_02">
                {% for dvr in dvrs %}
                  {% if dvr['status_id'] == "1" %}
                    <option value="{{ dvr['id'] }}"  selected=""> {{ dvr['name'] }}
                  {% endif %}
                {% endfor %}
              </select>
              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
            </div>
          </label>

          <label class="label" style="margin-top: 10px;">PASSWORD DE ALARMA</label>
          <label class="textarea">                    
            <textarea rows="1" cols="5" name="pr_sec_password" id="pr_sec_03" class="custom-scroll" placeholder="Password del Cliente"></textarea> 
          </label>

          <label class="label" style="margin-top: 10px;">APOYO ?</label>
          <label class="select"class="input">
            <div class="icon-addon addon-md">
              <select class="form-control" name="pr_sec_sup" id="pr_sec_05">
                <option value="0">NO</option>
                <option value="1">SI</option>
              </select>
              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
            </div>
          </label>      

          <label class="label" style="margin-top: 10px;">TIPO DE ORDER</label>
          <label class="select"class="input">
            <div class="icon-addon addon-md">
              <select class="form-control" name="pr_sec_type_order" id="pr_sec_19">
                  {% for ordtyp in ordertypes %}
                    {% if ordtyp['status_id'] == "1" %}
                      <option value="{{ ordtyp['id'] }}"> {{ ordtyp['name'] }}
                    {% endif %}
                  {% endfor %}
              </select>
              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
            </div>
          </label> 
          <label class="label" style="margin-top: 10px;">ORIGEN DE VENTA</label>
          <label class="select"class="input">
            <div class="icon-addon addon-md">
              <select class="form-control" name="pr_sec_origen" id="pr_sec_20">
                {% for orig in leadpro %}
                  {% if orig['status_id'] == "1" %}
                    <option value="{{ orig['id'] }}"> {{ orig['name'] }}</option>
                  {% endif %}
                {% endfor %}
                </select>
              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
            </div>
          </label>
      </div>
       
      <div class="col col-4">
          <label class="label">EQUIPOS QUE POSEE ACTUALMENTE?</label>
          <label class="textarea">                    
            <textarea rows="1" cols="5" name="pr_sec_equipment" id="pr_sec_06" class="custom-scroll" placeholder="Descripcion de Equipos"></textarea> 
          </label>

          <label class="label" style="margin-top: 18px;">EMPRESA ACTUAL DE MONITOREO ?</label>
          <label class="textarea">                    
            <textarea rows="1" cols="5" name="pr_sec_company" id="pr_sec_07" class="custom-scroll" placeholder="Compania de Monitoreo"></textarea> 
          </label>

          <label class="label" style="margin-top: 13px;">REQUIRE EQUIPO ADICIONAL?</label>
          <label class="textarea">                    
            <textarea rows="1" cols="5" name="pr_sec_add" id="pr_sec_08" class="custom-scroll" placeholder="Equipos Adicionales"></textarea> 
          </label>

          <label class="label" style="margin-top: 10px;">METODO DE PAGO</label>
          <label class="select"class="input">
            <div class="icon-addon addon-md">
              <select class="form-control" name="pr_sec_payment" id="pr_sec_09">
                {% for pay in payments %}
                  {% if pay['status_id'] == "1" and (pay['service_id'] == "1"  or pay['service_id'] == "3") %}              
                    <option value="{{ pay['id'] }}"> {{ pay['name'] }}
                  {% endif %}
                {% endfor %}
              </select>
              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
            </div>
          </label>

          <label class="label" style="margin-top: 10px;">OPERADORES</label>
          <label class="select"class="input">
            <div class="icon-addon addon-md">
              <select class="form-control" name="pr_sec_ope_list" id="pr_sec_11">
                {% for user in users %}
                  {% if user['status_id'] == "1" %}
                    <option value="{{ user['id'] }}"> {{ user['username'] }}
                  {% endif %}
                {% endfor %}
              </select>
              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
            </div>
          </label>

          <label class="label" style="margin-top: 10px;">STATUS DE SERVICIO</label>
          <label class="select"class="input">
            <div class="icon-addon addon-md">
              <select class="form-control" name="pr_sec_status" id="pr_sec_18">
                {% for sserv in statusserv %}
                  {% if sserv['status_id'] == "1" %}
                    <option value="{{ sserv['id'] }}"> {{ sserv['name'] }}
                  {% endif %}
                {% endfor %}
              </select>
              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
            </div>
          </label>

      </div>

        <div class="col col-4">
          <div class="row">
            <div class="col col-6">
              <label class="label">CONTACTO</label>
              <label class="input">
                <input type="number" name="pr_sec_cont_1" id="pr_sec_12" placeholder="Contact 1">
              </label>

              <label class="label" style="margin-top: 10px;">CONTACTO</label>
              <label class="input">
                <input type="number" name="pr_sec_cont_2" id="pr_sec_13" placeholder="Contact 2">
              </label>

              <label class="label" style="margin-top: 10px;">CONTACTO</label>
              <label class="input">
                <input type="number" name="pr_sec_cont_3" id="pr_sec_14" placeholder="Contact 3">
              </label>
            </div>
            <div class="col col-6">
              <label class="label">DESCRIPCION</label>
              <label class="input">
                <input type="text" name="pr_sec_cont_1_desc" id="pr_sec_15" placeholder="Description 1">
              </label>

              <label class="label" style="margin-top: 10px;">DESCRIPCION</label>
              <label class="input">
                <input type="text" name="pr_sec_cont_2_desc" id="pr_sec_16" placeholder="Description 2">
              </label>

            <label class="label" style="margin-top: 10px;">DESCRIPCION</label>
              <label class="input">
                <input type="text" name="pr_sec_cont_3_desc" id="pr_sec_17" placeholder="Description 3">
              </label>
            </div>
          </div>
        </div>
    </div>

    </fieldset>
    <footer>
      <a onclick="PrSaveSec();" class="btn btn-primary">ACTUALIZAR</a>
      <a onclick="PrSubmitSec();" class="btn btn-success">PROCESAR</a>
    </footer>
  </form>
</div>