<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form class="smart-form">
    <fieldset>
      <div class="row">

        <div class="col col-4">
          <label class="label" style="margin-top: 10px;">ORDEN</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_ord" id="pr_sec_view_01" placeholder="# ORDEN"></label>
          </label>
          <label class="label" style="margin-top: 10px;">STATUS DE SERVICIO</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_sta" id="pr_sec_view_02" placeholder="Status de Servicio"></label>
          </label> 
        </div>
         
        <div class="col col-4">
          <label class="label" style="margin-top: 10px;">CLIENTE</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_cli" id="pr_sec_view_03" placeholder="# Cliente"></label>
          </label>
          <label class="label" style="margin-top: 10px;"># TICKET</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_ticket" id="pr_sec_view_15" placeholder="# Ticket"></label>
          </label>
        </div>

        <div class="col col-4">
          <label class="label" style="margin-top: 10px;">VENDEDOR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_sal" id="pr_sec_view_04" placeholder="Vendedor"></label>
          </label> 
      </div>
    </fieldset>
  </form>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form class="smart-form">
    <fieldset>
      <div class="row">

        <div class="col col-4">

          <header style="text-align: center;">APROBACIONES</header>

          <label class="label" style="margin-top: 10px;">SCORE</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_sco" id="pr_sec_view_05" placeholder="# SCORE"></label>
          </label>
          <label class="label" style="margin-top: 10px;">FICO</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_fic" id="pr_sec_view_06" placeholder="# FICO"></label>
          </label>
          <label class="label" style="margin-top: 10px;">FECHA DE APROBACION</label>
            <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input readonly type="text" name="pr_sec_dat_apr" id="pr_sec_view_07" placeholder="Fecha de Aprobacion"></label>
          </label>
          <label class="label" style="margin-top: 10px;">APROBADO POR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_apr" id="pr_sec_view_08" placeholder="Aprobado Por"></label>
          </label> 

        </div>
         
        <div class="col col-4">
          <header style="text-align: center;">COORDINACIONES</header>
          <label class="label" style="margin-top: 10px;">FECHA DE COORDINACION</label>
            <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input readonly type="text" name="pr_sec_dat_coor" id="pr_sec_view_09" placeholder="Fecha de Coordinacion"></label>
          </label>
          <label class="label" style="margin-top: 10px;">COORDINADO POR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_coor" id="pr_sec_view_10" placeholder="Coordinado Por"></label>
          </label> 
        </div>

        <div class="col col-4"> 
          <header style="text-align: center;">PAQUETES</header>
          <label class="label" style="margin-top: 10px;">PAQUETE CONTRATADO</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_con" id="pr_sec_view_11" placeholder="Paquete Contratado"></label>
          </label> 
          <label class="label" style="margin-top: 10px;">FECHA DE INSTALACION</label>
            <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input readonly type="text" name="pr_sec_dat_ins" id="pr_sec_view_12" placeholder="Fecha de Instalacion"></label>
          </label> 
          <label class="label" style="margin-top: 10px;">INSTALADOR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_ins" id="pr_sec_view_13" placeholder="Instalador"></label>
          </label>
          <label class="label" style="margin-top: 10px;">NOMBRE DE COMPANIA</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_sec_comp" id="pr_sec_view_14" placeholder="Nombre de Compania"></label>
          </label>
      </div>
    </fieldset>
  </form>
</div>