<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form class="smart-form">
    <fieldset>
      <div class="row">

        <div class="col col-4">

          <label class="label" style="margin-top: 10px;">TRANSACCION</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_tra" id="pr_tv_view_01" placeholder="# TRANSACCION"></label>
          </label>
          <label class="label" style="margin-top: 10px;">FECHA DE FIRMA</label>
            <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input readonly type="text" name="pr_tv_sig" id="pr_tv_view_02" placeholder="Fecha de Firma"></label>
          </label>

          <label class="label" style="margin-top: 10px;">STATUS DEL SERVICIO</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_sta" id="pr_tv_view_03" placeholder="Status de Servicio"></label>
          </label> 

        </div>
         
        <div class="col col-4">

          <label class="label" style="margin-top: 10px;">SUSCRIPTOR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_sus" id="pr_tv_view_04" placeholder="# Suscriptor"></label>
          </label>
          <label class="label" style="margin-top: 10px;">FIRMADOR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_sig" id="pr_tv_view_05" placeholder="Firmador"></label>
          </label>
          <label class="label" style="margin-top: 10px;">PUBLICIDAD AT&T</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_adv" id="pr_tv_view_16" placeholder="Publicidad AT&T"></label>
          </label> 

        </div>

        <div class="col col-4">

          <label class="label" style="margin-top: 10px;">CONTRATO</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_con" id="pr_tv_view_06" placeholder="# Contrato"></label>
          </label> 
          <label class="label" style="margin-top: 10px;">VENDEDOR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_sal" id="pr_tv_view_07" placeholder="Vendedor"></label>
          </label>
          <label class="label" style="margin-top: 10px;">TICKET</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_ticket" id="pr_tv_ticket_08" placeholder="Ticket"></label>
          </label>
      </div>
    </fieldset>
  </form>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form class="smart-form">
    <fieldset>
      <div class="row">

        <div class="col col-4">

          <header style="text-align: center;">APROBACIONES</header>

          <label class="label" style="margin-top: 10px;">SCORE</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_sco" id="pr_tv_view_09" placeholder="# SCORE"></label>
          </label>
          <label class="label" style="margin-top: 10px;">FECHA DE APROBACION</label>
            <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input readonly type="text" name="pr_tv_dat_apr" id="pr_tv_view_10" placeholder="Fecha de Aprobacion"></label>
          </label>
          <label class="label" style="margin-top: 10px;">APROBADO POR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_apr" id="pr_tv_view_11" placeholder="Aprobado Por"></label>
          </label> 

        </div>
         
        <div class="col col-4">
          <header style="text-align: center;">COORDINACIONES</header>
          <label class="label" style="margin-top: 10px;">FECHA DE COORDINACION</label>
            <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input readonly type="text" name="pr_tv_dat_coor" id="pr_tv_view_12" placeholder="Fecha de Coordinacion"></label>
          </label>
          <label class="label" style="margin-top: 10px;">COORDINADO POR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_coor" id="pr_tv_view_13" placeholder="Coordinado por"></label>
          </label> 
        </div>

        <div class="col col-4"> 
          <header style="text-align: center;">PAQUETES</header>
          <label class="label" style="margin-top: 10px;">PAQUETE CONTRATADO</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_tv_pack" id="pr_tv_view_14" placeholder="Paquete Contratado"></label>
          </label> 
          <label class="label" style="margin-top: 10px;">FECHA DE INSTALACION</label>
            <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input readonly type="text" name="pr_tv_inst" id="pr_tv_view_15" placeholder="Fecha de Instalacion"></label>
          </label> 
      </div>
    </fieldset>
  </form>
</div>