<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form class="smart-form" method="post" id="lead_pr_television_form" data-parsley-validate="">
    <fieldset>
      <div class="row">
        <div class="col col-4">
          
            <input name="pr_tv_client" ïd="pr_tv_client" value="{{ client }}" readonly hidden>
            <label class="label">TELEVISION</label>
            <label class="input">
              <input type="number" name="pr_tv_tv" id="pr_tv_01" placeholder="TVS" value="1" required>
            </label>
            
            <label class="label" style="margin-top: 10px;">PAQUETES</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_tv_packages" id="pr_tv_02" required>
                  {% for pack in packages %}
                    {% if pack['status_id'] == "1" %}
                      <option value="{{ pack['id'] }}"> {{ pack['name'] }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

            <label class="label" style="margin-top: 10px;">PROVEEDORES ANTERIORES</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_tv_providers" id="pr_tv_03">
                  {% for pro in providers %}
                    {% if pro['status_id'] == "1" %}
                      <option value="{{ pro['id'] }}"> {{ pro['name'] }}
                    {% endif %}
                  {% endfor %}
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

            <label class="label" style="margin-top: 10px;">APOYO?</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_tv_support" id="pr_tv_05">
                  <option value="0">NO</option>
                  <option value="1">SI</option>
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>
            
            <label class="label" style="margin-top: 10px;">PUBLICIDAD AT&T</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_tv_adv" id="pr_tv_25">
                  <option value="0">NO</option>
                  <option value="1">SI</option>
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

            <label class="label" style="margin-top: 10px;">TIPO DE ORDER</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_tv_type_order" id="pr_tv_26">
                  {% for ordtyp in ordertypes %}
                    {% if ordtyp['status_id'] == "1" %}
                      <option value="{{ ordtyp['id'] }}"> {{ ordtyp['name'] }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

        </div>
       
        <div class="col col-4">
            <label class="label">CAJA REGULAR</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_tv_decoder" id="pr_tv_06">
                  <option value="0" selected="">NINGUNO</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

            <label class="label" style="margin-top: 10px;">CAJA DVR</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_tv_dvrs" id="pr_tv_07">
                  <option value="0" selected="">NINGUNO</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                </select
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

            <label class="label" style="margin-top: 10px;">METODO DE PAGO</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_tv_payment" id="pr_tv_08">
                  {% for pay in payments %}
                    {% if pay['status_id'] == "1" and (pay['service_id'] == "1"  or pay['service_id'] == "2") %}
                      <option value="{{ pay['id'] }}"> {{ pay['name'] }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

            <label class="label" style="margin-top: 10px;">OPERADORES</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_tv_ope_list" id="pr_tv_10">
                  {% for user in users %}
                    {% if user['status_id'] == "1" %}
                      <option value="{{ user['id'] }}"> {{ user['username'] }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>

            <label class="label" style="margin-top: 10px;">STATUS DEL SERVICIO</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_tv_status" id="pr_tv_12">
                  {% for sserv in statusserv %}
                    {% if sserv['status_id'] == "1" %}
                      <option value="{{ sserv['id'] }}"> {{ sserv['name'] }}</option>
                    {% endif %}
                  {% endfor %}
                  </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>
            <label class="label" style="margin-top: 10px;">ORIGEN DE VENTA</label>
            <label class="select"class="input">
              <div class="icon-addon addon-md">
                <select class="form-control" name="pr_tv_origen" id="pr_tv_27" required>
                  {% for orig in leadpro %}
                    {% if orig['status_id'] == "1" %}
                      <option value="{{ orig['id'] }}"> {{ orig['name'] }}</option>
                    {% endif %}
                  {% endfor %}
                  </select>
                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
              </div>
            </label>
        </div>

        <div class="col col-4">
          <label class="label">PAQUETES ADICIONALES</label>
          <div class="row" style="margin-left: 20px;">
            <label class="checkbox">
              <input type="checkbox" name="pr_tv_hd"  id="pr_tv_hd" >
              <i></i>HD</label>
            <label class="checkbox">
              <input type="checkbox" name="pr_tv_dvr" id="pr_tv_dvr">
              <i></i>DVR</label>
            <label class="checkbox">
              <input type="checkbox" name="pr_tv_hbo" id="pr_tv_hbo">
              <i></i>HBO</label>

            <label class="checkbox">
              <input type="checkbox" name="pr_tv_cinemax" id="pr_tv_cinemax">
              <i></i>CINEMAX</label>
            <label class="checkbox">
              <input type="checkbox" name="pr_tv_startz" id="pr_tv_startz">
              <i></i>STARZ</label>
            <label class="checkbox">
              <input type="checkbox" name="pr_tv_showtime" id="pr_tv_showtime">
              <i></i>SHOWTIME</label>
              
            <label class="checkbox">
              <input type="checkbox" name="pr_tv_gif_ent" id="pr_tv_gif_ent">
              <i></i>GIFT ENTERTAINMENT</label>
            <label class="checkbox">
              <input type="checkbox" name="pr_tv_gif_cho" id="pr_tv_gif_cho">
              <i></i>GIFT CHOICE</label>
            <label class="checkbox">
              <input type="checkbox" name="pr_tv_gif_ext" id="pr_tv_gif_ext">
              <i></i>GIFT XTRA</label>
          </div>
        </div>

      </div>
    </fieldset>
    <footer>
      <a onclick="PrSaveTv();" class="btn btn-primary">ACTUALIZAR</a>
      <a onclick="PrSubmitTv();" class="btn btn-success">PROCESAR</a>
    </footer>
  </form>
</div>