<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
<header>
  <span class="widget-icon"> <i class="fa fa-table"></i> </span>
  <h2>Lista de Referidos</h2>
</header>
<div>
  <div class="widget-body">

    <div class="table-responsive">
      <table id="dt_referred" class="table table-striped table-bordered table-hover" width="100%">
        <thead>                     
          <tr>
            <th data-hide="user">Id</th>
            <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Cliente</th>
            <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Nombre</th>
            <th data-hide="user"><i class="fa fa-fw fa-flag text-muted hidden-md hidden-sm hidden-xs"></i> Telefono</th>
            <th data-hide="user"><i class="fa fa-fw fa-check text-muted hidden-md hidden-sm hidden-xs"></i> Tipo</th>
            <th data-hide="user"><i class="fa fa-fw fa-edit text-muted hidden-md hidden-sm hidden-xs"></i> Accion</th>
          </tr>
        </thead>
        <tbody>
          {% for ref in referreds %}
          <tr>
            <td style="font-size: 10px;">{{ ref.id     }}</td>
            <td style="font-size: 10px;">{{ ref.client }}</td>
            <td style="font-size: 10px;">{{ ref.name   }}</td>
            <td style="font-size: 10px;">{{ ref.phone  }}</td>
            <td style="font-size: 10px;">{{ ref.type   }}</td>
            <td>
              <div class='btn-group'>
                 <a class="btn btn-primary btn-xs" onclick="ReferredEdit({{ ref.id }});"><i class="fa fa-edit"></i> Editar </a>
                 <a class="btn btn-success btn-xs" href="/leads/view/{{ ref.client }}"><i class="fa fa-eye"></i> Vista </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="widget-footer">
        <div class="label">
          <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#IncReferredModal"><i class="fa fa-edit"></i> Incluir Cliente</a>
          <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#NewReferredModal"><i class="fa fa-edit"></i> Nuevo Referido</a>
        </div>
      </div>
  </div>

</div>
</div>
</div>