<div class="row" id="PRServ">
	<article class="col-sm-12">
		<!-- new widget -->
		<div class="widget-body">
			<p>
				Tabs inside well and pulled right
				<code>
				.tabs-pull-right
				</code>
				(Bordered Tabs)
			</p>
			<hr class="simple">
			<ul id="myTab3" class="nav nav-tabs tabs-pull-right bordered">
				<li class="active">
					<a href="#l1" data-toggle="tab">Tab Item 1 <span class="badge bg-color-pinkDark txt-color-white">99</span></a>
				</li>
				<li class="pull-right">
					<a href="#l2" data-toggle="tab">Tab Item 2</a>
				</li>
				<li class="dropdown pull-left">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-gear"></i> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#l3" data-toggle="tab">@fat</a>
						</li>
						<li>
							<a href="#l4" data-toggle="tab">@mdo</a>
						</li>
					</ul>
				</li>
			</ul>
			<div id="myTabContent3" class="tab-content padding-10">
				<div class="tab-pane fade in active" id="l1">
					<p>
						My therapist told me the way to achieve true inner peace is to finish what I start. So far I’ve finished two bags of M&Ms and a chocolate cake. I feel better already.
					</p>
				</div>
				<div class="tab-pane fade" id="l2">
					<p>
						Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
					</p>
				</div>
				<div class="tab-pane fade" id="l3">
					<p>
						Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
					</p>
				</div>
				<div class="tab-pane fade" id="l4">
					<p>
						Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
					</p>
				</div>
			</div>
		</div>
	</article>
</div>