<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form class="smart-form">
    <fieldset>
      <div class="row">

        <div class="col col-4">
          <label class="label" style="margin-top: 10px;">TICKET</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_int_tic" id="pr_int_view_01" placeholder="# TICKET"></label>
          </label>
        </div>
         
        <div class="col col-4">
          <label class="label" style="margin-top: 10px;">VENDEDOR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_int_sal" id="pr_int_view_03" placeholder="Vendedor"></label>
          </label>
        </div>

        <div class="col col-4">
          <label class="label" style="margin-top: 10px;">STATUS DEL SERVICIO</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_int_sta" id="pr_sec_view_02" placeholder="Status del Servicio"></label>
          </label> 
      </div>
    </fieldset>
  </form>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form class="smart-form">
    <fieldset>
      <div class="row">

        <div class="col col-4">

          <header style="text-align: center;">APROBACIONES</header>

          <label class="label" style="margin-top: 10px;">SCORE</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_int_soc" id="pr_int_view_05" placeholder="# SCORE"></label>
          </label>
          <label class="label" style="margin-top: 10px;">FECHA DE APROBACION</label>
            <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input readonly type="text" name="pr_int_dat_apr" id="pr_int_view_06" placeholder="Fecha de Aprobacion"></label>
          </label>
          <label class="label" style="margin-top: 10px;">APROBADO POR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_int_apr" id="pr_int_view_07" placeholder="Aprobado Por"></label>
          </label> 

        </div>
         
        <div class="col col-4">
          <header style="text-align: center;">COORDINACIONES</header>
          <label class="label" style="margin-top: 10px;">FECHA DE COORDINACION</label>
            <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input readonly type="text" name="pr_int_dat_coor" id="pr_int_view_08" placeholder="Fecha de Coordinacion"></label>
          </label>
          <label class="label" style="margin-top: 10px;">COORDINADO POR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_int_coor" id="pr_int_view_09" placeholder="Coordinado Por"></label>
          </label> 
        </div>

        <div class="col col-4"> 
          <header style="text-align: center;">PAQUETES</header>
          <label class="label" style="margin-top: 10px;">PAQUETE CONTRATADO</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_int_con" id="pr_int_view_10" placeholder="Paquete Contratado"></label>
          </label> 
          <label class="label" style="margin-top: 10px;">FECHA DE INSTALACION</label>
            <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input readonly type="text" name="pr_int_dat_ins" id="pr_int_view_11" placeholder="Fecha de Instalacion"></label>
          </label> 
          <label class="label" style="margin-top: 10px;">INSTALADOR</label>
            <label class="input"> <i class="icon-prepend fa fa-user"></i><input readonly type="text" name="pr_int_ins" id="pr_int_view_12" placeholder="Instalador"></label>
          </label>
      </div>
    </fieldset>
  </form>
</div>