<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form id="lead_vzla_internet_form" class="smart-form" data-parsley-validate="">
    <fieldset>

    <div class="row">

      <div class="col col-6">

        <input name="vzla_int_client" ïd="vzla_int_client" value="{{ client }}" readonly hidden>

        <label class="label" style="margin-top: 10px;">INTERNET RESIDENCIAL</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="vzla_int_res" id="vzla_int_01">
                {% for resvz in intresvz %}
                  {% if resvz['status_id'] == "1" %}
                    <option value="{{ resvz['id'] }}"> {{ resvz['type'] }} {{ resvz['name'] }}
                  {% endif %}
                {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">INTERNET COMERCIAL</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="vzla_int_trade" id="vzla_int_03">
                {% for comvz in intcomvz %}
                  {% if comvz['status_id'] == "1" %}
                    <option value="{{ comvz['id'] }}"> {{ comvz['type'] }} {{ comvz['name'] }}
                  {% endif %}
                {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">METODO DE PAGO</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="vzla_int_payment" id="vzla_int_05">
                {% for pay in payments %}
                  {% if pay['status_id'] == "1" and (pay['service_id'] == "1"  or pay['service_id'] == "6") %}                 
                    <option value="{{ pay['id'] }}"> {{ pay['name'] }}
                  {% endif %}
                {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">MONTO</label>
          <label class="input"> <i class="icon-prepend fa fa-edit"></i><input type="number" name="vzla_int_amount" id="vzla_int_07" placeholder="MONTO A CANCELAR"></label>
        </label> 

        <label class="label" style="margin-top: 10px;">EMAIL</label>
          <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i><input type="email" name="vzla_int_email" id="vzla_int_09" placeholder="EMAIL DE PASARELA DE PAGO"></label>
        </label> 

        <label class="label" style="margin-top: 10px;">APOYO ?</label>
        <label class="select" class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="vzla_int_support" id="vzla_int_13">
              <option value="0">NO</option>
              <option value="1">SI</option>
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>   

        <label class="label" style="margin-top: 10px;">TIPO DE ORDER</label>
        <label class="select" class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="vzla_int_type_order" id="vzla_int_15">
              {% for ordtyp in ordertypes %}
                {% if ordtyp['status_id'] == "1" %}
                  <option value="{{ ordtyp['id'] }}"> {{ ordtyp['name'] }}
                {% endif %}
              {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">ORIGEN DE VENTA</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="vzla_int_origen" id="vzla_int_17">
              {% for orig in leadpro %}
                {% if orig['status_id'] == "1" %}
                  <option value="{{ orig['id'] }}"> {{ orig['name'] }}</option>
                {% endif %}
              {% endfor %}
              </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

      </div>
       
      <div class="col col-6">

        <label class="label"  style="margin-top: 10px;">TELEFONO RESIDENCIAL</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="vzla_int_res_pho" id="vzla_int_02">
                {% for presvz in phoneresvz %}
                  {% if presvz['status_id'] == "1" %}
                      <option value="{{ presvz['id'] }}"> {{ presvz['name'] }}
                  {% endif %}
                {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">TELEFONO COMERCIAL</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="vzla_int_trade_pho" id="vzla_int_04">
                {% for pcomvz in phonecomvz %}
                  {% if pcomvz['status_id'] == "1" %}
                    <option value="{{ pcomvz['id'] }}"> {{ pcomvz['name'] }}
                  {% endif %}
                {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>


        <label class="label" style="margin-top: 10px;">BANCO</label>
        <label class="select"class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="vzla_int_bank" id="vzla_int_06">
                {% for bankvz in banks %}
                  {% if (bankvz['status_id'] == "1") and (bankvz['country_id'] == "4") %}
                    <option value="{{ bankvz['id'] }}"> {{ bankvz['name'] }}
                  {% endif %}
                {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">NUMERO DE TRANSFERENCIA</label>
          <label class="input"> <i class="icon-prepend fa fa-edit"></i><input type="text" name="vzla_int_trans" id="vzla_int_08" placeholder="NUMERO DE TRANSFERENCIA"></label>
        </label> 

        <label class="label" style="margin-top: 10px;">FECHA DE PAGO</label>
          <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="email" name="vzla_int_date" id="vzla_int_10" placeholder="FECHA DE PAGO"></label>
        </label> 
     
        <label class="label" style="margin-top: 10px;">OPERADORES</label>
        <label class="select" class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="vzla_int_ope" id="vzla_int_14">
              {% if (app.session.get('role') != "17") %}
                {% for user in users %}
                  {% if user['status_id'] == "1" %}
                    <option value="{{ user['id'] }}"> {{ user['username'] }}
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% if (app.session.get('role') == "17") %}
                <option value="1" selected> NINGUNO</option>
                {% for user in users %}
                  {% if (user['status_id'] == "1") and ( (user['departament'] == "VOIX") or (user['departament'] == "PSICOEMPRENDE") ) %}
                    <option value="{{ user['id'] }}"> {{ user['username'] }}</option>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>

        <label class="label" style="margin-top: 10px;">STATUS DEL SERVICIO</label>
        <label class="select" class="input">
          <div class="icon-addon addon-md">
            <select class="form-control" name="vzla_int_status" id="vzla_int_16">
              {% for sserv in statusserv %}
                {% if sserv['status_id'] == "1" %}
                  <option value="{{ sserv['id'] }}"> {{ sserv['name'] }}
                {% endif %}
              {% endfor %}
            </select>
            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
          </div>
        </label>
      </div>

    </div>
    
    <div class="row">
      <fieldset>
        <section>
          <label class="label">INFORMACI&Oacute;N ADICIONAL</label>
          <label class="textarea">
            <textarea rows="3" class="custom-scroll" id="vzla_int_18" name="vzla_int_additional"></textarea>
          </label>
        </section>
      </fieldset>
    </div>

    </fieldset>
    <footer>
      <a onclick="VZSaveInt();" class="btn btn-primary">ACTUALIZAR</a>
      <a onclick="VZSubmitInt();"class="btn btn-success">PROCESAR</a>
    </footer>
  </form>
</div>