<article class="col-sm-12">
  <!-- new widget -->
  <div class="jarviswidget" id="wid-id-0"  data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
    <header>
      <span class="widget-icon"> <img class="flag flag-ve" src="{{ asset('assets/img/blank.gif') }}" alt="Venezuela"> </span>
      <h2>SERVICIOS DE VENEZUELA </h2>
      <ul class="nav nav-tabs pull-right in" id="myTab">
          {% if permit['tvpr'] == "on" %}
            <li class="active">
                <a data-toggle="tab" href="#ve1"><i class="fa fa-lg fa-globe"></i> <span class="hidden-mobile hidden-tablet"> Internet</span></a>
            </li>
          {% endif %}
      </ul>
    </header>
    <div class="no-padding">        
      <div class="widget-body">

        <div class="tab-content">
          <div class="tab-pane active" id="ve1">

            <div class="tabbable tabs-below">
              <div class="tab-content padding-10">
                <div class="tab-pane active" id="A1">
                  {% include('leads/vzla_internet_view.html.twig') %}
                </div>
                <div class="tab-pane" id="B1">
                  {% include('leads/vzla_internet.html.twig') %}
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="active pull-right">
                  <a data-toggle="tab" href="#A1">VISTA</a>
                </li>
                <li class="pull-right">
                  <a data-toggle="tab" href="#B1">SOMETER</a>
                </li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</article>