{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Ticket</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    
  
      {% include('ticket/dep.html.twig') %}
      
      {% include('ticket/serv.html.twig') %}
    
    </div>
  </div>

{% include('ticket/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{

    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

  // $('#TicketEditDepartamentModal').modal('show');
  
  // Load();

////////////////////////////// End Jquery //////////////////////////////

    $('#dt_ticket_departament').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_ticket_departament'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#FormEditDepartament').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#FormEditDepartament").serialize();
          $.ajax({ type: "POST", url:  "{{ url('/Ticket/Edit/SaveDepartament') }}", data: {str: str},
            success: function(datos)
            {
                if(datos.status == true)
                { 
                  $('#TicketEditDepartamentModal').modal('show');
                  location.reload();
                }
                else{ 
                  ErrorNotified(datos);
                }
            }
          });
        return false;
    });

    $('#dt_ticket_service').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_ticket_service'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#FormEditService').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#FormEditService").serialize();
          $.ajax({ type: "POST", url:  "{{ url('/Ticket/Edit/SaveService') }}", data: {str: str},
            success: function(datos)
            {
                if(datos.status == true)
                { 
                  $('#TicketEditServiceModal').modal('show');
                  location.reload();
                }
                else{ 
                  ErrorNotified(datos);
                }
            }
          });
        return false;
    });

////////////////////////////// End Jquery //////////////////////////////


});

////////////////////////// Function //////////////////////////////
  
  function DepartamentEdit(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/Ticket/Edit/Departament') }}" ,data: {id: id},
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      console.log(datos.ref);

      if(datos.status = true)
      {
        $("#ticket_dep_id").val(datos.ref.id);
        $("#ticket_type_id").val('');
        $("#ticket_type_id").val('edit');
        $("#ticket_name").val(datos.ref.name);
        $("select[name=ticket_status_id]").val(datos.ref.status_id);
        $("select[name=ticket_dept1_id]").val(datos.ref.ticket_dep);
        $("select[name=ticket_dept2_id]").val(datos.ref.dep_id);
        $('#TicketEditDepartamentModal').modal('show');
      }else{
        ErrorNotified(datos);
      }
      $.unblockUI();
    }
    });
  
  }

  function ServiceEdit(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/Ticket/Edit/Service') }}" ,data: {id: id},
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      console.log(datos.ref);

      if(datos.status = true)
      {
        $("#ticket_serv_id").val(datos.ref.id);
        $("#ticket_type_serv_id").val('');
        $("#ticket_type_serv_id").val('edit');
        $("#ticket_serv_name").val(datos.ref.name);
        $("select[name=ticket_dept_serv_id]").val(datos.ref.dep_id);
        $("select[name=ticket_serv_status_id]").val(datos.ref.status_id);
        $('#TicketEditServiceModal').modal('show');
      }else{
        ErrorNotified(datos);
      }
      $.unblockUI();
    }
    });
  }

/////////////////////////////////////////////////////////////////////////////////

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

/////////////////////////////////////////////////////////////////////////////////
  
  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}