{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Ticket</li>
    </ol>
  </div>
  <div id="content">
    
      {% include('ticket/tickets.html.twig') %}
    
    </div>
  </div>

{% include('ticket/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
  Load();

 $("#from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/Ticket/SearchDate') }}", data: {str:str},

        success: function(data)
        {
          // $("#TableApprovalsPending").html('');
          // $("#TableApprovalsProcessed").html('');
          $("#TableTicketPending").html(data.pending);
          $("#TableTicketProcessed").html(data.processed);
        }
        });
      }

  });
  
  $("#to").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });

});

////////////////////////// Function Users //////////////////////////////
  
  function Load()
  {
    $.ajax({ type: "POST", url:  "{{ url('/Ticket/Load') }}",
    beforeSend: function(request){
      blockUI();
    },
    success: function(data)
    {
      if(data.status = true)
      {
        $("#TableTicketPending").html(data.pending);
        $("#TableTicketProcessed").html(data.processed);
      }
      $.unblockUI();
    }
    });
  }

  function ViewTicketInfo(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/Ticket/View') }}", data: {id: id},
    beforeSend: function(request){
      blockUI();
    },
    success: function(data)
    {
      if(data.status = true)
      {
        $("#TicketViewContent").html('');
        $("#TicketViewContent").html(data.html);
        $("#TicketViewModal").modal('show');
      }
      $.unblockUI();
    }
    });
  }

  function ChangeTicketType(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/Ticket/Change') }}", data: {id: id},
    beforeSend: function(request){
      blockUI();
    },
    success: function(data)
    {
      if(data.status = true)
      {
        $("#TicketChangeContent").html('');
        $("#TicketChangeContent").html(data.html);
        $("#TicketChangeModal").modal('show');
      }
      $.unblockUI();
    }
    });
  }

  function CloseTicket()
  {
    var str = $("#FormChangeTicketModal").serialize();    
    $.ajax({ type: "POST", url:  "{{ url('/Ticket/Close') }}", data: {str: str},
    beforeSend: function(request){
      blockUI();
    },
    success: function(data)
    {
      if(data.status = true)
      {
        $("#TicketChangeModal").modal('hide');
        Load();
      }else{
         ErrorNotified(datos);
      }
      $.unblockUI();
    }
    });
  }

  function ViewTicketProcess(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/Ticket/Process') }}", data: {id: id},
    beforeSend: function(request){
      blockUI();
    },
    success: function(data)
    {
      if(data.status = true)
      {
        $("#TicketProcessContent").html('');
        $("#TicketProcessContent").html(data.html);
        $("#TicketProcessModal").modal('show');
      }
      $.unblockUI();
    }
    });
  }

/////////////////////////////////////////////////////////////////////////////////

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

/////////////////////////////////////////////////////////////////////////////////
  
  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}