<div class="modal fade" id="TicketViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Informacion de Ticket </h4>
			</div>
			<form class="FormTicketModalShow" id="FormTicketModalShow" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="TicketViewContent"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="TicketChangeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Respuesta de Ticket </h4>
			</div>
			<form class="FormChangeTicketModal" id="FormChangeTicketModal" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="TicketChangeContent">
					</div>
				</div>
				<div class="modal-footer">
					<a onclick="CloseTicket();" class="btn btn-primary">Cerrar Ticket</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="TicketProcessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Informacion de Ticket </h4>
			</div>
			<form class="FormChangeTicketModal" id="FormChangeTicketModal" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="TicketProcessContent">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="TicketEditDepartamentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Edicion de Departamento de Ticket </h4>
			</div>
			<form class="FormEditDepartament" id="FormEditDepartament" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<input type="text" id="ticket_dep_id" name="ticket_dep_id" class="form-control hidden" placeholder="id" />
						<input type="text" id="ticket_type_id" name="ticket_type_id" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Nombre</label>
									<input type="text" id="ticket_name" name="ticket_name" class="form-control" placeholder="Nombre" required />
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="ticket_status_id" name="ticket_status_id" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Departamento Principal</label>
								<select class="form-control" id="ticket_dept1_id" name="ticket_dept1_id" required>
									{% for dept in dept1 %}
										{% if dept['status_id'] == "1" %}
											<option value="{{ dept['id'] }}"> {{ dept['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Departamento Secundario</label>
								<select class="form-control" id="ticket_dept2_id" name="ticket_dept2_id" required>
									{% for dep in dept2 %}
										{% if dep['status_id'] == "1" %}
											<option value="{{ dep['id'] }}"> {{ dep['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Salvar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="TicketEditServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-ticket" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Edicion de Departamento de Ticket </h4>
			</div>
			<form class="FormEditService" id="FormEditService" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<input type="text" id="ticket_serv_id" name="ticket_serv_id" class="form-control hidden" placeholder="id" />
						<input type="text" id="ticket_type_serv_id" name="ticket_type_serv_id" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Nombre</label>
									<input type="text" id="ticket_serv_name" name="ticket_serv_name" class="form-control" placeholder="Nombre" required />
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Departamento</label>
								<select class="form-control" id="ticket_dept_serv_id" name="ticket_dept_serv_id" required>
									{% for dept in dept1 %}
										{% if dept['status_id'] == "1" %}
											<option value="{{ dept['id'] }}"> {{ dept['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="ticket_serv_status_id" name="ticket_serv_status_id" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Salvar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</form>
		</div>
	</div>
</div>