{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Hoja de Servicio Venezuela</li>
    </ol>
  </div>
  <div id="content">    

      {% include('Support/fiber/sheet.html.twig') %}

    </div>
  </div>

{% include('Support/fiber/modal.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
<script type="text/javascript">

$(function() 
{

  Load();

  $("#from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/sheet/ve/fiber/loadate') }}", data: {str:str},
        success: function(data)
        {
          $("#TableSheetFib").html(data.html);
          $('#ServTableFib').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
          });         
            
        }
        });
      }
  });

  $("#to").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });

  $("#sh_dt").datepicker({
    dateFormat : 'mm-dd-yy',
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>'
  });

////////////////////////////// End Jquery //////////////////////////////

});


function Load()
{
  $.ajax({ type: "POST", url:  "{{ url('/sheet/ve/fiber/load') }}",
  beforeSend: function(request){
    blockUI();
  },
  success: function(data)
  {
    if(data.status = true)
    {
      $("#TableSheetFib").html(data.html);
      $('#ServTableFib').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });        
    }
    $.unblockUI();
  }    
  });
}

function Sheet()
{
  $('#ServiceSheet')[0].reset();
  $("#AlertSheetModal").html('');
  $('#NewSheetModal').modal('show'); 

}

function ViewSheetVe(id)
{
  window.location.href = "../../../SheetViewFib.php?datos="+id+"";

}

function EditSheetVe(id)
{

  $.ajax({ type: "POST", url:  "{{ url('/sheet/ve/fiber/EditFiber') }}", data: {id: id},
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {
    $.unblockUI();
    if(datos.status == true)
    {
      $('#id_mikro').val(id);
      $('#SheetBodyEditFib').html(datos.html);
      $("#sh_04").datepicker({
        dateFormat : 'mm-dd-yy',
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1,
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>'
      });
      $('#EditSheetModalFib').modal('show');

      $('#sh_08').change(function(event) 
      {
        var plan = $('#sh_08').val(); 
        $.ajax({ type: "POST", url:  "{{ url('/sheet/ve/fiber/changeplan') }}", data: {plan: plan},
        beforeSend: function(request){
          $('#AlertPlan').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, Por Favor Espere</div>');
        },
        success: function(datos)
        {
            $('#AlertPlan').html('');
            if(datos.status == true)
            {

              $('#sh_09').val(datos.info.plan);
              $('#sh_10').val(datos.info.ip);
              $('#sh_16').val(datos.info.ap);

            }else{
              
              ErrorNotified(datos);
            }
        }
        });
      });

    }else{
      
      ErrorNotified(datos);
    }
  }
  });

}

function CancelSheetVe(id)
{
  $('#mikro_id_can').val(id);
  $('#CancelFormsModalFib').modal('show');

}

function SubmitCancelSheetFib()
{
  var str = $('#CanServiceInternetFib').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/sheet/ve/fiber/cancelsheetfib') }}", data: {str: str},
  success: function(datos)
  {
      if(datos.status == true)
      {
        SuccessNotified(datos);
        Load();
      }else{

        ErrorNotified(datos);
      }
        $('#CanServiceInternetFib')[0].reset();
        $('#CancelFormsModalFib').modal('hide');
  }
  });

}


SubmitCancelSheetFib

function SubmitEditSheetFib()
{ 
  var str = $('#BodyEditSheetFib').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/sheet/ve/fiber/submiteditsheetfib') }}", data: {str: str},
  beforeSend: function(request){
    $('#AlertSubmit').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando Actualizacion, Por Favor Espere</div>');
  },
  success: function(datos)
  {
    $('#AlertSubmit').html('');
    if(datos.status == true)
    {
      $('#BodyEditSheetFib')[0].reset();
      $('#EditSheetModalFib').modal('hide');
      var   url    = "../../../SheetDownloadFib.php?datos="+datos.dataID+"";
      window.open(url, '_blank');
      Load();
    }else{
      
      ErrorNotified(datos);
    }
    $('#BodyEditSheetFib')[0].reset();
    $('#EditSheetModalFib').modal('hide');
  }
  });

}

function SearchSheet()
{
    var date    = $('#sh_dt').val();
    var id      = $('#sh_id').val();

    if((date == "") || (id == ""))
    {
      $('#AlertSheetModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Existen datos faltantes, Verificar.</div>');
    }else{

      $('#AlertSheetModal').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, por favor espere.</div>');
      var sheet = $('#ServiceSheet').serialize();
      $.ajax({ type: "POST", url:  "{{ url('/sheet/ve/fiber/store') }}", data: {str:sheet},
      success: function(datos)
      {
        if(datos.status == true)
        {
          
          $('#NewSheetModal').modal('hide');  
          $('#EditSheet')[0].reset();
          $("#SheetBodyEdit").html('');
          $("#SheetBodyEdit").html(datos.html);
          $("#sh_04").datepicker({
            dateFormat : 'mm-dd-yy',
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>'
          });
          $('#EditSheetModal').modal('show');  
          
          $('#sh_08').change(function(event) 
          {
            var plan = $('#sh_08').val(); 
            $.ajax({ type: "POST", url:  "{{ url('/sheet/ve/fiber/changeplan') }}", data: {plan: plan},
            beforeSend: function(request){
              $('#AlertPlan').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, Por Favor Espere</div>');
            },
            success: function(datos)
            {
                $('#AlertPlan').html('');
                if(datos.status == true)
                {

                  $('#sh_09').val(datos.info.plan);
                  $('#sh_10').val(datos.info.ip);
                  $('#sh_16').val(datos.info.ap);

                }else{
                  
                  ErrorNotified(datos);
                }
            }
            });
          });


        }else{
          ErrorNotified(datos);
          $('#EditSheet')[0].reset();
          $('#alarmPrevNot').html(datos.html);
          $('#NewSheetModal').modal('hide');
          $('#EditSheetModal').modal('hide');
        }
      }
      });
    
    }

}


function SubmitSheet()
{
  var sheet = $('#EditSheet').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/sheet/ve/fiber/sheetsave') }}", data: {str: sheet},
  success: function(datos)
  {
    if(datos.status == true)
    {
    
      $('#EditSheet')[0].reset();
      $('#EditSheetModal').modal('hide');  
      var   url    = "../../../SheetDownloadFib.php?datos="+datos.dataID+"";
      window.open(url, '_blank');
      // Load();
    }else{
      ErrorNotified(datos);
      $('#EditSheet')[0].reset();
      $('#EditSheetModal').modal('hide');
    }
  }
  });

}

function ContractFiber(id)
{
  $('#sh_idc').val(id);
  $('#ContractFormModal').modal('show'); 
}

function CreateContract()
{
  var sheet = $('#ContactFiber').serialize();
  $.ajax({ type: "POST", url:  "{{ url('/sheet/ve/fiber/contract') }}", data: {str: sheet},
  success: function(datos)
  {
    if(datos.status == true)
    {
    
      $('#ContactFiber')[0].reset();
      $('#ContractFormModal').modal('hide');  
      window.location.href = "../../../ContractVEFibSup.php?type=RESIDENCIAL&contract="+datos.contract+"";
      window.open(url, '_blank');
      // Load();
    }else{
      ErrorNotified(datos);
      $('#ContactFiber')[0].reset();
      $('#ContractFormModal').modal('hide');
    }
  }
  });
}



/////////////////////////////////////////////////////////////////////////////////

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });
}

  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  }

/////////////////////////////////////////////////////////////////////////////////


</script>
{% endblock %}