  <div class="modal fade" id="NewSheetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Servicio de Internet</h4>
      </div>
      <form class="ServiceSheet" method="post" id="ServiceSheet" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModal"></div></div>
          <div class="row" style="text-align: center;">
            <div class="form-group">
              <div class="col-md-12">
                <label><strong> Indique N&uacute;mero de Cliente Mikrowisp </strong></label>
                <input class="form-control" type="number" id="sh_id" name="sh_id" placeholder="Numero de Cliente" required>
              </div>
              <div class="col-md-12" style="margin-top: 10px;">
                <label><strong> Fecha de Servicio </strong></label>
                <input class="form-control" type="text" id="sh_dt" name="sh_dt" placeholder="Fecha de Servicio" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="SearchSheet();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="EditSheetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa fa-edit" style="font-size: 50px;"></i>
        <h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Servicio de Internet VE</h4>
      </div>
        <div class="modal-body" style="background: aliceblue;">
          <div class="widget-body no-padding">
            <form class="smart-form" method="post" id="EditSheet" data-parsley-validate="">
            <div id="SheetBodyEdit"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <a onclick="SubmitSheet();" class="btn btn-success">PROCESAR</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="EditSheetModalFib" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa fa-edit" style="font-size: 50px;"></i>
        <h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Servicio de Internet VE Edit</h4>
      </div>
        <div class="modal-body" style="background: aliceblue;">
          <div class="widget-body no-padding">
            <form class="smart-form" method="post" id="BodyEditSheetFib" data-parsley-validate="">
            <input class="form-control hidden" type="number" id="id_mikro" name="id_mikro">
            <div id="SheetBodyEditFib"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <a onclick="SubmitEditSheetFib();" class="btn btn-success">PROCESAR</a>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="CancelFormsModalFib" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-times" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Cancelar Servicio de Internet</h4>
      </div>
      <form class="CanServiceInternetFib" method="post" id="CanServiceInternetFib" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModalCancelVe"></div></div>
          <div class="row" style="text-align: center;">
            <input class="form-control hidden" type="number" id="mikro_id_can" name="mikro_id_can">
            <div class="form-group">
              <div class="col-md-12">
                <label><strong> Desea Cancelar Hoja de Servicio ? </strong></label>
                <fieldset>
                  <div class="form-group">
                    <div class="col-md-12">
                      <SELECT class="form-control" id="res_can" name="res_can" required>
                        <option value="0">NO</option>
                        <option value="1">SI</option>
                      </SELECT>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="SubmitCancelSheetFib();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="PrevFormsModalVe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-check" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Prevista de Servicio</h4>
      </div>
      <form class="PrevServiceInternetVe" method="post" id="PrevServiceInternetVe" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModalCancel"></div></div>
          <div class="row" style="text-align: center;">
            <input class="form-control hidden" type="number" id="mikro_id_prev" name="mikro_id_prev">
            <div class="form-group">
              <div class="col-md-12">
                <label><strong> Desea Incluir el Servicio en la Prevista ?</strong></label>
                <fieldset>
                  <div class="form-group">
                    <div class="col-md-12">
                      <SELECT class="form-control" id="res_prev" name="res_prev" required>
                        <option value="0">NO</option>
                        <option value="1">SI</option>
                      </SELECT>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="SubmitPrevSheetVe();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ContractFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-check" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Prevista de Servicio</h4>
      </div>
      <form class="ContactFiber" method="post" id="ContactFiber" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModal"></div></div>
          <div class="row" style="text-align: center;">
            <div class="form-group">
              <div class="col-md-12">
                <div class="col-md-4">
                  <label><strong> Dias hasta el 30 </strong></label>
                  <input class="form-control hidden" type="number" id="sh_idc" name="sh_idc" >
                  <input class="form-control" type="number" id="sh_day" name="sh_day" placeholder="Cantidad de Dias" required>
                </div>
                <div class="col-md-4">
                  <label><strong> Costo de Prorateo </strong></label>
                  <input class="form-control" type="number" id="sh_pro" name="sh_pro" placeholder="Costo de Prorateo" required>                  
                </div>
                <div class="col-md-4">
                  <label><strong> Meses de Contrato </strong></label>
                  <input class="form-control" type="number" id="sh_month" name="sh_month" placeholder="Cantidad de Meses" required>                  
                </div>

              </div>
            </div>
            <div class="form-group" style="margin-top: 10px;">
              <div class="col-md-12">
                <div class="col-md-4">
                  <label><strong> Tipo de Residencia </strong></label>
                  <SELECT class="form-control" id="sh_hou" name="sh_hou" required>
                    {% for hou in house %}
                        <option value="{{ hou['id'] }}"> {{ hou['name'] }}</option>
                    {% endfor %}
                  </SELECT>
                </div>
                <div class="col-md-4">
                  <label><strong> Tipo de Techo </strong></label>
                  <SELECT class="form-control" id="sh_cei" name="sh_cei" required>
                    {% for cei in ceiling %}
                        <option value="{{ cei['id'] }}"> {{ cei['name'] }}</option>
                    {% endfor %}
                  </SELECT>
                </div>
                <div class="col-md-4">
                  <label><strong> Cantidad de Niveles </strong></label>
                  <SELECT class="form-control" id="sh_lev" name="sh_lev" required>
                    {% for lev in level %}
                        <option value="{{ lev['id'] }}"> {{ lev['name'] }}</option>
                    {% endfor %}
                  </SELECT>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="CreateContract();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>