{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Reportes</li>
    </ol>
  </div>
  <div id="content">  
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="row" style="margin-top: 10px;">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
              <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Reportes de Llamadas Unicas por DID PR</h2>
              </header>
              <div>
                <div class="jarviswidget-editbox"></div>
                
                <div class="widget-body no-padding">
                  <form enctype="multipart/form-data" action="/developmentCSV" method="POST" class="smart-form">
                    <fieldset>
                        <section>
                          <label class="input">
                            <input type="file" class="form-control" id="file" name="file" />
                          </label>
                        </section>
                        
                    </fieldset>
                    <footer>
                      <button type="submit" class="btn btn-primary">Someter</button>
                    </footer>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>
  </div>

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() { 


});

/////////////////////////////////////////////////////////////////////////////////

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });
}

  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  }

</script>
{% endblock %}