<form id="sa_dataBasic" class="smart-form" data-parsley-validate="">
	<div class="widget-body">
		<fieldset>
			<input class="form-control hidden" type="text" id="search-type" name="search-type" readonly value="DataBasic">
			<fieldset>
				<div class="row" style="margin-top: -20px;">
					<section class="col col-6">
						<label class="label">Nombre</label>
						<label class="input"> <i class="icon-prepend fa fa-user"></i><input type="text" name="sa_name" id="sa_01" placeholder="Nombre Completo"></label>
					</section>
					<section class="col col-6">
						<label class="label">Pais</label>
						<label class="select"class="input">
							<div class="icon-addon addon-md">
								<select class="form-control" name="sa_country" id="sa_02">
									<option value="" selected>SELECCION</option>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}</option>
										{% endif %}
									{% endfor %}
								</select>
								<label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
							</div>
						</label>
					</section>
				</div>
				<div class="row" style="margin-top: -20px;">
					<section class="col col-6">
						<label class="label">Telefono Principal</label>
						<label class="input"> <i class="icon-prepend fa fa-phone"></i><input type="number" name="sa_phone" id="sa_03" placeholder="Telefono Principal"></label>
					</section>
					<section class="col col-6">
						<label class="label">Telefono Alternativo</label>
						<label class="input"> <i class="icon-prepend fa fa-phone"></i><input type="number" name="sa_phone_alt" id="sa_04" placeholder="Telefono Alternativo"></label>
					</section>				
				</div>
			</fieldset>

			<fieldset>
				<legend> B&uacute;squeda Por Fecha de Nacimiento </legend>
				<div class="row" style="margin-top: -20px;">
					<section class="col col-6">
						<label class="label">Fecha Inicial</label>
						<label class="input"> <i class="icon-prepend fa fa-phone"></i><input type="text" name="sa_nac_in" id="sa_05" placeholder="Fecha Inicial"></label>
					</section>
					<section class="col col-6">
						<label class="label">Fecha Final</label>
						<label class="input"> <i class="icon-prepend fa fa-phone"></i><input type="text" name="sa_nac_fin" id="sa_06" placeholder="Fecha Final"></label>
					</section>				
				</div>
			</fieldset>

			<fieldset>
				<legend> B&uacute;squeda Por Fecha de Creaci&oacute;n </legend>
				<div class="row" style="margin-top: -20px;">
					<section class="col col-6">
						<label class="label">Fecha Inicial</label>
						<label class="input"> <i class="icon-prepend fa fa-phone"></i><input type="text" name="sa_cre_in" id="sa_07" placeholder="Fecha Inicial"></label>
					</section>
					<section class="col col-6">
						<label class="label">Fecha Final</label>
						<label class="input"> <i class="icon-prepend fa fa-phone"></i><input type="text" name="sa_cre_fin" id="sa_08" placeholder="Fecha Final"></label>
					</section>				
				</div>
			</fieldset>

			<fieldset>
				<div class="row" style="margin-top: -20px;">
					<section class="col col-3">
						<label class="label">Pueblo</label>
						<label class="select"class="input">
							<div class="icon-addon addon-md">
								<select class="form-control" multiple="" name="sa_town[]" id="sa_09" style="height: 175px;">
									<option value="" selected>SELECCION</option>
									{% for tow in towns %}
										{% if (tow['status_id'] == "1") %}
											<option value="{{ tow['id'] }}"> {{ tow['name'] }}</option>
										{% endif %}
									{% endfor %}
								</select>
								<label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
							</div>
						</label>
					</section>
					<section class="col col-3">
						<label class="label">Tipo de Casa</label>
						<label class="select"class="input">
							<div class="icon-addon addon-md">
								<select class="form-control" multiple="" name="sa_house[]" id="sa_10" style="height: 175px;">
									<option value="" selected>SELECCION</option>
									{% for hou in houses %}
										{% if (hou['status_id'] == "1") %}
											<option value="{{ hou['id'] }}"> {{ hou['name'] }}</option>
											{% endif %}
										{% endfor %}
								</select>
								<label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
							</div>
						</label>
					</section>
					<section class="col col-3">
						<label class="label">Tipo de Techo</label>
						<label class="select"class="input">
							<div class="icon-addon addon-md">
								<select class="form-control" multiple="" name="sa_ceiling[]" id="sa_11" style="height: 175px;">
									<option value="" selected>SELECCION</option>
									{% for ce in ceilings %}
										{% if (ce['status_id'] == "1") %}
											<option value="{{ ce['id'] }}"> {{ ce['name'] }}</option>
										{% endif %}
									{% endfor %}
								</select>
								<label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
							</div>
						</label>
					</section>
					<section class="col col-3">
						<label class="label">Niveles de Casa</label>
						<label class="select"class="input">
							<div class="icon-addon addon-md">
								<select class="form-control" multiple="" name="sa_level[]" id="sa_12" style="height: 175px;">
									<option value="" selected>SELECCION</option>
									{% for lev in levels %}
										{% if (lev['status_id'] == "1") %}
											<option value="{{ lev['id'] }}"> {{ lev['name'] }}</option>
										{% endif %}
									{% endfor %}
								</select>
								<label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
							</div>
						</label>
					</section>
				</div> 
			</fieldset>

		</fieldset>
		<footer>
			<button type="submit" class="btn btn-primary">Buscar</button>
		</footer>
	</div>
</form>