{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Busqueda</li>
    </ol>
  </div>
  <div id="content">    

      {% include('search/s_advanced.html.twig') %}
      
      {% include('search/a_result.html.twig') %}
    
    </div>
  </div>

{% include('search/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">
$(function() 
{

  $('#sa_05').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#sa_06').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#sa_07').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#sa_08').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });


  $('#tv_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tv_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvi_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvi_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvos_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvos_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });


  $('#sec_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#sec_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvs_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvs_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvo_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvo_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });


  $('#net_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#net_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvn_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvn_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvon_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#tvon_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#vznet_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#vznet_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#vztvon_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#vztvon_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#vztvn_01').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#vztvn_02').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

////////////////////////////// Data Country //////////////////////////////

  $('#sa_dataBasic').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
     blockUI(); 
      var str = $("#sa_dataBasic").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
          success: function(datos)
          {
            if(datos.status == true)
            { 
              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              $.unblockUI();
              if(datos.html.status == true)
              {
                $('#SearchDataBasic').DataTable({
                  aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                  pageLength: 10
                });
                $.unblockUI();
              }
            }
            $.unblockUI();
          }
        });
      return false;
  });

  $('#sa_basicTvPr').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#sa_basicTvPr").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
          console.log(datos);
            if(datos.status == true){ 

              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#SearchTVService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });

              }

            }
            $.unblockUI();
        }
      });
    return false;
  });

  $('#sa_basicSecPr').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    // blockUI(); 
    var str = $("#sa_basicSecPr").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
            if(datos.status == true){ 

              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#SearchSECService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });

              }
            }
            $.unblockUI();
        }
      });
    return false;
  });

  $('#sa_basicNetPr').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#sa_basicNetPr").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
            if(datos.status == true){ 

              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#SearchINTService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });

              }
            }
            $.unblockUI();
        }
      });
    return false;
  });

  $('#sa_ScoreTvPr').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#sa_ScoreTvPr").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
            if(datos.status == true)
            { 
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#ScoreSearchService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });
              }
            }
            $.unblockUI();
        }
      });
    return false;
  });

  $('#sa_ScoreSecPr').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#sa_ScoreSecPr").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
            if(datos.status == true){ 

              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#ScoreSearchService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });

              }
            }
            $.unblockUI();
        }
      });
    return false;
  });

  $('#sa_ScoreNetPr').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#sa_ScoreNetPr").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
            if(datos.status == true){ 

              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#ScoreSearchService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });

              }
            }
            $.unblockUI();
        }
      });
    return false;
  });

  $('#sa_basicNetVz').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#sa_basicNetVz").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
            if(datos.status == true){ 

              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#SearchINTService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });

              }
            }
            $.unblockUI();
        }
      });
    return false;
  });

  $('#sa_ScoreNetVz').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#sa_ScoreNetVz").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
            if(datos.status == true){ 

              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#ScoreSearchService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });

              }
            }
            $.unblockUI();
        }
      });
    return false;
  });

  $('#sa_ObjectionNetVz').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    // blockUI(); 
    var str = $("#sa_ObjectionNetVz").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
            if(datos.status == true){ 

              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#objectionSearchService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });

              }
            }
            $.unblockUI();
        }
      });
    return false;
  });

  $('#sa_ObjectionTvPr').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    // blockUI(); 
    var str = $("#sa_ObjectionTvPr").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
            if(datos.status == true){ 

              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#objectionSearchService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });

              }
            }
            $.unblockUI();
        }
      });
    return false;
  });

  $('#sa_ObjectionSecPr').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#sa_ObjectionSecPr").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
            if(datos.status == true){ 

              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#objectionSearchService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });

              }
            }
            $.unblockUI();
        }
      });
    return false;
  });

  $('#sa_ObjectionNetPr').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#sa_ObjectionNetPr").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Search/SearchAdvanced') }}", data: {str: str},
        success: function(datos)
        {
            if(datos.status == true){ 

              $("#r_advanced").html('');
              $("#r_advanced").html(datos.html.html);
              if(datos.html.status == true)
              {
                $('#objectionSearchService').DataTable({
                    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    pageLength: 10
                });

              }
            }
            $.unblockUI();
        }
      });
    return false;
  });

//////////////////////////////////////////////////////////////////////////////////////////

})

function ViewObjections(id, serv)
{
    $.ajax({ type: "POST", url:  "{{ url('/Search/ViewObjections') }}", data: {id:id , serv: serv},
    success: function(datos)
    {
      console.log(datos);
      $("#ObjectionTable").html('');
      $("#ObjectionTable").html(datos.html);
      $('#NewClientObjections').modal('show');
    }
  });
}

function blockUI()
{
    $.blockUI({ css: {
     border: 'none',
     padding: '15px',
     backgroundColor: '#000',
       '-webkit-border-radius': '10px',
       '-moz-border-radius': '10px',
     opacity: .5,
     color: '#fff'
  }});
}


</script>
{% endblock %}