<div class="modal fade" id="NewClientObjections" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-user" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Listado de Objeciones</h4>
			</div>
			<form class="formrole" method="post" id="formrole" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row" style="background: aliceblue;">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
							<div id="chat-body" class="chat-body custom-scroll" style="height: 500px; background: aliceblue;">
								<div id="ObjectionTable"></div>	
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</form>
		</div>
	</div>
</div>