<form id="sa_ScoreNetPr" class="smart-form" data-parsley-validate="">
	<input class="form-control hidden" type="text" id="search-type" name="search-type" readonly value="score_netpr">
	<section class="col col-6">
		<div class="row">
			<h3>Busqueda Por Score</h3>
			<section class="col col-6">
				<label class="label">Fecha Inicial</label>
				<label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="tvi_fini" id="tvn_01" placeholder="Fecha Inicial"></label>
			</section>
			<section class="col col-6">
				<label class="label">Fecha Final</label>
				<label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="tvi_fend" id="tvn_02" placeholder="Fecha Final"></label>
			</section>
		</div>
		<label class="label">Score</label>
		<label class="select select-multiple">
			<select multiple="" class="custom-scroll" name="tvi_score[]" id="tvn_03" style="height: 100px;">
				<option value="" Selected>SELECCION</option>
				{% for sco in scores %}
					{% if (sco['status_id'] == "1") and (sco['country_id'] == "1") and (sco['service_id'] == "4") %}
						<option value="{{ sco['id'] }}"> {{ sco['name'] }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</label>
		<footer>
			<button type="submit" class="btn btn-primary">Buscar</button>
		</footer>
	</section>
</form>