<form id="sa_basicNetPr" class="smart-form" data-parsley-validate="">
	<div class="widget-body">
		<input class="form-control hidden" type="text" id="search-type" name="search-type" readonly value="basic_netpr">
		<fieldset>
			<legend> Fecha de Servicio </legend>
			<div class="row" style="margin-top: -20px;">
				<section class="col col-6">
					<label class="label">Fecha Inicial</label>
					<label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="net_fini" id="net_01" placeholder="Fecha Inicial"></label>
				</section>

				<section class="col col-6">
					<label class="label">Fecha Final</label>
					<label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="net_fend" id="net_02" placeholder="Fecha Final"></label>
				</section>
			</div>
		</fieldset>

		<fieldset>
			<legend> Paquetes de Servicio </legend>
			<div class="row" style="margin-top: -20px;">
				<section class="col col-3">
					<label class="label">Int. Residencial</label>
						<label class="select select-multiple">
							<select multiple="" class="custom-scroll" name="net_ires[]" id="net_03" style="height: 100px;">
								<option value="" selected>SELECCION</option>
								{% for ires in intres %}
									{% if ires['status_id'] == "1" %}
										<option value="{{ ires['id'] }}"> {{ ires['name'] }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</label>
				</section>

				<section class="col col-3">
					<label class="label">Int. Comercial</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="net_icom[]" id="net_05" style="height: 100px;">
							<option value="" selected>SELECCION</option>
							{% for icom in intcom %}
								{% if icom['status_id'] == "1" %}
									<option value="{{ icom['id'] }}"> {{ icom['name'] }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</label>
				</section>

				<section class="col col-3">
					<label class="label">Telf. Residencial</label>
						<label class="select select-multiple">
							<select multiple="" class="custom-scroll" name="net_ires[]" id="net_03" style="height: 100px;">
								<option value="" selected>SELECCION</option>
								{% for pres in phoneres %}
									{% if pres['status_id'] == "1" %}
										<option value="{{ pres['id'] }}"> {{ pres['name'] }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</label>
				</section>

				<section class="col col-3">
					<label class="label">Telf. Comercial</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="net_icom[]" id="net_05" style="height: 100px;">
							<option value="" selected>SELECCION</option>
							{% for pcom in phonecom %}
								{% if pcom['status_id'] == "1" %}
									<option value="{{ pcom['id'] }}"> {{ pcom['name'] }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</label>
				</section>
			</div>
		</fieldset>	

		<fieldset>
			<div class="row">
				<section class="col col-4">
					<label class="label">Metodo Pago</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="net_payment[]" id="net_06" style="height: 100px;">
							<option value="" selected>SELECCION</option>
							{% for pay in payments %}
								{% if pay['status_id'] == "1" and ( (pay['service_id'] == "1") or (pay['service_id'] == "4") )   %}
									<option value="{{ pay['id'] }}"> {{ pay['name'] }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</label>
				</section>

				<section class="col col-4">
					<label class="label">Tipo de Orden</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="net_typeorder[]" id="net_08" style="height: 100px;">
							<option value="" selected>SELECCION</option>
		                	{% for otype in ordertype %}
								{% if otype['status_id'] == "1" %}
									<option value="{{ otype['id'] }}"> {{ otype['name'] }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</label>
				</section>

				<section class="col col-4">
					<label class="label">Status de Servicio</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="net_StaServ[]" id="net_07" style="height: 100px;">
							<option value="" selected>SELECCION</option>
							{% for sta in statusserv %}
								{% if sta['status_id'] == "1" %}
									<option value="{{ sta['id'] }}"> {{ sta['name'] }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</label>
				</section>
			</div>
		</fieldset>	
		<footer>
			<button type="submit" class="btn btn-primary">Buscar</button>
		</footer>
	</div>
</form>