<form id="sa_ObjectionNetPr" class="smart-form" data-parsley-validate="">
	<input class="form-control hidden" type="text" id="search-type" name="search-type" readonly value="objection_netpr">
	<section class="col col-6">
		<h3>Busqueda Por Objeciones de Servicio</h3>
		<div class="row">
			<section class="col col-6">
				<label class="label">Fecha Inicial</label>
				<label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="tvo_fini" id="tvon_01" placeholder="Fecha Inicial"></label>
			</section>
			<section class="col col-6">
				<label class="label">Fecha Final</label>
				<label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="tvo_fend" id="tvon_02" placeholder="Fecha Final"></label>
			</section>
		</div>
		<label class="select select-multiple">
			<select multiple="" class="custom-scroll" name="tvo_objection[]" id="tvon_04" style="height: 127px;">
				<option value="" selected>SELECCION</option>
				{% for obj in objections %}
					{% if (obj['status_id'] == "1") and (obj['country_id'] == "1") and ((obj['service_id'] == "1") or (obj['service_id'] == "4")) %}
						<option value="{{ obj['id'] }}"> {{ obj['name'] }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</label>
		<footer>
			<button type="submit" class="btn btn-primary">Buscar</button>
		</footer>
	</section>
</form>