<div class="row" class="col-sm-12 col-md-12 col-lg-12">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
			<div class="widget-body">
				<hr class="simple">
				<ul id="myTab1" class="nav nav-tabs bordered">
					<li class="active">
						<a href="#s1" data-toggle="tab"><i class="fa fa-fw fa-lg fa-users"></i> Datos De Cliente</a>
					</li>
					<li>
						<a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-desktop"></i> Television PR</a>
					</li>
					<li>
						<a href="#s3" data-toggle="tab"><i class="fa fa-fw fa-lg fa-lock"></i> Seguridad PR</a>
					</li>
					<li>
						<a href="#s4" data-toggle="tab"><i class="fa fa-fw fa-lg fa-globe"></i> Internet PR</a>
					</li>
					<li>
						<a href="#s5" data-toggle="tab"><i class="fa fa-fw fa-lg fa-globe"></i> Internet VZLA</a>
					</li>
				</ul>
				
				<div id="myTabContent1" class="tab-content padding-10">

					<div class="tab-pane fade active in" id="s1">
						{% include('search/ad_databasic.html.twig') %}
					</div>

					<div class="tab-pane fade" id="s2">
						{% include('search/tvpr_databasic.html.twig') %}
						<br>							
						<div class="widget-body">
							<fieldset>
								<div class="row" style="margin-top: -20px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										{% include('search/tvpr_score.html.twig') %}
										{% include('search/tvpr_objection.html.twig') %}
									</div>
								</div>
							</fieldset>
						</div>
						
					</div>

					<div class="tab-pane fade" id="s3">

						{% include('search/secpr_databasic.html.twig') %}
						<br>							
						<div class="widget-body">
							<fieldset>
								<div class="row" style="margin-top: -20px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										{% include('search/secpr_score.html.twig') %}
										{% include('search/secpr_objection.html.twig') %}
									</div>
								</div>
							</fieldset>
						</div>

					</div>

					<div class="tab-pane fade" id="s4">
						{% include('search/netpr_databasic.html.twig') %}
						<br>							
						<div class="widget-body">
							<fieldset>
								<div class="row" style="margin-top: -20px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										{% include('search/netpr_score.html.twig') %}
										{% include('search/netpr_objection.html.twig') %}
									</div>
								</div>
							</fieldset>
						</div>

					</div>

					<div class="tab-pane fade" id="s5">
						{% include('search/netvz_databasic.html.twig') %}
						<br>							
						<div class="widget-body">
							<fieldset>
								<div class="row" style="margin-top: -20px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										{% include('search/netvz_score.html.twig') %}
										{% include('search/netvz_objection.html.twig') %}
									</div>
								</div>
							</fieldset>
						</div>

					</div>

				</div>
				
			</div>
		</div>
	</div>
</div>