<form id="sa_basicSecPr" class="smart-form" data-parsley-validate="">
	<div class="widget-body">
			<input class="form-control hidden" type="text" id="search-type" name="search-type" readonly value="basic_secpr">
			<fieldset>
				<div class="row" style="margin-top: -20px;">
					<legend> Fecha de Servicio </legend>
					<section class="col col-6">
						<label class="label">Fecha Inicial</label>
						<label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="sec_fini" id="sec_01" placeholder="Fecha Inicial"></label>
					</section>

					<section class="col col-6">
						<label class="label">Fecha Final</label>
						<label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="sec_fend" id="sec_02" placeholder="Fecha Final"></label>
					</section>
				</div>
			</fieldset>
	
			<fieldset>
				<legend> Paquetes de Servicio </legend>
				<div class="row" style="margin-top: -20px;">
					<section class="col col-4">
						<label class="label">Sist. Previo?</label>
						<label class="select select-multiple">
							<select multiple="" class="custom-scroll" name="sec_prev[]" id="sec_03" style="height: 100px;">
								<option value="" selected>SELECT</option>
				                <option value="0">NO</option>
				                <option value="1">SI</option>
							</select>
						</label>
					</section>

					<section class="col col-4">
						<label class="label">Camaras</label>
						<label class="select select-multiple">
							<select multiple="" class="custom-scroll" name="sec_cam[]" id="sec_04" style="height: 100px;">
								<option value="" selected>SELECT</option>
								{% for cam in cameras %}
									{% if cam['status_id'] == "1" %}
										<option value="{{ cam['id'] }}"> {{ cam['name'] }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</label>
					</section>

					<section class="col col-4">
						<label class="label">DVR</label>
						<label class="select select-multiple">
							<select multiple="" class="custom-scroll" name="sec_dvr[]" id="sec_05" style="height: 100px;">
								<option value="" selected>SELECT</option>
								{% for dvr in dvrs %}
									{% if dvr['status_id'] == "1" %}
										<option value="{{ dvr['id'] }}"> {{ dvr['name'] }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</label>
					</section>
				</div>
			</fieldset>

			<fieldset>
				<div class="row" style="margin-top: -20px;">
					<section class="col col-4">
						<label class="label">Metodo Pago</label>
						<label class="select select-multiple">
							<select multiple="" class="custom-scroll" name="sec_payment[]" id="sec_06" style="height: 100px;">
								<option value="" selected>SELECCION</option>
								{% for pay in payments %}
									{% if pay['status_id'] == "1" and ( (pay['service_id'] == "1") or (pay['service_id'] == "3") )   %}
										<option value="{{ pay['id'] }}"> {{ pay['name'] }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</label>
					</section>

					<section class="col col-4">
						<label class="label">Tipo de Orden</label>
						<label class="select select-multiple">
							<select multiple="" class="custom-scroll" name="sec_typeorder[]" id="sec_08" style="height: 100px;">
								<option value="" selected>SELECCION</option>
			                	{% for otype in ordertype %}
									{% if otype['status_id'] == "1" %}
										<option value="{{ otype['id'] }}"> {{ otype['name'] }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</label>
					</section>

					<section class="col col-4">
						<label class="label">Status de Servicio</label>
						<label class="select select-multiple">
							<select multiple="" class="custom-scroll" name="sec_StaServ[]" id="sec_07" style="height: 100px;">
								<option value="" selected>SELECCION</option>
								{% for sta in statusserv %}
									{% if sta['status_id'] == "1" %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</label>
					</section>

				</div>
			</fieldset>
		<footer>
			<button type="submit" class="btn btn-primary">Buscar</button>
		</footer>
	</div>
</form>