{% if (app.session.get('role') != "17") %}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
			<header>
				<span class="widget-icon"> <i class="fa fa-table"></i> </span>
				<h2>Datos de Busqueda</h2>
			</header>
			<div class="widget-body">
				<form action="/Search" method="POST">
					<div class="input-group input-group-lg">
						<input class="form-control input-lg" type="text" id="search-fld" name="search-fld" placeholder="Busqueda por Telefono, ID de Cliente & Nombre...">
						<input class="form-control hidden" type="text" id="search-type" name="search-type" readonly value="simpled">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default">
							<i class="fa fa-fw fa-search fa-lg"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Listado de Clientes</h2>
      </header>
	    <div class="widget-body">
			<div class="table-responsive" style="margin-top: 10px;">
				<table id="dt_leads" class="table table-striped table-bordered table-hover" width="100%">
					<thead>
						<tr>
							<th data-hide="user"> Id</th>
							<th data-hide="user"> Nombre</th>
							<th data-hide="user"> Telefono</th>
							<th data-hide="user"> Alterno</th>
							<th data-hide="user"> Referido</th>
							<th data-hide="user"> Tipo</th>
							<th data-hide="user"> Pais</th>
							<th data-hide="user"> Pueblo</th>
							<th data-hide="user"> Operador</th>
							<th data-hide="user"> Creacion</th>
							<th data-hide="user"> Accion</th>
						</tr>
					</thead>
					<tbody>
						{% for lead in leads %}
							<tr>
								<td>{{ lead.client  	}}</td>
								<td>{{ lead.name    	}}</td>
								<td>{{ lead.phone  		}}</td>
								<td>{{ lead.alt  		}}</td>
								<td>{{ lead.referred	}}</td>
								<td>{{ lead.type		}}</td>
								<td>{{ lead.country 	}}</td>
								<td>{{ lead.town  		}}</td>
								<td>{{ lead.operator 	}}</td>
								<td>{{ lead.created 	}}</td>
								<td>
									<div class='btn-group'>
										<a class="btn btn-primary btn-xs" href="/leads/view/{{ lead.client }}"><i class="fa fa-eye"></i> VER </a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	    </div>
    </div>
  </div>
</div>