{% extends 'layouts/index.html.twig' %}

{% block content %}

<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="client_id" id="client_id" value="{{ client }}" readonly hidden>
      <li>Home</li><li>Leads</li><li>{{ lead.name }}</li>
    </ol>
  </div>
  <div id="content">
    <!-- Row -->
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title txt-color-blueDark">
        <i class="fa fa-pencil-square-o fa-fw "></i>
        Leads
        </h1>
      </div>   
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>DATOS BASICOS</h2>
          </header>
          <div>
            <div class="widget-body">
              <form class="smart-form" method="post" id="FormSugarLeads" data-parsley-validate="">
                <fieldset>
                  <div class="row" style="margin-top: -20px;">
                    <label class="label">TELEFONO PRINCIPAL</label>
                    <label class="input"> <i class="icon-prepend fa fa-phone"></i><input type="number" name="search-fld" id="c_020" placeholder="Telefono Principal" required></label>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
   
$('#FormSugarLeads').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    $.ajax({ type: "POST", url:  "{{ url('/Search/GetSugarPhone') }}", data: {phone: $("#c_020").val()},
      success: function(datos)
      {
          if(datos.status == true){ SuccessNotified(datos); DataLeads(); }
          else{ ErrorNotified(datos); }
      }
    });
    return false;
  });

});

function blockUI()
{
    $.blockUI({ css: {
     border: 'none',
     padding: '15px',
     backgroundColor: '#000',
       '-webkit-border-radius': '10px',
       '-moz-border-radius': '10px',
     opacity: .5,
     color: '#fff'
  }});
}

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 2000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 2000
  });
}

</script>
{% endblock %}