<form id="sa_basicTvPr" class="smart-form" data-parsley-validate="">
	<div class="widget-body">
		<input class="form-control hidden" type="text" id="search-type" name="search-type" readonly value="basic_tvpr">
		<fieldset>
			<legend> Fecha de Servicio </legend>
			<div class="row" style="margin-top: -20px;">
				<section class="col col-6">
					<label class="label"> Fecha Inicial</label>
					<label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="tv_fini" id="tv_01" placeholder="Fecha Inicial"></label>
				</section>
				<section class="col col-6">
					<label class="label"> Fecha Final</label>
					<label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="tv_fend" id="tv_02" placeholder="Fecha Final"></label>
				</section>
			</div>
		</fieldset>
		<fieldset>
			<legend> Paquetes de Servicio </legend>
			<div class="row" style="margin-top: -20px;">
				<section class="col col-3">
					<label class="label">Decoder's</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="tv_decos[]" id="tv_03" style="height: 100px;">
							<option value="" selected>SELECT</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
					</label>
				</section>

				<section class="col col-3">
					<label class="label">DVR'S</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="tv_dvr[]" id="tv_04" style="height: 100px;">
							<option value="" selected>SELECT</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
					</label>
				</section>	

				<section class="col col-3">
					<label class="label">Decoder's</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="tv_package[]" id="tv_05" style="height: 100px;">
							<option value="" selected>SELECCION</option>
			                {% for pack in packages %}
								{% if pack['status_id'] == "1" %}
									<option value="{{ pack['id'] }}"> {{ pack['name'] }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</label>
				</section>

				<section class="col col-3">
					<label class="label">Proveedor Anterior</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="tv_provider[]" id="tv_06" style="height: 100px;">
							<option value="" selected>SELECCION</option>
		                	{% for pro in providers %}
								{% if pro['status_id'] == "1" %}
									<option value="{{ pro['id'] }}"> {{ pro['name'] }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</label>
				</section>	
			</div>	
			<div class="row" style="margin-top: -20px;">
				<section class="col col-4">
					<label class="label">Metodo Pago</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="tv_payment[]" id="tv_07" style="height: 100px;">
							<option value="" selected>SELECCION</option>
							{% for pay in payments %}
								{% if pay['status_id'] == "1" and ( (pay['service_id'] == "1") or (pay['service_id'] == "2") )   %}
									<option value="{{ pay['id'] }}"> {{ pay['name'] }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</label>
				</section>
				<section class="col col-4">
					<label class="label">Tipo de Orden</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="tv_typeorder[]" id="tv_09" style="height: 100px;">
							<option value="" selected>SELECCION</option>
		                	{% for otype in ordertype %}
								{% if otype['status_id'] == "1" %}
									<option value="{{ otype['id'] }}"> {{ otype['name'] }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</label>
				</section>
				<section class="col col-4">
					<label class="label">Status de Servicio</label>
					<label class="select select-multiple">
						<select multiple="" class="custom-scroll" name="tv_StaServ[]" id="tv_08" style="height: 100px;">
							<option value="" selected>SELECCION</option>
							{% for sta in statusserv %}
								{% if sta['status_id'] == "1" %}
									<option value="{{ sta['id'] }}"> {{ sta['name'] }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</label>
				</section>		
			</div>
		</fieldset>
		<footer>
			<button type="submit" class="btn btn-primary">Buscar</button>
		</footer>
	</div>
</form>