{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    

    {% if app.session.get('role') == "1" %}

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <div class="row">
    <div class="pac-card" id="pac-card">
      <div>
        <div id="title">
          Autocomplete search
        </div>
        <div id="type-selector" class="pac-controls">
          <input type="radio" name="type" id="changetype-all" checked="checked">
          <label for="changetype-all">All</label>
          <input type="radio" name="type" id="changetype-establishment">
          <label for="changetype-establishment">Establishments</label>
          <input type="radio" name="type" id="changetype-address">
          <label for="changetype-address">Addresses</label>
          <input type="radio" name="type" id="changetype-geocode">
          <label for="changetype-geocode">Geocodes</label>
        </div>
        <div id="strict-bounds-selector" class="pac-controls">
          <input type="checkbox" id="use-strict-bounds" value="">
          <label for="use-strict-bounds">Strict Bounds</label>
        </div>
      </div>
      <div id="pac-container">
        <input id="pac-input" type="text"
        placeholder="Enter a location">
      </div>
    </div>
    <div id="map" style="height: 400px; width: 600px;"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>
  </div>

</div>  
      
    {% endif %}


    </div>
  </div>

{% include('marketing/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}

<script type="text/javascript">

</script>
{% endblock %}