{% extends 'layouts/leads/index.html.twig' %}

{% block content %}
  <div id="main" role="main">
    <div id="ribbon">
      <ol class="breadcrumb">
        <li><a href="#">Dashboard</a></li><li>Statics</li><li>Data Entry</li>
      </ol>
    </div>
    <div id="content">

      <div class="row">
        <div class="col-sm-12" style="text-align: center;">
          <label>Seleccione Rango de Busqueda:</label>
        </div>

        <form id="rangeDate">
          <div class="col-sm-6">
          
            <div class="form-group">
              <div class="input-group">
                <a class="input-group-addon" onclick="RegisterDollar();"><i class="fa fa-dollar"></i></a>
                <input class="form-control" id="to" name="dateIni" type="text" placeholder="Fecha Inicial">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="from" name="dateEnd" type="text" placeholder="Fecha Final">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <a class="input-group-addon" onclick="RegisterUpload();"><i class="fa fa-upload"></i></a>
              </div>
            </div>      
          </div>
        </form>

      </div>

      <section id="widget-grid" class="">
        <div class="row">

          <div class="col-sm-6">
            <div class="panel panel-primary pricing-big">
              <img src="{{ asset('assets/img/VE.png') }}" class="ribbon" alt="">
              <div class="panel-heading">
                <h3 class="panel-title">PENDIENTES POR ASIGNAR</h3>
              </div>
            </div>
            <div class="widget-body">
                <table class="table table-bordered" border="1" style="font-size: 10px; text-align: center;">
                    <tbody>
                        <tr>
                            <td width="33.33%"><a onclick="ManualCode();" class="btn btn-info btn-xs btn-block">MANUAL</a></td>
                            <td width="33.33%"><a onclick="BatchSuspendCode();" class="btn btn-danger btn-xs btn-block">SUSPENDER</a></td>
                            <td width="33.33%"><a onclick="Consolide();" class="btn btn-success btn-xs btn-block">CONCILIAR</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="widget-body">
                <div class="table-responsive">
                    <form id="LotTablePending">
                        <div id="TablePendingCode">
                            <table id="TableDataBanks" class="table table-bordered" border="1" style="font-size: 10px; text-align: center;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;"><strong>#</strong></th>
                                        <th style="text-align: center;"><strong>Fecha</strong></th>
                                        <th style="text-align: center;"><strong>C&oacute;digo</strong></th>
                                        <th style="text-align: center;"><strong>BS</strong></th>
                                        <th style="text-align: center;"><strong>Accion</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td colspan="5">SIN INFORMACI&Oacute;N PARA MOSTRAR</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="panel panel-redLight pricing-big">
              <img src="{{ asset('assets/img/VE.png') }}" class="ribbon" alt="">
              <div class="panel-heading">
                <h3 class="panel-title">CONGLOMERADOS PROCESADOS</h3>
              </div>
            </div>
            <div class="widget-body">
              <table class="table table-bordered" border="1" style="font-size: 10px; text-align: center;">
                    <tbody>
                        <tr>
                            <td width="33.33%"><a class="btn btn-info btn-xs btn-block"><br></a></td>
                            <td width="33.33%"><a class="btn btn-danger btn-xs btn-block"><br></a></td>
                            <td width="33.33%"><a class="btn btn-success btn-xs btn-block"><br></a></td>
                        </tr>
                    </tbody>
              </table>
            </div>
            <br>
            <div class="widget-body">
                <div class="table-responsive">
                    <div id="TableProccessCode">
                        <table id="TableDataBanks" class="table table-bordered" border="1" style="font-size: 10px; text-align: center;">
                            <thead>
                                <tr>
                                    <th style="text-align: center;"><strong></strong></th>
                                    <th style="text-align: center;"><strong>Fecha</strong></th>
                                    <th style="text-align: center;"><strong>Id</strong></th>
                                    <th style="text-align: center;"><strong>Factura</strong></th>
                                    <th style="text-align: center;"><strong>C&oacute;digo</strong></th>
                                    <th style="text-align: center;"><strong>Dolar</strong></th>
                                    <th style="text-align: center;"><strong>Monto</strong></th>
                                    <th style="text-align: center;"><strong>Img</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr><td colspan="8">SIN INFORMACI&Oacute;N PARA MOSTRAR</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

        </div>
      </section>

      <br>

    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row" style="margin-top: 10px;">
                    <article class="col-sm-12">
                        <!-- new widget -->
                        <div class="jarviswidget" id="wid-id-0"  data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                            <header>
                                <h2>Listado de Consolidados </h2>
                                <ul class="nav nav-tabs pull-right in" id="myTab">
                                    <li><a data-toggle="tab" href="#co3" id="co3"><i class="fa fa-lg fa-refresh"></i> </a></li>
                                    <li><a data-toggle="tab" href="#co4" id="co4"><i class="fa fa-lg fa-check"></i> </a></li>
                                    <li><a data-toggle="tab" href="#co5" id="co5"><i class="fa fa-lg fa-times"></i> </a></li>
                                    <li class="active"><a data-toggle="tab" href="#co1"><i class="fa fa-lg fa-warning"></i> <span class="hidden-mobile hidden-tablet"> Pendientes </span></a></li>
                                    <li><a data-toggle="tab" href="#co2" id="cco2"><i class="fa fa-lg fa-history"></i> <span class="hidden-mobile hidden-tablet"> Reportes de Clientes </span></a></li>
                                    <li><a data-toggle="tab" href="#co6" id="cco6"><i class="fa fa-lg fa-code"></i> <span class="hidden-mobile hidden-tablet"> Codigos Utilizados </span></a></li>
                                </ul>
                            </header>
                            <div class="no-padding">
                                <div class="widget-body">
                                    <div class="tab-content ">
                                        <div class="tab-pane active" id="co1">
                                          <form id ="PendingLotCode">
                                            <div id="TablePendingConsolide" style="font-size: 11px;"></div>
                                          </form>
                                        </div>
                                        <div class="tab-pane" id="co2">
                                          <div id="TableClientReport" style="font-size: 11px;"></div>
                                        </div>
                                        <div class="tab-pane" id="co6">
                                          <div id="TableCodeReport" style="font-size: 11px;">
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

      
    </div>
  </div>

  {% include('collection/ve/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{

  Load();

  $('#dolar_date').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#mc_date').datetimepicker({
    dateFormat : 'yy-mm-dd',
    prevText : '<i class="fa fa-chevron-left"></i>',
    nextText : '<i class="fa fa-chevron-right"></i>',
  });

  $('#LotSusPendCode').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {

    $('#ConListBtn').prop('disabled', true);
    $('#ConListProcess').html('<div class="alert alert-info fade in">En Proceso, Por favor Espere.!</div>');
    var str = $("#LotTablePending").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/batchsuspendcode') }}", data: {str: str},
    success: function(datos)
    {
        if(datos.status == true)
        { 
            $('#BatchCodePendListProcess').html(datos.html);
            $('#TablePendingCode').html(datos.pending);
            $('#TablePending').DataTable({
                aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                pageLength: 5
            });
        }else{ 
            $('#PendCodeAdv').modal('hide');
            $('#BatchCodePendListProcess').html('');
            ErrorNotified(datos); 
            $('#ConListBtn').prop('disabled', false);
        }
    }
    });
    return false;
  });



  $("#csv").change(function() 
  {
    $('#csvAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong>Informacion!</strong> En Proceso, Por favor espere.</div>');
    // blockUI();
    var fd = new FormData();
    fd.append('csv', this.files[0]);
    $('#csvAlert').html('');
    $.ajax({
      url:  "{{ url('/collection/ve/uploadfile') }}",
      type: "post",
      dataType: 'json',
      processData: false,
      contentType: false,
      data: fd,
      success: function(datos)
      {
        $.unblockUI();
        $('#csvAlert').html('');

        if(datos.status == true)
        {
          $('#TableTempCode').html(datos.html);
          $('#bs_codes').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
          });
          $('#TablePendingCode').html(datos.pending);
          $('#TablePending').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 5
          });
        }else{
          ErrorNotified(datos);
        }
      }
    });

  });

});


$('#DollarForms').parsley().on('field:validated', function() {
  var ok = $('.parsley-error').length === 0;
}).on('form:submit', function() {
  blockUI(); 
  var str = $("#DollarForms").serialize();
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/dollar') }}", data: {str: str},
  success: function(datos)
  {
      if(datos.status == true){ 
        SuccessNotified(datos); 
        $('#DollarForms')[0].reset();
        $('#DolarTable').html(datos.html);
        $('#TableDataDollar').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 5
        });
        $.unblockUI();
      }else{ $.unblockUI(); ErrorNotified(datos); }
  }
  });
  return false;
});

function RegisterUpload()
{
  $('#FormUploadCode')[0].reset();
  $('#TableTempCode').html('');
  $('#UploadFilesCode').modal('show');

}

function RegisterDollar()
{
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/dollarview') }}",
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {
    if(datos.status == true)
    { 
      $('#DolarTable').html(datos.html);
      $('#TableDataDollar').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 5
      });
      $.unblockUI();
    }else{ $.unblockUI(); ErrorNotified(datos); }
  }
  });

  $('#DollarModal').modal('show');

}



////////////////////////////// Functions Others //////////////////////////////

function Load()
{
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/load') }}",
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {
      if(datos.status == true)
      { 
          $('#TablePendingCode').html(datos.pending);
          $('#TablePending').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 5
          });

          $('#TablePendingConsolide').html(datos.consolidate);
          $('#TableConsolidatePending').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });

          $('#TableProccessCode').html(datos.process);
          $('#TableConsolidateProccess').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 5
          });
          $('#TableCodeReport').html(datos.codes);
          $('#TableCodeUtl').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 5
          });
      }
    $.unblockUI();
  }
  });
}

function ManualCode()
{
  $('#ManualCodeForm')[0].reset();
  $('#ManualCodeModal').modal('show');
}

$('#ManualCodeForm').parsley().on('field:validated', function() {
  var ok = $('.parsley-error').length === 0;
}).on('form:submit', function() {
  $('#ManualCodeTitle').html('<div class="alert alert-info fade in">En Proceso, Por favor Espere.!</div>');
  var str = $("#ManualCodeForm").serialize();
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/manualcode') }}", data: {str: str},
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {
      if(datos.status == true)
      { 
        $('#TablePendingCode').html(datos.pending);
        $('#TablePending').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 5
        });
        SuccessNotified(datos); 
        $('#ManualCodeTitle').html('');
        $('#ManualCodeModal').modal('hide');

      }else{ 
        $('#ManualCodeModal').modal('hide');
        $('#ManualCodeTitle').html('');
        ErrorNotified(datos); 
      }
    $.unblockUI();
  }
  });
  return false;
});

function Consolide()
{
    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/consolide') }}",
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
        if(datos.status == true)
        { 
            SuccessNotified(datos);
            $('#TablePendingConsolide').html(datos.consolidate);
            $('#TableConsolidatePending').DataTable({
                aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                pageLength: 10
            });

            $('#TablePendingCode').html(datos.pending);
            $('#TablePending').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 5
            });

            $('#TableCodeReport').html(datos.codes);
            $('#TableCodeUtl').DataTable({
                aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                pageLength: 5
            });

          $.unblockUI();

        }else{
          ErrorNotified(datos);
          $.unblockUI();
        }
    }
    });
}

function BatchSuspendCode()
{
    $('#BatchCodePendListProcess').html('');
    $('#ConListBtn').prop('disabled', false);
    $('#PendCodeAdv').modal('show');
}

function EditRepClient(id)
{
  $('#EditConsolideModal').modal('show');

  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/editconsolide') }}",data: {id: id},
  beforeSend: function(request){
    // blockUI();
  },
  success: function(datos)
  {
      if(datos.status == true)
      { 
          SuccessNotified(datos);
          $('#TablePendingConsolide').html(datos.consolidate);
          $('#TableConsolidatePending').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });

      }else{
          ErrorNotified(datos);
      }
  }
  });

  $.unblockUI();

}

function ProcConsProc(id)
{
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/proccessconsolidate') }}", data: { id:id },
  success: function(datos)
  {
    $.unblockUI();
    if(datos.status == true)
    { 
      SuccessNotified(datos); 
      $('#TablePendingConsolide').html(datos.consolidate);
      $('#TableConsolidatePending').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
      });

      $('#TableProccessCode').html(datos.process);
      $('#TableConsolidateProccess').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 5
      });


    }else{ ErrorNotified(datos); }
  }
  });
}

function AnexConsProc(id)
{
  $('#anexid').val(id);
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/anexconsolidateview') }}",
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {
    if(datos.status == true)
    { 
      $('#TablePendingCodeAnex').html(datos.anex);
      $('#TableConsolidateAnex').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
      });

      $('#AnexCodeModal').modal('show');

    }else{ ErrorNotified(datos); }

    $.unblockUI();
  }
  });

}

function BtnPenCodeAsig(info)
{
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/asigcodepen') }}",data: {id: $('#anexid').val(), info:info }, 
  beforeSend: function(request){
    // blockUI();
  },
  success: function(datos)
  {
    if(datos.status == true)
    { 
      $('#AddCodeAsig'+datos.id+'').prop('disabled', true);
      $('#status'+datos.id+'').html('<i class="fa fa-check"></i>');

      $('#TablePendingCode').html(datos.pending);
      $('#TablePending').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 5
      });

      $('#TablePendingConsolide').html(datos.consolidate);
      $('#TableConsolidatePending').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
      });
      SuccessNotified(datos);

    }else{ ErrorNotified(datos); }

    $.unblockUI();
  }
  });
}


$("#co4").click(function(event) 
{

  $('#ConListProcess').html('');
  $('#ConListBtn').prop('disabled', false);
  $('#ConListModal').modal('show');

});

$("#cco2").click(function(event) 
{

  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/clientreporting') }}",
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {
    $.unblockUI();
    $('#TableClientReport').html(datos.reporting);
    $('#TableReporting').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
    });
    $.unblockUI();
  }
  });

});

$("#co3").click(function(event) 
{
  Load();

});

$('#ProcessFormCons').parsley().on('field:validated', function() {
  var ok = $('.parsley-error').length === 0;
}).on('form:submit', function() {
  $('#ConListBtn').prop('disabled', true);
  $('#ConListProcess').html('<div class="alert alert-info fade in">En Proceso, Por favor Espere.!</div>');
  var str = $("#PendingLotCode").serialize();
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/consolidemultiple') }}", data: {str: str},
  success: function(datos)
  {
      if(datos.status == true)
      { 
        $('#ConListProcess').html(datos.html);
        $('#TablePendingConsolide').html(datos.consolidate);
        $('#TableConsolidatePending').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
        });

        $('#TableProccessCode').html(datos.process);
        $('#TableConsolidateProccess').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 5
        });

      }else{ 
        $('#ConListModal').modal('hide');
        $('#ConListProcess').html('');
        ErrorNotified(datos); 
        $('#ConListBtn').prop('disabled', false);
      }
  }
  });
  return false;
});

$("#co5").click(function(event) 
{

  $('#ConSusProcess').html('');
  $('#ConSuspBtn').prop('disabled', false);
  $('#SuspConsModal').modal('show');

});

$('#SusConsForm').parsley().on('field:validated', function() {
  var ok = $('.parsley-error').length === 0;
}).on('form:submit', function() {
  $('#ConSuspBtn').prop('disabled', true);
  $('#ConSusProcess').html('<div class="alert alert-info fade in">En Proceso, Por favor Espere.!</div>');
  var str = $("#PendingLotCode").serialize();
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/suspendconsolidemultiple') }}", data: {str: str},
  success: function(datos)
  {
      if(datos.status == true)
      { 
        $('#ConSusProcess').html(datos.html);
        $('#TablePendingConsolide').html(datos.consolidate);
        $('#TableConsolidatePending').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
        });

      }else{ 
        $('#SuspConsModal').modal('hide');
        $('#ConSusProcess').html('');
        ErrorNotified(datos); 
        $('#ConSuspBtn').prop('disabled', false);
      }
  }
  });
  return false;
});

function ViewCodes(id)
{
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/viewcodes') }}", data: {id:id},
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {
    $('#ViewCodeHtml').html(datos.html);
    $.unblockUI();
    $('#CodesModal').modal('show');
  }
  });
}

function AsigRepClient(id)
{
  $('#clientid').val(id);

  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/asigmanualclient') }}", data: {id:id},
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {
    if(datos.status == true)
    {
      $('#TablePendingCodeClient').html(datos.html);
      $('#TableConsolidateClient').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
      });
      $('#ClientCodeModal').modal('show');
    }else{
      ErrorNotified(datos);
    }
    $.unblockUI();
  }
  });
}

function BtnClientCodeAsig(id)
{
  
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/clientcodeasig') }}", data: {id:id, cl:$('#clientid').val()},
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {
    if(datos.status == true)
    {
      $('#TablePendingCode').html(datos.pending);
      $('#TablePending').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 5
      });

      $('#TablePendingConsolide').html(datos.consolidate);
      $('#TableConsolidatePending').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
      });


      $('#ClientCodeModal').modal('hide');
      SuccessNotified(datos);

    }else{
      ErrorNotified(datos);
    }
    $.unblockUI();
  }
  });
}

function EditCodeAsig(id)
{
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/vieweditcodeasig') }}", data: {id:id},
  beforeSend: function(request){
    blockUI();
  },
  success: function(datos)
  {

    $('#EditCodeAsigForm')[0].reset();
    $('#EditCodeSub').prop('disabled', false);
    $('#codeid').val(datos.code.id);
    $('#ec_dolar').val(datos.code.dolar);

    $.unblockUI();
    $('#EditCodeAsig').modal('show');
  }
  });
}

$('#EditCodeAsigForm').parsley().on('field:validated', function() {
  var ok = $('.parsley-error').length === 0;
}).on('form:submit', function() {
  $('#EditCodeSub').prop('disabled', true);
  $('#GeneralTitleEditC').html('<div class="alert alert-info fade in">En Proceso, Por favor Espere.!</div>');
  var str = $("#EditCodeAsigForm").serialize();
  $.ajax({ type: "POST", url:  "{{ url('/collection/ve/storeeditcodeasig') }}", data: {str: str},
  success: function(datos)
  {
      if(datos.status == true)
      { 
        $('#TablePendingCode').html(datos.pending);
        $('#TablePending').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 5
        });

        $('#TablePendingConsolide').html(datos.consolidate);
        $('#TableConsolidatePending').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
        });

        $('#TableCodeReport').html(datos.codes);
        $('#TableCodeUtl').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 5
        });

        $('#EditCodeAsigForm')[0].reset();

        $('#EditCodeAsig').modal('hide');

      }else{ 
        $('#EditCodeAsig').modal('hide');
        ErrorNotified(datos); 
        $('#EditCodeSub').prop('disabled', false);
      }
  }
  });
  return false;
});

////////////////////////////// Functions Others //////////////////////////////

function blockUI()
{
  $.blockUI({ css: {
     border: 'none',
     padding: '15px',
     backgroundColor: '#000',
       '-webkit-border-radius': '10px',
       '-moz-border-radius': '10px',
     opacity: .5,
     color: '#fff'
  }});

}

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });

}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });

}



</script>
{% endblock %}