<div class="modal fade" id="DollarModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-dollar" style="font-size: 50px;"></i>
			</div>
			<form class="DollarForms" method="post" id="DollarForms" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
	 				<div class="widget-body">
	 					<div class="widget-body">
							<div class="row" style="text-align: center;">
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<h3><strong> Fecha </strong></h3>
									<fieldset>
										<div class="form-group">
											<input type="text" id="dolar_date" name="dolar_date" class="form-control" placeholder="Fecha" required />
										</div>
									</fieldset>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<h3><strong> Base </strong></h3>
									<fieldset>
										<div class="form-group">
											<input type="number" step="any" id="dolar_base" name="dolar_base" class="form-control" placeholder="Base de Dolar" required />
										</div>
									</fieldset>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<h3><strong> Agregado </strong></h3>
									<fieldset>
										<div class="form-group">
											<input type="number" step="any" id="dolar_agregado" name="dolar_agregado" class="form-control" placeholder="Valor Agregado" required />
										</div>
									</fieldset>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<h3><strong> Tipo </strong></h3>
									<fieldset>
										<div class="form-group">
											<select class="form-control" id="dolar_tipo" name="dolar_tipo" required>
							                    <option value="AM">AM</option>
							                    <option value="PM">PM</option>
											</select>
										</div>
									</fieldset>
								</div>
							</div>
	 					</div>
				        <div class="widget-body">
				        	<div id="DolarTable"></div>
				        </div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Salvar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Terminar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="UploadFilesCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Carga de Archivo por Lote</h4>
      </div>
        <div class="modal-body" style="background: aliceblue;">
          <form class="smart-form" id="FormUploadCode">
            <section>
              <div id="csvAlert"></div>
              <div class="input input-file">
                <span class="button"><input accept=".csv," type="file" name="csv" id='csv' onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="Include some files" readonly="">
              </div>
            </section>
            <section>
              <div class="table-responsive">
                <div id="TableTempCode"></div>
              </div>
            </section>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>
  </div>
</div>

<div class="modal fade" id="PendCodeAdv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"><div id="GeneralTitle"></div></h4>
      </div>
      <form class="LotSusPendCode" method="post" id="LotSusPendCode" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row" style="text-align: center;">
            <label><strong> Desea Eliminar los C&oacute;digos Seleccionados ? </strong></label>
            <fieldset>
              <div class="form-group">
                <div class="col-md-12">
                  <div id="BatchCodePendListProcess">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="submit" id="ConListBtn" class="btn btn-primary">Procesar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="EditConsolideModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"><div id="GeneralTitle"></div></h4>
      </div>
      <form class="FormEditConslide" method="post" id="FormEditConslide" data-parsley-validate="">
		<div class="modal-body" style="background: aliceblue;">
			<div class="widget-body">
				<div class="widget-body">
					<div class="row" style="text-align: center;">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<strong> Fecha </strong>
							<fieldset>
								<div class="form-group">
									<input type="text" id="dolar_date" name="dolar_date" class="form-control" placeholder="Fecha" required />
								</div>
							</fieldset>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<strong> Base </strong>
							<fieldset>
								<div class="form-group">
									<input type="number" step="any" id="dolar_base" name="dolar_base" class="form-control" placeholder="Base de Dolar" required />
								</div>
							</fieldset>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<strong> Agregado </strong>
							<fieldset>
								<div class="form-group">
									<input type="number" step="any" id="dolar_agregado" name="dolar_agregado" class="form-control" placeholder="Valor Agregado" required />
								</div>
							</fieldset>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<strong> Tipo </strong>
							<fieldset>
								<div class="form-group">
									<select class="form-control" id="dolar_tipo" name="dolar_tipo" required>
										<option value="AM">AM</option>
										<option value="PM">PM</option>
									</select>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="widget-body">
					<div id="DolarTable"></div>
				</div>
			</div>
		</div>
        <div class="modal-footer">
          <button type="submit" id="ConListBtn" class="btn btn-primary">Procesar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ConListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"><div id="GeneralTitle"></div></h4>
      </div>
      <form class="ProcessFormCons" method="post" id="ProcessFormCons" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row" style="text-align: center;">
            <label><strong> Desea Procesar la Consolidaci&oacute;n ? </strong></label>
            <fieldset>
              <div class="form-group">
                <div class="col-md-12">
                  <div id="ConListProcess">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="submit" id="ConListBtn" class="btn btn-primary">Procesar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ManualCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"><div id="GeneralTitle"></div></h4>
      </div>
  		<form class="ManualCodeForm" method="post" id="ManualCodeForm" data-parsley-validate="">
			<div class="modal-body" style="background: aliceblue;">
 				<div class="widget-body">

 					<div class="widget-body">
 						<div class="row"><div id="ManualCodeTitle"></div></div>
						<div class="row" style="text-align: center;">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<h5><strong> Fecha </strong></h5>
								<fieldset>
									<div class="form-group">
										<input type="text" id="mc_date" name="mc_date" class="form-control" placeholder="Fecha" required />
									</div>
								</fieldset>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<h5><strong> C&Oacute;DIGO </strong></h5>
								<fieldset>
									<div class="form-group">
										<input type="text" id="mc_code" name="mc_code" class="form-control" placeholder="C&oacute;digo" required />
									</div>
								</fieldset>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<h5><strong> MONTO </strong></h5>
								<fieldset>
									<div class="form-group">
										<input type="number" step="any" id="mc_amount" name="mc_amount" class="form-control" placeholder="Monto Transferido" required />
									</div>
								</fieldset>
							</div>
						</div>
 					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Salvar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Terminar</button>
			</div>
		</form>
    </div>
  </div>
</div>

<div class="modal fade" id="SuspConsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"><div id="GeneralTitle"></div></h4>
      </div>
      <form class="SusConsForm" method="post" id="SusConsForm" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row" style="text-align: center;">
            <label><strong> Desea Suspender la Consolidaci&oacute;n ? </strong></label>
            <fieldset>
              <div class="form-group">
                <div class="col-md-12">
                  <div id="ConSusProcess">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="submit" id="ConSuspBtn" class="btn btn-primary">Procesar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="AnexCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"><div id="GeneralTitle"></div></h4>
      </div>
  		<form class="ManualCodeForm" method="post" id="ManualCodeForm" data-parsley-validate="">
  			<input type="text" id="anexid" name="anexid" hidden readonly/> 
			<div class="modal-body" style="background: aliceblue;">
 				<div class="widget-body">
          <form id="LotTableAnex">
              <div id="TablePendingCodeAnex">
              </div>
          </form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Terminar</button>
			</div>
		</form>
    </div>
  </div>
</div>

<div class="modal fade" id="CodesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
<div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"><div id="GeneralTitle"></div></h4>
      </div>
		<div class="modal-body" style="background: aliceblue;">
				<div class="widget-body">
					<div class="row" style="font-size: 11px;">
						<div id="ViewCodeHtml">

						</div>
					</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Terminar</button>
		</div>
    </div>
  </div>
</div>

<div class="modal fade" id="ClientCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"><div id="GeneralTitle"></div></h4>
      </div>
  		<form class="ManualCodeForm" method="post" id="ManualCodeForm" data-parsley-validate="">
  			<input type="text" id="clientid" name="clientid" hidden readonly/> 
			<div class="modal-body" style="background: aliceblue;">
 				<div class="widget-body">
                    <form id="LotTableClient">
                        <div id="TablePendingCodeClient">
                        </div>
                    </form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Terminar</button>
			</div>
		</form>
    </div>
  </div>
</div>

<div class="modal fade" id="EditCodeAsig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"><div id="GeneralTitleEditC"></div></h4>
      </div>
      <form class="EditCodeAsigForm" method="post" id="EditCodeAsigForm" data-parsley-validate="">
        <input type="text" id="codeid" name="codeid" hidden readonly/> 
      <div class="modal-body" style="background: aliceblue;">
        <div class="widget-body">
          <div class="row" style="text-align: center;">
            <h5><strong> Valor del Dolar </strong></h5>
            <fieldset>
              <div class="form-group">
                <input type="number" step="any" id="ec_dolar" name="ec_dolar" class="form-control" placeholder="Valor del Dolar" required />
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" id="EditCodeSub" class="btn btn-primary">Procesar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Terminar</button>
      </div>
    </form>
    </div>
  </div>
</div>