{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    

    {% if app.session.get('role') == "1" %}
  
      {% include('house/house.html.twig') %}
      
      {% include('house/ceiling.html.twig') %}

    {% endif %}
    
    {% if app.session.get('role') == "1" %}
  
      <div class="row">

        {% include('house/level.html.twig') %}
        
      </div>

    {% endif %}

    </div>
  </div>

{% include('house/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

////////////////////////////// Data House //////////////////////////////

      $('#dt_house').dataTable({
        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
          "t"+
          "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
        "autoWidth" : true,
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        "preDrawCallback" : function() {
          // Initialize the responsive datatables helper once.
          if (!responsiveHelper_dt_basic) {
            responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_house'), breakpointDefinition);
          }
        },
        "rowCallback" : function(nRow) {
          responsiveHelper_dt_basic.createExpandIcon(nRow);
        },
        "drawCallback" : function(oSettings) {
          responsiveHelper_dt_basic.respond();
        }
      });

      $('#formhouse').parsley().on('field:validated', function() {
          var ok = $('.parsley-error').length === 0;
      }).on('form:submit', function() {
          var str = $("#formhouse").serialize();
            $.ajax({ type: "POST", url:  "{{ url('HouseForm') }}", data: {value: str},
              success: function(datos)
              {
                  if(datos.status == true){   
                    $("#alertHouse").html('');
                    $('#NewHouseModal').modal('hide');
                    window.location.href = datos.web;
                  }else{
                      $("#alertHouse").html('');
                      $("#alertHouse").html(datos.html);
                  }
              }
            });
          return false;
      });

////////////////////////////// Data Ceiling //////////////////////////////

    $('#dt_ceiling').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_ceiling'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formceiling').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formceiling").serialize();
          $.ajax({ type: "POST", url:  "{{ url('CeilingForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertCeiling").html('');
                  $('#NewCeilingModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertCeiling").html('');
                    $("#alertCeiling").html(datos.html);
                }
            }
          });
        return false;
    });  

////////////////////////////// Data Level //////////////////////////////
    
    $('#dt_level').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_level'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formlevel').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formlevel").serialize();
          $.ajax({ type: "POST", url:  "{{ url('LevelForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertLevel").html('');
                  $('#NewLevelModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertLevel").html('');
                    $("#alertLevel").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// End Jquery //////////////////////////////

});

////////////////////////// Function House //////////////////////////////

  function HouseEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('HouseEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_ho").val('');
            $("#type_ho").val('edit');
            $("#id_ho").val(datos.house.id);
            $("#name_ho").val(datos.house.name);
            $("select[name=status_id_ho]").val(datos.house.status);
            $("select[name=country_id_ho]").val(datos.house.country);
            $('#NewHouseModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function Ceiling //////////////////////////////

  function CeilingEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('CeilingEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_ce").val('');
            $("#type_ce").val('edit');
            $("#id_ce").val(datos.ceiling.id);
            $("#name_ce").val(datos.ceiling.name);
            $("select[name=status_id_ce]").val(datos.ceiling.status);
            $("select[name=country_id_ce]").val(datos.ceiling.country);
            $('#NewCeilingModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function Level //////////////////////////////

  function LevelEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('LevelEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_lev").val('');
            $("#type_lev").val('edit');
            $("#id_lev").val(datos.level.id);
            $("#name_lev").val(datos.level.name);
            $("select[name=status_id_lev]").val(datos.level.status);
            $("select[name=country_id_lev]").val(datos.level.country);
            $('#NewLevelModal').modal('show');
        }else{
            $("#alertLevel").html('');
        }
      }
   });
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}