<!----------------------------- House Modal ---------------------------->

<div class="modal fade" id="NewHouseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-home" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Casa</h4>
			</div>
			<form class="formhouse" method="post" id="formhouse" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertHouse"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_ho" name="id_ho" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_ho" name="type_ho" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-4">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_ho" name="name_ho" class="form-control" placeholder="Nombre" required />
							</div>
						
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_ho" name="country_id_ho" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_ho" name="status_id_ho" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Level Modal ---------------------------->

<div class="modal fade" id="NewLevelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-home" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Niveles</h4>
			</div>
			<form class="formlevel" method="post" id="formlevel" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertLevel"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_lev" name="id_lev" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_lev" name="type_lev" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-4">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_lev" name="name_lev" class="form-control" placeholder="Nombre" required />
							</div>				
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_lev" name="country_id_lev" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_lev" name="status_id_lev" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Ceiling Modal ---------------------------->

<div class="modal fade" id="NewCeilingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-home" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Techo</h4>
			</div>
			<form class="formceiling" method="post" id="formceiling" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertCeiling"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_ce" name="id_ce" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_ce" name="type_ce" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-4">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_ce" name="name_ce" class="form-control" placeholder="Nombre" required />
							</div>
						
						</div>
						<div class="col-md-4">
							
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_ce" name="country_id_ce" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>

						</div>
						<div class="col-md-4">
						
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_ce" name="status_id_ce" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>

						</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>