{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    
      {% include('banks/bank.html.twig') %}
      
      {% include('banks/payment.html.twig') %}
    </div>
  </div>

{% include('banks/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

////////////////////////////// Data Bank //////////////////////////////

    $('#dt_bank').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_bank'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formbank').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formbank").serialize();
          $.ajax({ type: "POST", url:  "{{ url('BankForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertBank").html('');
                  $('#NewBankModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertBank").html('');
                    $("#alertBank").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// Data Payment //////////////////////////////

    $('#dt_payment').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_payment'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formpayment').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formpayment").serialize();
          $.ajax({ type: "POST", url:  "{{ url('PaymentForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertPayment").html('');
                  $('#NewPaymentModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertPayment").html('');
                    $("#alertPayment").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// End Jquery //////////////////////////////

});

////////////////////////// Function Banks //////////////////////////////

  function BankEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('BankEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_ba").val('');
            $("#type_ba").val('edit');
            $("#id_ba").val(datos.bank.id);
            $("#name_ba").val(datos.bank.name);
            $("#rout_ba").val(datos.bank.rout);
            $("select[name=status_id_ba]").val(datos.bank.status);
            $("select[name=country_id_ba]").val(datos.bank.country);
            $('#NewBankModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function Payment //////////////////////////////

  function PaymentEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('PaymentEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_pa").val('');
            $("#type_pa").val('edit');
            $("#id_pa").val(datos.payment.id);
            $("#name_pa").val(datos.payment.name);
            $("select[name=status_id_pa]").val(datos.payment.status);
            $("select[name=country_id_pa]").val(datos.payment.country);
            $('#NewPaymentModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}