<!----------------------------- Banks Modal ---------------------------->

<div class="modal fade" id="NewBankModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Banco's</h4>
			</div>
			<form class="formbank" method="post" id="formbank" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertBank"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_ba" name="id_ba" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_ba" name="type_ba" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_ba" name="name_ba" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Ruta</label>
								<input type="text" id="rout_ba" name="rout_ba" class="form-control" placeholder="Ruta" required />
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_ba" name="country_id_ba" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_ba" name="status_id_ba" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Payment Modal ---------------------------->

<div class="modal fade" id="NewPaymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Metodos de Pago</h4>
			</div>
			<form class="formpayment" method="post" id="formpayment" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertPayment"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_pa" name="id_pa" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_pa" name="type_pa" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombres</label>
								<input type="text" id="name_pa" name="name_pa" class="form-control" placeholder= "Nombres" required />
							</div>
							<div class="form-group">
								<label for="category"> Servicios</label>
								<select class="form-control" id="service_id_pa" name="service_id_pa" required>
									{% for ser in services %}
										{% if ser['status_id'] == "1" %}
											<option value="{{ ser['id'] }}"> {{ ser['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_pa" name="country_id_pa" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_pa" name="status_id_pa" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>