{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Collection</li>
    </ol>
  </div>
  <div id="content">    

      {% include('collection/sheetrecogido.html.twig') %}

    </div>
  </div>

{% include('collection/modal.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
<script type="text/javascript">

$(function() 
{

//   $("#from").datepicker({
//     dateFormat: 'mm-dd-yy',
//     yearRange: 'c-60:c+10',
//     defaultDate: "+1w",
//     changeMonth: true,
//     changeYear: true,
//     prevText: '<i class="fa fa-chevron-left"></i>',
//     nextText: '<i class="fa fa-chevron-right"></i>',
//       onClose: function (selectedDate) {
//         $("#to").datepicker("option", "maxDate", selectedDate);
//         var str = $("#rangeDate").serialize();
//         $.ajax({ type: "POST", url:  "{{ url('/Collection/SheetLoadDate') }}", data: {str:str},

//         success: function(data)
//         {
//           $("#TableSheetDay").html(data.html);
//           $('#ServTable').DataTable({
//             aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
//             pageLength: 10
//           });       
            
//         }
//         });
//       }
//   });
  
//   $("#to").datepicker({
//     dateFormat: 'mm-dd-yy',
//     yearRange: 'c-60:c+10',
//     defaultDate: "+1w",
//     changeMonth: true,
//     changeYear: true,
//     prevText: '<i class="fa fa-chevron-left"></i>',
//     nextText: '<i class="fa fa-chevron-right"></i>',
//       onClose: function (selectedDate) {
//         $("#from").datepicker("option", "minDate", selectedDate);
//       }
//   });

//   $("#reco_date").datepicker({
//     dateFormat : 'mm-dd-yy',
//     changeMonth: true,
//     changeYear: true,
//     numberOfMonths: 1,
//     prevText: '<i class="fa fa-chevron-left"></i>',
//     nextText: '<i class="fa fa-chevron-right"></i>'
//   });
// });

// function NewSheet()
// {
//   $('#RecogidoInternet')[0].reset();
//   $("#AlertSheetModal").html('');
//   $('#NewCollectionFormsModal').modal('show');  
// }

// function SubmitSheetPrev()
// {
//   var date    = $('#reco_date').val();
//   var id      = $('#mikro_id').val();

//   if($('#reco_date').val() == "" || $('#mikro_id').val() == "")
//   {
//     $('#AlertSheetModal').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i> Existen datos faltantes, Verificar.</div>');
//   }else{

//     $('#AlertSheetModal').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, por favor espere.</div>');
//     $.ajax({ type: "POST", url:  "{{ url('/Collection/SheetCreation') }}", data: {id: id, date: date},
//     success: function(datos)
//     {
//       if(datos.status == true)
//       {
        
//         $('#NewCollectionFormsModal').modal('hide');  
//         $('#RecogidoInternet')[0].reset();
//         $("#SheedBody").html('');
//         $("#SheedBody").html(datos.html);
//         $("#r_04").datepicker({
//           dateFormat : 'mm-dd-yy',
//           changeMonth: true,
//           changeYear: true,
//           numberOfMonths: 1,
//           prevText: '<i class="fa fa-chevron-left"></i>',
//           nextText: '<i class="fa fa-chevron-right"></i>'
//         });
//         $('#ViewCollectionFormsModal').modal('show');  

//       }else{
//         ErrorNotified(datos);
//         $('#RecogidoInternet')[0].reset();
//         $('#alarmPrevNot').html(datos.html);
//         $('#NewCollectionFormsModal').modal('hide');
//         $('#ViewCollectionFormsModal').modal('hide');
//       }
//     }
//   });

// }

// function SubmitSheetService()
// {
//   var sheet = $('#BodySubSheet').serialize();
//   $.ajax({ type: "POST", url:  "{{ url('/Collection/SheetSave') }}", data: {str: sheet},
//   success: function(datos)
//   {
//       if(datos.status == true)
//       {
//         SuccessNotified(datos);        
//         // window.location.href = "SheetDownload.php?datos="+datos.dataID+"";
//         window.location.href = "{{ url('/Collection') }}";
//       }else{
//         ErrorNotified(datos);
//         $('#BodySubSheet')[0].reset();
//         $('#NewCollectionFormsModal').modal('hide');
//       }
//   }
//   });

// }

// /////////////////////////////////////////////////////////////////////////////////

// function ErrorNotified($info)
// {

//   $.smallBox({
//     title : $info.title,
//     content : $info.content,
//     color : "#C46A69",
//     iconSmall : "fa fa-warning shake animated",
//     timeout : 4000
//   });
// }

// function SuccessNotified($info)
// {

//   $.smallBox({
//     title : $info.title,
//     content : $info.content,
//     color : "#739E73",
//     iconSmall : "fa fa-check",
//     timeout : 4000
//   });
// }

//   function blockUI()
//   {
//       $.blockUI({ css: {
//        border: 'none',
//        padding: '15px',
//        backgroundColor: '#000',
//          '-webkit-border-radius': '10px',
//          '-moz-border-radius': '10px',
//        opacity: .5,
//        color: '#fff'
//     }});
//   }

}
</script>
{% endblock %}