<div class="modal fade" id="NewCollectionFormsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Recogido de Internet</h4>
      </div>
      <form class="RecogidoInternet" method="post" id="RecogidoInternet" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertSheetModal"></div></div>
          <div class="row" style="text-align: center;">
            <div class="form-group">
              <div class="col-md-12">
                <label><strong> Indique N&uacute;mero de Cliente Mikrowisp </strong></label>
                <input class="form-control" type="number" id="mikro_id" name="mikro_id" placeholder="Numero de Cliente" required>
              </div>
              <div class="col-md-12" style="margin-top: 10px;">
                <label><strong> Fecha de Servicio </strong></label>
                <input class="form-control" type="text" id="reco_date" name="reco_date" placeholder="Fecha de Servicio" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="SubmitSheetPrev();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="ViewCollectionFormsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa fa-edit" style="font-size: 50px;"></i>
        <h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Recogido de Internet</h4>
      </div>
        <div class="modal-body" style="background: aliceblue;">
          <div class="widget-body no-padding">
            <form class="smart-form" method="post" id="BodySubSheet" data-parsley-validate="">
            <div id="SheedBody"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <a onclick="SubmitSheetService();" class="btn btn-success">PROCESAR</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="EditCollectionFormsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa fa-edit" style="font-size: 50px;"></i>
        <h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Recogido de Internet</h4>
      </div>
        <div class="modal-body" style="background: aliceblue;">
          <div class="widget-body no-padding">
            <form class="smart-form" method="post" id="BodySubSheet" data-parsley-validate="">
            <div id="SheedBody"></div>


              
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <a onclick="SubmitSheetService2();" class="btn btn-success">PROCESAR</a>
        </div>
      </form>
    </div>
  </div>
</div>