{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Collection PR</li>
    </ol>
  </div>
  <div id="content">    
  
      {% include('collection/sheetrecogido.html.twig') %}
      
    </div>
  </div>

{% include('collection/modal.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
<script type="text/javascript">

$(function() 
{


}
</script>
{% endblock %}