<div class="row" style="margin-top: 10px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Listado de Facturas Pendientes </h2>
          </header>
          <div>
            <div class="jarviswidget-editbox"></div>
            
            <div class="widget-body no-padding">
              <div class="table-responsive">
                <div id="TableBills"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Listado Pagos de Clientes </h2>
          </header>
          <div>
            <div class="jarviswidget-editbox"></div>
            
            <div class="widget-body no-padding">
              <div class="table-responsive">
                <div id="TableReports"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>