<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row" style="margin-top: 10px;">
      <article class="col-sm-12">
        <!-- new widget -->
        <div class="jarviswidget" id="wid-id-0"  data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
          <header>
            <h2>Listado de Clientes </h2>
            <ul class="nav nav-tabs pull-right in" id="myTab">
              <li class="active"><a data-toggle="tab" href="#cl1"><i class="fa fa-lg fa-warning"></i> <span class="hidden-mobile hidden-tablet"> Activos </span></a></li>
              <li><a data-toggle="tab" href="#cl2"><i class="fa fa-lg fa-history"></i> <span class="hidden-mobile hidden-tablet"> Suspendidos </span></a></li>
              <li><a data-toggle="tab" href="#cl3" id="cl3"><i class="fa fa-lg fa-upload"></i> <span class="hidden-mobile hidden-tablet"> File Upload </span></a></li>
            </ul>
          </header>
          <div class="no-padding">        
            <div class="widget-body">

              <div class="tab-content ">
               
                <div class="tab-pane active" id="cl1">
                  <div class="table-responsive">
                    <div id="TableClientAct" style="font-size: 11px;">
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="cl2">
                  <div class="table-responsive">
                    <div id="TableClientSus" style="font-size: 11px;"></div>
                  </div>
                </div>

             </div>

            </div>

          </div>
        </div>
      </article>
    </div>
  </div>
</div>