<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row" style="margin-top: 10px;">
      <article class="col-sm-12">
        <!-- new widget -->
        <div class="jarviswidget" id="wid-id-0"  data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
          <header>
            <h2>Listado de Consolidados </h2>
            <ul class="nav nav-tabs pull-right in" id="myTab">
              <li><a data-toggle="tab" href="#co5" id="co5"><i class="fa fa-lg fa-refresh"></i> </a></li>
              <li class="active"><a data-toggle="tab" href="#co1"><i class="fa fa-lg fa-warning"></i> <span class="hidden-mobile hidden-tablet"> Consolidados </span></a></li>
              <li><a data-toggle="tab" href="#co4" id="co4"><i class="fa fa-lg fa-check"></i> </a></li>
              <li><a data-toggle="tab" href="#co2"><i class="fa fa-lg fa-history"></i> <span class="hidden-mobile hidden-tablet"> Pendientes </span></a></li>
              <li><a data-toggle="tab" href="#co3"><i class="fa fa-lg fa-tasks"></i> <span class="hidden-mobile hidden-tablet"> Procesados </span></a></li>
            </ul>
          </header>
          <div class="no-padding">        
            <div class="widget-body">

              <div class="tab-content ">
               
                <div class="tab-pane active" id="co1">
                  <div class="table-responsive">
                    <div id="TableConsolite" style="font-size: 11px;">

                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="co2">
                  <div id="TableConsolitePending" style="font-size: 11px;">
                  </div>
                </div>

                <div class="tab-pane" id="co3">
                  <div class="table-responsive">
                    <div id="TableConsoliteProcess" style="font-size: 11px;">
                    </div>
                  </div>
                </div>

             </div>

            </div>

          </div>
        </div>
      </article>
    </div>
  </div>
</div>