{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Collection VE</li>
    </ol>
    <ol class="pull-right">
      <!-- <a onclick="Reset();" class="btn btn-warning btn-xs" style="color: white; margin-top: 10px;">Reinicio</a> -->
      <a onclick="ConsolideProccess();" class="btn btn-success btn-xs" style="color: white; margin-top: 10px;">Conciliaci&oacute;n</a>
    </ol> 
  </div>
  <div id="content">    

      {% include('collection/VeClients.html.twig') %}

      {% include('collection/VeConsolidate.html.twig') %}
      
      {% include('collection/VePending.html.twig') %}

    </div>
  </div>

{% include('collection/VeModal.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
<script type="text/javascript">

$(function() 
{


  // $('#TestModal').modal('show');

  Load();

  $("#csv").change(function() 
  {
    $('#csvAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong>Informacion!</strong> En Proceso, Por favor espere.</div>');
    // blockUI();
    var fd = new FormData();
    fd.append('csv', this.files[0]);
    $('#csvAlert').html('');
    var ty = $('#csv_type').val();
    $.ajax({
      url:  "{{ url('/Collection/UploadVE') }}", 
      type: "POST",
      dataType: 'json',
      processData: false,
      contentType: false,
      data: fd, ty,
      success: function(datos)
      {
        $.unblockUI();
        $('#csvAlert').html('');

        if(datos.status == true)
        {
          $('#Tableexampled').html(datos.html);
          $('#ve_codes').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
          });
        }else{
          ErrorNotified(datos);
        }
      }
    });

  });

  $("#cl3").click(function(event) 
  {
    $('#FormUploadCsv')[0].reset();
    $('#Tableexampled').html('');
    $('#UploadFilesCode').modal('show');
  });

  $('#ve_cons_pend').DataTable({
    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    pageLength: 10
  });

  $("#co4").click(function(event) 
  {
    $('#ConListProcess').html('');
    $('#ConListBtn').prop('disabled', false);
    $('#ConListModal').modal('show');

  });

  $("#co5").click(function(event) 
  {
    blockUI();
    ShowInfo();
  });


  $('#ProcessFormCons').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    $('#ConListBtn').prop('disabled', true);
    $('#ConListProcess').html('<div class="alert alert-info fade in">En Proceso, Por favor Espere.!</div>');
    var str = $("#PendingLotCode").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Collection/ConsolideMultiple') }}", data: {str: str},
    success: function(datos)
    {
        if(datos.status == true)
        { 
          $('#ConListProcess').html(datos.html);
          ShowInfo();
        }else{ 
          $('#ConListModal').modal('hide');
          $('#ConListProcess').html('');
          ErrorNotified(datos); 
          $('#ConListBtn').prop('disabled', false);
        }
    }
    });
    return false;
  });


});

/////////////////////////////////////////////////////////////////////////////////

  function Load()
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Collection/LoadVE') }}",
    success: function(datos)
    {
      $.unblockUI();

      $('#TableClientAct').html(datos.clAct);
      $('#cl_active').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableClientSus').html(datos.clSus);
      $('#cl_suspendidos').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableConsolite').html(datos.coCon);
      $('#ve_consolidate').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableConsolitePending').html(datos.coPen);
      $('#ve_cons_pend').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableConsoliteProcess').html(datos.coPro);
      $('#ve_process').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableRepClient').html(datos.clPen);
      $('#cl_reports_pay').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableRepBils').html(datos.blPen);
      $('#ve_bills').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

    }
    });
  
  }

  function ShowInfo()
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Collection/ShowInfo') }}",
    success: function(datos)
    {

      $('#TableClientAct').html(datos.clAct);
      $('#cl_active').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableClientSus').html(datos.clSus);
      $('#cl_suspendidos').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableConsolite').html(datos.coCon);
      $('#ve_consolidate').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableConsolitePending').html(datos.coPen);
      $('#ve_cons_pend').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableConsoliteProcess').html(datos.coPro);
      $('#ve_process').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableConsolitePending').html(datos.coPen);
      $('#ve_cons_pend').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableConsoliteProcess').html(datos.coPro);
      $('#ve_process').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableRepClient').html(datos.clPen);
      $('#cl_reports_pay').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $('#TableRepBils').html(datos.blPen);
      $('#ve_bills').DataTable({
        aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 10
      });

      $.unblockUI();
    }
    }); 
  }


  function EditPreCode(id)
  {
    var amount  =   $('#amount'+id+'').val();
    $.ajax({ type: "POST", url:  "{{ url('/Collection/EditAmountCode') }}", data: {id:id, amount: amount},
    success: function(datos)
    {
        $.unblockUI();
        if(datos.status == true){ SuccessNotified(datos); }else{ ErrorNotified(datos); }
    }
    });
  }

  function ProcessCodeTemp()
  {
    $('#csvAlert').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong>Informacion!</strong> En Proceso, Por favor espere.</div>');
    $.ajax({ type: "POST", url:  "{{ url('/Collection/ProcessCodeTemp') }}",
    success: function(datos)
    {
      $('#csvAlert').html('');
      ShowInfo();
      if(datos.status == true)
      { 
        window.location.href = "{{ url('/Collection/ReportCodeTemp') }}"; 
        SuccessNotified(datos); 
        ShowInfo();
      }else{ ErrorNotified(datos); }
      $('#UploadFilesCode').modal('hide');
    }
    });
  }

  function ConsolideProccess()
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Collection/ConsolideProccess') }}",
    success: function(datos)
    {
        $.unblockUI();
        if(datos.status == true)
        { 
          SuccessNotified(datos); 
          
          $('#TableConsolite').html(datos.cHtml);
          $('#ve_consolidate').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
          });

          $('#TableConsolitePending').html(datos.pHtml);
          $('#ve_cons_pend').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
          });
        }else{ ErrorNotified(datos); }
    }
    });
  }



/////////////////////////////////////////////////////////////////////////////////
  
  function EditConsProc(id)
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Collection/EditConsProc') }}", data: { id:id },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      {
        $('#GeneralTitle').html('Edici&oacute;n Cliente Consolidado'); 
        $('#GeneralBody').html(datos.html); 
        $('#GeneralModal').modal('show');
      }
    }
    });
  }

  function UpdateCons(id)
  {
    var amount  = $('#co_amount').val();

    $('#AlertEditConso').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong>Informacion!</strong> En Proceso, Por favor espere.</div>');
    
    $.ajax({ type: "POST", url:  "{{ url('/Collection/UpdateCons') }}", data: { id:id, amount:amount },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true){ 
        SuccessNotified(datos); 
        $('#GeneralModal').modal('hide'); 
        $('#TableConsolite').html(datos.cHtml);
        $('#ve_consolidate').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
        });

        $('#TableConsolitePending').html(datos.pHtml);
        $('#ve_cons_pend').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
        });
      }else{ ErrorNotified(datos); }
    }
    });

  }

  function ProcConsProc(id)
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Collection/ProcConsProc') }}", data: { id:id },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      { 
        SuccessNotified(datos); 
        ShowInfo();
      }else{ ErrorNotified(datos); }
    }
    });
  }

/////////////////////////////////////////////////////////////////////////////////

  function AsigCode(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/Collection/AsigCode') }}", data: { id:id },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      { 
        $('#GeneralBody').html(datos.html);
        $('#exampled').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10
        });

        $('#GeneralModal').modal('show'); 
      }else{ ErrorNotified(datos); }
    }
    });
  
  }

  function AsigRepClient(id)
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Collection/AsigRepClient') }}", data: { id:id },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      { 
        $('#GeneralBody').html(datos.html);
        $('#SearchRepClient').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 5
        });
        $('#GeneralModal').modal('show');
      }else{ ErrorNotified(datos); }
    }
    });
  }

  function UpdateAsigRepClient()
  {
    $('#AlertAsigRepClient').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong>Informacion!</strong> En Proceso, Por favor espere.</div>');
    var formData = new FormData(document.getElementById("FormAsigRepClient"));
    $.ajax({ 
      type: "POST", 
      url:  "{{ url('/Collection/UpdateAsigRepClient') }}",
      data: formData,
      processData: false,
      contentType: false,
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      { 
        $('#AlertAsigRepClient').html('');
        SuccessNotified(datos); 
        ShowInfo();
        $('#GeneralModal').modal('hide'); 
      }else{ ErrorNotified(datos); $('#AlertAsigRepClient').html(''); }
    }
    });
  }

  function ManRepClient(id)
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Collection/ShowManRepClient') }}", data: { id:id },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      { 
        $('#GeneralBody').html(datos.html);
        $('#mw_date').datepicker({
          dateFormat: 'mm-dd-yy',
          yearRange: 'c-60:c+10',
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
        });
        $('#GeneralModal').modal('show'); 
      }else{ ErrorNotified(datos); }
    }
    });
  }

  function ProcessPendAsigned(id)
  {
    var code = $('#mw_code').val();
    var mont = $('#mw_amount').val();
    var date = $('#mw_date').val();

    if((code != "") && (mont != "") && (date != ""))
    {
      $('#AlertPendAsig').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong>Informaci&oacute;n!</strong> Procesando, por favor espere.</div>');
      var formData = new FormData(document.getElementById("FormPendAsig"));
      $.ajax({ 
        type: "POST", 
        url:  "{{ url('/Collection/UpdateProcessPendAsigned') }}",
        data: formData,
        processData: false,
        contentType: false,
      success: function(datos)
      {
        $.unblockUI();
        if(datos.status == true)
        { 
          SuccessNotified(datos); 
          ShowInfo();
          $('#GeneralModal').modal('hide'); 
        }else{ $('#AlertPendAsig').html(''); ErrorNotified(datos); }
      }
      });
    }else{
      $('#AlertPendAsig').html('<div class="alert alert-danger fade in"><i class="fa-fw fa fa-danger"></i><strong>Informaci&oacute;n!</strong> Debe ingresar todos los datos para procesar la solicitud</div>');
    }
  }


  function SearchMWClient()
  {
    var client = $('#iSearchAsig').val();

    if(client != "")
    {
      $.ajax({ type: "POST", url:  "{{ url('/Collection/SearchMWClient') }}", data: { client:client },
      success: function(datos)
      {
        $.unblockUI();
        if(datos.status == true)
        { 
          $('#mw_name').val(datos.name);
          $('#mw_id').val(datos.id);
          $('#mw_bills_option').html(datos.bills);
        }else{ ErrorNotified(datos); }
      }
      });
    }else{
      $.smallBox({
        title : "Error",
        content : "Debe Contener Un ID Valido",
        color : "#C46A69",
        iconSmall : "fa fa-warning shake animated",
        timeout : 4000
      });
    }
  }

  function UpdateAsigned()
  {
    var name  = $('#mw_name').val();
    var id    = $('#mw_id').val();
    var bill  = $('#mw_bills').val();

    if( (name == "") || (name == "") || (bill == ""))
    {
      $.smallBox({
        title : "Error",
        content : "Datos Faltantes o No presenta facturas Validas",
        color : "#C46A69",
        iconSmall : "fa fa-warning shake animated",
        timeout : 4000
      });
    }else{

      var formData = new FormData(document.getElementById("ConPendAsig"));
      $.ajax({ 
        type: "POST", 
        url:  "{{ url('/Collection/UpdateAsigned') }}",
        data: formData,
        processData: false,
        contentType: false,
      success: function(datos)
      {
        $.unblockUI();
        if(datos.status == true)
        { 
          SuccessNotified(datos); 
          ShowInfo();
          $('#GeneralModal').modal('hide'); 
        }else{ ErrorNotified(datos); }
      }
      });
    }

  }

/////////////////////////////////////////////////////////////////////////////////

  function AsiBillPen(id)
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Collection/AsiBillPen') }}", data: { id:id },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      { 
        $('#GeneralBody').html(datos.html);
        $('#SearchRepClient').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 5
        });

        $('#GeneralModal').modal('show'); 
      }else{ ErrorNotified(datos); }
    }
    });

  }

  function ManBillPen(id)
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Collection/ShowManBillPen') }}", data: { id:id },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      { 
        $('#GeneralBody').html(datos.html);
        $('#mw_date').datepicker({
          dateFormat: 'mm-dd-yy',
          yearRange: 'c-60:c+10',
          defaultDate: "+1w",
          changeMonth: true,
          changeYear: true,
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
        });
        $('#GeneralModal').modal('show'); 
      }else{ ErrorNotified(datos); }
    }
    });
  }

/////////////////////////////////////////////////////////////////////////////////

function ShowInfoClient(id)
{
    $.ajax({ type: "POST", url:  "{{ url('/Collection/ShowInfoClient') }}", data: { id:id },
    success: function(datos)
    {
      $.unblockUI();
      if(datos.status == true)
      { 
        $('#BodyModalClient').html(datos.html);
        $('#BillsClients').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 5
         });
        $('#ModalClient').modal('show'); 
      }else{ ErrorNotified(datos); }
    }
    });
}

/////////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////////

  function ErrorNotified($info)
  {

    $.smallBox({
      title : $info.title,
      content : $info.content,
      color : "#C46A69",
      iconSmall : "fa fa-warning shake animated",
      timeout : 4000
    });
  
  }

  function SuccessNotified($info)
  {

    $.smallBox({
      title : $info.title,
      content : $info.content,
      color : "#739E73",
      iconSmall : "fa fa-check",
      timeout : 4000
    });
  
  }

  function blockUI()
  {
    $.blockUI({ css: {
      border: 'none',
      padding: '15px',
      backgroundColor: '#000',
       '-webkit-border-radius': '10px',
       '-moz-border-radius': '10px',
      opacity: .5,
      color: '#fff'
    }});
  
  }



</script>
{% endblock %}