<div class="modal fade" id="UploadFilesCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Carga de Archivo por Lote</h4>
      </div>
        <div class="modal-body" style="background: aliceblue;">
          <form class="smart-form" id="FormUploadCsv">
            <section>
              <div id="csvAlert"></div>
              <div class="input input-file">
                <span class="button"><input accept=".csv," type="file" name="csv" id='csv' onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="Include some files" readonly="">
              </div>
            </section>
            <section>
              <div class="table-responsive">
                <div id="Tableexampled"></div>
              </div>
            </section>
          </form>
        </div>
        <div class="modal-footer">
          <a onclick="ProcessCodeTemp();" class="btn btn-success">PROCESAR</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>
  </div>
</div>

<div class="modal fade" id="GeneralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"><div id="GeneralTitle"></div></h4>
      </div>
      <div id="GeneralBody">  

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ConListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel"><div id="GeneralTitle"></div></h4>
      </div>
      <form class="ProcessFormCons" method="post" id="ProcessFormCons" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row" style="text-align: center;">
            <label><strong> Desea Procesar la Consolidaci&oacute;n ? </strong></label>
            <fieldset>
              <div class="form-group">
                <div class="col-md-12">
                  <div id="ConListProcess">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="submit" id="ConListBtn" class="btn btn-primary">Procesar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Informaci&oacute;n del Cliente</h4>
      </div>
      <div id="TestBody">
        <div class="modal-body" style="background: aliceblue;">
          <form id="FormPendAsig">
            <div id="AlertPendAsig"></div>
            <div class="row" style="text-align: center; margin-top: 10px;">
              
              <div id="BodyModalClient"></div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>