<div class="row" style="margin-top: 10px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Carga de Archivos </h2>
          </header>
          <div>
            <div class="jarviswidget-editbox"></div>
            
            <!-- <div class="widget-body no-padding">
              <form class="smart-form">
                <fieldset>
                  <section>
                    <label class="label">File input</label>
                    <div class="input input-file">
                      <span class="button"><input accept=".csv," type="file" name="csv" id='csv' onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="Include some files" readonly="">
                    </div>
                  </section>
                </fieldset>
              </form>
            </div>
            <div class="widget-body">
              <div class="table-responsive">
                <div id="Tableexampled" style="font-size: 11px;"></div>
              </div>
            </div>
            <div class="widget-footer">
              <a onclick="ProcessCodeTemp();" class="btn btn-success btn-sm"> Registrar Pagos</a>
            </div> -->
            
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      </div>

    </div>
  </div>
</div>