{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Servicio Cliente - B24</li>
    </ol>
  </div>
  <div id="content">    
      
      {% include('B24/info.html.twig') %}

  </div>
</div>

{% include('B24/modal.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
<script type="text/javascript">

  function NewTicket()
  {
    document.getElementById('forms-b24').reset();
    document.getElementById('TableB24').innerHTML = '';
    document.getElementById('alertB24').innerHTML = '';
    $('#forms-info').addClass('show');
    $('#forms-info').removeClass('hidden');

    $('#SaveTicket').removeClass('hidden');
    $('#ProcessTicket').addClass('hidden');

    $('#NewTicket').modal('show');

  }
      $('#forms-b24').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
      }).on('form:submit', function() {
        
        $('#btn-type').val(document.getElementById('SaveTicket').value);
        var str = $('#forms-b24').serialize();
      
        var urls   = '';
        if($('#btn_type').val() == 's') 
        { 
          urls = "{{ url('/b24/search') }}";  
        }   else { 
          urls = "{{ url('/b24/process') }}"; 
        }

        $.ajax({ type: "POST", url:  urls, data: {str: str},
        beforeSend: function(request)
        {
          $('#forms-info').addClass('hidden');
          document.getElementById('alertB24').innerHTML = '<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong> Procesando </strong> Por Favor Espere...</div>';
        },
        success: function(datos)
        {
          
          if(datos.type == 's')
          {
            if(typeof(datos.html) != "undefined")
            {
              $('#btn_type').val(document.getElementById('ProcessTicket').value);
              document.getElementById('TableB24').innerHTML = datos.html;
              $('#SaveTicket').addClass('hidden');
              $('#ProcessTicket').removeClass('hidden');
            }else{
              $('#btn_type').val('u');
              document.getElementById('TableB24').innerHTML = '';
            }
            document.getElementById('alertB24').innerHTML = '<div class="alert alert-success fade in"><i class="fa-fw fa fa-success"></i><strong> Resultado </strong>'+datos.message+'</div>';

          }
          else if(datos.type == 'p')
          {
            console.log(other);
          }
        }
        });
        return false;
      });


  // function SaveTicket()
  // {
  //   // let info = $("#forms-b24").serialize();
  //   let data = document.getElementById('b24_input').value;

  //   if(data == "")
  //   {
  //     document.getElementById('alertB24').innerHTML = '<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i><strong> Alerta </strong> Debe completar los campos.</div>';
  //   } else {

  //     document.getElementById('alertB24').innerHTML = '';
  //     $('#forms-b24').parsley().on('field:validated', function() {
  //       var ok = $('.parsley-error').length === 0;
  //     }).on('form:submit', function() {
  //       var str = $('#forms-b24').serialize();
  //       $.ajax({ type: "POST", url:  "{{ url('/b24/search') }}", data: {str: str},
  //       beforeSend: function(request){
  //         document.getElementById('alertB24').innerHTML = '<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong> Procesando </strong> Por Favor Espere...</div>';
  //       },
  //       success: function(datos)
  //       {
  //         if(typeof(datos.html) != "undefined")
  //         {
  //           document.getElementById('TableB24').innerHTML = datos.html;
  //           $('#SaveTicket').addClass('hidden');
  //           $('#ProcessTicket').removeClass('hidden');
  //         }else{
  //           document.getElementById('TableB24').innerHTML = '';
  //         }

  //         document.getElementById('alertB24').innerHTML = '<div class="alert alert-success fade in"><i class="fa-fw fa fa-success"></i><strong> Resultado </strong>'+datos.message+'</div>';
  //       }
  //       });
  //       return false;
  //     });
  //   }
  // }

  function ProcessTicket()
  {
    $('#forms-b24').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
      document.getElementById('alertB24').innerHTML = '<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong> Procesando </strong> Por Favor Espere...</div>';
      var str = $('#forms-b24').serialize();
      $.ajax({ type: "POST", url:  "{{ url('/b24/process') }}", data: {str: str},
      success: function(datos)
      {
          if(datos.status == true)
          { 
            $('#ConListProcess').html(datos.html);
            ShowInfo();
          }else{ 
            $('#ConListModal').modal('hide');
            $('#ConListProcess').html('');
            ErrorNotified(datos); 
            $('#ConListBtn').prop('disabled', false);
          }
      }
      });
      return false;
    });
  }

</script>
{% endblock %}
