<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <a class="btn btn-primary btn-xs" onclick="NewTicket();"><i class="fa fa-edit"></i> Nuevo Ticket</a>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Servicios Bitrix24 </h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">
            <table id="dt_bank" class="table table-striped table-bordered table-hover" width="100%">
              <thead>                     
                <tr>
                  <th data-hide="user">ID</th>
                  <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Mikrowisp</th>
                  <th data-hide="user"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Cliente</th>
                  <th data-hide="user"><i class="fa fa-fw fa-flag text-muted hidden-md hidden-sm hidden-xs"></i> Telefono</th>
                  <th data-class="expand"><i class="fa fa-fw fa-check text-muted hidden-md hidden-sm hidden-xs"></i> Correo</th>
                  <th data-hide="user"><i class="fa fa-fw fa-edit text-muted hidden-md hidden-sm hidden-xs"></i> Status</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>