<div class="modal fade" id="NewTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Servcicos</h4>
			</div>
			<form id="forms-b24" name="forms-b24" method="post" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertB24"></div>
					</div> 
					<div class="row" id="forms-info">
						<div class="col-md-6">
							<input type="text" id="btn_type" name="btn_type" class="form-control hidden" value="s"/>
							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="b24_input" name="b24_input" class="form-control" placeholder="Nombre, Telefono o email del cliente" required />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Tipo de Busqueda</label>
								<select class="form-control" id="b24_type" name="b24_type" required>
									<option value="1"> Tel&eacute;fono</option>
									<option value="2"> Nombre</option>
									<option value="3"> Email</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="TableB24"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary" value="s" id="SaveTicket"> Buscar</button>
					<button type="submit" class="btn btn-primary hidden" value="p" id="ProcessTicket"> Procesar</button>
				</div>
			</form>
		</div>
	</div>
</div>
