{% extends 'layouts/index.html.twig' %}

{% block content %}

<div id="main" role="main">
	<div id="ribbon">
    	<ol class="breadcrumb">
      		<li>Home</li><li>Test</li>
    	</ol>
  	</div>
  	<div id="content">

          <div class="row">
        
            <h2 class="row-seperator-header"><i class="glyphicon glyphicon-picture"></i> Test</h2>
        
            <div class="col-sm-12">
        
              <div class="row">
        
                <div id="map"></div>

                <input type="text" id="coords" />

              </div>
        
            </div>
        
          </div>

  	</div>
</div>

{% endblock %}

{% block js %}
    {{ parent() }}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmScbfZ1jRKJH262lqWAfX_HGBbgra1Ao&libraries=places&callback=initMap"
    async defer></script>
<script type="text/javascript">

$(function() 
{

  initMap = function () 
  {

      //usamos la API para geolocalizar el usuario
          navigator.geolocation.getCurrentPosition(
            function (position){
              coords =  {
                lng: position.coords.longitude,
                lat: position.coords.latitude
              };
              setMapa(coords);  //pasamos las coordenadas al metodo para crear el mapa
              
             
            },function(error){console.log(error);});
      
  }

  function setMapa (coords)
  {   
        //Se crea una nueva instancia del objeto mapa
        var map = new google.maps.Map(document.getElementById('map'),
        {
          zoom: 13,
          center:new google.maps.LatLng(coords.lat,coords.lng),

        });

        //Creamos el marcador en el mapa con sus propiedades
        //para nuestro obetivo tenemos que poner el atributo draggable en true
        //position pondremos las mismas coordenas que obtuvimos en la geolocalización
        marker = new google.maps.Marker({
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP,
          position: new google.maps.LatLng(coords.lat,coords.lng),

        });
        //agregamos un evento al marcador junto con la funcion callback al igual que el evento dragend que indica 
        //cuando el usuario a soltado el marcador
        marker.addListener('click', toggleBounce);
        
        marker.addListener( 'dragend', function (event)
        {
          //escribimos las coordenadas de la posicion actual del marcador dentro del input #coords
          document.getElementById("coords").value = this.getPosition().lat()+","+ this.getPosition().lng();
        });

  }

  //callback al hacer clic en el marcador lo que hace es quitar y poner la animacion BOUNCE
  function toggleBounce() {
    if (marker.getAnimation() !== null) {
      marker.setAnimation(null);
    } else {
      marker.setAnimation(google.maps.Animation.BOUNCE);
    }
  }

});
</script>
{% endblock %}
