<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>BOOM SOLUTIONS</title>
		<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body style="margin: 0; padding: 0;">
		<table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
			<tr>
				<td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
					<img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Electronic.mail.png" alt="Creating Email Magic" width="300" height="230" style="display: block;" />
				</td>
			</tr>
			<tr>
				<td bgcolor="#ffffff" style="text-align: center;">
					<br>
					Solicitud de visita realizada por: </strong>' . $nombre . '<br>
					<br>
					<a style="background: #39beb9; padding: .4em .8em; font-size: 1em; border-radius: .4em; box-shadow: inset 0 -0.2em rgba(0,0,0,.3); color: #fff; display: inline-block; font-size: 1.2em; font-weight: 400; margin: 1em .3em; padding: .8em 1.6em; border: 0; text-transform: uppercase;" href="http://192.203.0.13/luis.924/silex/web/audit">Panel</a>
				</td>
			</tr>
			<td bgcolor="#002260" style="padding: 30px 30px 30px 30px; color: #fff;">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td>
							
							Derechos de Autor ©2016. Todos los derechos reservados. 
							<br>Todas las marcas son propiedad de sus respectivos dueños.
							
						</td>
						<td>
							<td align="right">
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td>
											<a href="http://www.facebook.com/BoomSolutionspr">
												<img src="img/icono-facebook.png" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
											</a>
										</td>
										<!-- <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td> -->
										<td>
											<a href="http://www.twitter.com/BoomSolutionspr">
												<img src="img/icono-twitter.png" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
											</a>
										</td>
										<td>
											<a href="http://www.instagram.com/BoomSolutionspr/">
												<img src="img/icono-instagram.png" alt="Instagram" width="38" height="38" style="display: block;" border="0" />
											</a>
										</td>
									</tr>
								</table>
							</td>
						</td>
					</tr>
				</table>
			</td>
		</table>
	</body>
</html>