{% extends 'layouts/index.html.twig' %}

{% block content %}

<div id="main" role="main">
	<div id="ribbon">
    	<ol class="breadcrumb">
      		<li>Home</li><li>DashBoard</li>
    	</ol>
  	</div>
  	<div id="content">

          <div class="row">
        
            <h2 class="row-seperator-header"><i class="glyphicon glyphicon-picture"></i> Listado de Campa&ntilde;as Activas Por Pais</h2>
        
            <div class="col-sm-12">
        
              <div class="row">
        
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div id="PRCar"></div>
                </div>
        
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div id="USCar"></div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div id="VECar"></div>
                </div>

              </div>
        
            </div>
        
          </div>

  	</div>
</div>

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{

  Load();

});

function Load()
{
	$.ajax({ type: "POST", url:  "{{ url('/Creative/LoadCamp') }}",
	success: function(data)
	{
	    $("#PRCar").html(data.htmlPR);
	    $("#USCar").html(data.htmlUS);
	    $("#VECar").html(data.htmlVE);

      $('.carousel.slide').carousel({
        interval : 3000,
        cycle : true
      });
      
      $('.carousel.fade').carousel({
        interval : 3000,
        cycle : true
      });
	}
	});
}

</script>
{% endblock %}
