<!DOCTYPE html>
<html lang="en-us" id="extr-page">
  <head>
    <meta charset="utf-8">
    <title> BoomSolutions</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/smartadmin-production-plugins.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/smartadmin-production.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/smartadmin-skins.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/smartadmin-rtl.min.css') }}"> 

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/js/parsley/src/parsley.css') }}">

    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.png') }}" type="image/x-icon">
    <link rel="icon"          href="{{ asset('assets/img/favicon.png') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ asset('assets/css/open_sans.css') }}">

  </head>
  <body class="animated fadeInDown">
    <div id="main" role="main">
      <!-- MAIN CONTENT -->
      <div id="content" class="container">
        <div class="row" style="margin-top: 200px;">
          
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <div class="well no-padding">
              <form id="login-form" class="smart-form client-form" data-parsley-validate="">
                <header style="text-align: center;">
                  <img src="{{ asset('assets/img/logicon.png') }}" style="width: 200px;">
                </header>

                <fieldset>
                    <section>
                      <div id="alert"></div>
                    </section>
                  
                  <section>
                    <label class="label">Username</label>
                      <label class="input"> <i class="icon-append fa fa-user"></i>
                        <input type="text" name="username" required style="text-transform: lowercase;">
                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter username</b></label>
                  </section>

                  <section>
                    <label class="label">Password</label>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <input type="password" name="password" required>
                      <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
                    <div class="note">
                      <!-- <a href="forgot">Forgot password?</a> -->
                    </div>
                  </section>
                </fieldset>
                <footer>
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </footer>
              </form>

            </div>
                       
          </div>
        </div>
      </div>
    </div>

    <!--================================================== -->  

    <script src="{{ asset('assets/js/plugin/pace/pace.min.js') }}"></script>

    <script src="{{ asset('assets/js/libs/jquery-2.1.1.min.js') }}"></script>

    <script src="{{ asset('assets/js/libs/jquery-ui-1.10.3.min.js') }}"></script>

    <script src="{{ asset('assets/js/app.config.js') }}"></script>

    <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>

    <script src="{{ asset('assets/js/plugin/jquery-validate/jquery.validate.min.js') }}"></script>
    
    <script src="{{ asset('assets/js/plugin/masked-input/jquery.maskedinput.min.js') }}"></script>
    
    <script src="{{ asset('assets/js/parsley/dist/parsley.js') }}"></script>
    
    <script src="{{ asset('assets/js/app.min.js') }}"></script>

    <script>
      $(function() {

        $('#login-form').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
        }).on('form:submit', function() {
            var str = $("form").serialize();
            $.ajax({ type: "POST", url:  "{{ url('loginForm') }}", data: {value: str},
                success: function(datos)
                {
                    if(datos.status == true){                    
                        window.location.href = datos.web;
                    }else{
                        $("#alert").html('');
                        $("#alert").html(datos.html);
                    }
                }
            });
            return false;
        });


      });
    </script>

  </body>
</html>