{% extends 'layouts/index.html.twig' %}

{% block content %}


{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
window.location.href = "test.php?datos=1";
});

</script>
{% endblock %}
