{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Creativo</li>
    </ol>
  </div>
  <div id="content">
      {% include('creative/list.html.twig') %}
  </div>
</div>

{% include('creative/modal.html.twig') %}

{% endblock %}


{% block js %}
    {{ parent() }}
<script type="text/javascript">
$(function() 
{
  var responsiveHelper_dt_basic = undefined;
  var responsiveHelper_datatable_fixed_column = undefined;
  var responsiveHelper_datatable_col_reorder = undefined;
  var responsiveHelper_datatable_tabletools = undefined;
  
  var breakpointDefinition = {
    tablet : 1024,
    phone : 480
  };
  
  $('#dt_cd_img').dataTable({
    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
      "t"+
      "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
    "autoWidth" : true,
    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    "preDrawCallback" : function() {
      // Initialize the responsive datatables helper once.
      if (!responsiveHelper_dt_basic) {
        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_cd_img'), breakpointDefinition);
      }
    },
    "rowCallback" : function(nRow) {
      responsiveHelper_dt_basic.createExpandIcon(nRow);
    },
    "drawCallback" : function(oSettings) {
      responsiveHelper_dt_basic.respond();
    }
  });

  $('#dt_campaign').dataTable({
    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
      "t"+
      "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
    "autoWidth" : true,
    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    "preDrawCallback" : function() {
      // Initialize the responsive datatables helper once.
      if (!responsiveHelper_dt_basic) {
        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_campaign'), breakpointDefinition);
      }
    },
    "rowCallback" : function(nRow) {
      responsiveHelper_dt_basic.createExpandIcon(nRow);
    },
    "drawCallback" : function(oSettings) {
      responsiveHelper_dt_basic.respond();
    }
  });

  $('#formcreative').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    var str = $("#formcreative").serialize();
      $.ajax({ type: "POST", url:  "{{ url('Creative/EditSave') }}", data: {value: str},
        success: function(datos)
        {
            if(datos.status == true){   
              $("#alertCreativeImg").html('');
              $('#NewImgCd2Modal').modal('hide');
              window.location.href = datos.web;
            }else{
                $("#alertCreativeImg").html('');
                $("#alertCreativeImg").html(datos.html);
            }
        }
      });
    return false;
  });

  $('#formcampaign').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
      var str = $("#formcampaign").serialize();
        $.ajax({ type: "POST", url:  "{{ url('CampaignForm') }}", data: {value: str},
          success: function(datos)
          {
              if(datos.status == true){   
                $("#alertCampaign").html('');
                $('#NewCampaignodal').modal('hide');
                window.location.href = datos.web;
              }else{
                  $("#alertCampaign").html('');
                  $("#alertCampaign").html(datos.html);
              }
          }
        });
      return false;
  });

  $("#fupForm").on('submit', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{{ url('Creative/Upload') }}",
        data: new FormData(this),
        contentType: false,
        cache: false,
        processData:false,
        beforeSend: function(){
            $('.submitBtn').attr("disabled","disabled");
            $('#fupForm').css("opacity",".5");
        },
        success: function(datos){
          if(datos.status == true){   
            $('#NewImgCdModal').modal('hide');
            $("#alertCreativeImg").html('');;
            window.location.href = datos.web;
          }else{
              $("#alertCreativeImg").html('');
              $("#alertCreativeImg").html(datos.html);
          }
        }
    });
  });

  $("#file").change(function() {
    var file = this.files[0];
    var imagefile = file.type;
    var match= ["image/jpeg","image/jpg", "image/png"];
    if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]))){
        alert('Please select a valid image file (JPEG/JPG/PNG).');
        $("#file").val('');
        return false;
    }
  });

$( "#img_id_camp" ).change(function() {
    $.ajax({ type: "POST", url:  "{{ url('Creative/Image') }}", data: {id: $("#img_id_camp").val()},
    success: function(datos)
    {
      $("#campImg").html('<img src="'+datos.img.base+'" alt="SmartAdmin" style="width: 250px;">');
    }
  });
});

});

  function CreativeEdit(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('Creative/Edit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_cr").val('');
            $("#type_cr").val('edit');
            $("#id_cr").val(datos.img.id);
            $("#name_cr").val(datos.img.name);
            $("select[name=status_id_cr]").val(datos.img.status);
            $("select[name=country_id_cr]").val(datos.img.country);
            $('#NewImgCd2Modal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function Campaign //////////////////////////////

  function CampaignEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('CampaignEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_camp").val('');
            $("#type_camp").val('edit');
            $("#id_camp").val(datos.campaign.id);
            $("#name_camp").val(datos.campaign.name);
            $("#copy_camp").val(datos.campaign.copy);
            $("select[name=campaign_id_camp]").val(datos.campaign.campaign);
            $("select[name=status_id_camp]").val(datos.campaign.status);
            $("select[name=country_id_camp]").val(datos.campaign.country);
            $("select[name=img_id_camp]").val(datos.campaign.img);
            $("#campImg").html(datos.campaign.imgH);
            $('#NewCampaignModal').modal('show');
        }else{
            $("#alertCampaign").html('');
        }
      }
   });
  }

</script>
{% endblock %}