<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#NewImgCdModal"><i class="fa fa-edit"></i> Nueva Imagen</a>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Imagene's </h2>
      </header>
      <div>
        <div class="jarviswidget-editbox"></div>
        
        <div class="widget-body no-padding">
          <table id="dt_cd_img" class="table table-striped table-bordered table-hover" width="100%">
            <thead>                     
               <tr>
                <th data-hide="user">ID</th>
                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Img</th>
                <th data-hide="phone"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Nombre</th>
                <th data-hide="user"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Creador</th>
                <th data-hide="user"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Pais</th>
                <th data-hide="user"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Status</th>
                <th data-hide="user"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Fecha</th>
                <th data-hide="user"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Action</th>
              </tr>
            </thead>
            <tbody >
           
              {% for img in imgs %}
                    <tr>
                      <td>{{ img.id  }}</td>
                      <td style="text-align: center; line-height: 100px;"><img src="{{ img.base }}" alt="SmartAdmin" style="width: 200px; margin-top: -10px;"></td>
                      <td style="text-align: center; line-height: 100px;">{{img.name}}</td>
                      <td style="text-align: center; line-height: 100px;">{{img.users}}</td>
                      <td style="text-align: center; line-height: 100px;">{{img.country}}</td>
                      <td style="text-align: center; line-height: 100px;">{{img.status}}</td>
                      <td style="text-align: center; line-height: 100px;">{{img.create}}</td>
                      <td style="text-align: center; line-height: 100px;">
                        <div class='btn-group'>
                           <a class="btn btn-primary btn-xs" onclick="CreativeEdit({{ img.id }});"><i class="fa fa-edit"></i> Edit </a>
                        </div>
                      </td>
                    </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#NewCampaignModal"><i class="fa fa-edit"></i> Nueva Campana</a>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Campa&ntilde;as </h2>
      </header>
      <div>
        <div class="jarviswidget-editbox"></div>
        
        <div class="widget-body no-padding">
          <table id="dt_campaign" class="table table-striped table-bordered table-hover" width="100%">
            <thead>                     
              <tr>
                <th data-hide="user">ID</th>
                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Nombre</th>
                <th data-hide="user"><i class="fa fa-fw fa-file-picture-o text-muted hidden-md hidden-sm hidden-xs"></i> Img</th>
                <th data-hide="user"><i class="fa fa-fw fa-edit text-muted hidden-md hidden-sm hidden-xs"></i> Servicio</th>
                <th data-hide="user"><i class="fa fa-fw fa-flag text-muted hidden-md hidden-sm hidden-xs"></i> Pais</th>
                <th data-hide="user"><i class="fa fa-fw fa-check text-muted hidden-md hidden-sm hidden-xs"></i> Status</th>
                <th data-hide="user"><i class="fa fa-fw fa-edit text-muted hidden-md hidden-sm hidden-xs"></i> Accion</th>
              </tr>
            </thead>
            <tbody>
              {% for cam in campaigns %}
                    <tr>
                      <td style="text-align: center; line-height: 50px;">{{ cam.id      }}</td>
                      <td style="text-align: center; line-height: 50px;">{{ cam.name    }}</td>
                      <td style="text-align: center; line-height: 50px;"><img src="{{ cam.base }}" alt="SmartAdmin" style="width: 200px;"></td>
                      <td style="text-align: center; line-height: 50px;">{{ cam.service }}</td>
                      <td style="text-align: center; line-height: 50px;">{{ cam.country }}</td>
                      <td style="text-align: center; line-height: 50px;">{{ cam.status  }}</td>
                      <td style="text-align: center; line-height: 50px;">
                        <div class='btn-group'>
                           <a class="btn btn-primary btn-xs" onclick="CampaignEdit({{ cam.id }});"><i class="fa fa-edit"></i> Editar </a>
                        </div>
                      </td>
                    </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>