<!----------------------------- Upload Img Modal ---------------------------->

<div class="modal fade" id="NewImgCdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-file-image-o" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Upload de Imagenes</h4>
			</div>
			<form enctype="multipart/form-data" id="fupForm" >
				<div class="modal-body">
					<div class="row">
						<div id="alertCreativeImg"></div>
					</div> 
						<div class="row">
							<input type="text" id="id" name="id" class="form-control hidden" placeholder="id" />
							<input type="text" id="type" name="type" class="form-control hidden" placeholder="type" value="new" />
							<div class="col-md-6">
								<div class="form-group">
									<label for="name">Nombre</label>
									<input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required />
								</div>
								<div class="form-group">
									<label for="file">Seleccione Archivo</label>
									<input type="file" class="form-control" id="file" name="file" required />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="category"> Status</label>
									<select class="form-control" id="status_id" name="status_id" required>
										{% for sta in status %}
											<option value="{{ sta['id'] }}"> {{ sta['name'] }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group">
									<label for="category"> Pais</label>
									<select class="form-control" id="country_id_cr" name="country_id_cr" required>
										{% for cou in countrys %}
											{% if cou['status_id'] == "1" %}
												<option value="{{ cou['id'] }}"> {{ cou['name'] }}
											{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" name="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Upload Img Modal ---------------------------->

<div class="modal fade" id="NewImgCd2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-file-image-o" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Edicion de Parametros de Imagen</h4>
			</div>
			<form class="formcreative" method="post" id="formcreative" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertCreativeImg"></div>
					</div> 
						<div class="row">
							<input type="text" id="id_cr" name="id_cr" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_cr" name="type_cr" class="form-control hidden" placeholder="type" value="edit" />
							<div class="col-md-6">
								<div class="form-group">
									<label for="name">Nombre</label>
									<input type="text" class="form-control" id="name_cr" name="name_cr" placeholder="Nombre" required />
								</div>
								<div class="form-group">
									<label for="category"> Status</label>
									<select class="form-control" id="status_id_cr" name="status_id_cr" required>
										{% for sta in status %}
											<option value="{{ sta['id'] }}"> {{ sta['name'] }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="category"> Pais</label>
									<select class="form-control" id="country_id_cr" name="country_id_cr" required>
										{% for cou in countrys %}
											{% if cou['status_id'] == "1" %}
												<option value="{{ cou['id'] }}"> {{ cou['name'] }}
											{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" name="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Camapign Modal ---------------------------->

<div class="modal fade" id="NewCampaignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-bank" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">CAMPA&Ntilde;A</h4>
			</div>
			<form class="formcampaign" method="post" id="formcampaign" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertCampaign"></div>
					</div> 
					<div class="row">
						<input type="text" id="id_camp" name="id_camp" class="form-control hidden" placeholder="id" />
						<input type="text" id="type_camp" name="type_camp" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_camp" name="name_camp" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Servicios</label>
								<select class="form-control" id="service_id_camp" name="service_id_camp" required>
									{% for ser in services %}
										{% if ser['status_id'] == "1" or ser['status_id'] == "3" %}
											<option value="{{ ser['id'] }}"> {{ ser['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Imagen</label>
								<select class="form-control"  id="img_id_camp" name="img_id_camp" required>
									{% for cre in creatives %}
										{% if cre['status_id'] == "1" %}
											<option value="{{ cre['id'] }}"> {{ cre['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_camp" name="country_id_camp" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Objectivos</label>
								<select class="form-control" id="objectivos_id_camp" name="objectivos_id_camp" required>
									{% for obj in objetives %}
										{% if obj['status_id'] == "1" %}
											<option value="{{ obj['id'] }}"> {{ obj['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_camp" name="status_id_camp" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>							
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Copyright</label>
								<input type="text" id="copy_camp" name="copy_camp" class="form-control" placeholder="Copyright" required />
							</div>
							
						</div>
						<div class="col-md-6">
							<div id="campImg"></div>
						</div>
					</div>

<!-- 					<div class="row">
						<div class="col-md-12">
							<div class="form-group" style="text-align: center;">
								<div id="campImg">
								</div>
							</div>
						</div>
					</div> -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>