<div class="show-stat-microcharts" style="height: 250px;">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align: center;">
    <div id="TopVE">
     
    </div>
  </div>

 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align: center;">
    <p style="text-align: center;"> <span>% VENEZUELA</span></p>
    <div class="easy-pie-chart ContVE txt-color-blue easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-blue font-xl semi-bold">0</span>
    </div>
    <div id="SolContVE"><p style="text-align: center;"> <span>SOLICITUDES 0/0</span></p></div>
  </div>
 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align: center;">
    <p style="text-align: center;"> <span>% PUERTO RICO</span></p>
    <div class="easy-pie-chart ContPR txt-color-green easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-green font-xl semi-bold">0</span>
    </div>
    <div id="SolContPR"><p style="text-align: center;"> <span>SOLICITUDES 0/0</span></p></div>
  </div>

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align: center;">
    <div id="TopPR">
     
    </div>
  </div>
  
</div>