<div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
		<h2>APROBACIONES</h2>
		<h5 style="font-size: 11px;">Total - Pendientes - Aprobadas - No Aprobadas - Canceladas</h5>
		<div class="widget-body no-padding">
			<canvas id="barChartApprovals"></canvas>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
		<h2>COORDINACIONES</h2>
		<h5 style="font-size: 11px;">Total - Pendientes -Coordinadas - No Coordinadas - Canceladas</h5>
		<div class="widget-body no-padding">
			<canvas id="barChartCoordinations"></canvas>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
		<h2>STADISTICAS DE OPERADORES</h2>
		<div id="TopOperations" style="font-size: 12px;">
			<div class="widget-body">
				<div class="table-responsive">
					<table class="table table-bordered table-striped" border="1" style="border-collapse: collapse;">
						<tbody>
							<td>#</td>
							<td></td>
							<td>OPERADOR</td>
							<td>CANT</td>
							<td>TOTAL</td>
							<tr>
								<td>1</td>
								<td><img src="/assets/img/approvals/SC'.($i+1).'.jpg" style="width: 10px;"></td>
								<td>JANNYBETH.DE503</td>
								<td>105</td>
								<td>17:58:23</td>
							</tr>
							<tr>
								<td>2</td>
								<td><img src="/assets/img/approvals/SC'.($i+1).'.jpg" style="width: 10px;"></td>
								<td>MARIAH.DE506</td>
								<td>20</td>
								<td>7:17:50</td>
							</tr>
							<tr>
								<td>3</td>
								<td><img src="/assets/img/approvals/SC'.($i+1).'.jpg" style="width: 10px;"></td>
								<td>MARIAH.DE506</td>
								<td>20</td>
								<td>7:17:50</td>
							</tr>
							<tr>
								<td>4</td>
								<td><img src="/assets/img/approvals/SC'.($i+1).'.jpg" style="width: 10px;"></td>
								<td>MARIAH.DE506</td>
								<td>20</td>
								<td>7:17:50</td>
							</tr>
							<tr>
								<td>5</td>
								<td><img src="/assets/img/approvals/SC'.($i+1).'.jpg" style="width: 10px;"></td>
								<td>MARIAH.DE506</td>
								<td>20</td>
								<td>7:17:50</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>