{% extends 'layouts/leads/index.html.twig' %}

{% block content %}
  <div id="main" role="main">
    <div id="ribbon">
      <ol class="breadcrumb">
        <li><a href="#">Dashboard</a></li><li>Statics</li><li>Data Entry</li>
      </ol>
    </div>
    <div id="content">

      <div class="row">
        <div class="col-sm-12" style="text-align: center;">
          <label>Seleccione Rango de Busqueda:</label>
        </div>

        <form id="rangeDate">
          <div class="col-sm-6">
          
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="to" name="dateIni" type="text" placeholder="Fecha Inicial">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="from" name="dateEnd" type="text" placeholder="Fecha Final">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>      
          </div>
        </form>

      </div>

      <section id="widget-grid" class="">
        <div class="row">

          <div class="col-sm-4">

            <div class="panel panel-primary pricing-big">
              <img src="{{ asset('assets/img/PR.png') }}" class="ribbon" alt="">
              <div class="panel-heading">
                <h3 class="panel-title">TELEVISION</h3>
              </div>
              <div class="panel-body no-padding text-align-center">
                <div class="the-price">
                  <div id="TVPRDataT">
                    <h1>0<span class="subscript"> / mo</span></h1>
                  </div>
                </div>
                <div class="price-features" style="min-height: 0px;">
                  <div id="TVPRData">
                    <ul class="list-unstyled text-left">
                      <li><i class="fa fa-check text-alert"></i> Pendientes <strong> 0 / mon</strong></li>
                      <li><i class="fa fa-check text-success"></i> Aprobadas <strong> 0 / mon</strong></li>
                      <li><i class="fa fa-check text-danger"></i> No Aprobadas <strong> 0 / mon</strong></li>
                      <li><i class="fa fa-check text-danger"></i> Canceladas <strong> 0 / mon</strong></li>
                    </ul>
                  </div>
                </div>
                <div style="text-align: center; background-color: #E6E7E891!important">
                  <canvas id="doughnutChartTV" height="75"></canvas>
                </div>
              </div>
            </div>

          </div>

          <div class="col-sm-4">

            <div class="panel panel-teal pricing-big">
              <img src="{{ asset('assets/img/PR.png') }}" class="ribbon" alt="">
              <div class="panel-heading">
                <h3 class="panel-title">INTERNET</h3>
              </div>
              <div class="panel-body no-padding text-align-center">
                <div class="the-price">
                  <div id="INTPRDataT">
                    <h1>0<span class="subscript"> / mo</span></h1>
                  </div>
                </div>
                <div class="price-features" style="min-height: 0px;">
                  <div id="INTPRData">
                    <ul class="list-unstyled text-left">
                      <li><i class="fa fa-check text-alert"></i> Pendientes <strong> 0 / mon</strong></li>
                      <li><i class="fa fa-check text-success"></i> Aprobadas <strong> 0 / mon</strong></li>
                      <li><i class="fa fa-check text-danger"></i> No Aprobadas <strong> 0 / mon</strong></li>
                      <li><i class="fa fa-check text-danger"></i> Canceladas <strong> 0 / mon</strong></li>
                    </ul>
                  </div>
                </div>
                <div style="text-align: center; background-color: #E6E7E891!important">
                  <canvas id="doughnutChartINTPR" height="75"></canvas>
                </div>
              </div>
            </div>

          </div>

          <div class="col-sm-4">
            <div class="panel panel-redLight pricing-big">
              <img src="{{ asset('assets/img/VE.png') }}" class="ribbon" alt="">
              <div class="panel-heading" style="background-color: #FE6600;">
                <h3 class="panel-title">INTERNET</h3>
              </div>
              <div class="panel-body no-padding text-align-center">
                <div class="the-price">
                  <div id="INTVEDataT">
                    <h1>0<span class="subscript"> / mo</span></h1>
                  </div>
                </div>
                <div class="price-features" style="min-height: 0px;">
                  <div id="INTVEData">
                    <ul class="list-unstyled text-left">
                      <li><i class="fa fa-check text-alert"></i> Pendientes <strong> 0 / mon</strong></li>
                      <li><i class="fa fa-check text-success"></i> Aprobadas <strong> 0 / mon</strong></li>
                      <li><i class="fa fa-check text-danger"></i> No Aprobadas <strong> 0 / mon</strong></li>
                      <li><i class="fa fa-check text-danger"></i> Canceladas <strong> 0 / mon</strong></li>
                    </ul>
                  </div>
                </div>
                <div style="text-align: center; background-color: #E6E7E891!important">
                  <canvas id="doughnutChartINTVE" height="75"></canvas>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section id="widget-grid" class="">
        <div class="row">
          <article class="col-sm-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
              <header>
                <ul class="nav nav-tabs pull-right in" id="myTab">
                  <li class="active"><a data-toggle="tab" id="ss1" href="#O1"> <span class="hidden-mobile hidden-tablet">OPERADORES</span></a></li>
                </ul>
              </header>
              <div class="no-padding">
                <div class="widget-body">
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in padding-10 no-padding-bottom" id="O1">
                      {% include('statics/dataentry/operator.html.twig') %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>

      <section id="widget-grid" class="">
        <div class="row">
          <article class="col-sm-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
              <header>
                <ul class="nav nav-tabs pull-right in" id="myTab">
                  <li class="active"><a data-toggle="tab" id="ss1" href="#C1"> <span class="hidden-mobile hidden-tablet">CONTRATOS</span></a></li>
                </ul>
              </header>
              <div class="no-padding">
                <div class="widget-body">
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in padding-10 no-padding-bottom" id="C1">
                      {% include('statics/dataentry/contracts.html.twig') %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
      
    </div>
  </div>

  {% include('statics/dataentry/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
  Load();

  setInterval(function()
  {
    Load();
  }, 60000);

  $("#from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/statics/dataentry/load') }}",data: {str:str},
        beforeSend: function(request){
          blockUI();
        },
        success: function(data)
        {
          if(data.status == true)
          { 
            $("#TVPRDataT").html(data.TvSta.T);
            $("#TVPRData").html(data.TvSta.G);

            $("#INTPRDataT").html(data.IntPRSta.T);
            $("#INTPRData").html(data.IntPRSta.G);

            $("#INTVEDataT").html(data.IntVESta.T);
            $("#INTVEData").html(data.IntVESta.G);

            var doughnutOptions = {
              segmentShowStroke : true,
              segmentStrokeColor : "#fff",
              segmentStrokeWidth : 2,
              percentageInnerCutout : 50, 
              animationSteps : 100,
              animationEasing : "easeOutBounce",
              animateRotate : true,
              animateScale : false,
              responsive: true,            
            };

            var Datatv = [
             {
                  value: parseInt(data.TV.score[0]['T']),
                  color:"rgba(50,168,82,0.8)",
                  highlight: "rgba(220,220,220,0.7)",
                  label: String(data.TV.score[0]['name'])
              },
             {
                  value: parseInt(data.TV.score[1]['T']),
                  color:"rgba(162,168,50,0.8)",
                  highlight: "rgba(220,220,220,0.7)",
                  label: String(data.TV.score[1]['name'])
              },
             {
                  value: parseInt(data.TV.score[2]['T']),
                  color:"rgba(50,160,168,0.8)",
                  highlight: "rgba(220,220,220,0.7)",
                  label: String(data.TV.score[2]['name'])
              },
             {
                  value: parseInt(data.TV['sta']['TNApro']),
                  color:"rgba(50,11,168,0.8)",
                  highlight: "rgba(220,220,220,0.7)",
                  label: "NO APROBADO"
              },
             {
                  value: parseInt(data.TV['sta']['TCanc']),
                  color:"rgba(168,50,50,0.8)",
                  highlight: "rgba(220,220,220,0.7)",
                  label: "CANCELADAS"
              },
            ];
            var DataintPR = [
              {
                  value: parseInt(data.IntPRStaG[0]['T']),
                  color:"rgba(23,176,207,0.8)",
                  highlight: "rgba(220,220,220,0.7)",
                  label: String(data.IntPRStaG[0]['name'])
              },
              {
                  value: parseInt(data.INTPR['sta']['TNApro']),
                  color:"rgba(23,78,207,0.8)",
                  highlight: "rgba(220,220,220,0.7)",
                  label: "NO APROBADAS"
              },
              {
                  value: parseInt(data.INTPR['sta']['TCanc']),
                  color:"rgba(168,50,50,0.8)",
                  highlight: "rgba(220,220,220,0.7)",
                  label: "CANCELADAS"
              },
            ];
            var DataintVE = [
              {
                  value: parseInt(data.IntVEStaG[0]['T']),
                  color:"rgba(40,173,131,0.8)",
                  highlight: "rgba(220,220,220,0.7)",
                  label: String(data.IntPRStaG[0]['name'])
              },
              {
                  value: parseInt(data.INTVE['sta']['TNApro']),
                  color:"rgba(40,102,173,0.8)",
                  highlight: "rgba(220,220,220,0.7)",
                  label: "NO APROBADAS"
              },
              {
                  value: parseInt(data.INTVE['sta']['TCanc']),
                  color:"rgba(168,50,50,0.8)",
                  highlight: "rgba(220,220,220,0.7)",
                  label: "CANCELADAS"
              },
            ];


            // render chart
            var ctx = document.getElementById("doughnutChartTV").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(Datatv, doughnutOptions);

            var ctx = document.getElementById("doughnutChartINTPR").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(DataintPR, doughnutOptions);

            var ctx = document.getElementById("doughnutChartINTVE").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(DataintVE, doughnutOptions);

            $("#StaticsUsersVE").html(data.uVEHtml);
            $("#StaticsUsersPR").html(data.uPRHtml);

            $("#TopVE").html(data.topVE);
          
            $("#TopPR").html(data.topPR); 

            if(data.statics.TPVen == null) { var tpven  = 0; }else{ var tpven  = data.statics.TPVen; }
            if(data.statics.TPPr == null){ var tppr = 0; }else{ var tppr = data.statics.TPPr; }

            var chart = window.chart = $('.ContVE').data('easyPieChart');
            chart.update(tpven);
            $('#SolContVE').html('<p style="text-align: center;"> <span>SOLICITUDES '+data.statics.TVen+'/'+data.statics.T+'</span></p>');

            var chart2 = window.chart = $('.ContPR').data('easyPieChart');
            chart2.update(tppr);
            $('#SolContPR').html('<p style="text-align: center;"> <span>SOLICITUDES '+data.statics.TPr+'/'+data.statics.T+'</span></p>');

          }
        }
        });
        $.unblockUI();
      }

  });
  
  $("#to").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });


});


////////////////////////////// Functions Others //////////////////////////////

function Load()
{
  $.ajax({ type: "POST", url:  "{{ url('/statics/dataentry/load') }}",
  beforeSend: function(request){
    blockUI();
  },
  success: function(data)
  {
    if(data.status == true)
    { 
      $("#TVPRDataT").html(data.TvSta.T);
      $("#TVPRData").html(data.TvSta.G);

      $("#INTPRDataT").html(data.IntPRSta.T);
      $("#INTPRData").html(data.IntPRSta.G);

      $("#INTVEDataT").html(data.IntVESta.T);
      $("#INTVEData").html(data.IntVESta.G);

      var doughnutOptions = {
        segmentShowStroke : true,
        segmentStrokeColor : "#fff",
        segmentStrokeWidth : 2,
        percentageInnerCutout : 50, 
        animationSteps : 100,
        animationEasing : "easeOutBounce",
        animateRotate : true,
        animateScale : false,
        responsive: true,            
      };

      var Datatv = [
       {
            value: parseInt(data.TvStaG[0]['T']),
            color:"rgba(50,168,82,0.8)",
            highlight: "rgba(220,220,220,0.7)",
            label: String(data.TvStaG[0]['name'])
        },
       {
            value: parseInt(data.TvStaG[1]['T']),
            color:"rgba(162,168,50,0.8)",
            highlight: "rgba(220,220,220,0.7)",
            label: String(data.TvStaG[1]['name'])
        },
       {
            value: parseInt(data.TvStaG[2]['T']),
            color:"rgba(50,160,168,0.8)",
            highlight: "rgba(220,220,220,0.7)",
            label: String(data.TvStaG[2]['name'])
        },
       {
            value: parseInt(data.TV['sta']['TNApro']),
            color:"rgba(50,11,168,0.8)",
            highlight: "rgba(220,220,220,0.7)",
            label: "NO APROBADO"
        },
       {
            value: parseInt(data.TV['sta']['TCanc']),
            color:"rgba(168,50,50,0.8)",
            highlight: "rgba(220,220,220,0.7)",
            label: "CANCELADAS"
        },
      ];
      var DataintPR = [
        {
            value: parseInt(data.IntPRStaG[0]['T']),
            color:"rgba(23,176,207,0.8)",
            highlight: "rgba(220,220,220,0.7)",
            label: String(data.IntPRStaG[0]['name'])
        },
        {
            value: parseInt(data.INTPR['sta']['TNApro']),
            color:"rgba(23,78,207,0.8)",
            highlight: "rgba(220,220,220,0.7)",
            label: "NO APROBADAS"
        },
        {
            value: parseInt(data.INTPR['sta']['TCanc']),
            color:"rgba(168,50,50,0.8)",
            highlight: "rgba(220,220,220,0.7)",
            label: "CANCELADAS"
        },
      ];
      var DataintVE = [
        {
            value: parseInt(data.IntVEStaG[0]['T']),
            color:"rgba(40,173,131,0.8)",
            highlight: "rgba(220,220,220,0.7)",
            label: String(data.IntPRStaG[0]['name'])
        },
        {
            value: parseInt(data.INTVE['sta']['TNApro']),
            color:"rgba(40,102,173,0.8)",
            highlight: "rgba(220,220,220,0.7)",
            label: "NO APROBADAS"
        },
        {
            value: parseInt(data.INTVE['sta']['TCanc']),
            color:"rgba(168,50,50,0.8)",
            highlight: "rgba(220,220,220,0.7)",
            label: "CANCELADAS"
        },
      ];


      // render chart
      var ctx = document.getElementById("doughnutChartTV").getContext("2d");
      var myNewChart = new Chart(ctx).Doughnut(Datatv, doughnutOptions);

      var ctx = document.getElementById("doughnutChartINTPR").getContext("2d");
      var myNewChart = new Chart(ctx).Doughnut(DataintPR, doughnutOptions);

      var ctx = document.getElementById("doughnutChartINTVE").getContext("2d");
      var myNewChart = new Chart(ctx).Doughnut(DataintVE, doughnutOptions);

      $("#StaticsUsersVE").html(data.uVEHtml);
      $("#StaticsUsersPR").html(data.uPRHtml);

      $("#TopVE").html(data.topVE);
    
      $("#TopPR").html(data.topPR); 

      if(data.statics.TPVen == null) { var tpven  = 0; }else{ var tpven  = data.statics.TPVen; }
      if(data.statics.TPPr == null){ var tppr = 0; }else{ var tppr = data.statics.TPPr; }

      var chart = window.chart = $('.ContVE').data('easyPieChart');
      chart.update(tpven);
      $('#SolContVE').html('<p style="text-align: center;"> <span>SOLICITUDES '+data.statics.TVen+'/'+data.statics.T+'</span></p>');

      var chart2 = window.chart = $('.ContPR').data('easyPieChart');
      chart2.update(tppr);
      $('#SolContPR').html('<p style="text-align: center;"> <span>SOLICITUDES '+data.statics.TPr+'/'+data.statics.T+'</span></p>');

    }
  }
  });
  $.unblockUI();
}

////////////////////////////// Functions Others //////////////////////////////

function blockUI()
{
  $.blockUI({ css: {
     border: 'none',
     padding: '15px',
     backgroundColor: '#000',
       '-webkit-border-radius': '10px',
       '-moz-border-radius': '10px',
     opacity: .5,
     color: '#fff'
  }});

}

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });

}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });

}

</script>
{% endblock %}