<div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center; font-size: 10px;">
		<h1>VENEZUELA</h1>
		<h6>Estadisticas por Ejecutivo</h6>

		<div class="widget-body">
			<div class="table-responsive">
				<div id="StaticsUsersVE"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center; font-size: 10px;">
		<h1>PUERTO RICO</h1>
		<h6>Estadisticas por Ejecutivo</h6>
		<div class="widget-body">
			<div class="table-responsive">
				<div id="StaticsUsersPR"></div>
			</div>
		</div>
	</div>
</div>