{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    

    {% if app.session.get('role') == "1" %}
  
      {% include('packages/package.html.twig') %}
      
      {% include('packages/provider.html.twig') %}

    {% endif %}

    
    {% if app.session.get('role') == "1" %}
    <div class="row">

      {% include('packages/objection.html.twig') %}

    </div>
    {% endif %}

    </div>
  </div>

{% include('packages/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

////////////////////////////// Data Package //////////////////////////////

    $('#dt_package').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_package'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formpackage').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formpackage").serialize();
          $.ajax({ type: "POST", url:  "{{ url('PackageForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertPackage").html('');
                  $('#NewPackageModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertPackage").html('');
                    $("#alertPackage").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// Data Provider //////////////////////////////

    $('#dt_provider').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_provider'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    }); 

    $('#formprovider').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formprovider").serialize();
          $.ajax({ type: "POST", url:  "{{ url('ProviderForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertProvider").html('');
                  $('#NewProviderModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertProvider").html('');
                    $("#alertProvider").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// Data Objections //////////////////////////////

    $('#dt_objections').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_objections'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formobjection').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formobjection").serialize();
          $.ajax({ type: "POST", url:  "{{ url('ObjectionForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertObjection").html('');
                  $('#NewObjectionModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertObjection").html('');
                    $("#alertObjection").html(datos.html);
                }
            }
          });
        return false;
    });

////////////////////////////// End Jquery //////////////////////////////

});

////////////////////////// Function Package //////////////////////////////

  function PackageEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('PackageEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_pac").val('');
            $("#type_pac").val('edit');
            $("#id_pac").val(datos.package.id);
            $("#name_pac").val(datos.package.name);
            $("select[name=status_id_pac]").val(datos.package.status);
            $("select[name=country_id_pac]").val(datos.package.country);
            $('#NewPackageModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function Provider //////////////////////////////

  function ProviderEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('ProviderEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_pr").val('');
            $("#type_pr").val('edit');
            $("#id_pr").val(datos.provider.id);
            $("#name_pr").val(datos.provider.name);
            $("select[name=status_id_pr]").val(datos.provider.status);
            $("select[name=country_id_pr]").val(datos.provider.country);
            $('#NewProviderModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function Objection //////////////////////////////

  function ObjectionEdit(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('ObjectionEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_obj").val('');
            $("#type_obj").val('edit');
            $("#id_obj").val(datos.objection.id);
            $("#name_obj").val(datos.objection.name);
            $("select[name=service_id_obj]").val(datos.objection.service);
            $("select[name=country_id_obj]").val(datos.objection.country);
            $("select[name=status_id_obj]").val(datos.objection.status);
            $('#NewObjectionModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}