<!----------------------------- Package Modal ---------------------------->

<div class="modal fade" id="NewPackageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-desktop" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Paquetes Television</h4>
			</div>
			<form class="formpackage" method="post" id="formpackage" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertPackage"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_pac" name="id_pac" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_pac" name="type_pac" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_pac" name="name_pac" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_pac" name="country_id_pac" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_pac" name="status_id_pac" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Provider Modal ---------------------------->

<div class="modal fade" id="NewProviderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-desktop" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Proveedor Anterior</h4>
			</div>
			<form class="formprovider" method="post" id="formprovider" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertProvider"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_pr" name="id_pr" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_pr" name="type_pr" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_pr" name="name_pr" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_pr" name="country_id_pr" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_pr" name="status_id_pr" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Objections Modal ---------------------------->

<div class="modal fade" id="NewObjectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-warning" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">TV Objeciones</h4>
			</div>
			<form class="formobjection" method="post" id="formobjection" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertObjection"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_obj" name="id_obj" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_obj" name="type_obj" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_obj" name="name_obj" class="form-control" placeholder="Nombre" required />
							</div>

							<div class="form-group">
								<div class="form-group">
								<label for="category"> Servicio</label>
								<select class="form-control" id="service_id_obj" name="service_id_obj" required>
									{% for serv in services %}
										{% if serv['status_id'] == "1" or serv['status_id'] == "3" %}
											<option value="{{ serv['id'] }}"> {{ serv['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Pais</label>
								<select class="form-control" id="country_id_obj" name="country_id_obj" required>
									{% for cou in countrys %}
										{% if cou['status_id'] == "1" %}
											<option value="{{ cou['id'] }}"> {{ cou['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_obj" name="status_id_obj" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>