<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Reportes de Llamadas Unicas por DID VZLA</h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">

            <form action="/ReportingCallsVzla" method="POST" class="smart-form">
              <fieldset>
                <div class="row">
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="dateTime_in_vzla" id="dateTime_in_vzla" required placeholder="Fecha Inicial">
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="dateTime_out_vzla" id="dateTime_out_vzla" required placeholder="Fecha Final">
                    </label>
                  </section>
                </div>
                
                <div class="row">
                  <section class="col col-6">
                    <label class="select">
                      <select name="did" id="did" required="">
                        <option value="0" selected="" disabled="">DID</option>
                        <option value="3350903"> 2513350903</option>, 
                        <option value="3350906"> 2513350906</option>
                        <option value="3350911"> 2513350911</option>
                        <option value="3350918"> 2513350918</option>
                        <option value="3350930"> 2513350930</option>
                        <option value="3353333"> 2513353333</option>
                        <option value="3353332"> 2513353332</option>
                        <option value="3353337"> 2513353337</option>
                        <option value="3353330"> 2513353330</option>
                        <option value="3353340"> 2513353340</option>
                        <option value="3353346"> 2513353346</option>
                        <option value="3353345"> 2513353345</option>

                      </select> <i></i> </label>
                  </section>

                  <section class="col col-6">


                  </section>

                </div>


              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">Someter</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Reportes de Llamadas Unicas por DID VZLA</h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">

            <form class="smart-form">
              <fieldset>
                <div class="row">
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="did_dateIn" id="did_dateIn" required placeholder="Fecha Inicial">
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="did_dateFn" id="did_dateFn" required placeholder="Fecha Final">
                    </label>
                  </section>
                </div>
                
                <section>
                  
                  <label class="select">
                    <select name="did_country" id="did_country" required="">
                      <option value="1"> PUERTO RICO</option>
                      <option value="2"> VENEZUELA</option>
                    </select> <i></i> </label>
                  </section>
                </fieldset>
              <footer>
                <a class="btn btn-primary" id="SubmitDid">Someter</a>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Reporte de Numero Registrados en Sistema</h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">

              <!-- <form enctype="multipart/form-data" id="FormRepQueue" data-parsley-validate="" class="smart-form"> -->
              <form enctype="multipart/form-data" action="/ReportingNumb" method="POST" class="smart-form">


              <fieldset>
                <section>
                  <label class="input">
                    <input type="file" class="form-control" id="file" name="file" />
                  </label>
                </section>
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">Someter</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>