{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Reportes</li>
    </ol>
  </div>
  <div id="content">  
    <div class="row">
    	{% include('reporting/did.html.twig') %}
    	{% include('reporting/queue.html.twig') %}
      {% include('reporting/lastnote.html.twig') %}

    </div>

    <div class="row">
      {% include('reporting/didvzla.html.twig') %}
    </div>

    <div class="row">
      {% include('reporting/queuevz.html.twig') %}
    </div>

    <div class="row">
      {% include('reporting/report1.html.twig') %}
    </div>

    <div class="row">
      {% include('reporting/report2.html.twig') %}
    </div>

    <div class="row">
      {% include('reporting/report3.html.twig') %}
    </div>

    </div>
  </div>

{% include('reporting/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() {
	$('#dateTime_in').datepicker({
		dateFormat : 'yy-mm-dd',
		prevText : '<i class="fa fa-chevron-left"></i>',
		nextText : '<i class="fa fa-chevron-right"></i>',
	});
	$('#dateTime_out').datepicker({
		dateFormat : 'yy-mm-dd',
		prevText : '<i class="fa fa-chevron-left"></i>',
		nextText : '<i class="fa fa-chevron-right"></i>',
	});

  $('#dateTimeUS_in').datepicker({
    dateFormat : 'yy-mm-dd',
    prevText : '<i class="fa fa-chevron-left"></i>',
    nextText : '<i class="fa fa-chevron-right"></i>',
  });
  $('#dateTimeUS_out').datepicker({
    dateFormat : 'yy-mm-dd',
    prevText : '<i class="fa fa-chevron-left"></i>',
    nextText : '<i class="fa fa-chevron-right"></i>',
  });

	$('#dateTime').datepicker({
		dateFormat : 'yy-mm-dd',
		prevText : '<i class="fa fa-chevron-left"></i>',
		nextText : '<i class="fa fa-chevron-right"></i>',
	});

  $('#dateTimevz').datepicker({
    dateFormat : 'yy-mm-dd',
    prevText : '<i class="fa fa-chevron-left"></i>',
    nextText : '<i class="fa fa-chevron-right"></i>',
  });

  $('#dateIni_ln').datepicker({
    dateFormat : 'yy-mm-dd',
    prevText : '<i class="fa fa-chevron-left"></i>',
    nextText : '<i class="fa fa-chevron-right"></i>',
  });

  $('#dateEnd_ln').datepicker({
    dateFormat : 'yy-mm-dd',
    prevText : '<i class="fa fa-chevron-left"></i>',
    nextText : '<i class="fa fa-chevron-right"></i>',
  });

  $('#dateTime_in_vzla').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#dateTime_out_vzla').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#did_dateIn').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#did_dateFn').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#date_cong_in').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#date_cong_out').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#dateCSN_in').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#dateCSN_out').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#dateCO_in').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#dateCO_out').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#dateRPPR_in').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#dateRPPR_out').datepicker({
    dateFormat : 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  $('#SubmitDid').click(function(event) 
  {     
    var dateIn  = $('#did_dateIn').val();
    var dateFn  = $('#did_dateFn').val();
    var country = $('#did_country').val();
    var userId  = $('#UserIdSession').val();

    if( (dateIn == "") || (dateFn == "") || (country == ""))
    {

      window.alert("Debe Colocar Rango de Fecha Validos");

    }else{
      var   url    = "ReportDid.php?user="+userId+"&dateIn="+dateIn+"&dateFn="+dateFn+"&country="+country+"";
      window.location.href = url;

    }
  });


  $("#file").change(function() {
    var file = this.files[0];
    var imagefile = file.type;

    var match= ["application/vnd.ms-excel", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/pdf", "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/msword", "image/jpeg","image/png","image/jpg"];

    if(!((imagefile==match[0]) || (imagefile==match[1]) || 
        (imagefile==match[2]) || (imagefile==match[3])  ||
        (imagefile==match[4]) || (imagefile==match[5])  ||
        (imagefile==match[6]) || (imagefile==match[7])
        ))
    {
        alert('Please select a valid image file (EXCEL/PDF/WORD/JPEG/JPG/PNG).');
        $("#file").val('');
        return false;
    }
  });

 

////////////////////////////// Data Basic //////////////////////////////

});
/////////////////////////////////////////////////////////////////////////////////

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });
}

  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  }

</script>
{% endblock %}