<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Reporte de Llamadas por Cola</h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">

              <!-- <form enctype="multipart/form-data" id="FormRepQueue" data-parsley-validate="" class="smart-form"> -->
              <form enctype="multipart/form-data" action="/ReportingQueue" method="POST" class="smart-form">


              <fieldset>

                <div class="row">
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="dateTime" id="dateTime" required placeholder="Fecha">
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="input">
                      <input type="number" name="criterion" id="criterion" required placeholder="Criterio">
                    </label>
                  </section>
                </div>

                <section>
                  <label class="input">
                    <input type="file" class="form-control" id="file" name="file" />
                  </label>
                </section>
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">Someter</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>