<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Reportes de Clientes en Seguimiento Por Notas</h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">
            <form action="/ReportingCliSegNotes" method="POST" class="smart-form">
              <fieldset>
                <div class="row">
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="dateCSN_in" id="dateCSN_in" required placeholder="Fecha Inicial">
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="dateCSN_out" id="dateCSN_out" required placeholder="Fecha Final">
                    </label>
                  </section>
                </div>
                <section>
                    <label class="select">
                    <select name="CSN_country" id="CSN_country" required="">
                      <option value="1"> PUERTO RICO</option>
                      <option value="2"> ESTADOS UNIDOS</option>
                      <option value="4"> VENEZUELA</option>
                    </select> <i></i> </label>
                  </section> 
                
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">Someter</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Verificacion de Codigos de Pago Tipo 1 - Mikrowisp</h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">

              <!-- <form enctype="multipart/form-data" id="FormRepQueue" data-parsley-validate="" class="smart-form"> -->
              <form enctype="multipart/form-data" action="/reporting/VerifiePaymentTypeIMikro" method="POST" class="smart-form">
                <fieldset>
                  <section>
                    <label class="input">
                      <input type="file" class="form-control" id="file_vptm" name="file_vptm" />
                    </label>
                  </section>
                </fieldset>
                <footer>
                  <button type="submit" class="btn btn-primary">Someter</button>
                </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Reportes Calls Operator</h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">
            <form action="/ReportingCallsOperator" method="POST" class="smart-form">
              <fieldset>
                <div class="row">
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="dateCO_in" id="dateCO_in" required placeholder="Fecha Inicial">
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="dateCO_out" id="dateCO_out" required placeholder="Fecha Final">
                    </label>
                  </section>
                </div>
                <section>
                    <label class="select">
                    <select name="CO_country" id="CO_country" required="">
                      <option value="1"> PUERTO RICO</option>
                      <option value="2"> ESTADOS UNIDOS</option>
                      <option value="4"> VENEZUELA</option>
                    </select> <i></i> </label>
                  </section> 
                
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">Someter</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>