<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Creaci&oacute;n Masiva de Notas - Mikrowisp</h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">

              <!-- <form enctype="multipart/form-data" id="FormRepQueue" data-parsley-validate="" class="smart-form"> -->
              <form enctype="multipart/form-data" action="/reporting/massivenotesmikrowisp" method="POST" class="smart-form">
                <fieldset>
                  <section>
                    <label class="input">
                      <input type="file" class="form-control" id="file_mw" name="file_mw" />
                    </label>
                  </section>
                </fieldset>
                <footer>
                  <button type="submit" class="btn btn-primary">Someter</button>
                </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Conglomerado de Tiempos Por Departamento </h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">

            <form action="/reporting/conglomeratecalls" method="POST" class="smart-form">

              <fieldset>

                <div class="row">
                  <fieldset>
                    <section>
                     <label class="select">
                        <select name="dep" id="dep" required="">
                          <option value="0" selected="" disabled="">DEPARTAMENT</option>
                          <option value="1"> CUSTOMER SERVICE</option>, 
                          <option value="2"> SALES</option>
                          <option value="5"> TRAINING</option>
                          <option value="6"> DATA ENTRY</option>
                          <option value="11"> COLLECTION</option>

                        </select> <i></i> </label>
                    </section>
                  </fieldset>
                </div>    

                <div class="row">
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="date_cong_in" id="date_cong_in" required placeholder="Fecha Inicial">
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="date_cong_out" id="date_cong_out" required placeholder="Fecha Fin">
                    </label>
                  </section>
                </div>               
              </fieldset>
              
              <footer>
                <button type="submit" class="btn btn-primary">Validar</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Reportes de Llamadas Unicas por DID USA</h2>
        </header>
        <div>
          <div class="jarviswidget-editbox"></div>
          
          <div class="widget-body no-padding">
            <form action="/ReportingCallsUS" method="POST" class="smart-form">
              <fieldset>
                <div class="row">
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="dateTimeUS_in" id="dateTimeUS_in" required placeholder="Fecha Inicial">
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="dateTimeUS_out" id="dateTimeUS_out" required placeholder="Fecha Final">
                    </label>
                  </section>
                </div>
                
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">Someter</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>