<div class="row">
  <div class="col-sm-12" style="text-align: center;">
    <label>Seleccione Rango de Busqueda:</label>
  </div>

  <form id="rangeDate">
    <div class="col-sm-6">
    
      <div class="form-group">
        <div class="input-group">
          <a class="input-group-addon" onclick="UpdGeo();"><i class="fa fa-globe"></i> </a>
          <a class="input-group-addon" onclick="InfoVE();"><i class="fa fa-user"></i> </a>
          <input class="form-control" id="to" name="dateIni" type="text" placeholder="Fecha Inicial">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="from" name="dateEnd" type="text" placeholder="Fecha Final">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <a class="input-group-addon" onclick="CypherInfoClient2();"><i class="fa fa-lock"></i> </a>
        </div>
      </div>      
    </div>
  </form>

</div>

<div class="row" style="margin-top: 10px;">
  <article class="col-sm-12">
    <!-- new widget -->
    <div class="jarviswidget" id="wid-id-0"  data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
      <header>
        <h2>COORDINACIONES </h2>
        <ul class="nav nav-tabs pull-right in" id="myTab">
          <li class="active"><a data-toggle="tab" href="#pr1"><i class="fa fa-lg fa-warning"></i> <span class="hidden-mobile hidden-tablet"> Pendientes </span></a></li>
          <li><a data-toggle="tab" href="#pr2"><i class="fa fa-lg fa-history"></i> <span class="hidden-mobile hidden-tablet"> Seguimiento </span></a></li>
          <li><a data-toggle="tab" href="#pr3"><i class="fa fa-lg fa-check-square"></i> <span class="hidden-mobile hidden-tablet"> Coordinadas </span></a></li>
          <li><a data-toggle="tab" href="#pr4"><i class="fa fa-lg fa-times"></i> <span class="hidden-mobile hidden-tablet"> Canceladas</span></a></li>
          <li><a data-toggle="tab" href="#pr5"><i class="fa fa-lg fa-group"></i> <span class="hidden-mobile hidden-tablet"> Brindo Referido</span></a></li>
        </ul>
      </header>
      <div class="no-padding">        
        <div class="widget-body">

          <div class="tab-content ">
           
            <div class="tab-pane active" id="pr1">
              <div class="table-responsive">
                <div id="TableCoordinationPending" style="font-size: 11px;"></div>
              </div>
            </div>

            <div class="tab-pane" id="pr2">
              <div class="table-responsive">
                <div id="TableCoordinationSeg" style="font-size: 11px;"></div>
              </div>
            </div>
            
            <div class="tab-pane" id="pr3">
              <div class="table-responsive">
                <div id="TableCoordinationProcess" style="font-size: 11px;"></div>
              </div>
            </div>
            
            <div class="tab-pane" id="pr4">
              <div class="table-responsive">
                <div id="TableCoordinationCancel" style="font-size: 11px;"></div>
              </div>
            </div>
            
            <div class="tab-pane" id="pr5">
              <div class="table-responsive">
                <div id="TableCoordinationReferred" style="font-size: 11px;"></div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </article>
</div>  