{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Coordinations</li>
    </ol>
  </div>
  <div id="content">   

      {% include('coordination/general.html.twig') %}  
        
    </div>
  </div>

{% include('coordination/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">
$(document).ready(function() 
{
  Load();

  $("#from").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#to").datepicker("option", "maxDate", selectedDate);
        var str = $("#rangeDate").serialize();
        $.ajax({ type: "POST", url:  "{{ url('/Coord/SearchDate') }}", data: {str:str},

        success: function(data)
        {
          $("#TableCoordinationPending").html(data.pending.pend);
          $('#CoordPendTable').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });


          $("#TableCoordinationSeg").html(data.pending.seg);
          $('#CoordSegTable').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });

          $("#TableCoordinationProcess").html(data.pending.coord);
          $('#CoordProcTable').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });

          $("#TableCoordinationCancel").html(data.pending.cancel);
          $('#CoordCancelTable').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });

          $("#TableCoordinationReferred").html(data.pending.ref);
          $('#CoordReferredTable').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });
        }
        });
      }

  });
  
  $("#to").datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
      onClose: function (selectedDate) {
        $("#from").datepicker("option", "minDate", selectedDate);
      }
  });

});


function CypherInfoClient2()
{
  $('#CypherDataClient2').modal('show');
}


function InfoVE()
{
  $('#InfoVe').modal('show');
}

////////////////////////////// Submit Contact Form //////////////////////////////

$('#ContactFormCoord').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#ContactFormCoord").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Coord/ViewContact') }}", data: {str: str},
    success: function(datos)
    {
        if(datos.status == true){ SuccessNotified(datos); $('#contactModal').modal('hide'); $('#ContactFormCoord')[0].reset(); $.unblockUI();}
        else{ $.unblockUI(); ErrorNotified(datos); }
    }
    });
    return false;
  });

////////////////////////////// Submit View Data Form //////////////////////////////

$('#InfoFormCoord').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#InfoFormCoord").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Coord/ViewDBCoord') }}", data: {str: str},
    success: function(datos)
    {
        if(datos.status == true){ 
          SuccessNotified(datos); 
          $('#InfoViewCoord').modal('hide'); 
          $('#InfoFormCoord')[0].reset();
          $.unblockUI();
        }else{ $.unblockUI(); ErrorNotified(datos); }
    }
    });
    return false;
  });


////////////////////////////// Submit Pre Coordnacion Form //////////////////////////////

$('#PreFormCoord').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#PreFormCoord").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Coord/PreCoord') }}", data: {str: str},
    success: function(datos)
    {
        if(datos.status == true){ 
          SuccessNotified(datos); 
          $('#PreCoordModal').modal('hide'); 
          $('#PreFormCoord')[0].reset();
          $.unblockUI();
        }else{ $.unblockUI(); ErrorNotified(datos); }
    }
    });
    return false;
  });


////////////////////////////// Submit Referred Form //////////////////////////////

$('#RefFormCoord').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {
    blockUI(); 
    var str = $("#RefFormCoord").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Coord/SubmitReferredCoord') }}", data: {str: str},
    success: function(datos)
    {
        if(datos.status == true){ 
          SuccessNotified(datos); 
          $('#ProcessRefModal').modal('hide'); 
          $('#RefFormCoord')[0].reset();
          $.unblockUI();
        }else{ $.unblockUI(); ErrorNotified(datos); }
    }
    });
    return false;
  });

////////////////////////////// Submit Coordnacion Form //////////////////////////////

$('#ProcessFormCoord').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
  }).on('form:submit', function() {

    if($('#co_answered').val() == 0)
    {
      $('#ProcessModal').modal('hide'); 
      $('#ProcessFormCoord')[0].reset();
    }else{
      blockUI(); 
      var str = $("#ProcessFormCoord").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/Coord/SubmitCoord') }}", data: {str: str},
      success: function(datos)
      {
          if(datos.status == true){ 
            SuccessNotified(datos); 
            $('#ProcessModal').modal('hide'); 
            $('#ProcessFormCoord')[0].reset();
            $.unblockUI();
          }else{ 
            $.unblockUI(); 
            $('#ProcessModal').modal('hide'); 
            $('#ProcessFormCoord')[0].reset();
            ErrorNotified(datos); }
      }
      });
      
    }
    return false;
  });

  /////////////////////////// Views Load ///////////////////////////
  
  function Load()
  {

    $.ajax({ type: "POST", url:  "{{ url('/Coord/Load') }}",
    success: function(data)
    {
      if(data.status = true)
      {

          $("#TableCoordinationPending").html(data.pending.pend);
          $('#CoordPendTable').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });


          $("#TableCoordinationSeg").html(data.pending.seg);
          $('#CoordSegTable').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });

          $("#TableCoordinationProcess").html(data.pending.coord);
          $('#CoordProcTable').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });

          $("#TableCoordinationCancel").html(data.pending.cancel);
          $('#CoordCancelTable').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });

          $("#TableCoordinationReferred").html(data.pending.ref);
          $('#CoordReferredTable').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });
      }
    }
    });
  }

//////////////////////////////////////////////////////////////////////////////////////////

  function ViewCoord(id)
  {
    $('#id_c_id').val(id);
    $('#contactModal').modal('show');
  }

//////////////////////////////////////////////////////////////////////////////////////////
  
  function InfoCoord(id)
  {
    blockUI();
    $('#id_c_i_coord').val(id);
    $.ajax({ type: "POST", url:  "{{ url('/Coord/InfoCoord') }}", data: {id_c: id},
    success: function(datos)
    {
        if(datos.status == true)
        { 
          $('#coordInfoDC').html(datos.client);
          $('#coordInfoDR').html(datos.referred);
          $('#coordInfoSV').html(datos.service);
          $('#InfoViewCoord').modal('show'); 
          $.unblockUI();
        }
        else{ $.unblockUI(); ErrorNotified(datos); }
    }
    });
  }

  function InfoCoordination(id)
  {
    blockUI();
    $('#id_c_i_coord').val(id);
    $.ajax({ type: "POST", url:  "{{ url('/Coord/InfoCoord') }}", data: {id_c: id},
    success: function(datos)
    {
        if(datos.status == true)
        { 
          $('#coordInfoDCI').html(datos.client);
          $('#coordInfoDRI').html(datos.referred);
          $('#coordInfoSVI').html(datos.service);
          $('#InfoViewCoordInfo').modal('show'); 
          $.unblockUI();
        }
        else{ $.unblockUI(); ErrorNotified(datos); }
    }
    });
  }

//////////////////////////////////////////////////////////////////////////////////////////
  
  function NotesCoord(id) 
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Coord/GetInfoCoordPend') }}", data: {id_c: id},
    success: function(datos)
    {
        if(datos.status == true)
        { 
          $('#id_c_n_coord').val(datos.info.client_id);

          $.ajax({ type: "POST", url:  "{{ url('/Coord/NotesCoord') }}", data: {id_c: datos.info.client_id},
          success: function(datos)
          {
              if(datos.status == true)
              { 
                $('#NotesBody').html(datos.notes);
                $('#NotesModal').modal('show'); 
                $.unblockUI();
              }
              else{ $.unblockUI(); ErrorNotified(datos); }
          }
          });
        }
    }
    });    
  
  }

  function NotesCoordOther(id) 
  {
    blockUI();
    $.ajax({ type: "POST", url:  "{{ url('/Coord/GetInfoCoord') }}", data: {id_c: id},
    success: function(datos)
    {
        if(datos.status == true)
        { 
          $('#id_c_n_coord').val(datos.info.client_id);

          $.ajax({ type: "POST", url:  "{{ url('/Coord/NotesCoord') }}", data: {id_c: datos.info.client_id},
          success: function(datos)
          {
              if(datos.status == true)
              { 
                $('#NotesBody').html(datos.notes);
                $('#NotesModal').modal('show'); 
                $.unblockUI();
              }
              else{ $.unblockUI(); ErrorNotified(datos); }
          }
          });
        }
    }
    });    
  }

//////////////////////////////////////////////////////////////////////////////////////////
  
  function CancelCoord(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/Coord/ViewCancel') }}", data: {id: id},
    success: function(datos)
    {
        if(datos.status == true)
        { 
          $('#BodyViewCancelData').html(datos.html);
          $('#ViewCancelCoord').modal('show');
        }
    }
    });
  }

//////////////////////////////////////////////////////////////////////////////////////////
  
  function LogCoord(id)
  {
    blockUI(); 
    $.ajax({ type: "POST", url:  "{{ url('/Coord/LogCoord') }}", data: {id: id},
    success: function(datos)
    {
        if(datos.status == true)
        { 
          $('#TableLogCoord').html(datos.html);

          $('#TableLogCoordHtml').DataTable({
              aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
              pageLength: 10
          });

          $('#LogCoordModal').modal('show');
          $.unblockUI();
          
        }
    }
    });
  }

//////////////////////////////////////////////////////////////////////////////////////////

  function SaveCancelCoord()
  {
    var str = $("#SubCancelCoord").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Coord/ProcCoordCancel') }}", data: {str: str},
    beforeSend: function(request){
      $('#AlertBodyCoordCancel').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i><strong> Procesando </strong> Por Favor Espere...</div>');
    },
    success: function(datos)
    {
      if(datos.status == true){ 
        SuccessNotified(datos); 
        $("#AlertBodyCoordCancel").html('');
        $('#BodyViewCancelData').html('');
        $('#SubCancelCoord')[0].reset();
        $('#ViewCancelCoord').modal('hide');
      }
      else{ 
        ErrorNotified(datos);
        $("#AlertBodyCoordCancel").html('');
      }
      $('#AlertBodyCoordCancel').html('');
    }
    });
  return false;
  }

//////////////////////////////////////////////////////////////////////////////////////////
  
  $("#noteClientForm2").on('submit', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{{ url('/Coord/NoteSave') }}",
        data: new FormData(this),
        contentType: false,
        cache: false,
        processData:false,
        beforeSend: function(request){
          blockUI();
        },
        success: function(datos){
          $.unblockUI();
          if(datos.status == true)
          {
            $('#noteClientForm2')[0].reset();
            $("#chat-body2").html('');
            $('#NotesModal').modal('hide');          

          }else{
              $("#alarmNote2").html('');
              $("#alarmNote2").html(datos.html);
          }
        }
    });
  });

//////////////////////////////////////////////////////////////////////////////////////////

  $("#file2").change(function() {
    var file = this.files[0];
    var imagefile = file.type;

    var match= ["image/jpeg", "image/jpg"];

    if(!((imagefile==match[0]) || (imagefile==match[1]) ))
    {
        alert('Please select a valid image file (JPEG/JPG).');
        $("#file2").val('');
        return false;
    }
  });

//////////////////////////////////////////////////////////////////////////////////////////

  function PreCoord(id)
  {

    $.ajax({ type: "POST", url:  "{{ url('/Coord/PreCoordView') }}", data: {id_c: id},
    success: function(datos)
      {
          if(datos.status == true)
          { 
            $('#id_c_p_coord').val(id);
            $('#PreCoordModal').modal('show');
            $.unblockUI();
          }else{ $('#alertSubmitTvPR').html(''); $.unblockUI(); ErrorNotified(datos); }
      }
    });
    return false; 
    

    // $('#id_c_p_coord').val(id);
    // $('#PreCoordModal').modal('show');
  }

//////////////////////////////////////////////////////////////////////////////////////////

  function PackageCoord(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('/Coord/GetInfoCoordPend') }}", data: {id_c: id},
    success: function(datos)
    {
      if(datos.status == true)
      { 
        var   ticket  = datos.info.ticket;
        var   client  = datos.info.client_id;
        var   res     =  ticket.substr(0,2);
        var   modalT  = '';
        var   url     = '';
        var   form    = '';

        switch (res)
        {

          case 'TV':
            $('#t_t_s_coord').val(ticket);
            $('#id_t_scoord').val(client);
            var urlT    =  "{{ url('/Coord/PackageTvPR') }}";
            var modalT  =  'TvPRCoordModal';
            var formT   =  'UpdateTVPrFormCoord';
            break;
          case 'SE':
            $('#t_s_s_coord').val(ticket);
            $('#id_s_scoord').val(client);
            var urlT    =  "{{ url('/Coord/PackageSePR') }}";
            var modalT  = 'SecPRCoordModal';
            var formT   = 'UpdateSECPrFormCoord';
            break;
          case 'IN':
            $('#t_i_s_coord').val(ticket);
            $('#id_i_scoord').val(client);
            var urlT    = "{{ url('/Coord/PackageInPR') }}";
            var modalT  = 'IntPRCoordModal';
            var formT   = 'UpdateINTPrFormCoord';
            break;
          case 'IV':
            $('#t_iv_s_coord').val(ticket);
            $('#id_iv_scoord').val(client);
            var urlT    = "{{ url('/Coord/PackageIVEPR') }}";
            var modalT  = 'IntVZCoordModal';
            var formT   = 'UpdateIntVZFormCoord';
            break;
        }

        blockUI(); 
        var str = $('#'+formT+'').serialize();
        $.ajax({ type: "POST", url:  urlT, data: {t_c: ticket, id_c: id},
          success: function(datos)
          {
            console.log(datos);
              if(datos.status == true)
              { 
                if(datos.type == "TV")
                {
                  $("#pr_tv_co_01").val(datos.tv.tv);
                  $("select[name=pr_tv_co_decoder]").val(datos.tv.decoders);
                  $("select[name=pr_tv_co_packages]").val(datos.tv.packages);
                  $("select[name=pr_tv_co_dvrs]").val(datos.tv.dvrs);
                  $("select[name=pr_tv_co_providers]").val(datos.tv.provider);
                  $("select[name=pr_tv_co_payment]").val(datos.tv.payment);
                  if(datos.tv.hd =='on'){$('#pr_tv_co_hd').prop('checked',true);}else{$('#pr_tv_co_hd').prop('checked', false);}
                  if(datos.tv.dvr=='on'){$('#pr_tv_co_dvr').prop('checked',true);}else{$('#pr_tv_co_dvr').prop('checked', false);}
                  if(datos.tv.hbo=='on'){$('#pr_tv_co_hbo').prop('checked',true);}else{$('#pr_tv_co_hbo').prop('checked', false);}

                  if(datos.tv.cinemax =='on'){$('#pr_tv_co_cinemax').prop('checked',true);}else{$('#pr_tv_co_cinemax').prop('checked', false);}
                  if(datos.tv.starz   =='on'){$('#pr_tv_co_startz').prop('checked',true);}else{$('#pr_tv_co_startz').prop('checked', false);}
                  if(datos.tv.showtime=='on'){$('#pr_tv_co_showtime').prop('checked',true);}else{$('#pr_tv_co_showtime').prop('checked', false);}

                  if(datos.tv.gift_ent =='on'){$('#pr_tv_co_gif_ent').prop('checked',true);}else{$('#pr_tv_co_gif_ent').prop('checked', false);}
                  if(datos.tv.gift_cho =='on'){$('#pr_tv_co_gif_cho').prop('checked',true);}else{$('#pr_tv_co_gif_cho').prop('checked', false);}
                  if(datos.tv.gift_xtra=='on'){$('#pr_tv_co_gif_ext').prop('checked',true);}else{$('#pr_tv_co_gif_ext').prop('checked', false);}
                }
                if(datos.type == "SE")
                {
                  $("select[name=pr_sec_co_previously]").val(datos.sec.previosly)
                  $("#pr_sec_co_06").val(datos.sec.equipment);
                  $("select[name=pr_sec_co_cameras]").val(datos.sec.cameras);
                  $("#pr_sec_co_07").val(datos.sec.comp_equ);
                  $("select[name=pr_sec_co_dvr]").val(datos.sec.dvr);
                  $("#pr_sec_co_08").val(datos.sec.add_equip);
                  $("#pr_sec_co_03").val(datos.sec.pass_alarm);
                  $("select[name=pr_sec_co_payment]").val(datos.sec.payment);
                  $("#pr_sec_co_12").val(datos.sec.cont_1);
                  $("#pr_sec_co_15").val(datos.sec.cont_1_desc);
                  $("#pr_sec_co_13").val(datos.sec.cont_2);
                  $("#pr_sec_co_16").val(datos.sec.cont_2_desc);
                  $("#pr_sec_co_14").val(datos.sec.cont_3);
                  $("#pr_sec_co_17").val(datos.sec.cont_3_desc);
                }
                if(datos.type == "IN")
                {
                  $("select[name=pr_int_co_res]").val(datos.int.int_res);
                  $("select[name=pr_int_co_res_pho]").val(datos.int.pho_res);
                  $("select[name=pr_int_co_trade]").val(datos.int.int_com);
                  $("select[name=pr_int_co_trade_pho]").val(datos.int.pho_com);      
                  $("select[name=pr_int_co_payment]").val(datos.int.payment);
                }
                if(datos.type == "IV")
                {
                  $("select[name=vzla_int_co_res]").val(datos.ive.int_res);
                  $("select[name=vzla_int_co_res_pho]").val(datos.ive.pho_res);
                  $("select[name=vzla_int_co_trade]").val(datos.ive.int_com);
                  $("select[name=vzla_int_co_trade_pho]").val(datos.ive.pho_com);      
                  $("select[name=vzla_int_co_payment]").val(datos.ive.payment);
                  $("select[name=vzla_int_co_bank]").val(datos.ive.bank);
                  $("#vzla_int_co_amount").val(datos.ive.amount);
                  $("#vzla_int_co_email").val(datos.ive.email);
                  $("#vzla_int_co_trans").val(datos.ive.trans);
                  $("#vzla_int_co_date").val(datos.ive.trans_date);
                  $("#vzla_int_additional").val(datos.ive.additional);
                  $('#vzla_int_co_date').datepicker({
                    dateFormat: 'mm-dd-yy',
                    yearRange: 'c-60:c+10',
                    defaultDate: "+1w",
                    changeMonth: true,
                    changeYear: true,
                    prevText: '<i class="fa fa-chevron-left"></i>',
                    nextText: '<i class="fa fa-chevron-right"></i>',
                  });
                }


                $('#ProcessModal').modal('hide'); 
                $('#ProcessFormCoord')[0].reset();
                $.unblockUI();
              }else{ $.unblockUI(); ErrorNotified(datos); }
          }
        });

        $('#'+modalT+'').modal('show');
      }else{
        $.unblockUI(); ErrorNotified(datos);
      }
    }
    });
  }

  function PrSubmitTv()
  {
    var str = $("#UpdateTVPrFormCoord").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Coord/SubmitTelevisionPR') }}", data: {str: str},
    beforeSend: function() {
      $('#alertSubmitTvPR').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong>Procesando!</strong> por favor Espere.</div>');
    },
    success: function(datos)
      {
          if(datos.status == true){ 
            $('#alertSubmitTvPR').html('');
            SuccessNotified(datos); 
            $('#UpdateTVPrFormCoord')[0].reset();
            $('#TvPRCoordModal').modal('hide'); 
            $.unblockUI();
          }else{ $('#alertSubmitTvPR').html(''); $.unblockUI(); ErrorNotified(datos); }
      }
    });
    return false;
  }

  function PrSubmitSec()
  {
    var str = $("#UpdateSECPrFormCoord").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Coord/SubmitSecurityPR') }}", data: {str: str},
    beforeSend: function() {
      $('#alertSubmitSecPR').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong>Procesando!</strong> por favor Espere.</div>');
    },
    success: function(datos)
      {
          if(datos.status == true){ 
            $('#alertSubmitSecPR').html('');
            SuccessNotified(datos); 
            $('#UpdateSECPrFormCoord')[0].reset();
            $('#SecPRCoordModal').modal('hide'); 
            $.unblockUI();
          }else{ $('#alertSubmitSecPR').html(''); $.unblockUI(); ErrorNotified(datos); }
      }
    });
    return false;
  }

  function PrSubmitInt()
  {
    var str = $("#UpdateINTPrFormCoord").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Coord/SubmitInternetPR') }}", data: {str: str},
    beforeSend: function() {
      $('#alertSubmitIntPR').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong>Procesando!</strong> por favor Espere.</div>');
    },
    success: function(datos)
      {
          if(datos.status == true){ 
            $('#alertSubmitIntPR').html('');
            SuccessNotified(datos); 
            $('#UpdateINTPrFormCoord')[0].reset();
            $('#IntPRCoordModal').modal('hide'); 
            $.unblockUI();
          }else{ $('#alertSubmitIntPR').html(''); $.unblockUI(); ErrorNotified(datos); }
      }
    });
    return false;
  }

  function VZSubmitInt()
  {
    var str = $("#UpdateIntVZFormCoord").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Coord/SubmitInternetVZ') }}", data: {str: str},
    beforeSend: function() {
      $('#alertSubmitIntVZ').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i><strong>Procesando!</strong> por favor Espere.</div>');
    },
    success: function(datos)
      {
          if(datos.status == true){ 
            $('#alertSubmitIntVZ').html('');
            SuccessNotified(datos); 
            $('#UpdateIntVZFormCoord')[0].reset();
            $('#IntVZCoordModal').modal('hide'); 
            $.unblockUI();
          }else{ $('#alertSubmitIntVZ').html(''); $.unblockUI(); ErrorNotified(datos); }
      }
    });
    return false;
  }

//////////////////////////////////////////////////////////////////////////////////////////

  function ProcessCoord(ticket, id)
  {

    $.ajax({ type: "POST", url:  "{{ url('/Coord/PreCoordView') }}", data: {id_c: ticket},
    success: function(datos)
      {
          if(datos.status == true)
          { 
            $('#t_co_p_coord').val(ticket);
            $('#id_co_p_coord').val(id);
            $('#ProcessModal').modal('show');
            $.unblockUI();
          }else{ $('#alertSubmitTvPR').html(''); $.unblockUI(); ErrorNotified(datos); }
      }
    });
    return false; 

    // $('#t_co_p_coord').val(ticket);
    // $('#id_co_p_coord').val(id);
    // $('#ProcessModal').modal('show');
  }

  function RefProcessCoord(ticket, id)
  {

    $.ajax({ type: "POST", url:  "{{ url('/Coord/PreCoordView') }}", data: {id_c: ticket},
    success: function(datos)
      {
        if(datos.status == true)
        { 
          $('#t_co_pr_coord').val(ticket);
          $('#id_co_pr_coord').val(id);
          $('#ProcessRefModal').modal('show');
          $.unblockUI();
        }else{ $('#alertSubmitTvPR').html(''); $.unblockUI(); ErrorNotified(datos); }
      }
    });
    return false; 

    // $('#t_co_pr_coord').val(ticket);
    // $('#id_co_pr_coord').val(id);
    // $('#ProcessRefModal').modal('show');
  }

  $('#c_p_date').datepicker({
    dateFormat: 'mm-dd-yy',
    yearRange: 'c-60:c+10',
    defaultDate: "+1w",
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });

  function SaveViewCoord()
  {
    var str = $("#ViewCoordForm").serialize();
    $('#ViewCoordForm')[0].reset();
    $('#ContactViewCoord').modal('hide'); 
  }

  function DataCoord(id)
  {
    $('#id_sol_coord').val(id);
    $('#DataViewCoord').modal('show');  
  }

/////////////////////////////////////////////////////////////////////////////////

  function PreCord()
  {
    $('#PreCordModal').modal('show');
  }

  function SubmitPreCord()
  {
    var   ticket  = $('#pre_ticket').val();

    if(ticket == "")
    {
      $('#AlertPreCord').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i><strong> Error </strong> Debe Incluir un Ticket Valido</div>');

    }else{
      
      $('#AlertPreCord').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i><strong> Procesando </strong> Por Favor Espere...</div>');

      $.ajax({ type: "POST", url:  "{{ url('/Coord/PreCoordSup') }}", data: {ticket: ticket},
      success: function(datos)
      {
        if(datos.status == true)
        { 
          $('#AlertPreCord').html('');
          $('#pre_ticket').val('');
          $('#PreCordModal').modal('hide');
          SuccessNotified(datos);
          $.unblockUI();
        }else{ $('#AlertPreCord').html(''); $('#pre_ticket').val(''); $('#PreCordModal').modal('hide'); $.unblockUI(); ErrorNotified(datos); }
      }
      });
      return false; 

    }
  }

/////////////////////////////////////////////////////////////////////////////////

  function UpdGeo()
  {
    $('#UpdGeoModal').modal('show');
  }

  function SubmitUpdGeo()
  {
    var   ticket  = $('#geo_ticket').val();

    if(ticket == "")
    {
      $('#AlertUpdGeo').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i><strong> Error </strong> Debe Introducir un Ticket Valido</div>');

    }else{
      
      $('#AlertUpdGeo').html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i><strong> Procesando </strong> Por Favor Espere...</div>');

      $.ajax({ type: "POST", url:  "{{ url('/Leads/Geographic/UpdateTicket') }}", data: {ticket: ticket},
      success: function(datos)
      {
        if(datos.status == true)
        { 
          $('#AlertUpdGeo').html('');
          $('#geo_ticket').val('');
          $('#UpdGeoModal').modal('hide');
          SuccessNotified(datos);
          $.unblockUI();
        }else{ $('#AlertUpdGeo').html(''); $('#geo_ticket').val(''); $('#UpdGeoModal').modal('hide'); $.unblockUI(); ErrorNotified(datos); }
      }
      });
      return false; 

    }
  
  }

/////////////////////////////////////////////////////////////////////////////////

function ErrorNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#C46A69",
    iconSmall : "fa fa-warning shake animated",
    timeout : 4000
  });
}

function SuccessNotified($info)
{

  $.smallBox({
    title : $info.title,
    content : $info.content,
    color : "#739E73",
    iconSmall : "fa fa-check",
    timeout : 4000
  });
}

  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  }


</script>
{% endblock %}