<div class="row" style="margin-top: 10px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>SOLICITUDES COORDINADAS</h2>
      </header>
      <div>
        <div class="widget-body">
            
            <div class="table-responsive">
              <table id="CoordTable" class="table table-bordered" border="1" style="font-size: 10px;">
                <thead>
                  <tr>
                    <th style="text-align: center;">Ticket</th>
                    <th style="text-align: center;">Fecha</th>
                    <th style="text-align: center;">Cliente</th>
                    <th style="text-align: center;">Telefono</th>
                    <th style="text-align: center;">Servicio</th>
                    <th style="text-align: center;">Vendedor</th>
                    <th style="text-align: center;">Depart</th>
                    <th style="text-align: center;">Score</th>
                    <th style="text-align: center;">Status</th>
                    <th style="text-align: center;">Rason</th>
                    <th style="text-align: center;">Procesado</th>
                    <th style="text-align: center;">Fecha</th>
                    <th style="text-align: center;">Edicion</th>
                    <th style="text-align: center;">Procesamiento</th>
                  </tr>
                </thead>
                <tbody id="tableCoord">
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>