<div class="modal fade" id="CypherDataClient2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-lock" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Datos Cifrados de Cliente </h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<div class="row">
					<div class="col-lg-6">
						<form class="SearchCypherClient" id="SearchCypherClient" >
							<div class="input-group">
								<input class="form-control" type="number" id="search-cypher" name="search-cypher" placeholder="Busqueda por Telefono">
								<div class="input-group-btn">
									<button type="text" class="btn btn-default">
									<i class="fa fa-fw fa-search fa-lg"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-6">
						<form class="SearchCypherCl" id="SearchCypherCl">
							<div class="col-lg-9">
								<div class="input-group">
									<input class="form-control" type="number" id="search-client" name="search-client" placeholder="Busqueda por Cliente">
									<div class="input-group-btn">
										<button type="text" class="btn btn-default">
										<i class="fa fa-fw fa-search fa-lg"></i>
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3">
								<div class="input-group">
								<label class="select">
									<select class="form-control" id="search-type" name="search-type">
										<option value="SS">SS</option>
										<option value="ID">ID</option>
										<option value="CC">CC</option>
										<option value="AB">AB</option>
									</select> <i></i> 
								</label>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div id="InfoCypherClient"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="InfoVe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-lock" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel" style="margin-top: 10px;">Informacion de Cliente </h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<div class="row">
					<div id="PasswordAlert"></div>
				</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="input-group">
							<input class="form-control" type="number" id="ced_numb" name="ced_numb" placeholder="Cedula de Identidad">
						</div>
					</div>

					<div class="col-lg-4">
						<div class="input-group">
						<label class="select">
							<select class="form-control" id="ced_type" name="ced_type">
								<option value="V">V</option>
								<option value="E">E</option>
							</select> <i></i> 
						</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div id="ResultInfoVe"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<!-- --------------------------- Contact Modal ---------------------------->

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Coordinaciones</h4>
			</div>
			<form class="ContactFormCoord" method="post" id="ContactFormCoord" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row" style="text-align: center;">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<input type="text" id="id_c_id" name="id_c_id" class="form-control hidden"/>
							<h3><strong> Cliente Contactado ? </strong></h3>
							<fieldset>
								<div class="form-group">
									<div class="col-md-12">
										<select class="form-control" id="c_contact" name="c_contact" required>
											<option value="0">NO</option>
											<option value="1">SI</option>
											<option value="2">VENDEDOR</option>
										</select>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<h3><strong> MOTIVO ? </strong></h3>
							<fieldset>
								<div class="form-group">
									<div class="col-md-12">
										<select class="form-control" id="c_reason" name="c_reason" required>
						                  {% for cont in contactlist %}
						                      <option value="{{ cont['id'] }}"> {{ cont['name'] }}</option>
						                  {% endfor %}
										</select>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Actualizar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- --------------------------- View Info Modal ---------------------------->

<div class="modal fade" id="InfoViewCoord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">INFORMACI&Oacute;N DE COORDINACI&Oacute;N</h4>
			</div>
			<form class="InfoFormCoord" method="post" id="InfoFormCoord" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2 col-col-sm-8 col-sm-offset-2 col-col-md-8 col-md-offset-2 col-col-lg-8 col-lg-offset-2">
							<header style="text-align: center;">DATOS DE CLIENTE CORRECTOS ?</header>
					        <input type="text" id="id_c_i_coord" name="id_c_i_coord" class="form-control hidden"/>
							<select class="form-control" id="c_i_correct" name="c_i_correct" required>
								<option value="0">NO</option>
								<option value="1">SI</option>
							</select>
						</div>
					</div>
					<br>
					<div id="coordInfoDC"></div>
					<br/>
					<div id="coordInfoDR"></div>
					<br/>
					<div id="coordInfoSV"></div>
					<br/>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Salvar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="InfoViewCoordInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">INFORMACI&Oacute;N DE COORDINACI&Oacute;N</h4>
			</div>
			<form class="InfoFormCoordination" id="InfoFormCoordination" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="coordInfoDCI"></div>
					<br/>
					<div id="coordInfoDRI"></div>
					<br/>
					<div id="coordInfoSVI"></div>
					<br/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- --------------------------- Notes Modal ---------------------------->

<div class="modal fade" id="NotesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Coordinaciones</h4>
			</div>
			<form class="noteClientForm2" method="post" id="noteClientForm2" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
			      <div class="widget-body widget-hide-overflow no-padding">
			        <form enctype="multipart/form-data" id="noteClientForm" data-parsley-validate="">
			          <div class="chat-footer">
			            <div class="textarea-div">
			            <div class="typearea" style="text-align: center;" id="alarmNote2"></div>
			              <div class="typearea">
			              	<input type="text" id="t_c_n_coord" name="t_c_n_coord" class="form-control hidden"/>
			              	<input type="text" id="id_c_n_coord" name="id_c_n_coord" class="form-control hidden"/>
			                <textarea placeholder="Notas" id="notes" name="notes" class="custom-scroll"></textarea>
			              </div>
			            </div>
			            <span class="textarea-controls">
			              <div class="row" style="margin-bottom: 10px;">
			                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			                  <input type="file" class="form-control" id="file" name="file" />
			                </div>
			                <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
			                  <button class="btn btn-sm btn-primary pull-right" type="submit" >Enviar</button>
			                  <span class="pull-right smart-form" style="margin-top: 3px; margin-right: 10px;">
			                    <label class="checkbox pull-right"></label>
			                  </span>    
			                </div>
			              </div>
			            </span>
			          </div>
			        </form>
			        <div id="chat-body" class="chat-body custom-scroll" style="height: 500px;">
			        	<div id="NotesBody"></div>
			        </div>
			      </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- --------------------------- Cancel Modal ---------------------------->

<div class="modal fade" id="ViewCancelCoord" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-times" style="font-size: 50px;"></i>
			</div>
				<div class="modal-body" style="background: aliceblue;">
				<form class="smart-form" data-parsley-validate="" method="post" id="SubCancelCoord"" style="background: aliceblue;">
					<div id="AlertBodyCoordCancel"></div>
					<div id="BodyViewCancelData"></div>
				</div>
				<div class="modal-footer">
					<button type="button" onclick="SaveCancelCoord();" class="btn btn-default">Terminar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- --------------------------- PRE Coordinacion Modal ---------------------------->

<div class="modal fade" id="PreCoordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-calendar" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Coordinacion</h4>
			</div>
			<form class="smart-form" method="post" id="PreFormCoord" data-parsley-validate="">
	            <fieldset style="background: aliceblue;">
			        <input type="text" id="id_c_p_coord" name="id_c_p_coord" class="form-control hidden"/>
					<div class="row" style="margin-top: -20px;">
						<section class="col col-6">
							<h5 style="text-align: center;"> Desea Coordinar al Cliente ? </h5>
							<select class="form-control" id="c_p_contact" name="c_p_contact" required>
								<option value="0">NO</option>
								<option value="1">SI</option>
							</select>
						</section>
						<section class="col col-6">
							<h5 style="text-align: center;"> Razon ? </h5>
							<select class="form-control" id="c_p_reazon" name="c_p_reazon" required>
			                  {% for reason in prereason %}
			                      <option value="{{ reason['id'] }}"> {{ reason['name'] }}</option>
			                  {% endfor %}								
							</select>
						</section>
					</div>
				</fieldset>
				<fieldset style="background: aliceblue;">
					<div class="row">
						<section class="col col-6">
							<h5 style="text-align: center;">Fecha de Coordinacion</h5>
	                  		<label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="text" name="c_p_date" id="c_p_date" placeholder="Fecha de PreCoordinacion"></label>
						</section>
						<section class="col col-6">
							<h5 style="text-align: center;">Disponibilidad Horario</h5>
	                  		<select class="form-control" id="c_p_disp" name="c_p_disp" required>
								<option value="AM">AM</option>
								<option value="PM">PM</option>
								<option value="AM/PM">AM/PM</option>
							</select>
						</section>
					</div>
				</fieldset>
				<fieldset style="background: aliceblue;">
					<div class="row">
						<section class="col col-6">
							<h5 style="text-align: center;">Tiempo Estimado de Firma</h5>
							<select class="form-control" id="c_p_sig_time" name="c_p_sig_time" required>
								{% for sig in signature %}
			                      <option value="{{ sig['id'] }}"> {{ sig['name'] }}</option>
			                  {% endfor %}
							</select>
						</section>
						
						<section class="col col-6">
							<h5 style="text-align: center;">Motivo</h5>
	                  		<select class="form-control" id="c_p_sig_reason" name="c_p_sig_reason" required>
								{% for sigr in sigreason %}
			                      <option value="{{ sigr['id'] }}"> {{ sigr['name'] }}</option>
			                  {% endfor %}
							</select>
						</section>
					</div>
				</fieldset>

            <footer>
              	<button type="submit" class="btn btn-primary">SALVAR</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </footer>
          </form>
		</div>
	</div>
</div>

<!-- --------------------------- Update Package Television PR Modal ---------------------------->

<div class="modal fade" id="TvPRCoordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-calendar" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Paquetes de Television PR</h4>
			</div>
		  <form class="smart-form" method="post" id="UpdateTVPrFormCoord" data-parsley-validate="">
		    <fieldset style="background: aliceblue;">
    		<div class="col-lg-12"><div id="alertSubmitTvPR"></div></div>
		      <div class="row">
		        <div class="col col-6">
					<input type="text" id="t_t_s_coord" name="t_t_s_coord" class="form-control hidden"/>
			        <input type="text" id="id_t_scoord" name="id_t_scoord" class="form-control hidden"/>
		            <label class="label">TELEVISION</label>
		            <label class="input">
		              <input type="number" name="pr_tv_co_tv" id="pr_tv_co_01" placeholder="TVS" value="1" required>
		            </label>
		            
		            <label class="label" style="margin-top: 10px;">PAQUETES</label>
		            <label class="select"class="input">
		              <div class="icon-addon addon-md">
		                <select class="form-control" name="pr_tv_co_packages" id="pr_tv_co_02" required>
		                  {% for pack in packages %}
		                    {% if pack['status_id'] == "1" %}
		                      <option value="{{ pack['id'] }}"> {{ pack['name'] }}</option>
		                    {% endif %}
		                  {% endfor %}
		                </select>
		                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		              </div>
		            </label>

		            <label class="label" style="margin-top: 10px;">PROVEEDORES ANTERIORES</label>
		            <label class="select"class="input">
		              <div class="icon-addon addon-md">
		                <select class="form-control" name="pr_tv_co_providers" id="pr_tv_co_03">
		                  {% for pro in providers %}
		                    {% if pro['status_id'] == "1" %}
		                      <option value="{{ pro['id'] }}"> {{ pro['name'] }}
		                    {% endif %}
		                  {% endfor %}
		                </select>
		                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		              </div>
		            </label>

		        </div>
		       
		        <div class="col col-6">
		            <label class="label">DECODIFICADOR</label>
		            <label class="select"class="input">
		              <div class="icon-addon addon-md">
		                <select class="form-control" name="pr_tv_co_decoder" id="pr_tv_co_06">
		                  <option value="0" selected="">NINGUNO</option>
		                  <option value="1">1</option>
		                  <option value="2">2</option>
		                  <option value="3">3</option>
		                  <option value="4">4</option>
		                  <option value="5">5</option>
		                  <option value="6">6</option>
		                  <option value="7">7</option>
		                  <option value="8">8</option>
		                  <option value="9">9</option>
		                </select>
		                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		              </div>
		            </label>

		            <label class="label" style="margin-top: 10px;">DECODIFICADOR DVR</label>
		            <label class="select"class="input">
		              <div class="icon-addon addon-md">
		                <select class="form-control" name="pr_tv_co_dvrs" id="pr_tv_co_07">
		                  <option value="0" selected="">NINGUNO</option>
		                  <option value="1">1</option>
		                  <option value="2">2</option>
		                  <option value="3">3</option>
		                  <option value="4">4</option>
		                  <option value="5">5</option>
		                  <option value="6">6</option>
		                  <option value="7">7</option>
		                  <option value="8">8</option>
		                  <option value="9">9</option>
		                </select>
		                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		              </div>
		            </label>

		            <label class="label" style="margin-top: 10px;">METODO DE PAGO</label>
		            <label class="select"class="input">
		              <div class="icon-addon addon-md">
		                <select class="form-control" name="pr_tv_co_payment" id="pr_tv_co_08">
		                  {% for pay in payments %}
		                    {% if pay['status_id'] == "1" and (pay['service_id'] == "1"  or pay['service_id'] == "2") %}
		                      <option value="{{ pay['id'] }}"> {{ pay['name'] }}</option>
		                    {% endif %}
		                  {% endfor %}
		                </select>
		                <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		              </div>
		            </label>

		        </div>
		      </div>
		      <br>
		      <div class="row">
		        <div class="col col-4">
		          <div class="row" style="margin-left: 20px;">

		            <label class="checkbox">
		              <input type="checkbox" name="pr_tv_co_hd"  id="pr_tv_co_hd" >
		              <i></i>HD</label>
		            <label class="checkbox">
		              <input type="checkbox" name="pr_tv_co_dvr" id="pr_tv_co_dvr">
		              <i></i>DVR</label>
		            <label class="checkbox">
		              <input type="checkbox" name="pr_tv_co_hbo" id="pr_tv_co_hbo">
		              <i></i>HBO</label>

		          </div>
		        </div>
		        <div class="col col-4">
		          <div class="row" style="margin-left: 20px;">

		            <label class="checkbox">
		              <input type="checkbox" name="pr_tv_co_cinemax" id="pr_tv_co_cinemax">
		              <i></i>CINEMAX</label>
		            <label class="checkbox">
		              <input type="checkbox" name="pr_tv_co_startz" id="pr_tv_co_startz">
		              <i></i>STARZ</label>
		            <label class="checkbox">
		              <input type="checkbox" name="pr_tv_co_showtime" id="pr_tv_co_showtime">
		              <i></i>SHOWTIME</label>
		              
		          </div>
		        </div>
		        <div class="col col-4">
		          <div class="row" style="margin-left: 20px;">

		            <label class="checkbox">
		              <input type="checkbox" name="pr_tv_co_gif_ent" id="pr_tv_co_gif_ent">
		              <i></i>GIFT ENTERTAINMENT</label>
		            <label class="checkbox">
		              <input type="checkbox" name="pr_tv_co_gif_cho" id="pr_tv_co_gif_cho">
		              <i></i>GIFT CHOICE</label>
		            <label class="checkbox">
		              <input type="checkbox" name="pr_tv_co_gif_ext" id="pr_tv_co_gif_ext">
		              <i></i>GIFT XTRA</label>

		          </div>
		        </div>
		      </div>
		    </fieldset>
		    <footer>
		    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      	<a onclick="PrSubmitTv();" class="btn btn-success">PROCESAR</a>
		    </footer>
		  </form>
		</div>
	</div>
</div>

<!-- --------------------------- Update Package Security PR Modal ---------------------------->

<div class="modal fade" id="SecPRCoordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-calendar" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Paquetes de Seguridad PR</h4>
			</div>
		  	<form id="UpdateSECPrFormCoord" class="smart-form" data-parsley-validate="">
			    <fieldset>
					<input type="text" id="t_s_s_coord" name="t_s_s_coord" class="form-control hidden"/>
			        <input type="text" id="id_s_scoord" name="id_s_scoord" class="form-control hidden"/>
			        
			    <div class="col-lg-12"><div id="alertSubmitSecPR"></div></div>
			    <div class="row">
			      <div class="col col-6">

			          <label class="label">TIENE SISTEMA DE SEGURIDAD PREVIAMENTE ?</label>
			          <label class="select"class="input">
			            <div class="icon-addon addon-md">
			              <select class="form-control" name="pr_sec_co_previously_co" id="pr_sec_co_01">
			                <option value="0">NO</option>
			                <option value="1">SI</option>
			              </select>
			              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
			            </div>
			          </label>
			        
			          <label class="label" style="margin-top: 10px;">CAMARAS</label>
			          <label class="select"class="input">
			            <div class="icon-addon addon-md">
			              <select class="form-control" name="pr_sec_co_cameras" id="pr_sec_co_02">
			                {% for cam in cameras %}
			                  {% if cam['status_id'] == "1" %}
			                    <option value="{{ cam['id'] }}"> {{ cam['name'] }}
			                  {% endif %}
			                {% endfor %}
			              </select>
			              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
			            </div>
			          </label>

			          <label class="label" style="margin-top: 10px;">DVR</label>
			          <label class="select"class="input">
			            <div class="icon-addon addon-md">
			              <select class="form-control" name="pr_sec_co_dvr" id="pr_sec_co_02">
			                {% for dvr in dvrs %}
			                  {% if dvr['status_id'] == "1" %}
			                    <option value="{{ dvr['id'] }}"  selected=""> {{ dvr['name'] }}
			                  {% endif %}
			                {% endfor %}
			              </select>
			              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
			            </div>
			          </label>

			          <label class="label" style="margin-top: 10px;">PASSWORD DE ALARMA</label>
			          <label class="textarea">                    
			            <textarea rows="1" cols="5" name="pr_sec_co_password" id="pr_sec_co_03" class="custom-scroll" placeholder="Password del Cliente"></textarea> 
			          </label>  
			      </div>
			       
			      <div class="col col-6">
			          <label class="label" style="font-size: 11px;">DESCRIPCION DE LOS EQUIPOS QUE POSEE ACTUALMENTE?</label>
			          <label class="textarea">                    
			            <textarea rows="1" cols="5" name="pr_sec_co_equipment" id="pr_sec_co_06" class="custom-scroll" placeholder="Descripcion de Equipos"></textarea> 
			          </label>

			          <label class="label" style="margin-top: 18px;">EMPRESA ACTUAL DE MONITOREO ?</label>
			          <label class="textarea">                    
			            <textarea rows="1" cols="5" name="pr_sec_co_company" id="pr_sec_co_07" class="custom-scroll" placeholder="Compania de Monitoreo"></textarea> 
			          </label>

			          <label class="label" style="margin-top: 13px;">REQUIRE EQUIPO ADICIONAL?</label>
			          <label class="textarea">                    
			            <textarea rows="1" cols="5" name="pr_sec_co_add" id="pr_sec_co_08" class="custom-scroll" placeholder="Equipos Adicionales"></textarea> 
			          </label>

			          <label class="label" style="margin-top: 10px;">METODO DE PAGO</label>
			          <label class="select"class="input">
			            <div class="icon-addon addon-md">
			              <select class="form-control" name="pr_sec_co_payment" id="pr_sec_co_09">
			                {% for pay in payments %}
			                  {% if pay['status_id'] == "1" and (pay['service_id'] == "1"  or pay['service_id'] == "3") %}              
			                    <option value="{{ pay['id'] }}"> {{ pay['name'] }}
			                  {% endif %}
			                {% endfor %}
			              </select>
			              <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
			            </div>
			          </label>

			      </div>
			    </div>
				<br>  
			    <div class="row">
				    <div class="col col-6">
				      <label class="label">CONTACTO</label>
				      <label class="input">
				        <input type="number" name="pr_sec_co_cont_1" id="pr_sec_co_12" placeholder="Contact 1">
				      </label>

				      <label class="label" style="margin-top: 10px;">CONTACTO</label>
				      <label class="input">
				        <input type="number" name="pr_sec_co_cont_2" id="pr_sec_co_13" placeholder="Contact 2">
				      </label>

				      <label class="label" style="margin-top: 10px;">CONTACTO</label>
				      <label class="input">
				        <input type="number" name="pr_sec_co_cont_3" id="pr_sec_co_14" placeholder="Contact 3">
				      </label>
				    </div>
				    <div class="col col-6">
				      <label class="label">DESCRIPCION</label>
				      <label class="input">
				        <input type="text" name="pr_sec_co_cont_1_desc" id="pr_sec_co_15" placeholder="Description 1">
				      </label>

				      <label class="label" style="margin-top: 10px;">DESCRIPCION</label>
				      <label class="input">
				        <input type="text" name="pr_sec_co_cont_2_desc" id="pr_sec_co_16" placeholder="Description 2">
				      </label>

				    <label class="label" style="margin-top: 10px;">DESCRIPCION</label>
				      <label class="input">
				        <input type="text" name="pr_sec_co_cont_3_desc" id="pr_sec_co_17" placeholder="Description 3">
				      </label>
				    </div>
			    </div>

			    </fieldset>
			    <footer>
			    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      	<a onclick="PrSubmitSec();" class="btn btn-success">PROCESAR</a>
			    </footer>
		  	</form>
		</div>
	</div>
</div>

<!-- --------------------------- Update Package Internet PR Modal ---------------------------->

<div class="modal fade" id="IntPRCoordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-calendar" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Paquetes de Internet PR</h4>
			</div>
		  <form id="UpdateINTPrFormCoord" class="smart-form" data-parsley-validate="">
		    <fieldset>

			<div class="col-lg-12"><div id="alertSubmitIntPR"></div></div>
		    <div class="row">
		      <div class="col col-6">

				<input type="text" id="t_i_s_coord" name="t_i_s_coord" class="form-control hidden"/>
		        <input type="text" id="id_i_scoord" name="id_i_scoord" class="form-control hidden"/>

		        <label class="label">INTERNET RESIDENCIAL</label>
		        <label class="select"class="input">
		          <div class="icon-addon addon-md">
		            <select class="form-control" name="pr_int_co_res" id="pr_int_co_01">
		                {% for res in intres %}
		                  {% if res['status_id'] == "1" %}
		                    <option value="{{ res['id'] }}"> {{ res['name'] }}
		                  {% endif %}
		                {% endfor %}
		            </select>
		            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		          </div>
		        </label>

		        <label class="label" style="margin-top: 10px;">INTERNET COMERCIAL</label>
		        <label class="select"class="input">
		          <div class="icon-addon addon-md">
		            <select class="form-control" name="pr_int_co_trade" id="pr_int_co_02">
		                {% for com in intcom %}
		                  {% if com['status_id'] == "1" %}
		                    <option value="{{ com['id'] }}"> {{ com['name'] }}
		                  {% endif %}
		                {% endfor %}
		            </select>
		            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		          </div>
		        </label>

		        <label class="label" style="margin-top: 10px;">METODO DE PAGO</label>
		        <label class="select"class="input">
		          <div class="icon-addon addon-md">
		            <select class="form-control" name="pr_int_co_payment" id="pr_int_co_06">
		                {% for pay in payments %}
		                  {% if pay['status_id'] == "1" and (pay['service_id'] == "1"  or pay['service_id'] == "4") %}                 
		                    <option value="{{ pay['id'] }}"> {{ pay['name'] }}
		                  {% endif %}
		                {% endfor %}
		            </select>
		            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		          </div>
		        </label>

		      </div>
		       
		      <div class="col col-6">

		        <label class="label">TELEFONO RESIDENCIAL</label>
		        <label class="select"class="input">
		          <div class="icon-addon addon-md">
		            <select class="form-control" name="pr_int_co_res_pho" id="pr_int_co_07">
		                {% for pres in phoneres %}
		                  {% if pres['status_id'] == "1" %}
		                    <option value="{{ pres['id'] }}"> {{ pres['name'] }}
		                  {% endif %}
		                {% endfor %}
		            </select>
		            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		          </div>
		        </label>

		        <label class="label" style="margin-top: 10px;">TELEFONO COMERCIAL</label>
		        <label class="select"class="input">
		          <div class="icon-addon addon-md">
		            <select class="form-control" name="pr_int_co_trade_pho" id="pr_int_co_08">
		                {% for pcom in phonecom %}
		                  {% if pcom['status_id'] == "1" %}
		                    <option value="{{ pcom['id'] }}"> {{ pcom['name'] }}
		                  {% endif %}
		                {% endfor %}
		              </select>
		            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		          </div>
		        </label>

		      </div>

		    </div>

		    </fieldset>
		    <footer>
		    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      	<a onclick="PrSubmitInt();" class="btn btn-success">PROCESAR</a>
		    </footer>
		  </form>
		</div>
	</div>
</div>

<!-- --------------------------- Update Package Internet VZ Modal ---------------------------->

<div class="modal fade" id="IntVZCoordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-calendar" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Paquetes de Internet VZLA</h4>
			</div>
		  <form id="UpdateIntVZFormCoord" class="smart-form" data-parsley-validate="">
		    <fieldset>

			<div class="col-lg-12"><div id="alertSubmitIntVZ"></div></div>
		    <div class="row">
		      <div class="col col-6">

				<input type="text" id="t_iv_s_coord" name="t_iv_s_coord" class="form-control hidden"/>
		        <input type="text" id="id_iv_scoord" name="id_iv_scoord" class="form-control hidden"/>

		        <label class="label" style="margin-top: 10px;">INTERNET RESIDENCIAL</label>
		        <label class="select"class="input">
		          <div class="icon-addon addon-md">
		            <select class="form-control" name="vzla_int_co_res" id="vzla_int_co_01">
		                {% for resvz in intresvz %}
		                  {% if resvz['status_id'] == "1" %}
		                    <option value="{{ resvz['id'] }}"> {{ resvz['name'] }}
		                  {% endif %}
		                {% endfor %}
		            </select>
		            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		          </div>
		        </label>

		        <label class="label" style="margin-top: 10px;">INTERNET COMERCIAL</label>
		        <label class="select"class="input">
		          <div class="icon-addon addon-md">
		            <select class="form-control" name="vzla_int_co_trade" id="vzla_int_co_03">
		                {% for comvz in intcomvz %}
		                  {% if comvz['status_id'] == "1" %}
		                    <option value="{{ comvz['id'] }}"> {{ comvz['name'] }}
		                  {% endif %}
		                {% endfor %}
		            </select>
		            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		          </div>
		        </label>

		        <label class="label" style="margin-top: 10px;">METODO DE PAGO</label>
		        <label class="select"class="input">
		          <div class="icon-addon addon-md">
		            <select class="form-control" name="vzla_int_co_payment" id="vzla_int_co_05">
		                {% for pay in payments %}
		                  {% if pay['status_id'] == "1" and (pay['service_id'] == "1"  or pay['service_id'] == "6") %}                 
		                    <option value="{{ pay['id'] }}"> {{ pay['name'] }}
		                  {% endif %}
		                {% endfor %}
		            </select>
		            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		          </div>
		        </label>

		        <label class="label" style="margin-top: 10px;">MONTO</label>
		          <label class="input"> <i class="icon-prepend fa fa-edit"></i><input type="number" name="vzla_int_co_amount" id="vzla_int_co_amount" placeholder="MONTO A CANCELAR"></label>
		        </label> 

		        <label class="label" style="margin-top: 10px;">EMAIL</label>
		          <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i><input type="email" name="vzla_int_co_email" id="vzla_int_co_email" placeholder="EMAIL DE PASARELA DE PAGO"></label>
		        </label> 

		      </div>
		       
		      <div class="col col-6">

		        <label class="label"  style="margin-top: 10px;">TELEFONO RESIDENCIAL</label>
		        <label class="select"class="input">
		          <div class="icon-addon addon-md">
		            <select class="form-control" name="vzla_int_co_res_pho" id="vzla_int_co_02">
		                {% for presvz in phoneresvz %}
		                  {% if presvz['status_id'] == "1" %}
		                      <option value="{{ presvz['id'] }}"> {{ presvz['name'] }}
		                  {% endif %}
		                {% endfor %}
		            </select>
		            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		          </div>
		        </label>

		        <label class="label" style="margin-top: 10px;">TELEFONO COMERCIAL</label>
		        <label class="select"class="input">
		          <div class="icon-addon addon-md">
		            <select class="form-control" name="vzla_int_co_trade_pho" id="vzla_int_co_04">
		                {% for pcomvz in phonecomvz %}
		                  {% if pcomvz['status_id'] == "1" %}
		                    <option value="{{ pcomvz['id'] }}"> {{ pcomvz['name'] }}
		                  {% endif %}
		                {% endfor %}
		            </select>
		            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		          </div>
		        </label>


		        <label class="label" style="margin-top: 10px;">BANCO</label>
		        <label class="select"class="input">
		          <div class="icon-addon addon-md">
		            <select class="form-control" name="vzla_int_co_bank" id="vzla_int_co_06">
		                {% for bankvz in banks %}
		                  {% if (bankvz['status_id'] == "1") and (bankvz['country_id'] == "4") %}
		                    <option value="{{ bankvz['id'] }}"> {{ bankvz['name'] }}
		                  {% endif %}
		                {% endfor %}
		            </select>
		            <label for="country" class="glyphicon glyphicon-sort-by-attributes"></label>
		          </div>
		        </label>

		        <label class="label" style="margin-top: 10px;">NUMERO DE TRANSFERENCIA</label>
		          <label class="input"> <i class="icon-prepend fa fa-edit"></i><input type="text" name="vzla_int_co_trans" id="vzla_int_co_trans" placeholder="NUMERO DE TRANSFERENCIA"></label>
		        </label> 

		        <label class="label" style="margin-top: 10px;">FECHA DE PAGO</label>
		          <label class="input"> <i class="icon-prepend fa fa-calendar"></i><input type="email" name="vzla_int_co_date" id="vzla_int_co_date" placeholder="FECHA DE PAGO"></label>
		        </label> 
		     
		      </div>

		    </div>

			<label class="label" style="margin-top: 10px;">CAMPO ADICIONAL</label>
				<label class="textarea">
					<textarea rows="3" class="custom-scroll" name="vzla_int_additional" id="vzla_int_additional"></textarea>
				</label>
			</label>

		    </fieldset>
		    <footer>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		<a onclick="VZSubmitInt();" class="btn btn-success">PROCESAR</a>
		    </footer>
		  </form>
		</div>
	</div>
</div>

<!-- --------------------------- Procesamiento Modal ---------------------------->

<div class="modal fade" id="ProcessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Coordinaciones</h4>
			</div>
			<form class="ProcessFormCoord" method="post" id="ProcessFormCoord" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row" style="text-align: center;">
						<input type="text" id="t_co_p_coord" name="t_co_p_coord" class="form-control hidden"/>
		              	<input type="text" id="id_co_p_coord" name="id_co_p_coord" class="form-control hidden"/>
						<label><strong> Desea Procesar la PreCoordinacion ? </strong></label>
						<fieldset>
							<div class="form-group">
								<div class="col-md-12">
									<select class="form-control" id="co_answered" name="co_answered" required>
										<option value="0">NO</option>
										<option value="1">SI</option>
									</select>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Actualizar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- --------------------------- Proccess Referred Modal ---------------------------->

<div class="modal fade" id="ProcessRefModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-edit" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Coordinaciones</h4>
			</div>
			<form class="RefFormCoord" method="post" id="RefFormCoord" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row" style="text-align: center;">
						<input type="text" id="t_co_pr_coord" name="t_co_pr_coord" class="form-control hidden"/>
			        	<input type="text" id="id_co_pr_coord" name="id_co_pr_coord" class="form-control hidden"/>
						<label><strong> Desea Procesar la Coordinacion por Referido? </strong></label>
						<fieldset>
							<div class="form-group">
								<div class="col-md-12">
									<select class="form-control" id="cr_answered" name="cr_answered" required>
										<option value="0">NO</option>
										<option value="1">SI</option>
									</select>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Actualizar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- --------------------------- Log Modal ---------------------------->

<div class="modal fade" id="LogCoordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-file-archive-o" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Log</h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<div class="row" style="margin-top: -20px;">
					<div id="TableLogCoord" style="font-size: 11px;"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="PreCordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-file-archive-o" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Pre Instalacion</h4>
			</div>
			<form class="FormPreCoord" method="post" id="FormPreCoord" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="AlertPreCord">
						
					</div>
					<div class="row" style="text-align: center;">
						<label><strong> Procesar La Pre Instalacion? </strong></label>
						<fieldset>
							<div class="form-group">
								<div class="col-md-12">
							    	<label class="input"><input type="text" name="pre_ticket" id="pre_ticket" class="form-control" placeholder="Numero de Ticket"></label>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" onclick="SubmitPreCord()">Asignar</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="UpdGeoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-lg fa-fw fa-globe" style="font-size: 50px;"></i>
				<h4 style="margin-top: 10px;" class="modal-title" id="myModalLabel">Actualizar Datos Geograficos</h4>
			</div>
			<form class="FormUpdGeo" method="post" id="FormUpdGeo" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div id="AlertUpdGeo">
						
					</div>
					<div class="row" style="text-align: center;">
						<label><strong> Introduzca Ticket </strong></label>
						<fieldset>
							<div class="form-group">
								<div class="col-md-12">
							    	<label class="input"><input type="text" name="geo_ticket" id="geo_ticket" class="form-control" placeholder="Numero de Ticket"></label>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" onclick="SubmitUpdGeo()">Actualizar</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
<