<div class="show-stat-microcharts" style="height: 250px;">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"style="text-align: center;">
    <div id="TopApprovalsInter">
    </div>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"style="text-align: center;">
    <div id="TopCoordinationsInter">
    </div>
  </div>
   <div class="col-xs-22 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <p style="text-align: center;"> <span>% PENDIENTES</span></p>
    <div class="easy-pie-chart InterPend txt-color-greenLight easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-green font-xl semi-bold">0</span>
    </div>
    <div id="SolInterPend"><p style="text-align: center;"> <span>SOLICITUDES 0/0</span></p></div>
    
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <p style="text-align: center;"> <span>% APROBADAS</span></p>
    <div class="easy-pie-chart InterAppro txt-color-blue easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-blue font-xl semi-bold">0</span>
    </div>
    <div id="SolInterApro"><p style="text-align: center;"> <span>SOLICITUDES 0/0</span></p></div>
  </div>
  <div class="col-xs-22 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <p style="text-align: center;"> <span>% NO APROBADAS</span></p>
    <div class="easy-pie-chart InterNoAppro txt-color-redLight easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-redLight font-xl semi-bold">0</span>
    </div>
    <div id="SolInterNoApro"><p style="text-align: center;"> <span>SOLICITUDES 0/0</span></p></div>
  </div>
  <div class="col-xs-22 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <p style="text-align: center;"> <span>% CANCELADAS</span></p>
    <div class="easy-pie-chart InterCancel txt-color-green easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-green font-xl semi-bold"></span>
    </div>
    <div id="SolInterCanc"><p style="text-align: center;"> <span>SOLICITUDES 0/0</span></p></div>
  </div>
</div>