<div class="show-stat-microcharts" style="height: 250px;">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"style="text-align: center;">
    <div id="TopApprovals">
    </div>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <div id="TopCoordinations">
    </div>
  </div>
  <div class="col-xs-22 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <p style="text-align: center;"> <span>% PENDIENTES</span></p>
    <div class="easy-pie-chart TvPend txt-color-greenLight easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-green font-xl semi-bold">0</span>
    </div>
    <div id="SolTVPend"><p style="text-align: center;"> <span>SOLICITUDES 0/0</span></p></div>
    
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <p style="text-align: center;"> <span>% APROBADAS</span></p>
    <div class="easy-pie-chart TvAppro txt-color-blue easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-blue font-xl semi-bold">0</span>
    </div>
    <div id="SolTVApro"><p style="text-align: center;"> <span>SOLICITUDES 0/0</span></p></div>
  </div>
  <div class="col-xs-22 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <p style="text-align: center;"> <span>% NO APROBADAS</span></p>
    <div class="easy-pie-chart TvNoAppro txt-color-redLight easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-redLight font-xl semi-bold">0</span>
    </div>
    <div id="SolTVNoApro"><p style="text-align: center;"> <span>SOLICITUDES 0/0</span></p></div>
  </div>
  <div class="col-xs-22 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
    <p style="text-align: center;"> <span>% CANCELADAS</span></p>
    <div class="easy-pie-chart TvCancel txt-color-green easyPieChart" data-percent="0" data-pie-size="160">
      <span class="percent percent-sign txt-color-green font-xl semi-bold"></span>
    </div>
    <div id="SolTVCanc"><p style="text-align: center;"> <span>SOLICITUDES 0/0</span></p></div>
  </div>
</div>