<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title> Boom Solutions </title>
    <meta name="description" content="BoomSolutions CRM">
    <meta name="Ing. Luis Campos" content="">
      
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block head %}
        {% include('layouts/head.html.twig') %}
    {% endblock %}

  </head>

<body class="desktop-detected  fixed-page-footer  menu-on-top pace-done">
{% include('layouts/header2.html.twig') %}

    <div id="content">

        <div class="row">
          <div class="col-sm-12" style="text-align: center;">
            <label>Seleccione Rango de Busqueda:</label>
          </div>

          <form id="rangeDate">
            <div class="col-sm-6">
            
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" id="to" name="dateIniC" type="text" placeholder="Fecha Inicial">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" id="from" name="dateEndC" type="text" placeholder="Fecha Final">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>      
            </div>
          </form>

        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
              <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Cola de Solicitudes</h2>
              </header>
              <div>
                <div class="widget-body">
                  <div class="table-responsive">
                    <table class="table table-bordered "border="1" style="border-collapse: collapse;">
                      <thead>
                        <tr>
                          <th><strong>#</strong></th>
                          <th><strong>ID</strong></th>
                          <th><strong>Ticket</strong></th>
                          <th><strong>Cliente</strong></th>
                          <th><strong>Fecha</strong></th>
                          <th><strong>Servicio</strong></th>
                          <th><strong>Vendedor</strong></th>
                          <th><strong>Departamento</strong></th>
                          <th><strong>Status</strong></th>
                          <th><strong>Score</strong></th>
                          <th><strong>Procesado</strong></th>
                          <th><strong>Fecha</strong></th>
                        </tr>
                      </thead>
                      <tbody id="tabla" style="text-align: center;">
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

        {% include('landing/modal.html.twig') %}

        {% include('layouts/footer.html.twig') %}

        {% block js %}
<script type="text/javascript">
    $(document).ready(function() 
    {
      $('#closuresClock').hide();
      Load();
      setInterval(function(){
        ViewClosures();
      }, 60000);

      $("#from").datepicker({
        dateFormat: 'mm-dd-yy',
        yearRange: 'c-60:c+10',
        defaultDate: "+1w",
        changeMonth: true,
        changeYear: true,
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
          onClose: function (selectedDate) {
            $("#to").datepicker("option", "maxDate", selectedDate);
            var str = $("#rangeDate").serialize();
            $.ajax({ type: "POST", url:  "{{ url('/Appro/ClosuresDate') }}", data: {str:str},

            success: function(data)
            {
              $("#tabla").empty();

              $.each(data.html, function(key, item)
              {
                $('#tabla').append('<tr>');
                $('#tabla').append('<td style="padding: 10px;">' + key + '</td>');
                $('#tabla').append('<td>' + item['idClient'] + '</td>');
                $('#tabla').append('<td>' + item['ticket'] + '</td>');
                $('#tabla').append('<td>' + item['client'] + '</td>');
                $('#tabla').append('<td>' + item['date'] + '</td>');
                $('#tabla').append('<td>' + item['service'] + '</td>');
                $('#tabla').append('<td>' + item['sale'] + '</td>');
                $('#tabla').append('<td>' + item['depart'] + '</td>');
                $('#tabla').append('<td>' + item['status'] + '</td>');
                $('#tabla').append('<td>' + item['score'] + '</td>');
                $('#tabla').append('<td>' + item['process'] + '</td>');
                $('#tabla').append('<td>' + item['finish'] + '</td>');
                $('#tabla').append('</tr">');
              });
            }
            });
          }

      });
      
      $("#to").datepicker({
        dateFormat: 'mm-dd-yy',
        yearRange: 'c-60:c+10',
        defaultDate: "+1w",
        changeMonth: true,
        changeYear: true,
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
          onClose: function (selectedDate) {
            $("#from").datepicker("option", "minDate", selectedDate);
          }
      });


    });

  function Load()
  {
    var str = $("#rangeDate").serialize();
    $.ajax({ type: "POST", url:  "{{ url('/Appro/Closures') }}",data: {str:str},
    success: function(data)
    {
      if(data.status = true)
      {
        $("#tabla").empty();

        $.each(data.info, function(key, item)
        {
          $('#tabla').append('<tr>');
          $('#tabla').append('<td style="padding: 10px;">' + key + '</td>');
          $('#tabla').append('<td>' + item['idClient'] + '</td>');
          $('#tabla').append('<td>' + item['ticket'] + '</td>');
          $('#tabla').append('<td>' + item['client'] + '</td>');
          $('#tabla').append('<td>' + item['date'] + '</td>');
          $('#tabla').append('<td>' + item['service'] + '</td>');
          $('#tabla').append('<td>' + item['sale'] + '</td>');
          $('#tabla').append('<td>' + item['depart'] + '</td>');
          $('#tabla').append('<td>' + item['status'] + '</td>');
          $('#tabla').append('<td>' + item['score'] + '</td>');
          $('#tabla').append('<td>' + item['process'] + '</td>');
          $('#tabla').append('<td>' + item['finish'] + '</td>');
          $('#tabla').append('</tr">');
        });
      }
    }
    });
  }

  function ViewClosures()
  {
    $.ajax({ type: "POST", url:  "{{ url('/Appro/Closures/View') }}",
    success: function(data)
    {
      if(data.status == true)
      {
        $("#alertfirework").html(data.html);
        $('#ClousuresInfoModal').modal('show');
        setTimeout(function(){
          $('#ClousuresInfoModal').modal('hide');
        }, 10000);
        Load();
      }else{
        Load();
      }
    }
    });
  }

</script>
        {% endblock %}

    </body>

</html>