<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title> Boom Solutions </title>
		<meta name="description" content="BoomSolutions CRM">
		<meta name="Ing. Luis Campos" content="campos.luis19@gmail.com">
		{% include('layouts/leads/head.html.twig') %}
	</head>
	<body class="desktop-detected fixed-page-footer menu-on-top pace-done smart-style-1"> 
		<header id="header" style="background-color: #45474b!important">
		    <div id="logo-group">
		        <span id="logo"> <img src="{{ asset('assets/img/boom.png') }}" alt="SmartAdmin" style="margin-top: -10px; height: 45px;"> </span>
		    </div>
		    <div class="pull-right">  
		        <div id="fullscreen" class="btn-header transparent pull-right">
		            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
		        </div>
		    </div>
		    <div class="pull-right" id="closuresClock">
				<div class="clockdate-wrapper" style="margin-top: 10px;">
		            <div id="clock"></div>
		            <div id="date" style="margin-top: 10px;"></div>
		        </div>
		    </div>
		</header>

		{% block content %}

		{% endblock %}
		
		{% include('layouts/leads/footer.html.twig') %}

        {% block js %}
            <script type="text/javascript">
                $(document).ready(function() {
                    pageSetUp();
                });
            </script>
        {% endblock %}

 	</body>
</html>
