<div class="modal fade" id="ClousuresModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div id="firework"></div>
</div>

<div class="modal fade" id="ClousuresInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 100px;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form class="formcountry" method="post" id="formcountry" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertfirework">
						</div>
					</div> 
				</div>
			</form>
		</div>
	</div>
</div>