{% extends 'landing/index.html.twig' %}

{% block content %}
  <div id="content">

      <div class="row">
        <div class="col-sm-12" style="text-align: center;">
          <label>Seleccione Rango de Busqueda:</label>
        </div>

        <form id="rangeDate">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" id="to" name="dateIniC" type="text" placeholder="Fecha Inicial">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="col-sm-6">              
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" id="from" name="dateEndC" type="text" placeholder="Fecha Final">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>      
            </div>
        </form>

      </div>

      <section id="widget-grid" class="">
        <div class="row">

          <div class="col-sm-4">
            <div class="panel panel-primary pricing-big">
              <img src="{{ asset('assets/img/PR.png') }}" class="ribbon" alt="">
              <div class="panel-heading">
                <h3 class="panel-title">TELEVISION</h3>
              </div>
              <div class="panel-body no-padding text-align-center">
                <div class="the-price" style="background-color: white;">
                  <div id="TVInfo">
                    <img src="{{ asset('assets/img/operator/user.jpg') }}" class="img-circle" style="width: 100px;">
                    <h3 style="color: black;">OPERADOR</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget-body">
              <div id="TVPRTop">
                <div class="table-responsive">
                  <table class="table table-bordered" border="1" style="border-collapse: collapse; font-size: 10px; text-align: center; height: 0px">
                    <tbody>
                      <tr>
                        <td>OPERADOR</td>
                        <td>SOMETIDAS</td>
                        <td>APROBADAS</td>
                        <td>COORDINADAS</td>
                      </tr>
                      <tr>
                        <td>OPERADOR</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="panel panel-teal pricing-big">
              <img src="{{ asset('assets/img/PR.png') }}" class="ribbon" alt="">
              <div class="panel-heading">
                <h3 class="panel-title">INTERNET</h3>
              </div>
              <div class="panel-body no-padding text-align-center">
                <div class="the-price" style="background-color: white;">
                  <div id="INTPRInfo">
                    <img src="{{ asset('assets/img/operator/user.jpg') }}" class="img-circle" style="width: 100px;">
                    <h3 style="color: black;">OPERADOR</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget-body">
              <div id="INTPRTop">
                <div class="table-responsive">
                  <table class="table table-bordered" border="1" style="border-collapse: collapse; font-size: 10px; text-align: center; height: 0px">
                    <tbody>
                      <tr>
                        <td>OPERADOR</td>
                        <td>SOMETIDAS</td>
                        <td>APROBADAS</td>
                        <td>COORDINADAS</td>
                      </tr>
                      <tr>
                        <td>OPERADOR</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="panel panel-redLight pricing-big">
              <img src="{{ asset('assets/img/VE.png') }}" class="ribbon" alt="">
              <div class="panel-heading">
                <h3 class="panel-title">INTERNET</h3>
              </div>
              <div class="panel-body no-padding text-align-center">
                <div class="the-price" style="background-color: white;">
                  <div id="INTVEInfo">
                    <img src="{{ asset('assets/img/operator/user.jpg') }}" class="img-circle" style="width: 100px;">
                    <h3 style="color: black;">OPERADOR</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget-body">
              <div id="INTVETop">
                <div class="table-responsive">
                  <table class="table table-bordered" border="1" style="border-collapse: collapse; font-size: 10px; text-align: center; height: 0px">
                    <tbody>
                      <tr>
                        <td>OPERADOR</td>
                        <td>SOMETIDAS</td>
                        <td>APROBADAS</td>
                        <td>COORDINADAS</td>
                      </tr>
                      <tr>
                        <td>OPERADOR</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

    </div>

    <div id="content" style="  height: 600px; overflow: scroll; width: 100%; margin-right: auto; margin-left: auto; margin-top: -20px; margin-bottom: 200px;">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
            <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span>
              <h2>Cola de Solicitudes</h2>
            </header>
            <div>
              <div class="widget-body">
                <div class="table-responsive">
                  <table  id="pending" class="table table-bordered "border="1" style="border-collapse: collapse;">
                    <thead>
                      <tr>
                        <th><strong>#</strong></th>
                        <th><strong>ID</strong></th>
                        <th><strong>Ticket</strong></th>
                        <th><strong>Cliente</strong></th>
                        <th><strong>Fecha</strong></th>
                        <th><strong>Servicio</strong></th>
                        <th><strong>Vendedor</strong></th>
                        <th><strong>Departamento</strong></th>
                        <th><strong>Status</strong></th>
                        <th><strong>Score</strong></th>
                        <th><strong>Procesado</strong></th>
                        <th><strong>Fecha</strong></th>
                      </tr>
                    </thead>
                    <tbody id="tabla" style="text-align: center;">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% include('ticket/admins/modal.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
  <script type="text/javascript">
  $(document).ready(function() 
  {
    Load();

    setInterval(function(){
      Load();
    }, 60000);

    $("#from").datepicker({
      dateFormat: 'mm-dd-yy',
      yearRange: 'c-60:c+10',
      defaultDate: "+1w",
      changeMonth: true,
      changeYear: true,
      prevText: '<i class="fa fa-chevron-left"></i>',
      nextText: '<i class="fa fa-chevron-right"></i>',
        onClose: function (selectedDate) {
          $("#to").datepicker("option", "maxDate", selectedDate);
          var str = $("#rangeDate").serialize();
          $.ajax({ type: "POST", url:  "{{ url('/Appro/Closures/Load') }}", data: {str:str},

          success: function(data)
          {
            $('#TVInfo').html(data.TV.sta[0]['img']);
            $('#TVPRTop').html(data.TVPRHtml);

            $('#INTPRInfo').html(data.INTPR.sta[0]['img']);
            $('#INTPRTop').html(data.INTPRHtml);

            $('#INTVEInfo').html(data.INTVE.sta[0]['img']);
            $('#INTVETop').html(data.INTVEHtml);

            $("#tabla").empty();

            $.each(data.info, function(key, item)
            {
              $('#tabla').append('<tr>');
              $('#tabla').append('<td style="padding: 10px;">' + key + '</td>');
              $('#tabla').append('<td>' + item['idClient'] + '</td>');
              $('#tabla').append('<td>' + item['ticket'] + '</td>');
              $('#tabla').append('<td>' + item['client'] + '</td>');
              $('#tabla').append('<td>' + item['date'] + '</td>');
              $('#tabla').append('<td>' + item['service'] + '</td>');
              $('#tabla').append('<td>' + item['sale'] + '</td>');
              $('#tabla').append('<td>' + item['depart'] + '</td>');
              $('#tabla').append('<td>' + item['status'] + '</td>');
              $('#tabla').append('<td>' + item['score'] + '</td>');
              $('#tabla').append('<td>' + item['process'] + '</td>');
              $('#tabla').append('<td>' + item['finish'] + '</td>');
              $('#tabla').append('</tr">');
            });
          }
          });
        }

    });
    
    $("#to").datepicker({
      dateFormat: 'mm-dd-yy',
      yearRange: 'c-60:c+10',
      defaultDate: "+1w",
      changeMonth: true,
      changeYear: true,
      prevText: '<i class="fa fa-chevron-left"></i>',
      nextText: '<i class="fa fa-chevron-right"></i>',
        onClose: function (selectedDate) {
          $("#from").datepicker("option", "minDate", selectedDate);
        }
    });


  });

  function Load()
  {
    $.ajax({ type: "POST", url:  "{{ url('/Appro/Closures/Load') }}",
    success: function(data)
    {
      if(data.status = true)
      {
        if(data.TV.sta != false)
        {
          $('#TVInfo').html(data.TV.sta[0]['img']);
        }
        $('#TVPRTop').html(data.TVPRHtml);

        if(data.INTPR.sta != false)
        {
          $('#INTPRInfo').html(data.INTPR.sta[0]['img']);
        }
        $('#INTPRTop').html(data.INTPRHtml);

        if(data.INTPR.sta != false)
        {
          $('#INTVEInfo').html(data.INTVE.sta[0]['img']);
        }
        $('#INTVETop').html(data.INTVEHtml);

        var cont = 1;
        $("#tabla").empty();
        $.each(data.info, function(key, item)
        {
          cont  = cont + 1;
          $('#tabla').append('<tr>');
          $('#tabla').append('<td style="padding: 10px;">' + cont + '</td>');
          $('#tabla').append('<td>' + item['idClient'] + '</td>');
          $('#tabla').append('<td>' + item['ticket'] + '</td>');
          $('#tabla').append('<td>' + item['client'] + '</td>');
          $('#tabla').append('<td>' + item['date'] + '</td>');
          $('#tabla').append('<td>' + item['service'] + '</td>');
          $('#tabla').append('<td>' + item['sale'] + '</td>');
          $('#tabla').append('<td>' + item['depart'] + '</td>');
          $('#tabla').append('<td>' + item['status'] + '</td>');
          $('#tabla').append('<td>' + item['score'] + '</td>');
          $('#tabla').append('<td>' + item['process'] + '</td>');
          $('#tabla').append('<td>' + item['finish'] + '</td>');
          $('#tabla').append('</tr">');
        });

      }
    }
    });
  }

  </script>

{% endblock %}