{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    
  
    {% include('users/users.html.twig') %}
    
    <div class="row">

      {% include('users/departaments.html.twig') %}

      {% include('users/teams.html.twig') %}

    </div>
    
    </div>
  </div>

{% include('users/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

////////////////////////////// Data Users //////////////////////////////

    $('#dt_basic').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formuser').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formuser").serialize();
          $.ajax({ type: "POST", url:  "{{ url('UserForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertUser").html('');
                  $('#NewUserModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertUser").html('');
                    $("#alertUser").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// Data Departament //////////////////////////////
    
    $('#dt_depart').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_depart'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formdepart').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formdepart").serialize();
          $.ajax({ type: "POST", url:  "{{ url('DepartForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertDepartament").html('');
                  $('#NewDepModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertDepartament").html('');
                    $("#alertDepartament").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// Permit Leads //////////////////////////////

    $('#FormPermit').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#FormPermit").serialize();
          $.ajax({ type: "POST", url:  "{{ url('PermitForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertPermit").html('');
                  $('#NewPermitModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertPermit").html('');
                    $("#alertPermit").html(datos.html);
                }
            }
          });
        return false;
    });


////////////////////////////// Data Team //////////////////////////////

    $('#dt_team').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_team'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formteam').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formteam").serialize();
          $.ajax({ type: "POST", url:  "{{ url('TeamForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertTeam").html('');
                  $('#NewTeamModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertTeam").html('');
                    $("#alertTeam").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// End Jquery //////////////////////////////

});

////////////////////////// Function Users //////////////////////////////

  function ShowEdit(id)
  {
    $("#password").removeAttr('Required');
    $("#cpassword").removeAttr('Required');

    $.ajax({ type: "POST", url:  "{{ url('ShowEdit') }}", data: {id: id},
        success: function(datos)
        {
          if(datos.status == true){
              $("#type").val('');
              $("#type").val('edit');
              $("#id").val(datos.user.id);
              $("#name").val(datos.user.name);
              $("#email").val(datos.user.email);
              $("#username").val(datos.user.username);
              $("#ext").val(datos.user.ext);
              $("#ext_ve").val(datos.user.ext_ve);
              $("select[name=departament_id]").val(datos.user.departament);
              $("select[name=role_id]").val(datos.user.role);
              $("select[name=status_id]").val(datos.user.status);
              $("select[name=team_id]").val(datos.user.team);
              $("select[name=hours_in]").val(datos.user.hours_in);
              $("select[name=hours_out]").val(datos.user.hours_out);
              $("select[name=team_id]").val(datos.user.team);
              if(datos.user.tv_pr =='on'){$('#tv_pr').prop('checked',true);}else{$('#tv_pr').prop('checked', false);}
              if(datos.user.sec_pr=='on'){$('#sec_pr').prop('checked',true);}else{$('#sec_pr').prop('checked', false);}
              if(datos.user.net_pr=='on'){$('#net_pr').prop('checked',true);}else{$('#net_pr').prop('checked', false);}
              if(datos.user.wrl_pr=='on'){$('#wrl_pr').prop('checked',true);}else{$('#wrl_pr').prop('checked', false);}

              if(datos.user.tv_usa=='on'){$('#tv_usa').prop('checked',true);}else{$('#tv_usa').prop('checked', false);}
              if(datos.user.wir_usa=='on'){$('#wir_usa').prop('checked',true);}else{$('#wir_usa').prop('checked', false);}
              if(datos.user.net_usa=='on'){$('#net_usa').prop('checked',true);}else{$('#net_usa').prop('checked', false);}    

              if(datos.user.tv_col=='on'){$('#tv_col').prop('checked',true);}else{$('#tv_col').prop('checked', false);}
              if(datos.user.net_col=='on'){$('#net_col').prop('checked',true);}else{$('#net_col').prop('checked', false);}
              if(datos.user.sec_col=='on'){$('#sec_col').prop('checked',true);}else{$('#sec_col').prop('checked', false);}  

              $('#NewUserModal').modal('show');
            }else{
                $("#alert").html('');
            }
        }
    });
  }

  function PermitEdit(id)
  {
    $("#id_p").val(id);
    $.ajax({ type: "POST", url:  "{{ url('/PermitEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
          if(datos.permit.db =='on')    {$('#db').prop('checked',true);}else{$('#db').prop('checked', false);}
          if(datos.permit.ident=='on')  {$('#ident').prop('checked',true);}else{$('#ident').prop('checked', false);}
          if(datos.permit.ss=='on')     {$('#ss').prop('checked',true);}else{$('#ss').prop('checked', false);}
          if(datos.permit.mkt=='on')    {$('#mkt').prop('checked',true);}else{$('#mkt').prop('checked', false);}
          if(datos.permit.cc=='on')     {$('#cc').prop('checked',true);}else{$('#cc').prop('checked', false);}
          if(datos.permit.ab=='on')     {$('#ab').prop('checked',true);}else{$('#ab').prop('checked', false);}
          if(datos.permit.pr=='on')     {$('#pr').prop('checked',true);}else{$('#pr').prop('checked', false);}    
          if(datos.permit.tvpr=='on')   {$('#tvpr').prop('checked',true);}else{$('#tvpr').prop('checked', false);}
          if(datos.permit.sepr=='on')   {$('#sepr').prop('checked',true);}else{$('#sepr').prop('checked', false);}
          if(datos.permit.inpr=='on')   {$('#inpr').prop('checked',true);}else{$('#inpr').prop('checked', false);}  
          if(datos.permit.mrpr=='on')   {$('#mrpr').prop('checked',true);}else{$('#mrpr').prop('checked', false);}            
          if(datos.permit.vz=='on')     {$('#vz').prop('checked',true);}else{$('#vz').prop('checked', false);}
          if(datos.permit.invz=='on')   {$('#invz').prop('checked',true);}else{$('#invz').prop('checked', false);}
          if(datos.permit.rf=='on')     {$('#rf').prop('checked',true);}else{$('#rf').prop('checked', false);}  
          if(datos.permit.ac=='on')     {$('#ac').prop('checked',true);}else{$('#ac').prop('checked', false);}  
          if(datos.permit.nt=='on')     {$('#nt').prop('checked',true);}else{$('#nt').prop('checked', false);}  

          $('#NewPermitModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  
  }

/////////////////////// Function Departament //////////////////////////

  function DepEdit(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('DepartEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_d").val('');
            $("#type_d").val('edit');
            $("#id_d").val(datos.departament.id);
            $("#name_d").val(datos.departament.name);
            $("select[name=status_id_d]").val(datos.departament.status);
            $('#NewDepModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function DID //////////////////////////////

  function TeamEdit(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('TeamEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true){
            $("#type_t").val('');
            $("#type_t").val('edit');
            $("#id_t").val(datos.team.id);
            $("#name_t").val(datos.team.name);
            $("select[name=status_id_t]").val(datos.team.status);
            $('#NewTeamModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}