<!----------------------------- Users Modal ---------------------------->

<div class="modal fade" id="NewUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-user" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Usuarios</h4>
			</div>
			<form class="formuser" method="post" id="formuser" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertUser"></div>
						<input type="text" id="id" name="id" class="form-control hidden" placeholder="id" />
						<input type="text" id="type" name="type" class="form-control hidden" placeholder="type" value="new" />
					</div> 
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name" name="name" class="form-control" placeholder="Nombre" required />
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Ext PR</label>
								<input type="text" id="ext" name="ext" class="form-control" placeholder="Ext" required />
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Nuevo Password</label>
								<input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Username</label>
								<input type="text" id="username" name="username" class="form-control" placeholder="Username" required />
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Ext VE</label>
								<input type="text" id="ext_ve" name="ext_ve" class="form-control" placeholder="Ext VE" required />
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Confirmar Password</label>
								<input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Confirmar Password" required/>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="category"> Email</label>
								<input type="email" id="email" name="email" class="form-control" placeholder="Email" required />
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Departamento</label>
								<select class="form-control" id="departament_id" name="departament_id" required>
									{% for dep in departaments %}
										{% if dep['status_id'] == "1" %}
											<option value="{{ dep['id'] }}"> {{ dep['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Rol</label>
								<select class="form-control" id="role_id" name="role_id" required>
									{% for rol in roles %}
										{% if rol['status_id'] == "1" %}
											<option value="{{ rol['id'] }}"> {{ rol['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id" name="status_id" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Team</label>
								<select class="form-control" id="team_id" name="team_id" required>
									{% for team in teams %}
										{% if team['status_id'] == "1" %}
											<option value="{{ team['id'] }}"> {{ team['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Hora de Entrada</label>
								<select class="form-control" id="hours_in" name="hours_in" required>
									<option value="7">7 am</option>
									<option value="8">8 am</option>
									<option value="9">9 am</option>
									<option value="10">10 am</option>
									<option value="11">11 am</option>
									<option value="12">12 pm</option>
									<option value="13">1 pm</option>
									<option value="14">2 pm</option>
									<option value="15">3 pm</option>
									<option value="16">4 pm</option>
									<option value="17">5 pm</option>
									<option value="18">6 pm</option>
									<option value="19">7 pm</option>
									<option value="10">8 pm</option>
									<option value="21">9 pm</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category"> Hora de Salida</label>
								<select class="form-control" id="hours_out" name="hours_out" required>
									<option value="7">7 am</option>
									<option value="8">8 am</option>
									<option value="9">9 am</option>
									<option value="10">10 am</option>
									<option value="11">11 am</option>
									<option value="12">12 pm</option>
									<option value="13">1 pm</option>
									<option value="14">2 pm</option>
									<option value="15">3 pm</option>
									<option value="16">4 pm</option>
									<option value="17">5 pm</option>
									<option value="18">6 pm</option>
									<option value="19">7 pm</option>
									<option value="10">8 pm</option>
									<option value="21">9 pm</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row" style="font-size: 11px;">
						<div class="col-md-3">
							<div class="form-group">
								
								<label for="category"> DirecTV PR</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="tv_pr" id="tv_pr">
									<label class="onoffswitch-label" for="tv_pr">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="category"> Security PR</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="sec_pr" id="sec_pr">
									<label class="onoffswitch-label" for="sec_pr">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="category"> Internet PR</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="net_pr" id="net_pr">
									<label class="onoffswitch-label" for="net_pr">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="category"> Wireless PR</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="wrl_pr" id="wrl_pr">
									<label class="onoffswitch-label" for="wrl_pr">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="category">Television USA <br></label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="tv_usa" id="tv_usa">
									<label class="onoffswitch-label" for="tv_usa">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category">Wireless USA</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="wir_usa" id="wir_usa">
									<label class="onoffswitch-label" for="wir_usa">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category">BroadBand USA</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="net_usa" id="net_usa">
									<label class="onoffswitch-label" for="net_usa">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="category">Television COL <br></label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="tv_col" id="tv_col">
									<label class="onoffswitch-label" for="tv_col">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category">Internet COL</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="net_col" id="net_col">
									<label class="onoffswitch-label" for="net_col">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="category">Security COL</label>
								<span class="onoffswitch">
									<input type="checkbox" class="onoffswitch-checkbox" name="sec_col" id="sec_col">
									<label class="onoffswitch-label" for="sec_col">
										<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-------------------------- Departaments Modal ------------------------>

<div class="modal fade" id="NewDepModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-user" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Departamentos</h4>
			</div>
			<form class="formdepart" method="post" id="formdepart" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertDepartament"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_d" name="id_d" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_d" name="type_d" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_d" name="name_d" class="form-control" placeholder="Nombre" required />
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_d" name="status_id_d" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Teams Modal ---------------------------->

<div class="modal fade" id="NewTeamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-user" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Teams</h4>
			</div>
			<form class="formteam" method="post" id="formteam" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertTeam"></div>
					</div> 
					<div class="row">
							<input type="text" id="id_t" name="id_t" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_t" name="type_t" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_t" name="name_t" class="form-control" placeholder="Nombre" required />
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_t" name="status_id_t" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- Permits Modal ---------------------------->

<div class="modal fade" id="NewPermitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-users" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Permisos Sobre Leads</h4>
			</div>
			<form class="FormPermit" method="post" id="FormPermit" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertTeam"></div>
					</div> 
					<div class="row">
						<div class="table-responsive">
							<input type="text" id="id_p" name="id_p" class="form-control hidden" placeholder="id" />
							<table class="table table-bordered">
								<tbody>
									<tr>
										<td>Datos Basicos</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="db" id="db">
												<label class="onoffswitch-label" for="db">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Identificacion</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="ident" id="ident">
												<label class="onoffswitch-label" for="ident">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Seguro Social</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="ss" id="ss">
												<label class="onoffswitch-label" for="ss">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Marketing</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="mkt" id="mkt">
												<label class="onoffswitch-label" for="mkt">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
									</tr>
									<tr>
										<td>Tarjetas de Credito</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="cc" id="cc">
												<label class="onoffswitch-label" for="cc">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Cuentas de Banco</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="ab" id="ab">
												<label class="onoffswitch-label" for="ab">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Referidos</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="rf" id="rf">
												<label class="onoffswitch-label" for="rf">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Actividades</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="ac" id="ac">
												<label class="onoffswitch-label" for="ac">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
									</tr>
									<tr>
										<td>Servicio Puerto Rico</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="pr" id="pr">
												<label class="onoffswitch-label" for="pr">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Television</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="tvpr" id="tvpr">
												<label class="onoffswitch-label" for="tvpr">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Seguridad</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="sepr" id="sepr">
												<label class="onoffswitch-label" for="sepr">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Internet</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="inpr" id="inpr">
												<label class="onoffswitch-label" for="inpr">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
									</tr>
									<tr>
										<td>Modem Router</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="mrpr" id="mrpr">
												<label class="onoffswitch-label" for="mrpr">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Servicios Venezuela</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="vz" id="vz">
												<label class="onoffswitch-label" for="vz">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Internet</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="invz" id="invz">
												<label class="onoffswitch-label" for="invz">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
										<td>Notas</td>
										<td>
											<span class="onoffswitch">
												<input type="checkbox" class="onoffswitch-checkbox" name="nt" id="nt">
												<label class="onoffswitch-label" for="nt">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>