<div class="widget-body-toolbar bg-color-white">
  <form class="form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="s_clients">Buscar Cliente</label>
      <input type="text" class="form-control input-sm" id="s_clients" name="s_clients" placeholder="Buscar Cliente">
    </div>
        <div class="btn-group hidden-phone pull-right">
      <a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown" onclick="CalculatorDolar();"> Calculadora <span class="caret"> </span> </a>
    </div>
  </form>
</div>
              
<div class="row" style="margin-top: 10px;">
  <article class="col-sm-12 col-md-12 col-lg-6">
    
    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Informaci&oacute;n del Cliente </h2>       
        
      </header>

      <div>
        
        <div class="widget-body no-padding">
          <div id="info_client" show>                              
            <form id="checkout-form" class="smart-form" novalidate="novalidate">

              <fieldset>
                <section>
                  <label><b>Estado</b></label>
                  <label class="input"> <i class="icon-prepend fa fa-map-marker"></i>
                    <input type="text" name="if001" id="if001" placeholder="Estado" readonly>
                  </label>
                </section>

                <section>
                  <label><b>Nombre del Cliente</b></label>
                  <label class="input"> <i class="icon-prepend fa fa-user"></i>
                    <input type="text" name="if002" id="if002" placeholder="Nombre del Cliente" readonly>
                  </label>
                </section>

                <section>
                  <label><b>Tel&eacute;fono Principal</b></label>
                  <label class="input"> <i class="icon-prepend fa fa-phone"></i>
                    <input type="text" name="if003" id="if003" placeholder="Tel&eacute;fono Principal" readonly>
                  </label>
                </section>

                <section>
                  <label><b>Tel&eacute;fono Alterno</b></label>
                  <label class="input"> <i class="icon-prepend fa fa-phone"></i>
                    <input type="text" name="if004" id="if004" placeholder="Tel&eacute;fono Alterno" readonly>
                  </label>
                </section>

                <section>
                  <label><b>Direcci&oacute;n</b></label>
                  <label class="input"> <i class="icon-prepend fa fa-edit"></i>
                    <input type="text" name="if005" id="if005" placeholder="Direcci&oacute;n del Cliente" readonly>
                  </label>
                </section>

                <section>
                  <label><b>Emails</b></label>
                  <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i>
                    <input type="text" name="if006" id="if006" placeholder="Correos Electr&oacute;nicos" readonly>
                  </label>
                </section>

                <section>
                  <label><b>Identificador del Portal</b></label>
                  <label class="input"> <i class="icon-prepend fa fa-user"></i>
                    <input type="text" name="if007" id="if007" placeholder="Identififcador del Portal" readonly>
                  </label>
                </section>

                <section>
                  <label><b>Password del Portal</b></label>
                  <label class="input"> <i class="icon-prepend fa fa-key"></i>
                    <input type="text" name="if008" id="if008" placeholder="Password del Portal" readonly>
                  </label>
                </section>

              </fieldset>

            </form>
          </div>

        </div>
        
      </div>
      
    </div>
  </article>
  <article class="col-sm-12 col-md-12 col-lg-6">
    
    <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Registro de Pago </h2>
      </header>
      <div>
        <div class="widget-body no-padding">

            <form name="form_pay_general" id="form_pay_general" class="smart-form">
              <fieldset>
                <input type="text" name="rp009" id="rp009" readonly hidden> 
                <div class="row">
                  <section class="col col-4">
                    <label><b>Seleccione una Factura</b></label>
                    <label class="select">
                      <select id="rp004" name="rp004">
                        <option value="">Seleccione una opci&oacute;n</option>
                      </select> <i></i> 
                    </label>
                  </section>
                  <section class="col col-4">
                    <label><b>Seleccione Oficina</b></label>
                    <label class="select">
                      <select id="rp005" name="rp005">
                        <option value="">Seleccione una opci&oacute;n</option>
                          {% for cou in data.office %}
                            <option value="{{ cou['id'] }}"> {{ cou['name'] }}</option>
                          {% endfor %}
                      </select> <i></i> 
                    </label>
                  </section>
                  <section class="col col-4">
                    <label><b>Seleccione una Caja</b></label>
                    <label class="select">
                      <select id="rp006" name="rp006">
                        <option value="">Seleccione una opci&oacute;n</option>
                          {% for cou in data.box %}
                            <option value="{{ cou['id'] }}"> {{ cou['name'] }}</option>
                          {% endfor %}
                      </select> <i></i> 
                    </label>
                  </section>
                </div>

                <div class="row">
                  <section class="col col-4">
                    <label><b>Tipo de Pago</b></label>
                    <label class="select">
                      <select id="rp001" name="rp001">
                        <option value="">Seleccione una opci&oacute;n</option>
                          {% for cou in data.type %}
                            <option value="{{ cou['id'] }}"> {{ cou['name'] }}</option>
                          {% endfor %}
                      </select> <i></i> 
                    </label>
                  </section>
                  <section class="col col-4">
                    <label><b>Forma de Pago</b></label>
                    <label class="select">
                      <select id="rp002" name="rp002">
                        <option value="">Seleccione una opci&oacute;n</option>
                          {% for cou in data.form %}
                            <option value="{{ cou['id'] }}"> {{ cou['name'] }}</option>
                          {% endfor %}
                      </select> <i></i> 
                    </label>
                  </section>
                  <section class="col col-4">
                    <label><b>Ejecutivo</b></label>
                    <label class="input"> <i class="icon-append fa fa-dollar"></i>
                      <input type="text" name="rp003" id="rp003" value="{{ app.session.get('username') }}" placeholder="System" readonly> 
                    </label>
                  </section>
                </div>

                <div class="row">
                  <div id="billAlert"></div>
                  <section class="col col-6">
                    <label><b>Monto de Factura</b></label>
                    <label class="input"> <i class="icon-append fa fa-dollar"></i>
                      <input type="text" name="rp007" id="rp007" placeholder="$ 0.00" readonly>
                    </label>
                  </section>
                  <section class="col col-6">
                    <label><b>Fecha de Vencimiento</b></label>
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input type="text" name="rp008" id="rp008" placeholder="2022-12-01" readonly>
                    </label>
                  </section>
                </div>

              </fieldset>
            
            </form>

            <fieldset>

              <div id="pay_transfers" hidden>
                <form name="form_pay_transfers" id="form_pay_transfers" class="smart-form">
                  <fieldset>
                    <div class="row">
                      
                      <section class="col col-4">
                        <label><b>Titular de la Cuenta</b></label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                          <input type="text" name="trans001" id="trans001" placeholder="Titular de la Cuenta" readonly>
                        </label>
                      </section>
                      
                      <section class="col col-4">
                        <label><b>N&uacute;mero de la Cuenta</b></label>
                        <label class="input"> <i class="icon-append fa fa-bank"></i>
                          <input type="text" name="trans002" id="trans002" placeholder="0174XXXXXXXXXXXXXXXX" readonly>
                        </label>
                      
                      </section>
                      
                      <section class="col col-4">
                        <label><b>Monto de Transferencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-dollar"></i>
                          <input type="number" name="trans003" id="trans003" placeholder="Monto en Bs" readonly>
                        </label>                                          
                      </section>
                    
                    </div>
                    
                    <div class="row">

                      <section class="col col-4">
                        <label><b>Seleccione Banco</b></label>
                          <label class="select">
                            <select id="trans004" name="trans004">
                              <option value="">Seleccione una opci&oacute;n</option>
                              {% for cou in data.bank %}
                                <option value="{{ cou['id'] }}"> {{ cou['name'] }}</option>
                              {% endfor %}
                            </select> <i></i> 
                          </label>
                      </section>
                      <section class="col col-4">
                        <label><b>N&uacute;mero de Referencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                          <input type="text" name="trans005" id="trans005" placeholder="N&uacute;mero de Referencia" readonly>
                        </label>
                      </section>
                      <section class="col col-4">
                        <label><b>Fecha de Transferencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-calendar"></i>
                          <input type="text" name="trans006" id="trans006" placeholder="Fecha de Transferencia" readonly>
                        </label>                                          
                      </section>

                    </div>
                  </fieldset>
                </form>
              </div>

              <div id="pay_movil" hidden>
                <form name="form_pay_movil" id="form_pay_movil" class="smart-form">
                  <fieldset>
                    <div class="row">
                      <section class="col col-4">
                        <label><b>C&eacute;dula o Rif</b></label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                          <input type="text" name="pm001" id="pm001" placeholder="C&eacute;dula o Rif" readonly>
                        </label>
                      </section>
                      <section class="col col-4">
                        <label><b>N&uacute;mero de Tel&eacute;fono</b></label>
                        <label class="input"> <i class="icon-append fa fa-phone"></i>
                          <input type="number" name="pm002" id="pm002" placeholder="N&uacute;mero de Tel&eacute;fono" readonly>
                        </label>
                      </section>
                      <section class="col col-4">
                        <label><b>Monto de Transferencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-phone"></i>
                          <input type="number" name="pm003" id="pm003" placeholder="N&uacute;mero de Tel&eacute;fono" readonly>
                        </label>
                      </section>

                    </div>
                    <div class="row">
                      <section class="col col-4">
                        <label><b>Seleccione Banco</b></label>
                        <label class="select">
                          <select id="pm004" name="pm004">
                            <option value="">Seleccione una opci&oacute;n</option>
                            {% for cou in data.bank %}
                              <option value="{{ cou['id'] }}"> {{ cou['name'] }}</option>
                            {% endfor %}
                          </select> <i></i> 
                        </label>
                      </section>
                      <section class="col col-4">
                        <label><b>N&uacute;mero de Referencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                          <input type="text" name="pm005" id="pm005" placeholder="N&uacute;mero de Referencia" readonly>
                        </label>
                      </section>
                      <section class="col col-4">
                        <label><b>Fecha de Transferencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-calendar"></i>
                          <input type="text" name="pm006" id="pm006" placeholder="Fecha de Transferencia" readonly>
                        </label>
                      </section>

                    </div>
                  </fieldset>
                </form>
              </div>

              <div id="pay_zelle" hidden>
                <form name="form_pay_zelle" id="form_pay_zelle" class="smart-form">
                  <fieldset>
                    <div class="row">
                      <section class="col col-6">
                        <label><b>Titular de Transferencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                          <input type="text" name="zl001" id="zl001" placeholder="Titular de Transferencia" readonly>
                        </label>
                      </section>
                      <section class="col col-6">
                        <label><b>N&uacute;mero de Referencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                          <input type="text" name="zl002" id="zl002" placeholder="N&uacute;mero de Referencia" readonly>
                        </label>
                      </section>
                    </div>
                    <div class="row">
                      <section class="col col-6">
                        <label><b>Monto de Transferencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-dollar"></i>
                          <input type="number" name="zl003" id="zl003" placeholder="Monto de Transferencia" readonly>
                        </label>
                      </section>
                      <section class="col col-6">
                        <label><b>Fecha de Transferencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-calendar"></i>
                          <input type="text" name="zl004" id="zl004" placeholder="Fecha de Transferencia" readonly>
                        </label>
                      </section>
                    </div>
                  </fieldset>
                </form>
              </div>

              <div id="pay_paypal" hidden>
                <form name="form_pay_paypal" id="form_pay_paypal" class="smart-form">
                  <fieldset>
                    <div class="row">
                      <section class="col col-4">
                        <label><b>Titular de Transferencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                          <input type="text" name="pp001" id="pp001" placeholder="Titular de Transferencia" readonly>
                        </label>
                      </section>
                      <section class="col col-4">
                        <label><b>Monto de Transferencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-dollar"></i>
                          <input type="number" name="pp002" id="pp002" placeholder="Monto de Transferencia" readonly>
                        </label>
                      </section>
                      <section class="col col-4">
                        <label><b>N&uacute;mero de Referencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                          <input type="text" name="pp003" id="pp003" placeholder="N&uacute;mero de Referencia" readonly>
                        </label>
                      </section>
                    </div>
                    <div class="row">
                      <section class="col col-6">
                        <label><b>Correo de Transferencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-envelope"></i>
                          <input type="email" name="pp004" id="pp004" placeholder="Correo de Transferencia" readonly>
                        </label>
                      </section>
                      <section class="col col-6">
                        <label><b>Fecha de Transferencia</b></label>
                        <label class="input"> <i class="icon-append fa fa-calendar"></i>
                          <input type="text" name="pp005" id="pp005" placeholder="Fecha de Transferencia" readonly>
                        </label>
                      </section>
                    </div>
                  </fieldset>
                </form>
              </div>

              <div id="pay_complet" hidden>
                <form name="form_pay_complet" id="form_pay_complet" class="smart-form">
                  <fieldset>
                    <div class="row">
                      <section class="col col-4">
                        <label><b>Total Dinero Recibido</b></label>
                        <label class="input"> <i class="icon-append fa fa-dollar"></i>
                          <input type="number" name="com001" id="com001" placeholder="$ 0.00" readonly>
                        </label>
                      
                      </section>
                      
                      <section class="col col-4">
                        <label><b>Total Vuelto al Cliente</b></label>
                        <label class="input"> <i class="icon-append fa fa-dollar"></i>
                          <input type="number" name="com002" id="com002" placeholder="$ 0.00" readonly>
                        </label>
                      </section>
                      
                      <section class="col col-4">
                        <label><b>Total Factura a Procesar</b></label>
                        <label class="input"> <i class="icon-append fa fa-dollar"></i>
                          <input type="number" name="com003" id="com003" placeholder="$ 0.00" readonly>
                        </label>
                      </section>                                          
                    </div>
                  </fieldset>
                </form>
              </div>

              <div id="pay_partial" hidden>
                <form name="form_pay_partial" id="form_pay_partial" class="smart-form">
                  <fieldset>
                    <div class="row">
                      <section class="col col-4">
                        <label><b>Total Dinero Recibido</b></label>
                        <label class="input"> <i class="icon-append fa fa-dollar"></i>
                          <input type="number" name="par001" id="par001" placeholder="$ 0.00" readonly>
                        </label>
                      
                      </section>
                      
                      <section class="col col-4">
                        <label><b>Total Vuelto al Cliente</b></label>
                        <label class="input"> <i class="icon-append fa fa-dollar"></i>
                          <input type="number" name="par002" id="par002" placeholder="$ 0.00" readonly>
                        </label>
                      
                      </section>
                      
                      <section class="col col-4">
                        <label><b>Total Factura a Procesar</b></label>
                        <label class="input"> <i class="icon-append fa fa-dollar"></i>
                          <input type="number" name="par003" id="par003" placeholder="$ 0.00" readonly>
                        </label>
                      
                      </section>
                    </div>
                </fieldset>
                </form>
              </div>

            </fieldset>

            <footer>
              <fieldset>

                <section class="col-md-5">
                  <a class="btn btn-primary btn-block" id="savePayment" onclick="SavePayment();">Registrar Pago</a><br>
                </section>
                <section class="col-md-6">
                  <a class="btn btn-success btn-block" id="processPayment" onclick="ProcessPayment();">Procesar Pago</a><br>
                </section>
                <section class="col-md-1">
                  <a class="btn btn-info btn-block" id="receiptPayment" onclick="receiptPayment();"><i class="icon-append fa fa-print"></i></a><br>
                </section>
                <br>
                <br>
              </footer>
            </footer>

        </div>
        
      </div>
      
    </div>

  </article>
</div>