{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <input name="ope_id" id="ope_id" value="{{ operator }}" readonly hidden>
      <li>Home</li><li>Reporte de Caja - Venezuela</li>
    </ol>
  </div>
  <div id="content">    
         
      {% include('transactions/reports.html.twig') %}

    </div>
  </div>

{% include('transactions/modal.html.twig') %}

{% endblock %}

{% block js %}
  {{ parent() }}
<script type="text/javascript">
  
/////////////////////////////////////////////////////////////////////////////////
$(document).keydown(function (event) {
  if (event.keyCode == 117) 
  {
    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/calculadora') }}",
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
        $.unblockUI();
        if(datos.status == true)
        {
          $('#dol').val(1);
          $('#bs').val(datos.data.dolar);
          $('#calc_bs').val(datos.data.dolar);
          $('#calgen').html('<strong style="font-size: 60px; color: green;">$ 1.00 </strong> <strong style="font-size: 40px; color: cornflowerblue;">- BS '+datos.data.dolar+'</strong>');
          $('#valDol').html('<strong style="font-size: 42px;">BS '+datos.data.dolar+'</strong> <strong style="font-size: 21px;">x $</strong>');
          $('#valDol').html('<h5>Valor de BCV - Fecha '+datos.data.created_at+'</h5>');
          $('#CalculatorModal').modal('show');
        }else{
          swal("Información!", "Error al intentar conectar con base de datos");
        }
    }
    });

  } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I        
      return false;
  }

  if (event.keyCode == 119) { // Prevent Insert
    let bill   =   document.getElementById("rp004");

    if(bill.value != "")
    {
      $('#BodyModalItems')[0].reset();
      for (var i = 1; i < 100; i++) 
      {
          $('#items-'+i+'').remove();
      } 
      $("#AlertItemsVe").html('');


      $('input[name=mw_modal_id]').val(bill.value);
      $('#ItemsModals').modal('show');
    }else{
      swal("Información!", "Debe seleccionar una factura válida");
    }

  } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I        
      return false;
  }

  if (event.keyCode == 120) { // Prevent Home
    let bill   =   document.getElementById("rp004");

    if(bill.value != "")
    { 
      $('input[name=imp_modal_id]').val(bill.value);
      $('#ImportModal').modal('show');
    }else{
      swal("Información!", "Debe seleccionar una factura válida");
    }

  } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I        
      return false;
  }

  if (event.keyCode == 121) { // Prevent Page Up
    let bill   =   document.getElementById("rp004");

    if(bill.value != "")
    {
      
      $.ajax({ type: "POST", url:  "{{ url('/collection/ve/printPayment') }}", data: {id: bill.value},
      beforeSend: function(request){
        // blockUI();
      },
      success: function(datos)
      {
        $.unblockUI();

        if(datos.status == true)
        {
          window.open("../../PrintComplete.php?id="+bill.value+"", "Print", "width=768, height=1024")
        }else{
          swal("Información!", datos.message);
        }

      }
      });

    }else{
      swal("Información!", "Debe seleccionar una factura válida");
    }

  } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I        
      return false;
  }

  let caldor   =   document.getElementById("calc_dol");
  let timeout;

  caldor.addEventListener('keydown', () => {
    timeout = setTimeout(() => {
      var bs    =   $('#bs').val();
      var dol   =   $('#calc_dol').val();

      let res   = bs*dol;
      var rounded = Math.round((res + Number.EPSILON) * 100) / 100;

      $('#calgen').html('');
      $('#calgen').html('<strong style="font-size: 60px; color: green;">$ '+dol+' </strong> <strong style="font-size: 40px; color: cornflowerblue;">- BS '+rounded+'</strong>');
      $('#calc_bs').val(rounded);
      clearTimeout(timeout);
    }, 1000)

  });

  let calbs   =   document.getElementById("calc_bs");
  let timeout2;

  calbs.addEventListener('keydown', () => {
    timeout2 = setTimeout(() => {
      var bs    =   $('#bs').val();
      var dol   =   $('#calc_bs').val();

      let res   = (dol/bs);
      var rounded = Math.round((res + Number.EPSILON) * 100) / 100;
      console.log(rounded);
      $('#calgen').html('');
      $('#calgen').html('<strong style="font-size: 60px; color: green;">$ '+rounded+' </strong> <strong style="font-size: 40px; color: cornflowerblue;">- BS '+dol+'</strong>');
      $('#calc_dol').val(rounded);
      clearTimeout(timeout2);
    }, 1000)

  });


});

let dInp  = ['trans006', 'pm006', 'pp005', 'zl004', 'da001'];

Object.entries(dInp).forEach(([key, value]) => 
{      

  $('#'+value+'').datepicker({
    dateFormat: 'yy-mm-dd',
    yearRange: 'c-60:c+10',
    changeMonth: true,
    changeYear: true,
    prevText: '<i class="fa fa-chevron-left"></i>',
    nextText: '<i class="fa fa-chevron-right"></i>',
  });
});

$("#da002").datepicker({
  dateFormat: 'yy-mm-dd',
  yearRange: 'c-60:c+10',
  defaultDate: "+1w",
  changeMonth: true,
  changeYear: true,
  changeDay: true,
  prevText: '<i class="fa fa-chevron-left"></i>',
  nextText: '<i class="fa fa-chevron-right"></i>',
    onClose: function (selectedDate) {
      $("#da002").datepicker("option", "maxDate", selectedDate);
      var str = $("#form-report-date").serialize();
      $.ajax({ type: "POST", url:  "{{ url('/collection/ve/loadReports') }}", data: {date:str},
      beforeSend: function(request){
        blockUI();
      },
      success: function(datos)
      {
        $.unblockUI();
        var t     = datos.data;
        var ti    = '';

        $("#tbl1 tr").remove(); 
        $("#tbl2 tr").remove(); 
        if(datos.status == true)
        {
          for (x=1;x<3;x++) 
          {
            if(x==1){ti="COMPLETO";}else{ti="PARCIAL";}
            $('#tbl'+x+'').append('<tbody>');
            $('#tbl'+x+'').append('<tr style="text-align: center; background: aliceblue;"><td colspan="3">TIPO DE PAGO - '+ti+'</td></tr>');
            $('#tbl'+x+'').append('<tr style="text-align: center;"><td><b>FORMA DE PAGO</b></td><td><b>CANTIDAD</b></td><td><b>TOTAL</b></td></tr>');
            for(i=1;i<6;i++)
            {
              $('#tbl'+x+'').append('<tr><td>'+t[x][i]['TYPE']+'</td><td style="text-align: center;">'+t[x][i]['CANT']+'</td><td style="text-align: center;">$ '+t[x][i]['TOTAL']+'</td></tr>');
            }
            $('#tbl'+x+'').append('<tr style="text-align: center;"><td><b>TOTAL</b></td><td><b>'+t[x][5]['CGEN']+'</b></td><td><b>$ '+t[x][5]['TGEN']+'</b></td></tr>');
            $('#tbl'+x+'').append('</tbody>');
          }
          $("#TableReportSta").html('');
          $("#TableReportSta").html(datos.statics);
          $('#TableStaticsHtml').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10,
          });

        }else{

        }

      }
      });
    }

});

/////////////////////////////////////////////////////////////////////////////////

$(function() 
{

  $('#TableReportHtml').DataTable({
    aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    pageLength: 10
  });

  let $search   =   document.getElementById("s_clients");
  let timeout;

  $search.addEventListener('keydown', () => {
    clearTimeout(timeout)
    timeout = setTimeout(() => {

    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/search') }}", data: {value: $('input[name=s_clients]').val()},
    beforeSend: function(request)
    {
      ClearIF();
      ClearSelect(['rp001', 'rp002', 'rp004', 'rp005', 'rp006']);
      ClearGeneralForms();
      blockUI();
    },
    success: function(datos)
    {
        $.unblockUI();
        if(datos.status == true)
        {  
          $("#alertTrans").html('');
          $("#TableClients").html(datos.html);
          $('#TableTransacctionHtml').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
          });

          $('#transModal').modal('show');
        }else{
          $.unblockUI();
          ClearIF()
          $("#alertTrans").html('');
          $('#TableClients').html('');
          $('#TableClients').html(datos.actives);
          $('#transModal').modal('hide');
          $("#rp004 option[value='']").attr("selected", false); 
          $("#rp004 option[value='']").attr("selected", true); 
          swal("Información!", "Cliente NO encontrado, por favor intente nueamente.");

        }
    }
    });
      clearTimeout(timeout)
    },1000)
  
  })

  var ftpchange = document.getElementById("rp001");
  ftpchange.addEventListener("change", function() {

    ClearGeneralForms();

    $("#rp002 option[value='']").attr("selected", false); 
    $("#rp002 option[value='']").attr("selected", true); 

  });

  var tfpchange = document.getElementById("rp002");
  tfpchange.addEventListener("change", function() 
  {
    switch(tfpchange.value)
    {
      case '1': ClearForms('form_pay_complet');   break;
      case '2': ClearForms('form_pay_transfers'); break;
      case '3': ClearForms('form_pay_movil');     break;
      case '4': ClearForms('form_pay_paypal');    break;
      case '5': ClearForms('form_pay_zelle');     break;
    }

  });

  var ftbchange = document.getElementById("rp004");
  ftbchange.addEventListener("change", function() 
  {
    $('#billAlert').html('');
    
    ClearGeneralForms();

    $("#rp002 option[value='']").attr("selected", false); 
    $("#rp002 option[value='']").attr("selected", true); 

    if($('#rp004').val() != "")
    {
      $.ajax({ type: "POST", url:  "{{ url('/collection/ve/searchBill') }}", data: {value: $('#rp004').val()},
      beforeSend: function(request){
        blockUI();
      },
      success: function(datos)
      {
          $.unblockUI();

          if(datos.status == true)
          {  
            $('#billAlert').html(datos.alert);
            $('#rp007').val(datos.bill.total);
            $('#rp008').val(datos.bill.vencimiento);

            if(datos.pending < 0)
            {
              $('#savePayment').attr('disabled', true);
            }else{
              $('#savePayment').attr('disabled', false);
            }

            if($('#fac_t_pay').val() == 1)
            {
              StateComplete();
            }
            else if($('#fac_t_pay').val() == 2)
            {
              StatePartial();
            }

          }else{
            // $('#billAlert').html(datos.alert);
            $('#rp007').val(datos.bill.total);
            $('#rp008').val(datos.bill.vencimiento);
            $('#savePayment').attr('disabled', false);
            swal("Advertencia!", "Debe seleccionar una factura válida.");
          }
      }
      });

    }else{
      $('#fac_t_total').val('');
      $('#fac_t_date').val('');
      $('#savePayment').attr('disabled', false);

      swal("Advertencia!", "Debe seleccionar una factura válida.");
    }

  });

});

/////////////////////////////////////////////////////////////////////////////////

  function LoadReportData()
  {

    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/loadReports') }}", data: {date: $('#form-report-date').serialize()},
    beforeSend: function(request)
    {
      blockUI();
    },
    success: function(datos)
    {
      $.unblockUI();
      var t     = datos.data;
      var ti    = '';

      $("#tbl1 tr").remove(); 
      $("#tbl2 tr").remove(); 
      if(datos.status == true)
      {
        for (x=1;x<3;x++) 
        {
          if(x==1){ti="COMPLETO";}else{ti="PARCIAL";}
          $('#tbl'+x+'').append('<tbody>');
          $('#tbl'+x+'').append('<tr style="text-align: center; background: aliceblue;"><td colspan="3">TIPO DE PAGO - '+ti+'</td></tr>');
          $('#tbl'+x+'').append('<tr style="text-align: center;"><td><b>FORMA DE PAGO</b></td><td><b>CANTIDAD</b></td><td><b>TOTAL</b></td></tr>');
          for(i=1;i<6;i++)
          {
            $('#tbl'+x+'').append('<tr><td>'+t[x][i]['TYPE']+'</td><td style="text-align: center;">'+t[x][i]['CANT']+'</td><td style="text-align: center;">$ '+t[x][i]['TOTAL']+'</td></tr>');
          }
          $('#tbl'+x+'').append('<tr style="text-align: center;"><td><b>TOTAL</b></td><td><b>'+t[x][5]['CGEN']+'</b></td><td><b>$ '+t[x][5]['TGEN']+'</b></td></tr>');
          $('#tbl'+x+'').append('</tbody>');
        }
        $("#TableReportSta").html('');
        $("#TableReportSta").html(datos.statics);
        $('#TableStaticsHtml').DataTable({
          aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
          pageLength: 10,
        });

      }else{

      }

    }
    });
  
  }

/////////////////////////////////////////////////////////////////////////////////

  function CliSel(id)
  {
    $('#rp009').val(id);
    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/searchClient') }}", data: {value: id},
    beforeSend: function(request){
      let forms   =   ['checkout-form'];
      let result  =   forms.find(element => element == forms);
      let index   =   forms.indexOf(result);
      $("#rp004 option[value='']").attr("selected", false); 
    
      Object.entries(forms).forEach(([key, value]) => 
      {      
        if(index != key)
        {
          var form1Inputs = document.getElementById(value);

          for(let i=1; i<form1Inputs.length; i++)
          {
            $('#'+form1Inputs[i].name+'').val('');
            $('#'+form1Inputs[i].name+'').prop('readonly', true);
          }
        }
      });
      $("#alertTrans").html('<div class="alert alert-warning fade in"><i class="fa-fw fa fa-warning"></i><strong> Procesando </strong> Por Favor Espere...</div>');
    },
    success: function(datos)
    {
        $.unblockUI();
        if(datos.status == true)
        {  
          $('input[name=if001]').val(datos.client.if001);
          $('input[name=if002]').val(datos.client.if002);
          $('input[name=if003]').val(datos.client.if003);
          $('input[name=if004]').val(datos.client.if004);
          $('input[name=if005]').val(datos.client.if005);
          $('input[name=if006]').val(datos.client.if006);
          $('input[name=if007]').val(datos.client.if007);
          $('input[name=if008]').val(datos.client.if008);

          $("#rp004 option[value='']").attr("selected", false); 
          $("#rp004 option[value='']").attr("selected", true); 

          if(datos.bills != false)
          {
            Bills(datos.bills);
          }
          $("#alertTrans").html('');
          $('#TableClients').html('');
          $('#transModal').modal('hide');
          if(datos.c != 0)
          {
            swal("Información.!", "Cliente Posee #"+datos.c+" pendientes, con un saldo pendiente de $"+datos.total+"");
          }else{

            swal("Información.!", "Cliente sin facturación pendiente");
          }
        }else{
          ClearIF()
          $("#alertTrans").html('');
          $('#TableClients').html('');
          $('#transModal').modal('hide');
        }

    }
    });

  }

  function StaSel(id)
  {
    $('#staticMID').val(id);
    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/viewReport') }}", data: { id:  id },
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
        $.unblockUI();
        $('#billAlert').html('');
        $('#tblStMod').html(datos.html);

        if(datos.sta == "PENDIENTE")
        {
          $('#btnRefSusp').removeAttr('disabled');
        }else{
          $('#btnRefSusp').attr('disabled','disabled');
        }
    }
    });

    $('#StaticsModal').modal('show');

  }

  function refSusp()
  {
    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/suspendedReport') }}", data: { id: $('#staticMID').val() },
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
      LoadReportData();
      $('#staticMID').val('');
      $('#tblStMod').html('');
      $('#StaticsModal').modal('hide');
    }
    });
  }


  function SavePayment()
  {
    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/payment') }}", data: {
      general:  $('#form_pay_general').serialize(), 
      complet:  $('#form_pay_complet').serialize(),
      transfer: $('#form_pay_transfers').serialize(),
      movil:    $('#form_pay_movil').serialize(),
      paypal:   $('#form_pay_paypal').serialize(),
      zelle:    $('#form_pay_zelle').serialize(),
      total:    $('#fac_t_total').val(),
    },
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
        $.unblockUI();
        $('#billAlert').html('');
        if(datos.status == true)
        {  
          $('#billAlert').html('');
          ClearSelect(['rp001', 'rp002', 'rp004', 'rp005', 'rp006']);
          $('#rp007').val(''); $('#rp008').val('');

          ClearGeneralForms();

          Bills(datos.bill);

          if(datos.amount <= 0)
          {
            $('#savePayment').attr('disabled', true);
          }else{
            $('#savePayment').attr('disabled', false);
          }

          window.open("../../PrintPartial.php?id="+datos.id+"", "Print", "width=768, height=1024")

        }else{

          swal("Advertencia!", datos.message);
        }
    }
    });
  
  }

  function ProcessPayment()
  {
    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/preprocess') }}", data: {
      general: $('#form_pay_general').serialize()
    },
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {

      $.unblockUI();
      $('#billAlert').html('');
      if(datos.status == true)
      {  
        $('#billAlert').html(datos.alert);
        // swal("Success!", "Factura procesada exitosamente.!");
        window.open("../../PrintComplete.php?id="+datos.id+"", "Print", "width=768, height=1024")

      }else{

        swal({
          title: "Advertencia.!",
          text: "Desea procesar la factura con el siguiente saldo: $ "+datos.pending+"?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            $.ajax({ type: "POST", url:  "{{ url('/collection/ve/postprocess') }}", data: {
              general: $('#form_pay_general').serialize()
            },
            beforeSend: function(request){
              blockUI();
            },
            success: function(datos)
            {
                $.unblockUI();
                $('#billAlert').html('');
                if(datos.status == true)
                {  
                  Bills(datos.bills);
                  ClearSelect(['rp001', 'rp002', 'rp004', 'rp005', 'rp006']);
                  ClearGeneralForms();
                  window.open("../../PrintComplete.php?id="+datos.id+"", "Print", "width=768, height=1024")
                  // swal("Success!", "Factura procesada exitosamente.!");

                }else{
                  
                  swal("Advertencia!", datos.message);
                }
            }
            });
          }
        });

      }
    }
    });
  
  }

  function blockUI()
  {
      $.blockUI({ css: {
       border: 'none',
       padding: '15px',
       backgroundColor: '#000',
         '-webkit-border-radius': '10px',
         '-moz-border-radius': '10px',
       opacity: .5,
       color: '#fff'
    }});
  
  }

  function ClearForms(form)
  {
    let forms =  ['form_pay_complet', 'form_pay_transfers', 'form_pay_movil', 'form_pay_paypal',  'form_pay_zelle'];
    let pay   =  ['pay_complet',      'pay_transfers',      'pay_movil',      'pay_paypal',       'pay_zelle'];

    let result  = forms.find(element => element == form);
    let index   = forms.indexOf(result);
    var tp      = $('#rp001').val();
    var fp      = $('#rp002').val();
    var infTp   = '';
    var infFp   = '';

    Object.entries(forms).forEach(([key, value]) => 
    {      
      if(index != key)
      {
        var form1Inputs = document.getElementById(value);

        for(let i=1; i<form1Inputs.length; i++)
        {
          $('#'+form1Inputs[i].name+'').val('');
          $('#'+form1Inputs[i].name+'').prop('readonly', true);
        }
      }
    });

    if(tp == "")
    {
      for (var i = 1; i < 3; i++) { $("#rp00"+i+" option[value='']").attr("selected", false); $("#rp00"+i+" option[value='']").attr("selected", true); }

      swal("Advertencia", "Debe Seleccionar un Tipo de Pago");

    }else{

      infoTp = 'pay_complet'; infoFp = '';

      switch(fp)
      {
        case '1': infoFp = 'pay_complet';   break;
        case '2': infoFp = 'pay_transfers'; break;
        case '3': infoFp = 'pay_movil';     break;
        case '4': infoFp = 'pay_paypal';    break;
        case '5': infoFp = 'pay_zelle';     break;        
      }

      ActForms([infoTp, infoFp]);      
    }
    
  }

  function ActForms(inf)
  {

    let tp    =  ['pay_complet'];
    let fp    =  ['pay_complet',      'pay_transfers',      'pay_movil',      'pay_paypal',       'pay_zelle'];
    let forms =  ['form_pay_complet', 'form_pay_transfers', 'form_pay_movil', 'form_pay_paypal',  'form_pay_zelle'];

    // Forma de Pago

    let fpLen   = fp.length;
    let fpRes   = fp.find(element => element == inf[1]);
    let fpInd   = fp.indexOf(fpRes)+1;

    for (var i = 1; i <= fpLen; i++) 
    {
      if( i == 1  )
      {
        
        $('#'+fp[0]+'').hide();
        $('#'+fp[1]+'').hide();

      }else{

        if(i > 1)
        {
          if(i == fpInd)
          { 
            var form1Inputs = document.getElementById(forms[fpInd-1]);

            for(let i=1; i<form1Inputs.length; i++)
            {
              $('#'+form1Inputs[i].name+'').val('');
              $('#'+form1Inputs[i].name+'').prop('readonly', false);
            }

            $('#'+fp[fpInd-1]+'').show(); 


          }else{
            $('#'+fp[i]+'').hide(); 
          }
        }
      }
    }

    // Tipo de Pago

    let tpLen   = tp.length;
    let tpRes   = tp.find(element => element == inf[0]);
    let tpInd   = tp.indexOf(tpRes)+1;

    for (var i = 1; i <= tpLen; i++) 
    { 
      if(i == tpInd)  
      {   
        var form2Inputs =   document.getElementById(forms[tpInd-1]);

        for(let i=1; i<form2Inputs.length; i++)
        {

          $('#'+form2Inputs[i].name+'').val('');
          $('#'+form2Inputs[i].name+'').prop('readonly', false);
        }

        $('#'+tp[tpInd-1]+'').show();   
      }else{  
        $('#'+tp[i]+'').hide(); 
      } 
    }

  }

  function ClearGeneralForms()
  {
    let forms =  ['form_pay_complet', 'form_pay_transfers', 'form_pay_movil', 'form_pay_paypal',  'form_pay_zelle'];
    let pay   =  ['pay_complet',      'pay_transfers',      'pay_movil',      'pay_paypal',       'pay_zelle'];

    Object.entries(forms).forEach(([key, value]) => 
    {      
      var form1Inputs = document.getElementById(value);

      for(let i=1; i<form1Inputs.length; i++)
      {
        $('#'+form1Inputs[i].name+'').val('');
        $('#'+form1Inputs[i].name+'').prop('readonly', true);
      }
    
    });

    Object.entries(pay).forEach(([key, value]) => { $('#'+value+'').hide(); });    
  
  }

  function ClearSelect(select)
  {
    Object.entries(select).forEach(([key, value]) => 
    {      
      $("#"+value+" option[value='']").attr("selected", false); 
      $("#"+value+" option[value='']").attr("selected", true); 
    });
  
  }

  function ClearIF()
  {
    let form  =   'checkout-form';
    let forms =  ['checkout-form'];
    let pay   =  ['info_client'];

    let result  = forms.find(element => element == form);
    let index   = forms.indexOf(result);

    Object.entries(forms).forEach(([key, value]) => 
    {    
      if(index == key)
      {
        var form1Inputs = document.getElementById(value);
        for(let i=1; i<form1Inputs.length; i++)
        {
          $('#'+form1Inputs[i].name+'').val('');
          $('#'+form1Inputs[i].name+'').prop('readonly', true);
        }
      }
    });
  
  }

  function Bills(bills)
  {

    $('#rp004').children().remove().end().append('<option selected value="">Seleccione una factura</option>') ;

    $.each(bills, function(key,val) 
    {
      $('#rp004').append('<option value="'+val.id+'">'+val.total+'</option>');
    });
  }

  function transactionsXLS()
  {
    window.location.href = "../../transactionsXLS.php?d1="+$('#da001').val()+"&d2="+$('#da002').val()+"&op="+$('#rp003').val()+"";
  }

  function transactionsPDF()
  {
    window.location.href = "../../transactionsPDF.php?d1="+$('#da001').val()+"&d2="+$('#da002').val()+"&op="+$('#rp003').val()+"";
  }

  function receiptPayment()
  {
    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/receiptPayment') }}",
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
        $.unblockUI();
        $('#alertPrint').html('');
        if(datos.status == true)
        {  
          $("#alertPrint").html('');
          $("#TablePrintStatics").html(datos.html);
          $('#TablePrintHtml').DataTable({
            aLengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            pageLength: 10
          });

          $('#printModal').modal('show');
        }else{
          $('#printModal').modal('hide');
          swal("Advertencia!", "Sin información para mostrar.");
        }
    }
    });
  }

  function PrintTicket(id) 
  {
    $('#printModal').modal('hide');
    window.open("../../PrintPartial.php?id="+id+"", "Print", "width=768, height=1024")
    // window.location.href = "../../PrintPartial.php?id="+id+"";
  }

  function AddItemsPay()
  {

    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/addItems') }}", data: {id: $('#mw_body_type').val()}, 
    success: function(data)
    {
      if(data.status = true)
      {
        let total = 0.00;
        if( $('#iva_'+data.items.id+'').val() == 0 )
        {
          total   =   data.items.cost * data.items.cantidad;
        }else{
          total   =   data.items.cost * data.items.cantidad;
          total   =   (total * ( data.items.iva / 100 )) + total;
        }

        $('#fItemsModal').append('<table>');
        $('#fItemsModal').append('<tr id="items-'+data.items.id+'"><td>'+data.items.content+'</td><td><input type="text" name="cost_'+data.items.id+'" id="cost_'+data.items.id+'" placeholder="1.00" value="'+data.items.cost+'" style="width: 50px; text-align: center;" readonly></td><td><input type="number" onkeypress="keyItemsCant('+data.items.id+')" name="cant_'+data.items.id+'" id="cant_'+data.items.id+'" placeholder="1.00" value="'+data.items.cantidad+'" style="width: 50px; text-align: center;"></td><td><input type="text" name="iva_'+data.items.id+'" id="iva_'+data.items.id+'" placeholder="16" value="'+data.items.iva+'" style="width: 50px; text-align: center;" onkeypress="keyItemsIva('+data.items.id+')"></td><td><input type="text" name="total_'+data.items.id+'" id="total_'+data.items.id+'" placeholder="1.00" value="'+total+'" style="width: 75px; text-align: center;" readonly></td><td><a href="javascript:;" onclick="removeItems('+data.items.id+')" class="btn btn-primary btn-xs">X</a></td></tr>');
        $('#fItemsModal').append('</table>');
      }else{
        $('#AlertItemsVe').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Error, intente nuevamente</div>');
      }
    }    
    });

  }

  function keyItemsCant(id)
  {
    setTimeout(
      function() 
      {
        let iva   = '';
        let total = 0.00;
        total   =   $('#cost_'+id+'').val() * $('#cant_'+id+'').val();

        if( $('#iva_'+id+'').val() == 0 )
        {
          total   =   $('#cost_'+id+'').val() * $('#cant_'+id+'').val();
          $('#total_'+id+'').val(total);
        }else{
          total   =   $('#cost_'+id+'').val() * $('#cant_'+id+'').val();
          total   =   (total * ( $('#iva_'+id+'').val() / 100 )) + total;
          $('#total_'+id+'').val(total);
        }
      }, 
    1000);

  }

  function keyItemsIva(id)
  {
    setTimeout(
      function() 
      {
        let iva   = '';
        let total = 0.00;
        total   =   $('#cost_'+id+'').val() * $('#cant_'+id+'').val();
        total   =   (total * ( $('#iva_'+id+'').val() / 100 )) + total;
        $('#total_'+id+'').val(total)
      }, 
    1000);

  }

  function removeItems(id) 
  {
    $('#items-'+id+'').remove();
  }

  function submitItemsPay()
  {
    var sheet = $('#BodyModalItems').serialize();

    var nFilas = $("#fItemsTable tr").length;

    if(nFilas == 1)
    {
      $('#AlertItemsVe').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Error, debe ingresar al menos un dato para la factura</div>');
    }else{

      $('#AlertItemsVe').html('');
      $.ajax({ type: "POST", url:  "{{ url('/collection/ve/createBill') }}", data: {str: sheet}, 
      beforeSend: function(request){
        $('#AlertItemsVe').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, Por Favor Espere</div>');
        $('#billAlert').html('');
      },
      success: function(data)
      {
        if(data.status = true)
        {
          $('#AlertItemsVe').html('');
          $('#AlertItemsVe').html('<div class="alert alert-success fade in"><i class="fa-fw fa fa-success"></i> Factura creada exitosamente</div>');
          $('#ItemsModals').modal('hide');

          if(data.bills != false)
          {
            let forms   =   ['checkout-form'];
            let result  =   forms.find(element => element == forms);
            let index   =   forms.indexOf(result);
            $("#rp004 option[value='']").attr("selected", false); 
          
            Object.entries(forms).forEach(([key, value]) => 
            {      
              if(index != key)
              {
                var form1Inputs = document.getElementById(value);

                for(let i=1; i<form1Inputs.length; i++)
                {
                  $('#'+form1Inputs[i].name+'').val('');
                  $('#'+form1Inputs[i].name+'').prop('readonly', true);
                }
              }
            });

            $('#billAlert').html('');
            $('#billAlert').html('<div class="alert alert-dange fade in"><i class="fa-fw fa fa-dange"></i> Error, intente nuevamente</div>');            

            Bills(data.bills);
          }

        }else{
          $('#AlertItemsVe').html('');
          $('#AlertItemsVe').html('<div class="alert alert-dange fade in"><i class="fa-fw fa fa-dange"></i> Error, intente nuevamente</div>');
        }
      }    
      });
    }

  }

  function submitImportPay()
  {
    let bill   =   document.getElementById("imp_modal_id");

    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/importPayment') }}", data: {id: bill.value }, 
    beforeSend: function(request){
      $('#alertImportPrint').html('<div class="alert alert-info fade in"><i class="fa-fw fa fa-info"></i> Procesando, Por favor espere.!</div>');
    },
    success: function(data)
    {
        $.unblockUI();
        $('#alertImportPrint').html('');
        if(data.status == true)
        {  
          $('#ImportModal').modal('hide');

          if(data.bills != false)
          {
            let forms   =   ['checkout-form'];
            let result  =   forms.find(element => element == forms);
            let index   =   forms.indexOf(result);
            $("#rp004 option[value='']").attr("selected", false); 
          
            Object.entries(forms).forEach(([key, value]) => 
            {      
              if(index != key)
              {
                var form1Inputs = document.getElementById(value);

                for(let i=1; i<form1Inputs.length; i++)
                {
                  $('#'+form1Inputs[i].name+'').val('');
                  $('#'+form1Inputs[i].name+'').prop('readonly', true);
                }
              }
            });

            Bills(data.bills);
          }

        }else{
          $('#ImportModal').modal('hide');
          swal("Advertencia!", "Sin información para mostrar.");
        }
    }
    });
  }

  function CalculatorDolar()
  {
    $.ajax({ type: "POST", url:  "{{ url('/collection/ve/calculadora') }}",
    beforeSend: function(request){
      blockUI();
    },
    success: function(datos)
    {
        $.unblockUI();
        if(datos.status == true)
        {
          $('#dol').val(1);
          $('#bs').val(datos.data.dolar);
          $('#calc_bs').val(datos.data.dolar);
          $('#calgen').html('<strong style="font-size: 60px; color: green;">$ 1.00 </strong> <strong style="font-size: 40px; color: cornflowerblue;">- BS '+datos.data.dolar+'</strong>');
          $('#valDol').html('<strong style="font-size: 42px;">BS '+datos.data.dolar+'</strong> <strong style="font-size: 21px;">x $</strong>');
          $('#valDol').html('<h5>Valor de BCV - Fecha '+datos.data.created_at+'</h5>');
          $('#CalculatorModal').modal('show');
        }else{
          swal("Información!", "Error al intentar conectar con base de datos");
        }
    }
    });
  }

/////////////////////////////////////////////////////////////////////////////////

</script>
{% endblock %}