<div class="modal fade" id="transModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-edit" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Resultado de Busqueda</h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<div class="row">
					<div id="alertTrans"></div>
				</div> 
				<div class="row">
	              <div class="table-responsive">
	                <div id="TableClients" style="font-size: 11px;"></div>
	              </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="StaticsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-edit" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Informaci&oacute;n de Transacci&oacute;n</h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<div class="row">
					<div id="alertStatics"></div>
				</div> 
				<div class="row">
	              <div class="table-responsive">
	                <div id="TableInfoStatics" style="font-size: 11px;">
	                	<input type="text" id="staticMID" name="staticMID" readonly hidden>
						<table class="table table-bordered" id="tblStMod" border="1" style="font-size: 12px;">
						</table>
	                </div>
	              </div>
				</div>
			</div>
			<div class="modal-footer">
				<!-- <a type="button" id="btnRefSusp" class="btn btn-danger" onclick="refSusp();">Suspender</a> -->
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-edit" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Impresi&oacute;n de Transacciones</h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<div class="row">
					<div id="alertPrint"></div>
				</div> 
				<div class="row">
	              <div class="table-responsive">
	                <div id="TablePrintStatics" style="font-size: 11px;">
	                </div>
	              </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ItemsModals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <i class="icon-append fa fa-edit" style="font-size: 50px;"></i>
        <h4 class="modal-title" id="myModalLabel">Items para Facturas</h4>
      </div>
      <form class="BodyModalItems" method="post" id="BodyModalItems" data-parsley-validate="">
        <div class="modal-body" style="background: aliceblue;">
          <div class="row"><div id="AlertItemsVe"></div></div>
          <input class="form-control hidden" type="number" id="mw_modal_id" name="mw_modal_id">
          <div class="row">
            <div class="col-md-6" style="margin-top: 30px;">

              <div class="form-group" style="text-align: center;">
                <label for="category"> LISTADO DE ITEMS</label>
              </div>

            </div>
            <div class="col-md-5">
              <div class="form-group" style="text-align: center;">
                <label for="category">TIPO</label>
                <select class="form-control" id="mw_body_type" name="mw_body_type" required>
					<option value="">SELECCIONE UNA OPCI&Oacute;N</option>
                  	{% for cou in data.items %}
                    	<option value="{{ cou['id'] }}"> {{ cou['content'] }}</option>
                  	{% endfor %}
            </select>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="category">ADD</label><br>
                <a href="javascript:;" onclick="AddItemsPay();" class="btn btn-primary">+</a>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12">
              <table id="fItemsModal" class="table table-striped table-bordered table-hover">
                <thead style="text-align: center;">
                  <tr>
                    <th style="width: 55%; text-align: center;">Items</th>
                    <th style="width: 10%; text-align: center;">Costo</th>
                    <th style="width: 10%; text-align: center;">Cantidad</th>
                    <th style="width: 10%; text-align: center;">IVA</th>
                    <th style="width: 15%; text-align: center;">Total</th>
                    <th style="width: 5%; text-align: center;">Edit</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                </tbody>
              </table>            
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a onclick="submitItemsPay();" class="btn btn-success">PROCESAR</a>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="ImportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-edit" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Impuesto a Transacciones</h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<div class="row">
					<div id="alertImportPrint"></div>
				</div> 
				<div class="row" style="text-align: center;">
					<input class="form-control hidden" type="number" id="imp_modal_id" name="imp_modal_id">
					<h4>DESEA AGREGAR EL IMPUESTO A TRANSACCIONES EN DIVISAS?</h4>
				</div>
			</div>
			<div class="modal-footer">
				<a onclick="submitImportPay();" class="btn btn-success">PROCESAR</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="CalculatorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-edit" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Calculadora de Divisas</h4>
			</div>
			<div class="modal-body" style="background: aliceblue;">
				<div class="row">
					<div id="alertCalculatorPrint"></div>
				</div> 
				<div class="row" style="text-align: center;">
					<div id="calgen"></div>
          <form class="smart-form">
            <fieldset style="background: aliceblue;">
            	<input type="number" hidden name="dol" id="dol" readonly>
            	<input type="number" hidden name="bs" id="bs" readonly>
              
              <div class="row">
                <section class="col col-6">
                  <label><b>Cantidad de Dolares</b></label>
                  <label class="input"> <i class="icon-append fa fa-dollar"></i>
                    <input type="number" name="calc_dol" id="calc_dol" value="1.00" placeholder="$ 1.00">
                  </label>
                
                </section>
                
                <section class="col col-6">
                  <label><b>Cantidad de Bs</b></label>
                  <label class="input"> <i class="icon-append fa fa-dollar"></i>
                    <input type="number" name="calc_bs" id="calc_bs" value="8.00" placeholder="Bs 0.00">
                  </label>
                </section>
                                                        
              </div>
            </fieldset>
          </form>

					<div id="valDol"></div>
					<div id="fecDol"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>