<div class="row">
  <article class="col-sm-12">
    <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
      <header>
        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
        <h2>Reporte de Caja </h2>

        <ul class="nav nav-tabs pull-right in" id="myTab">
          <li class="active">
            <a data-toggle="tab" href="#s1"><i class="fa fa-edit"></i> <span class="hidden-mobile hidden-tablet">Completo</span></a>
          </li>

          <li>
            <a data-toggle="tab" href="#s2" onclick="LoadReportData();"><i class="fa fa-list-alt"></i> <span class="hidden-mobile hidden-tablet">Reportes</span></a>
          </li>
        </ul>

      </header>

      <div class="no-padding">

        <div class="widget-body">

          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">

              {% include('transactions/completo.html.twig') %}
              
            </div>

            <div class="tab-pane fade padding-10 no-padding-bottom" id="s2">
              
              {% include('transactions/reportes.html.twig') %}

            </div>
          </div>
        </div>

      </div>
    </div>

  </article>
</div>