<div class="widget-body-toolbar bg-color-white">

  <form class="form-inline" id="form-report-date" name="form-report-date" role="form">

    <div class="form-group">
      <input type="text" class="form-control input-sm" id="da001" name="da001" placeholder="Seleccione desde">
    </div>
    <div class="form-group">
      <input type="text" class="form-control input-sm" id="da002" name="da002" placeholder="hasta">
    </div>

    <div class="btn-group hidden-phone pull-right">
      <a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown"><i class="fa fa-cog"></i> Reportes <span class="caret"> </span> </a>
      <ul class="dropdown-menu pull-right">
        <li><a onclick="transactionsPDF();"><i class="fa fa-file-pdf-o"></i> Exportar a PDF</a> </li>
        <li><a onclick="transactionsXLS();"><i class="fa fa-file-excel-o"></i> Exporta a Excel</a></li>
      </ul>
    </div>

  </form>

</div>

<div class="row" style="margin-top: 10px;">
  <article class="col-sm-12 col-md-12 col-lg-6">
    
    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Listado de Registros </h2>
      </header>

      <div>
        
        <div class="widget-body no-padding">
          <div id="report_info" show>                              
            <form id="form_report_info" class="smart-form" novalidate="novalidate">
              <fieldset>

                <section class="col-sm-6 col-md-6 col-lg-6">
                  <table class="table table-bordered" id="tbl1" border="1" style="font-size: 12px;">
                  </table>

                
                </section>
                <section class="col-sm-6 col-md-6 col-lg-6">

                  <table class="table table-bordered" id="tbl2" border="1" style="font-size: 12px;">
                  </table>
                  
                </section>

              </fieldset>
            </form>
          </div>

        </div>
        
      </div>
      
    </div>
  </article>
  <article class="col-sm-12 col-md-12 col-lg-6">
    
    <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Registro de Pago </h2>
      </header>
      <div>
        <div class="widget-body no-padding">

          <form name="form_statics" id="form_statics" class="smart-form">
            <fieldset>
              <div class="table-responsive">
                <div id="TableReportSta" style="font-size: 11px;"></div>
              </div>
            </fieldset>
          
          </form>
            
        </div>
        
      </div>
      
    </div>

  </article>
</div>