{% extends 'layouts/index.html.twig' %}

{% block content %}
<div id="main" role="main">
  <div id="ribbon">
    <ol class="breadcrumb">
      <li>Home</li><li>Configuracion</li>
    </ol>
  </div>
  <div id="content">    
  
      {% include('rols/roles.html.twig') %}
      
      {% include('rols/did.html.twig') %}
    
    </div>
  </div>

{% include('rols/modal.html.twig') %}

{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript">

$(function() 
{
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;
    
    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

////////////////////////////// Data Roles //////////////////////////////

    $('#dt_roles').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_roles'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formrole').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formrole").serialize();
          $.ajax({ type: "POST", url:  "{{ url('RolForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertRole").html('');
                  $('#NewRolModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertRole").html('');
                    $("#alertRole").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// Data DID //////////////////////////////
    
    $('#dt_did').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_did'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    $('#formdid').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
    }).on('form:submit', function() {
        var str = $("#formdid").serialize();
          $.ajax({ type: "POST", url:  "{{ url('DidForm') }}", data: {value: str},
            success: function(datos)
            {
                if(datos.status == true){   
                  $("#alertDid").html('');
                  $('#NewDidModal').modal('hide');
                  window.location.href = datos.web;
                }else{
                    $("#alertDid").html('');
                    $("#alertDid").html(datos.html);
                }
            }
          });
        return false;
    }); 

////////////////////////////// End Jquery //////////////////////////////

});

////////////////////////// Function Users //////////////////////////////

  function RolEdit(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('RolEdit') }}", data: {id: id},
      success: function(datos)
      {
        console.log(datos.roles);
        if(datos.status == true){
            $("#type_r").val('');
            $("#type_r").val('edit');
            $("#id_r").val(datos.rol.id);
            $("#name_r").val(datos.rol.name);
            $("select[name=status_id_r]").val(datos.rol.status);

            if(datos.roles[0].calendar =='on')     {$('#calendar_r').prop('checked',true);}else{$('#calendar_r').prop('checked', false);}
            if(datos.roles[0].operator=='on')      {$('#operator_r').prop('checked',true);}else{$('#operator_r').prop('checked', false);}
            if(datos.roles[0].leads=='on')         {$('#lead_r').prop('checked',true);}else{$('#lead_r').prop('checked', false);}
            if(datos.roles[0].leaders=='on')       {$('#leaders_r').prop('checked',true);}else{$('#leaders_r').prop('checked', false);}

            if(datos.roles[0].marketing=='on')     {$('#marketing_r').prop('checked',true);}else{$('#marketing_r').prop('checked', false);}
            if(datos.roles[0].creative=='on')      {$('#creative_r').prop('checked',true);}else{$('#creative_r').prop('checked', false);}
            if(datos.roles[0].reporting=='on')     {$('#reporting_r').prop('checked',true);}else{$('#reporting_r').prop('checked', false);}  
            if(datos.roles[0].config=='on')        {$('#config_r').prop('checked',true);}else{$('#config_r').prop('checked', false);}    

            if(datos.roles[0].data_entry=='on')    {$('#data_entry_r').prop('checked',true);}else{$('#data_entry_r').prop('checked', false);}    
            if(datos.roles[0].approvals=='on')     {$('#approvals_r').prop('checked',true);}else{$('#approvals_r').prop('checked', false);}
            if(datos.roles[0].coordinations=='on') {$('#coordinations_r').prop('checked',true);}else{$('#coordinations_r').prop('checked', false);}
            if(datos.roles[0].ticket=='on')        {$('#ticket_r').prop('checked',true);}else{$('#ticket_r').prop('checked', false);}  
            if(datos.roles[0].support=='on')       {$('#support_r').prop('checked',true);}else{$('#support_r').prop('checked', false);} 
            if(datos.roles[0].collection=='on')    {$('#collection_r').prop('checked',true);}else{$('#collection_r').prop('checked', false);}  
            if(datos.roles[0].contracts=='on')    {$('#contracts_r').prop('checked',true);}else{$('#contracts_r').prop('checked', false);}  

            $('#NewRolModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// Function DID //////////////////////////////

  function DidEdit(id)
  {
    $.ajax({ type: "POST", url:  "{{ url('DidEdit') }}", data: {id: id},
      success: function(datos)
      {
        if(datos.status == true)
        {
            $("#type_di").val('');
            $("#type_di").val('edit');
            $("#id_di").val(datos.did.id);
            $("#name_di").val(datos.did.name);
            $("#inbound").val(datos.did.inbound);
            $("#outbound").val(datos.did.outbound);
            $("#queue").val(datos.did.queue);
            $("select[name=status_id_di]").val(datos.did.status);
            $("select[name=departament_id_di]").val(datos.did.departament);
            $("select[name=services_id_di]").val(datos.did.service);
            if(datos.did.tv =='on'){$('#tv_pr_di').prop('checked',true);}else{$('#tv_pr_di').prop('checked', false);}
            if(datos.did.sec=='on'){$('#sec_pr_di').prop('checked',true);}else{$('#sec_pr_di').prop('checked', false);}
            if(datos.did.net=='on'){$('#net_pr_di').prop('checked',true);}else{$('#net_pr_di').prop('checked', false);}
            if(datos.did.ene=='on'){$('#ene_pr_di').prop('checked',true);}else{$('#ene_di').prop('checked', false);}

            if(datos.did.tv_usa=='on'){$('#tv_usa_di').prop('checked',true);}else{$('#tv_usa_di').prop('checked', false);}
            if(datos.did.wir_usa=='on'){$('#wir_usa_di').prop('checked',true);}else{$('#wir_usa_di').prop('checked', false);}
            if(datos.did.net_usa=='on'){$('#net_usa_di').prop('checked',true);}else{$('#net_usa_di').prop('checked', false);}

            if(datos.did.tv_col=='on'){$('#tv_col_di').prop('checked',true);}else{$('#tv_col_di').prop('checked', false);}
            if(datos.did.net_col=='on'){$('#net_col_di').prop('checked',true);}else{$('#net_col_di').prop('checked', false);}
            if(datos.did.sec_col=='on'){$('#sec_col_di').prop('checked',true);}else{$('#sec_col_di').prop('checked', false);}

            $('#NewDidModal').modal('show');
        }else{
            $("#alert").html('');
        }
      }
   });
  }

////////////////////////// End Function //////////////////////////////

</script>
{% endblock %}