<!----------------------------- Roles Modal ---------------------------->

<div class="modal fade" id="NewRolModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-user" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">Rol's</h4>
			</div>
			<form class="formrole" method="post" id="formrole" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertRole"></div>
					</div> 
					<div class="row">
						<input type="text" id="id_r" name="id_r" class="form-control hidden" placeholder="id" />
						<input type="text" id="type_r" name="type_r" class="form-control hidden" placeholder="type" value="new" />
						<div class="col-md-6">

							<div class="form-group">
								<label for="category"> Nombre</label>
								<input type="text" id="name_r" name="name_r" class="form-control" placeholder="Nombre" required/>
							</div>
						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_r" name="status_id_r" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td>Calendario</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="calendar_r" id="calendar_r">
											<label class="onoffswitch-label" for="calendar_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
									<td>Operador</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="operator_r" id="operator_r">
											<label class="onoffswitch-label" for="operator_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
									<td>Leads</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="lead_r" id="lead_r">
											<label class="onoffswitch-label" for="lead_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
									<td>Lideres</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="leaders_r" id="leaders_r">
											<label class="onoffswitch-label" for="leaders_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
								</tr>
								<tr>
									<td>Marketing</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="marketing_r" id="marketing_r">
											<label class="onoffswitch-label" for="marketing_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
									<td>Creative</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="creative_r" id="creative_r">
											<label class="onoffswitch-label" for="creative_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
									<td>Reportes</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="reporting_r" id="reporting_r">
											<label class="onoffswitch-label" for="reporting_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
									<td>Configuracion</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="config_r" id="config_r">
											<label class="onoffswitch-label" for="config_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
								</tr>
								<tr>
									<td>Data Entry</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="data_entry_r" id="data_entry_r">
											<label class="onoffswitch-label" for="data_entry_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
									<td>Aprobaciones</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="approvals_r" id="approvals_r">
											<label class="onoffswitch-label" for="approvals_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
									<td>Coordinaciones</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="coordinations_r" id="coordinations_r">
											<label class="onoffswitch-label" for="coordinations_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
									<td>Ticket</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="ticket_r" id="ticket_r">
											<label class="onoffswitch-label" for="ticket_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
								</tr>
								<tr>
									<td>Soporte</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="support_r" id="support_r">
											<label class="onoffswitch-label" for="support_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
									<td>Cobro</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="collection_r" id="collection_r">
											<label class="onoffswitch-label" for="collection_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>
									<td>Contratos</td>
									<td>
										<span class="onoffswitch">
											<input type="checkbox" class="onoffswitch-checkbox" name="contracts_r" id="contracts_r">
											<label class="onoffswitch-label" for="contracts_r">
												<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</span>
									</td>										
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!----------------------------- DID Modal ---------------------------->

<div class="modal fade" id="NewDidModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: center;">
				<i class="icon-append fa fa-phone" style="font-size: 50px;"></i>
				<h4 class="modal-title" id="myModalLabel">DID's</h4>
			</div>
			<form class="formdid" method="post" id="formdid" data-parsley-validate="">
				<div class="modal-body" style="background: aliceblue;">
					<div class="row">
						<div id="alertDid"></div>
					</div> 
					<div class="row">
						<div class="col-md-6">
							<input type="text" id="id_di" name="id_di" class="form-control hidden" placeholder="id" />
							<input type="text" id="type_di" name="type_di" class="form-control hidden" placeholder="type" value="new" />
							<div class="form-group">
								<input type="text" id="name_di" name="name_di" class="form-control" placeholder="Nombre" required />
							</div>
							<div class="form-group">
								<input type="number" id="inbound" name="inbound" class="form-control" placeholder="Inbound" required />
							</div>
							<div class="form-group">
								<label for="category"> Servicio</label>
								<select class="form-control" id="services_id_di" name="services_id_di" required>
									{% for serv in services %}
										{% if serv['status_id'] == "1" %}
											<option value="{{ serv['id'] }}"> {{ serv['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="category"> Departamento</label>
								<select class="form-control" id="departament_id_di" name="departament_id_di" required>
									{% for dep in departaments %}
										{% if dep['status_id'] == "1" %}
											<option value="{{ dep['id'] }}"> {{ dep['name'] }}
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="number" id="queue" name="queue" class="form-control" placeholder="Cola" required />
							</div>
							<div class="form-group">
								<input type="number" id="outbound" name="outbound" class="form-control" placeholder="Outbound" required />
							</div>
							<div class="form-group">
								<label for="category"> Status</label>
								<select class="form-control" id="status_id_di" name="status_id_di" required>
									{% for sta in status %}
										<option value="{{ sta['id'] }}"> {{ sta['name'] }}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>